{% extends "base.html" %}
{% load debate_tags %}
{% load static %}

{% block head-title %}Participants{% endblock %}
{% block page-title %}Participants{% endblock %}

{% block content %}

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading"><h4>Speakers</h4></div>
    <div class="panel-body" id="speakersTableContainer">
      <smart-table :data="gridData" :filter-key="searchQuery"></smart-table>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading"><h4>Adjudicators</h4></div>
    <div class="panel-body" id="adjsTableContainer">
      <smart-table :data="gridData" :filter-key="searchQuery"></smart-table>
    </div>
  </div>
</div>

{% endblock content %}

{% block extra-js %}

  {% include "vue/table.vue" %}
  <script>
    var speakersTable = new Vue({
      el: '#speakersTableContainer',
      data: {
        searchQuery: '',
        gridData: {{ speakersTableData|safe }},
      },
    });
    var adjsTable = new Vue({
      el: '#adjsTableContainer',
      data: {
        searchQuery: '',
        gridData: {{ adjsTableData|safe }},
      },
    });
  </script>
{% endblock extra-js %}
