{% extends "base.html" %}
{% load debate_tags %}
{% load static %}

{% block head-title %}Participants{% endblock %}
{% block page-title %}Participants{% endblock %}

{% block content %}

<div class="panel panel-default">
  <div class="panel-body">
    <table id="speakersList" class="table">
      <thead>
        <tr>
          <th>Name</th>
          {% if pref.show_novices %}
            <th><span class="glyphicon glyphicon-leaf" data-toggle="tooltip" title="Speaker's Novice Status"></span></th>
          {% endif %}
          {% if pref.show_emoji %}
            <th class="team-emoji"></th>
          {% endif %}
          <th>Team</th>
          {% if pref.public_break_categories %}
            <th>Eligible for</th>
          {% endif %}
          {% if pref.show_institutions %}
            <th>Institution</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
      {% for person in speakers %}
        <tr>
          <td>{{ person.name }}</td>
          {% if pref.show_novices %}
            <td>
              {% if person.novice %}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{% else %}<span></span>{% endif %}
            </td>
          {% endif %}
          {% if pref.show_emoji %}
            <td class="team-emoji">
              <span class="emoji">{{ person.team.emoji }}</span>
            </td>
          {% endif %}
          <td>
            {% include "tables/team.html" with team=person.team %}
          </td>
          {% if pref.public_break_categories %}
            <td>{{ person.team.break_categories_nongeneral|join:", " }}</td>
          {% endif %}
          {% if pref.show_institutions %}
            <td>{{ person.team.institution.name }}</td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>
</div>

<div class="row page-header">
  <div class="col-md-12">
    <h1 class="h2 pull-left">Adjudicators</h1>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
  <table id="adjudicatorsList" class="table">
    <thead>
      <tr>
        <th>Name</th>
        {% if pref.show_institutions %}
        <th>Institution</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
    {% for person in adjs %}
      <tr class="{{ debate.all_conflicts|yesno:'conflict,' }}">
        <td>{{ person.name }}</td>
        {% if pref.show_institutions %}
          <td>
            {{ person.institution.name }}
            {% if person.independent %}
              (Independent)
            {% endif %}
            {% if person.adj_core %}
              (Adj Core)
            {% endif %}
          </td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>
</div>

{% endblock content %}

{% block extra-js %}
   <script>
    $(document).ready( function() {
      var dTable1 = $("#speakersList").DataTable({
        "aaSorting": [[ 0, "asc" ]],
      });
      var dTable2 = $("#adjudicatorsList").DataTable({
        "aaSorting": [[ 0, "asc" ]],
      });
      new $.fn.dataTable.FixedHeader( dTable1, {alwaysCloneTop: true});
      new $.fn.dataTable.FixedHeader( dTable2, {alwaysCloneTop: true});
      $('#table-search').keyup(function(){
        dTable1.search($(this).val()).draw();
      })
      $('#table-search').keyup(function(){
        dTable.search($(this).val()).draw();
      })
    } );
  </script>
{% endblock extra-js %}
