{% extends "base_availability.html" %}
{% load debate_tags %}

{% block update-url %}{% round_url update_adjudicator_availability %}{% endblock %}
{% block draw-url %}{% round_url draw round %}{% endblock %}

{% block page-title %}Adjudicator Availability for {{ round.name }}{% endblock %}
{% block head-title %}Adjudicator Availability{% endblock %}
{% block sub-title %}for {{ round.name }}{% endblock %}

{% block table-contents %}
  <thead>
    <tr>
      <th>Adjudicator</th>
      {% if pref.show_institutions %}
        <th>Institution</th>
      {% endif %}
      <th>Score</th>
      {% if pref.enable_adj_notes > 0 %}
        <th>Notes</th>
      {% endif %}
      <th>Breaking</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
    {% for adj in adjudicators %}
      <tr id="adj_{{ adj.id }}" class="{% if adj.breaking %}breaking-adj{% endif %}">
        <td class="adj-name">
          {{ adj.name }}
        </td>
        {% if pref.show_institutions %}
          <td>
            {{ adj.institution.code }}
          </td>
        {% endif %}
        <td>
          {{ adj.score|stringformat:".2f" }}
        </td>
        {% if pref.enable_adj_notes > 0 %}
          <td>
            {% if adj.notes %}
              <a data-toggle="tooltip" data-placement="left" title="{{ adj.notes }}">View</a>
            {% endif %}
          </td>
        {% endif %}
        <td>
          {% if adj.breaking %}<span class="glyphicon glyphicon-ok"></span>{% endif %}
        </td>
        <td class="check_target">
          <input type="checkbox" {{ adj.is_active|yesno:'checked="yes",'  }} class="adj-check" name="check_{{ adj.id }}" value="{{ adj.id }}" />
        </td>
      </tr>
    {% endfor %}
  </tbody>
{% endblock %}