{% extends "base.html" %}
{% load debate_tags %}

{% block page-title %}{{ round.name }} Checkins{% endblock %}

{% block page-subnav-sections %}
  <a class="btn btn-default" href="{% round_url team_availability round %}">Team Checkins</a>
  <a class="btn btn-default" href="{% round_url venue_availability round %}">Venue Checkins</a>
  <a class="btn btn-default" href="{% round_url adjudicator_availability round %}">Adjudicator Checkins</a>
  <a class="btn btn-default" href="{% round_url people_availability round %}">Participant Checkins</a>
{% endblock %}

{% block page-subnav-actions %}
  <a class="btn btn-success">Generate Draw</a>
{% endblock %}

{% block content %}



{% endblock content %}
