{% extends "base_availability.html" %}
{% load debate_tags %}

{% block update-url %}{% round_url update_team_availability %}{% endblock %}
{% block draw-url %}{% round_url draw round %}{% endblock %}

{% block page-title %}Team Checkins for {{ round.name }}{% endblock %}
{% block head-title %}
  <span class="emoji">👯📍</span>Team Checkins
{% endblock %}
{% block sub-title %}for {{ round.name }}{% endblock %}

{% block table-contents %}
  <thead>
    <tr>
      <th>Team</th>
      {% if pref.show_emoji %}
        <th class="team-emoji"></th>
      {% endif %}
      {% if pref.enable_divisions %}
        <th><span class="glyphicon glyphicon-th-list" data-toggle="tooltip" title="" data-original-title="Division"></span></th>
      {% endif %}
      {% if pref.show_institutions %}
        <th>Institution</th>
      {% endif %}
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
    {% for team in teams %}
    <tr>
      <td>
        {% include "tables/team.html" with team=team %}
      </td>
      {% if pref.show_emoji %}
        <td class="team-emoji">{{ team.emoji }}</td>
      {% endif %}
      {% if pref.enable_divisions %}
        <td>{{ team.division.name }}</td>
      {% endif %}
      {% if pref.show_institutions %}
        <td>{{ team.institution.code }}</td>
      {% endif %}
      <td class="check_target">
        <input type="checkbox" {{ team.is_active|yesno:'checked="yes",'  }} name="check_{{ team.id }}" value="{{ team.id }}" />
      </td>
    </tr>
    {% endfor %}
  </tbody>
{% endblock table-contents %}
