{% extends "base_availability.html" %}
{% load debate_tags %}

{% block update-url %}{% round_url update_venue_availability %}{% endblock %}
{% block draw-url %}{% round_url draw round %}{% endblock %}

{% block page-title %}Venue Checkins for {{ round.name }}{% endblock %}
{% block head-title %}
  <span class="emoji">🎪</span>Venue Checkins
{% endblock %}
{% block sub-title %}for {{ round.name }}{% endblock %}

{% block table-contents %}
  <thead>
    <tr>
      {% if pref.enable_venue_groups %}
      <th>Group</th>
      {% endif %}
      <th>Name</th>
      <th>Priority</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
    {% for venue in venues %}
    <tr>
      {% if pref.enable_venue_groups %}
      <td>
        {% if venue.group %}{{ venue.group }} {% endif %}
      </td>
      {% endif %}
      <td>{{ venue.name }}</td>
      <td>{{ venue.priority }}</td>
      <td class="check_target">
        <input type="checkbox" {{ venue.is_active|yesno:'checked="yes",'  }} name="check_{{ venue.id }}" value="{{ venue.id }}" />
      </td>
    </tr>
    {% endfor %}
  </tbody>
{% endblock table-contents %}
