{% extends "base_availability.html" %}
{% load debate_tags %}

{% block update-url %}{% round_url update_venue_availability %}{% endblock %}
{% block draw-url %}{% round_url draw round %}{% endblock %}
{% block head-title %}Venue Availability <small>for {{ round.name }}</small>{% endblock %}
{% block page-title %}Venue Availability for {{ round.name }}{% endblock %}

{% block table-contents %}
  <thead>
    <tr>
      {% if preferences.league_options__enable_venue_groups %}
      <th>Group</th>
      {% endif %}
      <th>Name</th>
      <th>Priority</th>
      {% if preferences.league_options__enable_venue_times %}
      <th>Time</th>
      {% endif %}
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
    {% for venue in venues %}
    <tr>
      {% if preferences.league_options__enable_venue_groups %}
      <td>
        {% if venue.group %}{{ venue.group }} {% endif %}
      </td>
      {% endif %}
      <td>{{ venue.name }}</td>
      <td>{{ venue.priority }}</td>
      {% if preferences.league_options__enable_venue_times %}
      <td>
        {% if venue.time %}
        <span class="hidden">{{ venue.time|date:"o m d" }}</span>
        {{ venue.time|date:"D jS F h:iA" }}
        {% endif %}
      </td>
      {% endif %}
      <td class="check_target">
        <input type="checkbox" {{ venue.is_active|yesno:'checked="yes",'  }} name="check_{{ venue.id }}" value="{{ venue.id }}" />
      </td>
    </tr>
    {% endfor %}
  </tbody>
{% endblock table-contents %}