{% extends "base.html" %}

{% block page-title %}Internal Server Error (500){% endblock %}
{% block head-title %}
  <h2><span class="emoji">🙀</span>Internal Server Error (500)</h2>
{% endblock %}

{% block nav %}<div class="col-md-12 accommodate-footer">{% endblock %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-body h4">
      Something's gone really wrong which really shouldn't go wrong. Bother.
      <a href="/">Go back to the homepage I guess?</a>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <strong>For the administrator of this site:</strong> If you're running this on Heroku, an error report has
      been e-mailed to the developers of Tabbycat. If you encounter this error
      repeatedly, please let us know by
      <a id="report-link" href="https://github.com/czlee/tabbycat/issues/new/?title=Internal%20server%20error%20report&body=I%20hit%20an%20internal%20server%20error%20while%20trying%20to%20load%20this%20URL:%0A[please%20copy%20and%20paste%20the%20URL%20of%20the%20page%20here]%0A%0APlease%20describe%20what%20you%20were%20doing%20when%20the%20error%20happened,%20along%20with%20any%20other%20useful%20information:%0A&labels=error-report">opening an issue
      on GitHub</a> (preferred) or posting in our <a href="https://www.facebook.com/groups/tabbycat.debate/">Facebook group</a>, and we'll try our best to assist. Please be sure to include the URL of this page <span id="page-url"></span> in your post.
    </div>
  </div>

  <script>
    document.getElementById("report-link").href = "https://github.com/czlee/tabbycat/issues/new/?title=Internal%20server%20error%20report&body=I%20hit%20an%20internal%20server%20error%20while%20trying%20to%20load%20this%20URL:%0A" + window.location.href + "%0A%0APlease%20describe%20what%20you%20were%20doing%20when%20the%20error%20happened,%20along%20with%20any%20other%20useful%20information:%0A&labels=error-report";
    document.getElementById("page-url").innerHTML = "(" + window.location.href + ")";
  </script>

{% endblock %}