{% extends "base.html" %}

{% block page-subnav-sections %}
  {% include "tables/table_search.html" %}
{% endblock %}

{% block content %}
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>{{ table_a_title }}</h4></div>
      <div class="panel-body" id="tableContainerA">
        <smart-table
          :table-content="gridData"
          :filter-key="searchQuery"
          :default-sort-key="sortKey"
        ></smart-table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>{{ table_b_title }}</h4></div>
      <div class="panel-body" id="tableContainerB">
        <smart-table
          :table-content="gridData"
          :filter-key="searchQuery"
          :default-sort-key="sortKey"
        ></smart-table>
      </div>
    </div>
  </div>
{% endblock content %}

{% block extra-js %}
  {{ block.super }}
  {% include "vue/table.vue" %}
  <script>
    var fromTeamsTableA = new Vue({
      el: '#tableContainerA',
      data: {
        searchQuery: '',
        gridData: {{ tableDataA|safe }},
        sortKey: '{{ sortKey }}',
      },
      ready: function() {
        var thisTable = this; // this in the next context is the element
        document.getElementById('table-search').onkeyup = function (e) {
          thisTable.$set('searchQuery', this.value);
        }
      },
    });
    var fromTeamsTableB = new Vue({
      el: '#tableContainerB',
      data: {
        searchQuery: '',
        gridData: {{ tableDataB|safe }},
        sortKey: '{{ sortKey }}',
      },
      ready: function() {
        var thisTable = this; // this in the next context is the element
        document.getElementById('table-search').onkeyup = function (e) {
          thisTable.$set('searchQuery', this.value);
        }
      },
    });
  </script>
{% endblock extra-js %}