{% extends "base_fullscreen.html" %}


{% block content %}
  <div id="vueMount">
    {% block component %}{% endblock %}
  </div>
{% endblock content %}

{% block js %}
  <script>
    window.vueData = {
      allData: {
        debatesOrPanels: {{ vueDebatesOrPanels|safe }},
        round: {{ vueMetaInfo.round|safe }},
        tournament: {{ vueMetaInfo.tournament|safe }},
        highlights: {
          {% for key, value in vueMetaInfo.highlights.items %}
            {{ key }}: {{ value|safe }},
          {% endfor %}
        },
        extra: {{ vueMetaInfo.extra|safe }},
      }
    }
  </script>
  {{ block.super }}
{% endblock js %}
