{% extends "base.html" %}
{% load debate_tags static i18n %}

{% block page-subnav-actions %}
  <button class="btn btn-success " id="submit-nav">
    {% block save-button-text %}{% endblock %}
  </button>
{% endblock %}

{% block page-alerts %}
  {% if form.errors %}
    {% include "components/form-errors.html" with errors=form.errors %}
  {% endif %}
{% endblock %}

{% block content %}

  <form id="eligibilityForm" action="." method="POST">
    {% csrf_token %}

    <div class="card table-container">
      <div class="card-body">
        <table class="table table-responsive" id="eligibility-table">
          <thead>
            <tr>
              {% block eligibility-table-headers %}
              {% endblock %}
              {% for category in form.get_category_queryset %}
                <th>
                  {{ category.name }}
                  (<span id="count_{{ category.id }}"></span>)<br>
                  <span class="small"> select
                    <a class="select-all" href="#" category="{{ category.id }}">all</a> or
                    <a class="select-none" href="#" category="{{ category.id }}">none</a>
                  </span>
                </th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for instance, eligibility in form.instance_iter %}
              <tr>
                {% block eligibility-table-cells %}
                {% endblock %}
                {% for checkbox in eligibility %}
                  <td class="checkbox-target">{{ checkbox.tag }}</td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  </form>

{% endblock %}

{% block js %}

  {{ block.super }}

  <script>
    $(document).ready( function() {

      $("#submit-nav").click( function() {
        $("#eligibilityForm").submit();
      });

      var updateCounts = function (value) {
        $("#count_" + value).text($("input[type='checkbox'][value='" + value + "']:checked").length);
      }

      // initialize instance counts
      {% for category in form.get_category_queryset %}
        updateCounts(String({{ category.id }}));
      {% endfor %}

      $(".select-all").each(function () {
        $(this).click(function () {
          var category = $(this).attr("category");
          $("#eligibility-table input[type='checkbox'][value='" + category + "']").each(function () {
            $(this).prop("checked", true);
          });
          updateCounts(category);
        });
      });

      $(".select-none").each(function () {
        $(this).click(function () {
          var category = $(this).attr("category");
          $("#eligibility-table input[type='checkbox'][value='" + category + "']").each(function () {
            $(this).prop("checked", false);
          });
          updateCounts(category);
        });
      });

      $("#eligibility-table input[type='checkbox']").change(function () {
        updateCounts($(this).val());
      });

    });
  </script>
{% endblock %}
