{% load debate_tags i18n %}

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">

    <ul class="nav navbar-nav navbar-right small">
      <li><a href="/">
        <span class="emoji">🏠</span>{% trans "Home" %}
      </a></li>
      <li><a href="http://tabbycat.readthedocs.io/" target="_blank">
        {# Translators: This is a link that goes to our documentation in English; translations should include "(in English)" after the word "Help". #}
        <span class="emoji">❓</span>{% trans "Help" %}
      </a></li>
      {% if user.is_authenticated %}
        <li><a class="" href="{% url 'logout' %}">
          <span class="emoji">🔒</span>{% blocktrans %}Logout of {{ user }}{% endblocktrans %}
        </a></li>
      {% else %}
        <li><a class="" href="{% url 'login' %}">
          <span class="emoji">🔓</span>{% trans "Login" %}
        </a></li>
      {% endif %}
    </ul>

    <p class="navbar-text small">
      {% if tournament %}{{ tournament }} runs on {% else %}Running on {% endif %}
      <a href="https://github.com/czlee/tabbycat/" target="_blank">
        <span class="emoji">😸</span>Tabbycat{% if tabbycat_version %} {{ tabbycat_version }}{% endif %}{% if tabbycat_codename %} ({{ tabbycat_codename }}){% endif %}</a>
       created by Qi-Shan,
      <a href="https://twitter.com/czlee11" target="_blank">Chuan-Zheng</a>, and
      <a href="http://philipbelesky.com" target="_blank">Philip</a>.
      {% blocktrans trimmed %}
      Tabbycat is easy to set up, you should <a href="http://tabbycat.readthedocs.io/en/latest/install/heroku.html#installation-the-short-way" target="_blank">try it out</a>!
      {% endblocktrans %}
      <br>
      {% blocktrans trimmed %}
      Want help with timing speeches? Check out <a href="https://play.google.com/store/apps/details?id=net.czlee.debatekeeper" target="_blank">Debatekeeper</a> (Android)
      and <a href="http://timekept.com">Timekept</a> (iOS). Like nicely-designed ballots? Head to <a href="http://debatingballot.com/" target="_blank">debatingballot.com</a>.
      {% endblocktrans %}
    </p>

  </div>
</nav>
