{% extends "base.html" %}
{% load add_field_css %}

{% block head-title %}<span class="emoji">🏆</span>Create New Tournament{% endblock %}
{% block page-title %}Tabbycat{% endblock %}

{% block nav %}<div class="col-md-12">{% endblock %}

{% block content %}

  <form action="." method="POST" class="form-horizontal">

    {% csrf_token %}

    {% if form.errors %}
      <div class="alert alert-danger">
        Whoops! There was an error with one or more fields.
        {{ form.non_field_errors }}
      </div>
    {% endif %}

    {% for field in form %}
    <div class="form-group">
      <label for="{{ field.id_for_label }}" class="col-md-2 control-label">{{ field.label }}</label>
      <div class="col-md-2">
        {{ field|addcss:"form-control" }}
      </div>
      <div class="col-sm-5">
        <span class="help-block">
          {{ field.help_text }}
        </span>
        {% if field.errors %}
          {{ field.errors }}
        {% endif %}
      </div>
    </div>
    {% endfor %}

    <div class="form-group">
      <div class="col-md-offset-2 col-md-2 col-sm-4">
        <button type="submit" class="btn btn-success form-control submit-disable" data-loading-text="Creating tournament…">
          Create tournament
        </button>
      </div>
    </div>

  </form>

{% endblock %}
