{% extends "base.html" %}
{% load debate_tags %}
{% load static %}

{% block head-title %}Allocate Divisions{% endblock %}
{% block page-title %}Allocate Divisions{% endblock %}

{% block page-subnav-sections %}
  <a class="btn btn-success submit-disable" href="{% tournament_url create_division_allocation %}" >Auto Allocate Divisions</a>
  <a class="btn btn-success submit-disable" href="{% tournament_url create_division %}" >Add New Division</a>
  <a class="btn btn-success submit-disable" href="{% tournament_url create_byes %}" >Auto Add Bye Teams</a>
{% endblock %}

{% block page-subnav-actions %}
  <div class="btn btn-inactive">Preference Allocated:</div>
  <div class="btn-group">
    <div class="btn btn-success" disabled="disabled">1/2</div>
    <div class="btn btn-primary" disabled="disabled">3/4</div>
    <div class="btn btn-warning" disabled="disabled">5+</div>
    <div class="btn btn-danger" disabled="disabled">None</div>
  </div>
{% endblock %}

{% block content %}

  <!-- demo root element -->
  <div id="app">

    <div class="row divisions-holder">

      <template v-for="division in divisions | orderBy 'parseInt(name)'" track-by="id">
        <division-droppable save-vg-at="{% tournament_url set_division_venue_group %}" save-division-at="{% tournament_url set_team_division %}"
        :division="division" :teams="teams | exactFilterBy division.id in 'division'" :vgs="venueGroups"></division-droppable>
      </template>

    </div>

    <div class="row">
      <div class="col-md-12" class="row">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Teams without Divisions</h4>
          </div>
          <div class="panel-body" v-on:dragover.prevent v-on:drop="unallocateTeam" data-id=null>
            <template v-for="team in teams | exactFilterBy null in 'division' | orderBy 'institution__code'" track-by="id">
              <team-draggable :team="team" save-division-at="{% tournament_url set_team_division %}"></team-draggable>
            </template>
          </div>
        </div>

      </div>
    </div>

  </div>

{% endblock content %}

{% block extra-js %}
  <script src="{% static 'js/vendor/vue.js' %}"></script>
  {% include "vue/team-draggable.vue" %}
  {% include "vue/division-droppable.vue" %}

  <script>

  // Normal vue filterBy thinks 1 is in 12
  Vue.filter('exactFilterBy', function(array, needle, inKeyword, key) {
    return array.filter(function(item) {
        return item[key] == needle;
    });
  });

  Vue.config.delimiters = ["[[", "]]"];
  Vue.config.debug = true

  /* globals Vue */
  var App = new Vue({
    el: '#app',
    data: {
      draggedComponent: null,
      teams: {{ teams | safe }},
      divisions: {{ divisions | safe }},
      venueGroups: {{ venue_groups | safe }}
    },
    methods: {
      unallocateTeam: function(ev) {
        console.log('unallocate');
        this.draggedComponent.team.division = null;
        this.draggedComponent.saveDivision();
      }
    },
    events: {
      // Set a global record of what is being dragged
      'dragging-team': function (component) {
        //console.log('started dragging team:' + teamID)
        this.draggedComponent = component;
      },
      'stopped-dragging': function () {
        //console.log('stopped dragging')
        this.draggedComponent = null;
      },
      'assign-team-to-division': function (droppedDivision) {
        console.log('team id ' + this.draggedComponent.team.id + ' to divison ' + droppedDivision.id);
        this.draggedComponent.team.division = droppedDivision.id;
        this.draggedComponent.saveDivision();
      }
    }
  });

  </script>

{% endblock extra-js %}
