{% extends "base.html" %}
{% load add_field_css %}
{% load debate_tags %}

{% block head-title %}Assign Motions for {{ round.name }}{% endblock %}
{% block page-title %}Assign Motions for {{ round.name }}{% endblock %}

{% block page-subnav-sections %}
  <a class="btn btn-default submit-disable" href="{% roundurl 'draw' %}">
    <span class="glyphicon glyphicon-chevron-left"></span> Back to Display
  </a>
{% endblock %}

{% block content %}
  <form method="post" action="" class="form-horizontal col-md-12">
    {% csrf_token %}
    {{ formset.management_form }}

    <div class="row">

      {% for form in formset %}
        {{ form.id }}
        <ul class="list-group assign-motions-lists col-sm-3">
          <li class="list-group-item">
            <h4 class="list-group-item-heading">{{ form.instance.reference }}</h4>
            <p class="list-group-item-text">{{ form.instance.text }}</p>
          </li>
          {% if form.errors %}
            <li class="list-group-item">
              <div class="error">{{ form.errors }}</div>
            </li>
          {% endif %}
          {% if form.divisions %}
            {% for d in form.divisions %}
              <li class="list-group-item division">
                {{ d }}
              </li>
            {% endfor %}
          {% endif %}
        </ul>
      {% endfor %}
    </div>

    <div class="row">
      <input class="btn btn-block btn-success" type="submit" name="submit" value="Save Motion Assignments" />
    </div>

  </form>
{% endblock content %}

{% block js %}
  {{ block.super }}
  <script>

    $(document).ready( function() {
      $(window).keydown( function(e){
        if(e.keyCode == 13) {
          e.preventDefault();
          return false;
        }
      });
    });

  </script>
{% endblock js %}
