{% extends "base.html" %}
{% load add_field_css debate_tags i18n %}

{% block head-title %}{% trans "Assign Motions" %}{% endblock %}
{% block page-title %}{% trans "Assign Motions" %}{% endblock %}

{% block page-subnav-sections %}
  <a class="btn btn-primary " href="{% roundurl 'draw' %}">
    <i data-feather="chevron-left"></i> {% trans "Back to Display" %}
  </a>
{% endblock %}

{% block content %}
  <form method="post" class="col-md-12">
    {% csrf_token %}
    {{ formset.management_form }}

    <div class="row">

      {% for form in formset %}
        {{ form.id }}
        <ul class="list-group assign-motions-lists col-sm-3">
          <li class="list-group-item" style="min-height: 135px;">
            <h4 class="list-group-item-heading">{{ form.instance.reference }}</h4>
            <p class="list-group-item-text">{{ form.instance.text }}</p>
          </li>
          {% if form.errors %}
            {% include "components/form-errors.html" with errors=form.errors %}
          {% endif %}
          {% if form.divisions %}
            {% for d in form.divisions %}
              <li class="list-group-item division">
                {{ d }}
              </li>
            {% endfor %}
          {% endif %}
        </ul>
      {% endfor %}
    </div>

    <div class="row">
      <input class="btn btn-block btn-success" type="submit" name="submit" value="{% trans "Save Motion Assignments" %}" />
    </div>

  </form>
{% endblock content %}

{% block js %}
  {{ block.super }}
  <script>

    $(document).ready( function() {
      $(window).keydown( function(e){
        if(e.keyCode == 13) {
          e.preventDefault();
          return false;
        }
      });
    });

  </script>
{% endblock js %}
