{% load i18n %}

<div class="col-sm-6 col">

  <div class="row">
    {% if am.veto_rates.aff.1 > 0 or am.veto_rates.neg.1 > 0 %}
      <div class="col text-left pr-0">
        {% for position, count in am.vetoes.items %}
          <span class="text-{{ position}} d-block d-md-inline pr-md-3">
            {{ count.1 }} {{ position }} veto{{ count.1|pluralize:"es" }}
          </span>
        {% endfor %}
      </div>

      <div class="col-auto text-muted" data-toggle="tooltip" title="{{ am.veto_balance.1 }}">
        {{ am.veto_balance.0 }}
      </div>

    {% else %}

      <div class="col text-muted">
        {% trans "No teams vetoed this topic" %}
      </div>

    {% endif %}
  </div>

  <div class="row pb-3">
    <div class="col">
      <div class="progress">
        {% if am.veto_rates.aff.1 %}
          <div class="progress-bar progress-bar-aff" style="width: {{ am.veto_rates.aff.1 }}%">
            {% if am.veto_rates.aff.1 >= 4 %}
              {{ am.veto_rates.aff.1|floatformat:"0" }}%
            {% endif %}
          </div>
        {% endif %}
        {% if am.veto_rates.neg.1 %}
          <div class="progress-bar progress-bar-neg" style="width: {{ am.veto_rates.neg.1 }}%">
            {% if am.veto_rates.neg.1 >= 4 %}
              {{ am.veto_rates.neg.1|floatformat:"0" }}%
            {% endif %}
          </div>
        {% endif %}
      </div>

    </div>
  </div>

</div>