{% extends "base.html" %}
{% load add_field_css %}
{% load debate_tags %}

{% block head-title %}Edit Motions for {{ round.name }}{% endblock %}
{% block page-title %}Edit Motions for {{ round.name }}{% endblock %}

{% block page-subnav-sections %}
  <a class="btn btn-default submit-disable" href="{% round_url draw-display %}">
    <span class="glyphicon glyphicon-chevron-left"></span> Back to Display
  </a>
  {% if round.motions_released %}
    <form class="" id="unreleaseForm" method="POST" action="{% round_url motions-unrelease %}">
      {% csrf_token %}
      <button class="btn btn-danger submit-disable" type="submit">
        Unrelease Motions to Public
      </button>
    </form>
  {% else %}
    <form class="" id="releaseForm" method="POST" action="{% round_url motions-release %}">
      {% csrf_token %}
      <button class="btn btn-primary submit-disable" type="submit">
        Release Motions to Public
      </button>
    </form>
  {% endif %}
  {% if pref.enable_division_motions %}
    <a href="{% round_url motions_assign %}" class="btn btn-default submit-disable">
      Assign Motions to Divisions
    </a>
  {% endif %}
{% endblock %}

{% block page-subnav-actions %}
  <a href="{% round_url results-round-list %}" class="btn btn-success">
    Enter Results<span class="glyphicon glyphicon-chevron-right"></span>
  </a>
  {% if round.motions_released and not pref.public_motions %}
    <div class="alert alert-warning">
      You have released the motions, but they will not show to the public unless
      the 'public view of motions' setting is enabled in
      <a class="alert-link" href="{% tournament_url options-tournament-index %}">
        this tournament's configuration</a>.
    </div>
  {% endif %}
{% endblock %}

{% block page-alerts %}
  {% if round.motion_set.all.count == 0 %}
    <div class="alert alert-danger">
      There are currently no motions entered, which means results cannot be entered.
      Enter at least one motion below and then hit "Save All"
    </div>
  {% endif %}
  {% if round.motions_released and not pref.public_motions %}
    <div class="alert alert-warning">
      You have released the motions, but they will not show to the public unless
      the 'public view of motions' setting is enabled in
      <a class="alert-link" href="{% tournament_url options-tournament-index %}">
        this tournament's configuration</a>.
    </div>
  {% endif %}
{% endblock %}

{% block content %}

  <form method="POST" action="" class="form-horizontal">
    {% csrf_token %}
    <div class="panel panel-default">
      <ul class="list-group">
        {{ formset.management_form }}
        {% for form in formset %}
        <li class="list-group-item">

          {% if form.non_field_errors %}
            <div class="alert alert-danger">
              <p>{{ form.non_field_errors }}
            </div>
          {% endif %}

          <div class="form-group">
            <label for="{{ form.text.id_for_label }}" class="col-sm-1 control-label" {% if form.text.help_text %}data-toggle="tooltip" title="{{ form.text.help_text }}"{% endif %}>
              {{ form.text.label }} {{ form.text.errors }}
            </label>
            <div class="col-sm-8">
              {{form.text|addcss:"form-control help-anchor required text-area-limited"}}
            </div>
            <div class="col-sm-3 help-block">
              {{form.text.help_text}}
            </div>
          </div>
          <div class="form-group">
            <label for="{{ form.reference.id_for_label }}" class="col-sm-1 control-label" {% if form.reference.help_text %}data-toggle="tooltip" title="{{ form.reference.help_text }}"{% endif %}>
              {{ form.reference.label }}  {{ form.reference.errors }}
            </label>
            <div class="col-sm-8">
              {{form.reference|addcss:"form-control required"}}
            </div>
            <div class="col-sm-3 help-block">
              {{form.reference.help_text}}
            </div>
          </div>
          <div class="form-group">

            <label for="{{ form.seq.id_for_label }}" class="col-sm-1 control-label" {% if form.seq.help_text %}data-toggle="tooltip" title="{{ form.seq.help_text }}"{% endif %}>
              Sequence {{ form.seq.errors }}
            </label>
            <div class="col-sm-8">
              <div class="row">

                <div class="col-md-4">
                  {{form.seq|addcss:"form-control required"}}
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="{{ field.id_for_label }}" class="col-sm-6 control-label">
                      {{ form.DELETE.label }}
                    </label>
                    <div class="col-sm-6">
                      {{form.DELETE|addcss:"form-control"}}{{ form.id }}
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  {% if pref.enable_flagged_motions %}
                  <div class="form-group">
                    <label for="{{ form.flagged.id_for_label }}" class="col-sm-6 control-label" {% if form.flagged.help_text %}data-toggle="tooltip" title="{{ form.flagged.help_text }}"{% endif %}>
                      {{ form.flagged.label }} {{ form.flagged.errors }}
                    </label>
                    <div class="col-sm-6">
                      {{form.flagged|addcss:"form-control help-anchor"}}
                    </div>
                  </div>
                  {% endif %}
                </div>

              </div>
            </div>
            <div class="col-sm-3 help-block">
              {{form.seq.help_text}}
            </div>
          </div>

        </li>
        {% endfor %}
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-3 col-md-offset-1">
              <input class="btn btn-success btn-block" type="submit" name="submit" value="Save All" />
            </div>
            <div class="col-md-3">
              <input class="btn btn-success btn-block" type="submit" name="submit_add_more" value="Save & Add More" />
            </div>
            <div class="col-md-3">
              <a class="btn btn-danger btn-block " href="{% round_url draw %}">Cancel</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </form>

{% endblock content %}

{% block js %}
  {{ block.super }}
  <script>

    $(document).ready( function() {
      $(window).keydown( function(e){
        if(e.keyCode == 13) {
          e.preventDefault();
          return false;
        }
      } );
    } );

  </script>
{% endblock js %}
