{% extends "base.html" %}
{% load debate_tags %}

{% block page-title %}Motions for {{ round.name }}{% endblock %}
{% block head-title %}
  Motions for {{ round.name }}
{% endblock %}
{% block sub-title %}
  {% if round.motions_released %}(released){% else %}(not released){% endif %}
{% endblock %}

{% block page-subnav-sections %}
  <a href="{% round_url motions_edit %}" class="btn btn-default submit-disable">
    Edit Motions
  </a>
  {% if pref.enable_division_motions %}
    <a href="{% round_url motions_assign %}" class="btn btn-default submit-disable">
      Assign Motions to Divisions
    </a>
  {% endif %}
  <form id="releaseForm" method="POST" action="{% round_url release_motions %}">
    {% csrf_token %}
  </form>
  <form id="unreleaseForm" method="POST" action="{% round_url unrelease_motions %}">
    {% csrf_token %}
  </form>
{% endblock %}

{% block page-subnav-actions %}

  <a href="{% round_url results %}" class="btn btn-success">
    Enter Results <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

{% endblock %}

{% block content %}

<div class="panel panel-default">
  <div class="panel-body">
    <table class="table">
      <thead>
      <tr>
        <th>RSeq</th>
        <th>Round</th>
        <th>Order</th>
        <th>Reference</th>
        <th>M<span class="hidden-xs">otion</span></th>
        {% if pref.enable_flagged_motions %}
          <th>Flagged</th>
        {% endif %}
        {% if pref.enable_division_motions %}
          <th>Divisions</th>
        {% endif %}
        <th>Chosen</th>
        {% if pref.motion_vetoes_enabled %}
          <th><span title="Aff vetoes" data-toggle="tooltip">AV</span></th>
          <th><span title="Neg vetoes" data-toggle="tooltip">NV</span></th>
        {% endif %}
        <th><span title="Aff wins" data-toggle="tooltip">AW</span></th>
        <th><span title="Neg wins" data-toggle="tooltip">NW</span></th>
        <th><span title="Observed imbalance (deviation from 50/50 odds) as determined through a chi square test. Higher is more imbalanced." data-toggle="tooltip">Chi2</span></th>
        <th><span title="Probability of this bias not being due to random variations. Lower is more likely (statistically insignifcant examples muted)." data-toggle="tooltip">P-val.</span></th>
      </tr>
      </thead>
      <tbody>
        {% for motion in motions %}
        <tr>
          <td>{{ motion.round.seq }}</td>
          <td>{{ motion.round.abbreviation }}</td>
          <td>{{ motion.seq }}</td>
          <td>{{ motion.reference }}</td>
          <td>{{ motion.text }}</td>
          {% if pref.enable_flagged_motions %}
          <td>
            {% if motion.flagged %}
              Yes
            {% else %}
              No
            {% endif %}
          </td>
          {% endif %}
          {% if pref.enable_division_motions %}
            <td>
            {% for division in motion.divisions.all %}
              {{ division.name }},
            {% endfor %}
            </td>
          {% endif %}
          <td>{{ motion.chosen_in }}</td>
          {% if pref.motion_vetoes_enabled %}
          <td>{{ motion.aff_vetoes }}</td>
          <td>{{ motion.neg_vetoes }}</td>
          {% endif %}
          <td>{{ motion.aff_wins }}</td>
          <td>{{ motion.neg_wins }}</td>
          <td class="{% if motion.p_value <= 0.05 %}strong{% elif motion.p_value >= 0.10 %}text-muted{% endif %}">
            {{ motion.c1|floatformat:1 }}
          </td>
          <td class="{% if motion.p_value <= 0.05 %}strong{% elif motion.p_value >= 0.10 %}text-muted{% endif %}">
            {{ motion.p_value|floatformat:2 }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}

{% block js %}
  {{ block.super }}
  <script>
    $(document).ready( function() {
      $("#release_motions").click( function() {
        $("#releaseForm").submit();
        return false;
      } );
      $("#unrelease_motions").click( function() {
        $("#unreleaseForm").submit();
        return false;
      });
    });
  </script>
{% endblock js %}
