{% load i18n %}

<div class="col-sm-12">

{% if motion.ndebates > 0 %}

  <div class="row mb-3">
    <div class="col-md-12">
      <div class="progress">
        {% for side, average, width in motion.averages %}
          {% if average > 0 %}
            <div class="progress-bar progress-bar-{{ side }}"
                 style="width: {{ width }}%">
              {{ side.upper }} {{ average|floatformat:2 }}
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <h6 class="mt-2 text-center text-muted">
        {% blocktrans trimmed count ndebates=motion.ndebates %}
          average points per position from {{ ndebates }} debate
        {% plural %}
          average points per position from {{ ndebates }} debates
        {% endblocktrans %}
      </h6>
    </div>
  </div>

  <div class="row">

    {% for side, counts_dict in motion.counts_by_side %}

      <div class="col-md-3 mb-3">
        <div class="progress">

          {% for points, count, percentage in counts_dict %}

            {% blocktrans trimmed with side=side.upper percentage=percentage|floatformat count count=count asvar tooltip_text %}
              {{ count }} result for {{ side }} ({{ percentage }}%) were for {{ points }} points
            {% plural %}
              {{ count }} results for {{ side }} ({{ percentage }}%) were for {{ points }} points
            {% endblocktrans %}

            <div class="progress-bar progress-points-{{ points }}"
                 style="width: {{ percentage }}%" data-toggle="tooltip"
                 title="{{ tooltip_text }}">
              {% if count > 0 %}
                {% if points == 3 %}
                  {% if percentage >= 10 %}
                    {% trans "1st" %}
                  {% else %}
                    {% trans "1" context "used when there isn't enough space to display '1st'" %}
                  {% endif %}
                {% elif points == 2 %}
                  {% if percentage >= 10 %}
                    {% trans "2nd" %}
                  {% else %}
                    {% trans "2" context "used when there isn't enough space to display '2nd'" %}
                  {% endif %}
                {% elif points == 1 %}
                  {% if percentage >= 10 %}
                    {% trans "3rd" %}
                  {% else %}
                    {% trans "3" context "used when there isn't enough space to display '3rd'" %}
                  {% endif %}
                {% else %}
                  {% if percentage >= 10 %}
                    {% trans "4th" %}
                  {% else %}
                    {% trans "4" context "used when there isn't enough space to display '4th'" %}
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>

          {% endfor %}

        </div>
        <h6 class="mt-2 text-center text-{{ side }}">
          {% blocktrans trimmed with side=side.upper %}
            {{ side }} results distribution
          {% endblocktrans %}
        </h6>
      </div>

    {% endfor %}

  </div>

{% else %}

  <div class="row">
    <div class="col text-muted">
      {% trans "No results for this motion" %}
    </div>
  </div>

{% endif %}

</div>
