{% load i18n %}

<div class="modal fade" id="info_{{ motion.id }}" tabindex="-1" role="dialog"
     aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg text-start" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{% trans "Info Slide" %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body lead">
        {% if motion.info_slide|slice:":2" == "<p" %}
          {{ motion.info_slide|safe }}
        {% else %}
          {{ motion.info_slide|linebreaks }}
        {% endif %}
      </div>
    </div>
  </div>
</div>
