{% extends "base.html" %}
{% load add_field_css debate_tags i18n  %}

{% block nav %}{% endblock %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% block body-class %}override-sidebar-offset{% endblock %}

{% block content %}

  <div class="container-fluid d-flex align-items-center justify-content-center"
       style="width: 100%; height: 95vh;">
    <div>
      <button class="btn btn-lg btn-success btn-block" data-toggle="modal" data-target="#motionPop">
        {% blocktrans trimmed with round_name=round.name count nmotions=motions|length %}
          Reveal Motion for {{ round_name }}
        {% plural %}
          Reveal Motions for {{ round_name }}
        {% endblocktrans %}
      </button>
      {% if infos %}
        <button class="btn btn-lg btn-info btn-block mt-5" data-toggle="modal" data-target="#infoPop">
          {% blocktrans trimmed with round_name=round.name count ninfos=infos|length %}
            Reveal Info Slide for {{ round_name }}
          {% plural %}
            Reveal Info Slides for {{ round_name }}
          {% endblocktrans %}
        </button>
      {% endif %}
    </div>
  </div>

  <div class="modal fade" id="motionPop" tabindex="-1" role="dialog" aria-labelledby="motionPop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        {% if motions|length == 0 %}

          <div class="modal-body d-flex align-items-center justify-content-center">
            <div class="display-3 text-danger">
              😳 {% trans "There are no motions for this round entered into Tabbycat." %}
            </div>
          </div>

        {% elif motions|length == 1 %}

          <div class="modal-body d-flex align-items-center justify-content-center text-center {% if motions.0.text|length > 380 %}display-6{% elif motions.0.text|length > 280 %}display-5{% elif motions.0.text|length > 220 %}display-4{% elif motions.0.text|length > 150 %}display-3{% else %}display-2{% endif %}">
            {{ motions.0.text }}
          </div>

        {% else %}

          <div class="modal-body d-flex flex-column">
            {% for m in motions %}
              <div class="display-4 col d-flex align-items-center">
                <div>
                  {% if motions|length > 1 %}
                    <span class="text-muted">{{ forloop.counter }}.</span>
                  {% endif %}
                  {{ m.text }}
                </div>
              </div>
            {% endfor %}
          </div>

        {% endif %}
      </div>
    </div>
  </div>

  <div class="modal fade" id="infoPop" tabindex="-1" role="dialog" aria-labelledby="infoPop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">

        {% if infos|length == 1 %}

          <div class="modal-body display-4 d-flex align-items-center justify-content-center text-center">
            <small>{{ infos.0.info_slide }}</small>
          </div>

        {% else %}

          <div class="modal-body d-flex flex-column">
            {% for info in infos %}
              <div class="display-4 col d-flex align-items-center">
                <p>
                  {% if motions|length > 1 %}
                    <span class="text-muted">{{ forloop.counter }}.</span>
                  {% endif %}
                  <small>{{ info.info_slide }}</small>
                </p>
              </div>
            {% endfor %}
          </div>

        {% endif %}

      </div>
    </div>
  </div>

{% endblock content %}
