{% extends "base.html" %}
{% load add_field_css %}
{% load debate_tags %}

{% block nav %}{% endblock %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% block body-class %}override-sidebar-offset{% endblock %}

{% block content %}

  <div class="container-fluid d-flex align-items-center justify-content-center"
       style="width: 100%; height: 95vh;">
    <div>
      <button class="btn btn-lg btn-success btn-block"
              data-toggle="modal" data-target="#myModal">
        Reveal Motions for {{ round.name }}
      </button>
    </div>
  </div>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content flex-vertical">
        <div class="modal-body flex-1 flex-vertical">
          {% for m in motions %}
            <div class="flex-1 flex-vertical-center">
              <span class="display-3">
                {% if motions|length > 1 %}
                  <span class="text-muted">{{ forloop.counter }}.</span>
                {% endif %}
                {{ m.text }}
              </span>
            </div>
          {% empty %}
            <div class="flex-1 flex-vertical-center">
              <span class="display-3 text-danger">
                😳 There are no motions for this round entered into Tabbycat.
              </span>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
