{% extends "base.html" %}
{% load static %}
{% load debate_tags %}

{% block footer %}{% endblock %}

{% block head-title %}<span class="emoji">🏪</span> Edit Venues for {{ round.abbreviation }}{% endblock %}
{% block page-title %}🏪Edit Venues for {{ round.abbreviation }}{% endblock %}

{% block content %}
  <div id="vueMount">

    <edit-venues-container :initial-debates="debates"
                           :initial-unallocated-items="unallocatedItems"
                           :venue-constraints="venueConstraints"
                           :back-url="backUrl">
    </edit-venues-container>

  </div>
{% endblock content %}

{% block js %}

  <script>
    window.vueData = {
      debates: {{ vueDebates|safe }},
      unallocatedItems: {{ vueUnusedVenues|safe }},
      venueConstraints: {{ vueVenueConstraints|safe }},
      backUrl: "{% roundurl 'draw' %}",
      autoURL: "{% roundurl 'venues-auto-allocate' %}",
    }
  </script>
  {{ block.super }}

{% endblock js %}