{% extends "base.html" %}
{% load add_field_css debate_tags i18n %}
{% load debate_tags %}

{% block head-title %}{% trans "Venue Constraints" %}{% endblock %}
{% block page-title %}{% trans "Venue Constraints" %}{% endblock %}

{% block content %}

  <div class="alert alert-info">
    {% blocktrans trimmed %}
      Venue constraints tell the venue allocator to try to keep the specified
      team or adjudicator, or all teams (but not adjudicators) from the
      specified institution, in a venue in the given category. The "priority"
      field resolves conflicting constraints: the higher priority takes
      precedence. You can also use the priority field to specify
      "lower-preference" constraints, which are taken if a higher-priority
      constraint couldn't be met.
    {% endblocktrans %}
  </div>

  {% if formset.errors %}
  <div class="alert alert-danger">
    <p>{% trans "There are some problems with the data on this form:" %}</p>
    {{ formset.non_form_errors }}
  </div>
  {% endif %}

  <form method="POST" action="" class="form-horizontal">
    {% csrf_token %}
    <div class="panel panel-default">
      <ul class="list-group">
        {{ formset.management_form }}

        {% for form in formset %}
        <li class="list-group-item">

          {% if form.non_field_errors %}
            <div class="col-sm-12">
              {{ form.non_field_errors }}
            </div>
          {% endif %}

          {% for field in form.hidden_fields %}
            {{ field }}
          {% endfor %}

          {% for field in form.visible_fields %}
            <div class="form-group">
              <label class="col-sm-2 control-label" for="{{ field.id_for_label }}">
                {{ field.label }}
              </label>
              <div class="col-sm-4">
                {{ field|addcss:"form-control" }}
              </div>
              <div class="col-sm-6">
                <span class="help-block">
                  {{ field.help_text }}
                </span>
                {{ field.errors }}
              </div>
            </div>
          {% endfor %}

        </li>
        {% endfor %}
        <li class="list-group-item">
          <input class="btn btn-success" type="submit" name="submit" value="{% trans 'Save Venue Constraints' %}" />
          <input class="btn btn-primary" type="submit" name="add_more" value="{% trans 'Save and Add More' %}" />
        </li>
      </ul>
    </div>
  </form>

{% endblock content %}
