{% extends "base.html" %}
{% load i18n %}

{% block content %}
  {% blocktrans trimmed asvar p1 %}
    Venue constraints tell the venue allocator to try to keep the specified
    team or adjudicator, or all teams (but not adjudicators) from the
    specified institution, in a venue in the given category. The "priority"
    field resolves conflicting constraints: the higher priority takes
    precedence. You can also use the priority field to specify
    "lower-preference" constraints, which are taken if a higher-priority
    constraint couldn't be met.
  {% endblocktrans %}
  {% include "components/explainer-card.html" with type="info" %}

  {% include "components/formset.html" with quadruple=True %}
{% endblock content %}
