{% extends "base.html" %}
{% load add_field_css debate_tags i18n %}

{% block head-title %}<span class="emoji">🏪</span> {% translate "Room Categories" %}{% endblock %}
{% block page-title %}🏪{% translate "Room Categories" %}{% endblock %}

{% block content %}

  {% blocktranslate trimmed asvar p1 %}
    Room categories allow you to group rooms together into "zones" to display in the draw and make navigation easier for participants, and/or specify constraints on room allocation that require teams, adjudicators or institutions to be put in a room in a particular category.
  {% endblocktranslate %}

  {% url 'admin:venues_venuecategory_changelist' as edit_db_url %}
  {% blocktranslate trimmed asvar p2 %}
    If you want to delete room categories, use the <a href="{{ edit_db_url }}" class="alert-link">Edit Database</a> area.
  {% endblocktranslate %}

  {% include "components/explainer-card.html" with type="info" %}

  {% translate "Save Room Categories" as save_text %}
  {% include "components/formset.html" with double=True %}

{% endblock content %}
