{
  "root": true,
  "env": {
    "node": true,
    "browser": true, // Browser window global variables
    "jquery": true, // jQuery global variable
  },
  "extends": [
    "plugin:vue/essential",
    "@vue/airbnb"
  ],
  "rules": {
    "semi": 0, // Disallow semi colons for now
    "no-var": "off",
    "no-console": "off",
    "func-names": "off", // Conflicts with vue
    "object-shorthand": "off", // Conflicts with vue
    "prefer-rest-params": "off", // Lazyness; for main.js
    "prefer-destructuring": "off", // Lazyness; for main.js
    "no-new": "off", // Lazyness; for main.js
  },
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module",
  },
  "plugins": [
    "vue",
  ],
}

