local_settings.py
staticfiles/
migrations
migrations-*/
.sass-cache/

# Tournaments to ignore
adam*/
preaustrals*/
data/Schools*
data/Schools*
data/Schools*
Dummy*/
MAD*/
wadl*/
*.dump

env/
venv/
*.pyc
*.swp
*~
*.db
.DS_Store
.debug

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

#Translations
*.mo

#Mr Developer
.mr.developer.cfg
*.log
*.pot
*.pyc
data/Schools Junior 2014
data/Schools Novice 2014
data/Schools Senior 2014
