# Django Related
tabbycat/local_settings.py
.gitmodules/
__pycache__/

# Compilation
tabbycat/staticfiles/
tabbycat/static/css/
tabbycat/static/js/
tabbycat/static/fonts/

# Dependencies
node_modules
bower_components

# Data to ignore
data/*

# Default data to include
!data/demo/
!data/demo_simple/
!data/sandbox/
!data/test/
!data/presets/
!data/fixtures/

# Docker
dbdata

# Docs
docs/site/
issues-*.html

# Tags
tags

env/
venv/
venv-*/
*.pyc
*.swp
*~
*.db
.DS_Store
.debug

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
*.log
*.pot
*.pyc

# Python 2to3 backup files
*.bak
