import os

LOCAL_SETTINGS = True
from settings import *

# ============================
# = Overwrites main settings =
# ============================

ADMINS              = ()
MANAGERS            = ADMINS
DEBUG               = True
DEBUG_ASSETS        = True
LIVE_RELOAD         = False

# ===========================
# = Django-specific Modules =
# ===========================

INTERNAL_IPS = (
    '0.0.0.0',
    '127.0.0.1'
)

MIDDLEWARE_CLASSES += (
    'debug_toolbar.middleware.DebugToolbarMiddleware',
)

INSTALLED_APPS += (
    'debug_toolbar',
)

# ===========
# = Caching =
# ===========

PUBLIC_PAGE_CACHE_TIMEOUT   = 1
TAB_PAGES_CACHE_TIMEOUT     = 1


CACHES = { # Use a dummy cache in development
    'default': {
        'BACKEND': 'django.core.cache.backends.locmem.LocMemCache',
   }
}

# Don't used the cached loader otherwise updating templates is a pain
TEMPLATES[0]['OPTIONS']['loaders'] = [
    'django.template.loaders.filesystem.Loader',
    'django.template.loaders.app_directories.Loader',
]

# =============
# = Pipelines =
# =============

LIBSASS_OUTPUT_STYLE = 'nested'

# =================
# = Debug Toolbar =
# =================

DEBUG_TOOLBAR_PATCH_SETTINGS = False

DEBUG_TOOLBAR_PANELS = (
    'debug_toolbar.panels.versions.VersionsPanel',
    'debug_toolbar.panels.timer.TimerPanel',
    'debug_toolbar.panels.settings.SettingsPanel',
    'debug_toolbar.panels.headers.HeadersPanel',
    'debug_toolbar.panels.request.RequestPanel',
    'debug_toolbar.panels.sql.SQLPanel',
    'debug_toolbar.panels.staticfiles.StaticFilesPanel',
    'debug_toolbar.panels.templates.TemplatesPanel',
    'debug_toolbar.panels.cache.CachePanel',
    'debug_toolbar.panels.signals.SignalsPanel',
    'debug_toolbar.panels.logging.LoggingPanel',
    #'debug_toolbar.panels.redirects.RedirectsPanel',
)

DEBUG_TOOLBAR_CONFIG = {
    'INTERCEPT_REDIRECTS': False,
    'JQUERY_URL': '/static/js/vendor/jquery-2.2.0.min.js', # Enables offline work
}

# =====================
# = Database Settings =
# =====================

SECRET_KEY          = '#2q43u&tp4((4&m3i8v%w-6z6pp7m(v0-6@w@i!j5n)n15epwc'
DATABASES           = {
    'default': {
        'ENGINE'  : 'django.db.backends.postgresql_psycopg2',
        'NAME'    : '',
        'USER'    : '',
        'PASSWORD': '',
        'HOST':     'localhost',
        'PORT':     '5432',
        'CONN_MAX_AGE': 600,
    }
}
