import os

# ===================
# = Server Settings =
# ===================

ADMINS              = ()
MANAGERS            = ADMINS
DEBUG               = True
TEMPLATE_DEBUG      = DEBUG
DEBUG_ASSETS        = DEBUG
INTERNAL_IPS        = ('0.0.0.0','127.0.0.1') # For debug toolbar to operate

# ===================
# = Cache Settings =
# ===================

COMPRESS_ENABLED    = False # Output still rendered/converted just not smushed
COMPRESS_OFFLINE    = True
TEMPLATE_LOADERS = (
    'django.template.loaders.filesystem.Loader',
    'django.template.loaders.app_directories.Loader',
) # Disabling template caching locally

# ===========================
# = Database Settings       =
# ===========================

SECRET_KEY          = '#2q43u&tp4((4&m3i8v%w-6z6pp7m(v0-6@w@i!j5n)n15epwc'
DATABASES = {
    'default': {
        'ENGINE'  : 'django.db.backends.postgresql_psycopg2',
        'NAME'    : '',
        'USER'    : '',
        'PASSWORD': '',
        'HOST':     'localhost',
        'PORT':     '5432',
    }
}