import os

# ===================
# = Server Settings =
# ===================

ADMINS              = (
    #'Your Name', 'your_email@domain.com'),
)
MANAGERS            = ADMINS
DEBUG               = True
TEMPLATE_DEBUG      = DEBUG
DEBUG_ASSETS        = DEBUG

# ===========================
# = Database Settings       =
# ===========================

if 'DATABASE_URL' in os.environ:
    # On Heroku
    import dj_database_url
    SECRET_KEY = get_env_variable("DJANGO_SECRET_KEY")
    DEBUG = True
    # Parse database configuration from $DATABASE_URL
    DATABASES['default'] =  dj_database_url.config()
    # Honor the 'X-Forwarded-Proto' header for request.is_secure()
    SECURE_PROXY_SSL_HEADER = ('HTTP_X_FORWARDED_PROTO', 'https')
else:
    # Local
    SECRET_KEY = ''
    DATABASES = {
        'default': {
            'ENGINE'  : 'django.db.backends.postgresql_psycopg2',
            'NAME'    : '',
            'USER'    : '',
            'PASSWORD': '',
            'HOST':     'localhost',
            'PORT':     '5432',
        }
    }
