import os

# ===================
# = Server Settings =
# ===================

ADMINS              = ()
MANAGERS            = ADMINS
DEBUG               = True
TEMPLATE_DEBUG      = DEBUG
DEBUG_ASSETS        = DEBUG

# ===========================
# = Database Settings       =
# ===========================

SECRET_KEY          = '#2q43u&tp4((4&m3i8v%w-6z6pp7m(v0-6@w@i!j5n)n15epwc'
DATABASES = {
    'default': {
        'ENGINE'  : 'django.db.backends.postgresql_psycopg2',
        'NAME'    : '',
        'USER'    : '',
        'PASSWORD': '',
        'HOST':     'localhost',
        'PORT':     '5432',
    }
}
