# Importing the base requirements
-r requirements.txt

# Development Dependencies
six==1.11.*                             # Python 2/3 compatibility library
flake8==3.5.*                           # For testing/linting
flake8-import-order==0.17.1               # Flake plugin for import order
flake8-quotes==1.0.*                    # Flake plugin for quotes
pep8-naming==0.7.*                      # Flake plugin for naming conventions
selenium==3.13.*                        # Functional testing (in here for CI tests)
chromedriver_installer==0.0.6           # Functional testing Chrome interface
transifex-client==0.13.*                # Translations

# Documentation Dependencies
-r docs/requirements.txt                # Import Sphinx dependencies