# Development Dependencies

django-debug-toolbar==1.8               # Debug Toolbar
six==1.11                               # Python 2/3 compatibility library
flake8==3.5.0                           # For testing/linting
flake8-import-order==0.14.3             # Flake plugin for import order
flake8-quotes==0.12.0                   # Flake plugin for quotes
pep8-naming==0.4.1                      # Flake plugin for naming conventions
chromedriver_installer==0.0.6           # Functional testing Chrome interface
django-gulp==3.0.0                      # Run gulp tasks automatically via dj r

# Documentation Dependencies

-r docs/requirements.txt                # Import Sphinx dependencies