# Base Heroku Requirements (from the toolbelt)
dj-database-url==0.3.0
psycopg2==2.5.4
static3==0.5.1
wsgiref==0.1.2
dj-static==0.0.6

# Importing the base requirements
-r requirements_common.txt

# For Mem-Caching
django-pylibmc==0.5.0

# For Session Caching
django-redis-sessions==0.4.0

# For web serving
waitress==0.8.9

# For monitoring
newrelic