# The necessary dependencies common to both local and heroku installs

# Mental note (cmd to check for updates): pip list --outdated --format=columns
# Mental note (npm equivalent command):   npm outdated

# Core
Django==2.0.3                           # pyup: >=2.0,<2.1
django-appconf==1.0.2                   # Helper for handling app configs
django-dynamic-preferences==1.5.0       # Settings management
django-extensions==2.0.0                # For the generate secret command
django-formtools==2.1                   # Form wizards
django-ipware==2.0.1                    # IP Address logging
django-jet==1.0.7                       # Admin Backend
django-gfklookupwidget==1.0.6           # Replaces object_id field with a search link
django-statici18n==1.7.0                # Compile translations files as static file
django-summernote==0.8.8.6              # WYSIWYG editor
munkres==1.0.12                         # Algorithm for adjudicator allocation
dj-cmd==1.0                             # Provides the dj command alias
raven==6.6.0                            # Client for Sentry error tracking
selenium==3.9.0                         # Functional testing (in here for CI tests)

# Database
psycopg2==2.7.4                         # For Django to talk to postgres
sqlparse==0.2.4                         # Parsing SQL statements

# Pipeline
whitenoise==3.3.1                       # Static file serving

# Cache
django_redis==4.8.0                     # Use redis for cache (on heroku; local optional)

# Channels
git+https://github.com/django/channels.git@db131ca93d93503147e00f51a94ea3d57ead09e3
                                        # Channels (disabled until 2.0.2+)
channels_redis==2.0.2                   # Channels Layer

# Misc
django-debug-toolbar==1.9.1             # Debug; but useful to run in prod sometimes
