# The necessary dependencies for just heroku installs

# Importing the base requirements
-r requirements_common.txt

# Base Heroku Requirements
dj-database-url==0.5.0                  # From the heroku toolbelt

# Misc
sendgrid==5.3.0                         # Emailing
