Django==1.6.5
Fabric==1.6.1
South==0.8
django-debug-toolbar==1.2
django-emoji==1.2.0
django-pylibmc-sasl==0.2.4
ecdsa==0.11
## FIXME: could not find svn URL in dependency_links for this package:
flup==1.0.3.dev-20110405
paramiko==1.13.0
psycopg2==2.5
pycrypto==2.6.1
sqlparse==0.1.11
wsgiref==0.1.2
