{% extends "base.html" %}
{% load debate_tags %}

{% block head-title %}View Feedback by Source{% endblock %}
{% block page-title %}View Feedback by Source{% endblock %}

{% block page-subnav-sections %}
  <a class="btn btn-default submit-disable" href="{% tournament_url adj_latest_feedback %}">
    Feedback Overview
  </a>
  <a class="btn btn-default submit-disable " href="{% tournament_url adj_latest_feedback %}">
    Latest Feedback
  </a>
  <a class="btn btn-default active" href="{% tournament_url adj_source_feedback %}">
    Find Feedback
  </a>
  {% if pref.public_ballots_randomised or pref.public_feedback_randomised %}
  <a class="btn btn-default submit-disable" href="{% tournament_url randomised_urls %}">
    Randomised URLs
  </a>
  {% endif %}
  <a class="btn btn-default submit-disable" href="{% tournament_url feedback_progress %}">
    Unsubmitted Ballots
  </a>
  {% include "tables/table_search.html" %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>From Teams</h4>
        </div>
        <div class="panel-body">
          <table id="teamTable" class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Institution</th>
                <th>Feedback</th>
              </tr>
            </thead>
            <tbody>
              {% for team in teams %}
              <tr>
                <td>{{ team.short_name }}</td>
                <td>{{ team.institution }}</td>
                <td>
                {% if team.feedback_tally > 0 %}
                  <a href="{% tournament_url team_feedback_list team.id %}">
                    {{ team.feedback_tally }} Feedback{{ team.feedback_tally|pluralize }}
                  </a>
                {% else %}
                  None Yet
                {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>From Adjudicators</h4>
        </div>
        <div class="panel-body">
          <table id="adjTable" class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Institution</th>
              <th>Feedback</th>
            </tr>
          </thead>
          <tbody>
            {% for adj in adjs %}
            <tr>
              <td>{{ adj.name }}</td>
              <td>{{ adj.institution }}</td>
              <td>
              {% if adj.feedback_tally > 0 %}
                <a href="{% tournament_url adj_feedback_list adj.id %}">
                  {{ adj.feedback_tally }} Feedback{{ adj.feedback_tally|pluralize }}
                </a>
              {% else %}
                None Yet
              {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock content %}

{% block extra-js %}

  {{ block.super }}
   <script type="text/javascript" charset="utf-8">
    $(document).ready( function() {
      var tTable = $("#teamTable").DataTable({
          "aaSorting": [[ 1, "asc" ], [ 0, "asc" ]],
      });
      new $.fn.dataTable.FixedHeader( tTable, {alwaysCloneTop: true});

      var aTable = $("#adjTable").DataTable({
          "aaSorting": [[ 1, "asc" ], [ 0, "asc" ]],
      });
      new $.fn.dataTable.FixedHeader( aTable, {alwaysCloneTop: true});

      $('#table-search').keyup(function(){
        dTable.search($(this).val()).draw();
      })
    } );
  </script>
{% endblock extra-js %}
