{% extends "base.html" %}
{% load debate_tags %}

{% block head-title %}Latest Feedback{% endblock %}
{% block page-title %}Latest Feedback{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">

      {% for feedback in feedbacks %}

        <div class="col-md-3">

          {% include 'feedback_card.html' %}

        </div>

        {% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}

      {% endfor %}

    </div>
  </div>
{% endblock content %}
