{% extends "base.html" %}
{% load debate_tags %}

{% block head-title %}Missing Feedback Ballots{% endblock %}
{% block page-title %}Missing Feedback Ballots{% endblock %}

{% block page-subnav-sections %}
  <a class="btn btn-default submit-disable" href="{% tournament_url adj_latest_feedback %}">
    Feedback Overview
  </a>
  <a class="btn btn-default submit-disable" href="{% tournament_url adj_latest_feedback %}">
    Latest Feedback
  </a>
  <a class="btn btn-default submit-disable" href="{% tournament_url adj_source_feedback %}">
    Find Feedback
  </a>
  {% if pref.public_ballots_randomised or pref.public_feedback_randomised %}
  <a class="btn btn-default submit-disable" href="{% tournament_url randomised_urls %}">
    Randomised URLs
  </a>
  {% endif %}
  <a class="btn btn-default active" href="{% tournament_url feedback_progress %}">
    Unsubmitted Ballots
  </a>
  {% include "tables/table_search.html" %}
{% endblock %}

{% block page-subnav-actions %}
    <a class="btn btn-success" href="{% tournament_url add_feedback %}">Add Feedback</a>
{% endblock %}

{% block content %}
<div class="row">

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>From Teams</h4>
      </div>
      <div class="panel-body">

        <table id="dataTableA" class="table">
          <thead>
            <tr>
              <th><span class="glyphicon glyphicon-eye-open" data-toggle="tooltip" title="Percentage Returned"></span></th>
              <th><span class="glyphicon glyphicon-remove" data-toggle="tooltip" title="Unsubmitted Feedbacks"></span></th>
              <th><span class="glyphicon glyphicon-ok" data-toggle="tooltip" title="Submitted Feedbacks"></span></th>
              <th>Team</th>
              {% if pref.show_institutions %}
                <th>Institution</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for team in teams %}
            <tr id="team_{{ team.id }}">
              <td class="">
                {{ team.coverage }}<span class="visible-xs"> </span>%
              </td>
              <td class="">
                {{ team.owed_ballots }}
              </td>
              <td class="">
                {{ team.submitted_ballots }}
              </td>
              <td>
                {% include "tables/team.html" with team=team %}
              </td>
              {% if pref.show_institutions %}
                <td class="">
                  <span class="hidden-xs">{{ team.institution }}</span><span class="visible-xs">{{ team.institution.code }}</span>
                </td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>From Adjudicators</h4>
      </div>
      <div class="panel-body">
        <table id="dataTableB" class="table">
          <thead>
            <tr>
              <th><span class="glyphicon glyphicon-eye-open" data-toggle="tooltip" title="Percentage Returned"></span></th>
              <th><span class="glyphicon glyphicon-remove" data-toggle="tooltip" title="Unsubmitted Feedbacks"></span></th>
              <th><span class="glyphicon glyphicon-ok" data-toggle="tooltip" title="Submitted Feedbacks"></span></th>
              <th>Team</th>
              {% if pref.show_institutions %}
                <th>Adjudicator</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for entity in adjudicators %}
              {% if entity.total_ballots > 0 %}
              <tr id="adj_{{ entity.id }}">
                <td class="">
                  {{ entity.coverage }}<span class="visible-xs"> </span>%
                </td>
                <td class="">
                  {{ entity.owed_ballots }}
                </td>
                <td class="">
                  {{ entity.submitted_ballots }}
                </td>
                <td class="entity-name">
                  {{ entity.name }}
                </td>
                {% if pref.show_institutions %}
                <td class="">
                  {{ entity.institution.name }} {{ entity.test }}
                </td>
                {% endif %}
              </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>

</div>


  <div class="modal fade" id="adj-feedback" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header"><h3>Missing Ballots for <span id="modal-adj-name"></span></h3></div>
      <div class="modal-body">
      </div>
    </div>
    </div>
  </div>

  <div class="modal fade" id="team-feedback" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header"><h3>Missing Ballots for <span id="modal-adj-name"></span></h3></div>
      <div class="modal-body">
      </div>
    </div>
    </div>
  </div>

{% endblock content %}

{% block extra-js %}
  <script type="text/javascript">

  $(document).ready( function() {

    var dTableA = $('#dataTableA').DataTable({
      "aaSorting": [[ 0, "asc" ], [ 1, "desc" ]],
    });
    new $.fn.dataTable.FixedHeader( dTableA, {alwaysCloneTop: true});
    var dTableB = $('#dataTableB').DataTable({
      "aaSorting": [[ 0, "asc" ], [ 1, "desc" ]],
    });
    new $.fn.dataTable.FixedHeader( dTableB, {alwaysCloneTop: true});
    $('#table-search').keyup(function(){
      dTableA.search($(this).val()).draw();
      dTableB.search($(this).val()).draw();
    })


    // the standard header to be re-added to the modal
    var tableHead = '<table id="modal-adj-table" class="table"><thead><th><span class="glyphicon glyphicon-time" data-toggle="tooltip" title="Round"></span></th><th><span class="glyphicon glyphicon-tasks" data-toggle="tooltip" title="Bracket"></span></th><th>Debate</th><th>Source</th><th>Score</th><th>Comments</th></tr><thead><tbody><tbody><table>'

    $(".view-missing-adjs").each(function() {
      $(this).click( function() {

        var adj_row = $(this).parent().parent() // the <tr> for this adjudicator in the table
        var adj_name = adj_row.find(".entity-name").text()
        var adj_id = parseInt(adj_row.attr('id').split('_')[1]) // the id of the adjudicator objec


        $("#modal-adj-table_wrapper").remove(); // removing the previously loaded table
        $("#modal-adj-name").text(adj_name); // Updating header of the modal
        $("#adj-feedback .modal-body").append(tableHead);
        $("#adj-feedback #modal-adj-table").dataTable({
          // Grabbing the adj data into a datatable
          'sAjaxSource': '{% tournament_url get_adj_feedback %}?id=' + adj_id,
          'bPaginate': false,
        });

      });
    });
  });
  </script>
{% endblock extra-js %}
