{% extends "base.html" %}
{% load add_field_css i18n %}

{% block page-title %}🔓{% trans "Password reset complete" context "page title" %}{% endblock %}
{% block head-title %}<span class="emoji">🔓</span>{% trans "Password reset complete" context "page title" %}{% endblock %}

{% block nav %}{% endblock %}

{% block content %}

  {% trans "Your password has been reset." as message %}
  {% include "components/alert.html" with type="success" icon="info" %}

  {% trans "Go to the login page" as text %}
  {% url 'login' as login_url %}
  {% include "components/item-action.html" with icon="log-in" url=login_url %}

{% endblock %}
