{% extends "base.html" %}
{% load add_field_css i18n %}

{% block page-title %}🔐{% trans "Password Reset" context "page title" %}{% endblock %}
{% block head-title %}{% endblock %}

{% block nav %}{% endblock %}

{% block content %}

  <div class="row">

    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card">
        <form id="reset" action="." method="POST">
          {% csrf_token %}

          {% trans "Password Reset" as title %}
          {% trans "Enter your email address below, and we'll email you a password reset link." as text %}
          {% include "components/form-title.html" with emoji="🔐" p1="" p2="" %}

          {% include "components/form-main.html" %}

          {% trans "Reset my password" context "button" as title %}
          {% trans "Back to the login page" as subtitle %}
          {% url 'login' as suburl %}
          {% include "components/form-submit.html" %}
        </form>
      </div>
    </div>
    <div class="col-md-3"></div>

  </div>

{% endblock %}
