{% extends "base.html" %}
{% load add_field_css i18n %}

{% block page-title %}🔓{% trans "Password changed" context "page title" %}{% endblock %}
{% block head-title %}<span class="emoji">🔓</span>{% trans "Password changed" context "page title" %}{% endblock %}

{% block nav %}{% endblock %}

{% block content %}

  {% trans "Your password has been changed." as message %}
  {% include "components/alert.html" with type="success" %}

  {% trans "Go to the home page" as text %}
  {% url 'tabbycat-index' as index %}
  {% include "components/item-action.html" with icon="home" url=index %}

{% endblock %}
