{% load i18n %}
{% with username=user.get_username %}{% blocktrans trimmed %}
Hi, {{ username }}!
{% endblocktrans %}{% endwith %}

{% blocktrans trimmed %}
Someone asked for password reset for the e-mail address {{ email }} on the Tabbycat site at {{ protocol }}://{{ domain }}.
{% endblocktrans %}

{% trans 'If this was you, follow the link below to reset your password:' %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% blocktrans trimmed %}
If this wasn't you, that probably means someone else typed your e-mail address into the password reset form on the Tabbycat site at {{ protocol }}://{{ domain }}.
{% endblocktrans %}