{% load i18n %}
{% blocktranslate trimmed with user=user.get_username %}
Hi, {{ user }}!
{% endblocktranslate %}

{% blocktranslate trimmed %}
Someone asked for a password reset for the email address {{ email }} on the Tabbycat site at {{ protocol }}://{{ domain }}.
{% endblocktranslate %}

{% translate 'If this was you, follow the link below to reset your password:' %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% blocktranslate trimmed %}
If this wasn't you, that probably means someone else typed your email address into the password reset form on the Tabbycat site at {{ protocol }}://{{ domain }}.
{% endblocktranslate %}
