{% extends "base.html" %}
{% load add_field_css i18n %}

{% block page-title %}🔐{% trans "Password reset email sent" context "page title" %}{% endblock %}
{% block head-title %}<span class="emoji">🔐</span>{% trans "Password reset email sent" context "page title" %}{% endblock %}

{% block nav %}{% endblock %}

{% block content %}

  {% trans "We've emailed you instructions for setting your password, if an account exists with the email address you entered. You should receive them shortly." as reset_message %}
  {% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." as reset_extra %}
  {% include "components/alert.html" with type="success" icon="info" message=reset_message extra=reset_extra %}

  {% trans "Go to the login page" as text %}
  {% url 'login' as login_url %}
  {% include "components/item-action.html" with icon="log-in" url=login_url %}

{% endblock %}
