{% extends "base.html" %}
{% load add_field_css i18n %}

{% block page-title %}🔓{% trans "Password Reset" context "page title" %}{% endblock %}
{% block head-title %}<span class="emoji">🔓</span>{% trans "Password Reset" context "page title" %}{% endblock %}

{% block nav %}{% endblock %}

{% block content %}

<form id="reset" action="." method="POST" class="form-horizontal">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-12">

      {% if form.errors %}
        <div class="alert alert-danger">
          {% trans "Please enter a valid e-mail address." %}
        </div>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-info">
        Forgot your password? Enter your e-mail address below, and we'll e-mail you a password reset link.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {% with field=form.email %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}" class="col-md-2 control-label">E-mail</label>
        <div class="col-md-6">
          {{field|addcss:"form-control"}}
          {% if field.errors %}
            {{ field.errors }}
          {% endif %}
        </div>
      </div>
      {% endwith %}

      <div class="form-group">
        <div class="col-md-offset-2 col-md-2 col-sm-4">
          <button type="submit" class="btn btn-success">
            {% trans "Reset my password" context "button" %}
          </button>
        </div>
        <div class="col-md-offset-2 col-md-2 col-sm-4" align=right>
          <p>
            <a href="{% url 'login' %}">{% trans "Back to the login page" %}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
