{% load i18n %}
{% blocktrans trimmed with user=user.get_username %}
Hi, {{ user }}!
{% endblocktrans %}

{% blocktrans trimmed %}
Someone asked for a password reset for the email address {{ email }} on the Tabbycat site at {{ protocol }}://{{ domain }}.
{% endblocktrans %}

{% trans 'If this was you, follow the link below to reset your password:' %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% blocktrans trimmed %}
If this wasn't you, that probably means someone else typed your email address into the password reset form on the Tabbycat site at {{ protocol }}://{{ domain }}.
{% endblocktrans %}
