{% extends "base.html" %}
{% load add_field_css i18n %}

{% block page-title %}🔐{% trans "Password reset e-mail sent" context "page title" %}{% endblock %}
{% block head-title %}<span class="emoji">🔐</span>{% trans "Password reset e-mail sent" context "page title" %}{% endblock %}

{% block nav %}{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-info">
        <p>
          {% trans "We've e-mailed you instructions for setting your password, if an account exists with the e-mail address you entered. You should receive them shortly." %}
        </p>
        <p>
          {% trans "If you don't receive an e-mail, please make sure you've entered the address you registered with, and check your spam folder." %}
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <a href="{% url 'login' %}" class="btn btn-default btn-block">
        {# Translators: This text appears on a button that takes the user back to the login page from the password reset page. #}
        <span class="glyphicon glyphicon-chevron-left"></span> {% trans "Return to the login page" %}
      </a>
    </div>
  </div>
{% endblock %}
