{% extends "base.html" %}
{% load add_field_css i18n %}

{% block page-title %}🔓{% trans "Password reset complete" context "page title" %}{% endblock %}
{% block head-title %}<span class="emoji">🔓</span>{% trans "Password reset complete" context "page title" %}{% endblock %}

{% block nav %}{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-info">
        <p>
          {% trans "Your password has been reset." %}
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <a href="{% url 'login' %}" class="btn btn-default btn-block">
        {# Translators: This text appears on a button that takes the user to the login page after a password reset. #}
        {% trans "Go to the login page" %} <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
{% endblock %}
