{% extends "base.html" %}
{% load add_field_css i18n %}

{% block page-title %}🔐{% trans "Password Change" context "page title" %}{% endblock %}
{% block head-title %}{% endblock %}

{% block nav %}{% endblock %}

{% block content %}

<div class="col-md-6 col-md-offset-3 col-sm-12">
  <div class="panel panel-default">
    <div class="panel-heading panel-title">
      <h4><span class="emoji">🔐</span>{% trans "Password Change" context "page title" %}</h4>
    </div>
    <div class="panel-body">

      {% if form.errors %}
        <div class="alert alert-danger">
          {% blocktrans trimmed count counter=form.errors.items|length %}
          Please correct the error below.
          {% plural %}
          Please correct the errors below.
          {% endblocktrans %}
        </div>
      {% endif %}

      <p class="vertical-spacing">
        <em>{% trans "Please enter your old password, then enter a new one (twice):" %}</em>
      </p>

      <form id="reset-confirm" action="." method="POST" class="form-horizontal">
        {% csrf_token %}

        {% for field in form %}
        <div class="vertical-spacing">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field|addcss:"form-control" }}
          {{ field.errors }}
        </div>
        {% endfor %}

        <div class="vertical-spacing">
          <button type="submit" class="btn btn-success btn-block">
            {% trans "Change my password" context "button" %}
          </button>
        </div>

      </form>

    </div>
  </div>
</div>
{% endblock %}
