{% extends "base.html" %}
{% load static %}
{% load debate_tags %}

{% block head-title %}<span class="emoji">🎪</span>Bulk Add Venues{% endblock %}
{% block page-title %}🎪 Bulk Add Venues{% endblock %}

{% block content %}

<div class="alert alert-info" id="">
  <p>
    Paste a list of venues with one venue per line and following the format of:
    <em>Name,Priority,Venue Category</em>.
     For example:<br><br>
    <em>140,200,Red<br>
    2.9.0,100,Red<br>
    11G,50</em><br><br>
    Venue categories are optional — they can be used to visually classify groups of venues or for creating rules that ensure particular people get priority access to certain types of rooms.
  </p>
</div>

<form action="{% tournamenturl 'edit_venues' %}" method="POST">

  <div class="form-group">
    <textarea class="form-control" name="venues_raw" rows="20"></textarea>
  </div>
  <button type="submit" class="btn btn-primary btn-block">
    Submit Venues List
  </button>

</form>

{% endblock content %}
