{% extends "base.html" %}
{% load static %}
{% load debate_tags %}

{% block head-title %}<span class="emoji">👂</span>Edit Adjudicators{% endblock %}
{% block page-title %}👂 Edit Adjudicators{% endblock %}

{% block content %}

<div class="alert alert-info" id="">
  <p>As per the tournament's configuration, an adjudicator's rating must be
  between {{ pref.adj_min_score }} and {{ pref.adj_max_score }}. Adjudicators
  marked as 'shared' will not be associated with any particular tournament but
  will be available to any tournament which has the
  <a href="{% tournamenturl 'options-tournament-league' %}" class="alert-link">
  Share Adjudicators" setting enabled</a>.</p>
</div>

<form id="addAdjudicators" action="{% tournamenturl 'confirm_adjudicators' %}" method="POST">

  {% for key, values in institutions.items %}

    <div class="row"><div class="col-sm-12">

      <div class="panel panel-default">

        <div class="panel-heading">
          <h5 class="panel-title">{{ key }}'s Adjudicators</h5>
        </div>
        <ul class="list-group">

          {% for adjudicator in values %}
            <li class="list-group-item">
              <div class=" form-horizontal row">

                <input class="hidden" type="text" name="{{ key }}_{{ adjudicator }}_Instititution" value="{{ key }}" />
                <span class="col-sm-1">Adj #{{ adjudicator }}</span>

                <label class="col-sm-1 control-label">Name</label>
                <div class="col-sm-4">
                  <input class="form-control col-sm-2" value="An Adjudicator"
                         name="{{ key }}_{{ adjudicator }}_Name" type="text"
                         maxlength="{{ max_name_length }}" />
                </div>

                <label class="col-sm-1 control-label">Rating</label>
                <div class="col-sm-2">
                  <input class="form-control col-sm-1" type="number" min="{{ pref.adj_min_score }}" max="{{ pref.adj_max_score }}" step="0.5" value="{{ score_avg }}" name="{{ key }}_{{ adjudicator }}_Rating" />
                </div>

                <label class="col-sm-1 control-label">Shared?</label>
                <div class="col-sm-2">
                  <select class="form-control col-sm-1" name="{{ key }}_{{ adjudicator }}_Share">
                    <option value="yes">Yes</option>
                    <option value="no" selected>No</option>
                  </select>
                </div>

              </div>
            </li>
          {% endfor %}

        </ul>
      </div>

    </div></div>

  {% endfor %}

  <div class="row">
    <div class="col-md-12">
      <div class="">
        <div class="form-group">
          <input class="btn btn-success btn-block" type="submit" value="Save All Adjudicators" />
          </div>
        </div>
      </div>
  </div>


</form>

{% endblock content %}
