{% extends "base_availability.html" %}

{% load debate_tags %}
{% block update-url %}{% round_url update_adjudicator_availability %}{% endblock %}

{% block h1 %}Adjudicator Availability for Round {{ round }}{% endblock %}

{% block table-contents %}
<thead><tr><th>Adjudicator</th><th>Institution</th><th>Test</th><th>Feedback</th><th>Score</th><th>Active</th></tr></thead>
    <tbody>
        {% for adj in adjudicators %}
        <tr>
            <td>{{ adj.name }}</td>
            <td>{{ adj.institution.name }}</td>
            <td>{{ adj.test_score }}</td>
            <td>{{ adj.feedback_score|stringformat:".2f" }}</td>
            <td>{{ adj.score|stringformat:".2f" }}</td>
            <td><input type="checkbox" {{ adj.is_active|yesno:'checked="yes",'  }} name="check_{{ adj.id }}"  value="{{ adj.id }}" /></td>
        </tr>
        {% endfor %}
    </tbody>
{% endblock table-contents %}

