<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load debate_tags %}

<head>
    <title>
    {% block head-title %}{% endblock %}
    </title>

    <script type="text/javascript" language="javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" language="javascript" src="/static/js/jquery.dataTables.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#jsWarn").hide();
        });
    </script>

    {% block extra-head %}
    {% endblock extra-head %}

    </head>
<body id="{% block body-id %}debate{% endblock %}" class="{% block body-class %}{% endblock %}">
    <div id="jsWarn">
        Javascript must be enabled for this application to function correctly.
    </div>
    {% block body %}
    <div id="container">
        {% block nav %}
        <ul id="nav">
            <li id="overview">Overview</li>
            <li id="round">Current Round
                <ul>
                    <li><a href="{% url venue_availability current_round.id %}">Venues</a></li>
                    <li>Adjudicators</li>
                </ul>
            </li>

        </ul>
        {% endblock nav %}
        <h1>{% block h1 %}{% endblock %}</h1>
        {% block content %}
        {% endblock content %}
    </div>
    {% endblock body %}
</body>
</html>


