<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load debate_tags %}

<head>
    <title>
    {% block head-title %}{% endblock %}
    </title>

    <script type="text/javascript" language="javascript" src="/static/js/jquery-1.4.2.js"></script>
    <script type="text/javascript" language="javascript" src="/static/js/jquery.dataTables.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#jsWarn").hide();

            $('#rounds > ul > li > a').click(function() {
                $this = $(this);
                $('#rounds > ul > li > ul').hide();
                $('#rounds > ul > li').removeClass('selected');
                $this.parent().addClass('selected');
                $this.siblings('ul').show();
                return false;
            });

            $('#rounds > ul > li.selected > a').click();
        });
    </script>

    <style type="text/css" title="currentStyle">
        @import "/static/css/debate.css";
        {% block extra-style %}
        {% endblock extra-style %}

        #current_round a { font-weight: bold; }
        #current_round ul a { font-weight: normal; }
    </style>

    {% block extra-head %}
    {% endblock extra-head %}

    </head>
<body id="{% block body-id %}debate{% endblock %}" class="{% block body-class %}{% endblock %}">
    <div id="jsWarn">
        Javascript must be enabled for this application to function correctly.
    </div>
    {% block body %}
    <div id="container">
        {% block nav %}
        {% include "nav.html" %}
        {% endblock nav %}

        <h1>{% block h1 %}{% endblock %}</h1>
        {% block content %}
        {% endblock content %}
    </div><!-- container -->
    {% endblock body %}
</body>
</html>


