{% extends "base.html" %}

{% block head-title %}Checkin{% endblock %}

{% block extra-head %}
<style>
        body {
            background: #f6f6f6;
            text-align: center;
        }
        #logo { text-align: center; }
        #container {
            background: #fff;
            border: 1px solid #ccc;
            padding: 10px;
            width: 300px;
            margin: 100px auto;
        }
        h1, h2 { text-align: center; }
        #container h1 {
            margin: 30px auto 14pz;
            margin-top: 30px;
        }

</style>
<script>
    $(document).ready(function() {
        setInterval( function() {
            $('#barcode_id').focus();
        }, 50);
    });
</script>
{% endblock %}

{% block body %}
<div id="container">
    <div id="logo">
    <img src="/static/images/australs.png" />
    </div>
    <h1>Check in for Round {{ round }}</h1>

    <h2>
        Please scan your ID card.
    </h2>

    {% if person %}
    <div class="success box">
        Checked in {{ person.name }}
    </div>
    {% endif %}
    {% if unknown_id %}
    <div class="error box">
        Unknown ID: {{ unknown_id }}
    </div>
    {% endif %}

    <form method="POST" action=".">
        <input id="barcode_id" type="text" name="barcode_id" />
        <input type="submit" name="submit" value="checkin" />
    </form>

</div>

{% endblock %}



