{% extends "base.html" %}

{% load debate_tags %}

{% block extra-head %}
<script type="text/javascript" language="javascript" src="/static/js/jquery-ui-1.10.4.custom.min.js"></script>

<script type="text/javascript" charset="utf-8">
    $(document).ready( function() {

        var debates = {};
        // populate data
        $("#dataTable .venue-holder").each( function() {
            debates[$(this).attr("id")] = $("div.venue", this).attr("id");
        } );


        // Triggers when a draggable element is placed
        function venueMoved(venue, oldDebate, newDebate) {
            var oldId = oldDebate.attr("id");
            if (oldId != undefined && oldId != "scratch") {
                debates[oldId] = 'none';
            }
            var newId = newDebate.attr("id");
            if (newId != undefined && newId != "scratch") {
                debates[newId] = venue.attr("id");
            }
        }

        // remove the table cells without venues
        $("#dataTable div.empty").each( function() {
            var holder = $(this).parent("venue-holder");
            $(this).remove();
            //addPlaceholder(holder); no idea what this function is doing...
        } );

        $(".venue").draggable( {
            //handle: 'div',
            containment: "document",
            cursor: 'move',
            //stack: {
                //group: '.venue',
                //min: 1
            //},
            revert: 'invalid' // revert to initial position if undropped
        });

        // Droppable elements are targets for draggable elements
        $(".venue-holder").droppable( {
            //hoverClass: 'hover',
            drop: function(event, ui) {
                var venue = ui.draggable;
                var oldHolder = venue.parent("td");
                var replacing = $(".venue", this);
                var newHomeOff;
                //var curOff = venue.offset();
                if (replacing.length == 0) {
                    // no venue, construct a hidden node
                    // to do position calculation
                    replacing = $(document.createElement("div"));
                    replacing.addClass("venue");
                    replacing[0].style.visibility = "hidden";
                    $(this).append(replacing);
                    //newHomeOff = replacing.offset();
                    replacing.remove();
                } else {
                    //newHomeOff = replacing.offset();
                    venueMoved(replacing, $(this), $("#scratch"));
                    $("#scratch").append(replacing);
                }

                $(this).append(venue);
                venueMoved(venue, oldHolder, $(this));

                //venue.css('top', curOff.top - newHomeOff.top);
                //venue.css('left', curOff.left - newHomeOff.left);
                //venue.animate({'top': '0', 'left': '0'}, 300);
            }

        });

        $("#scratch").droppable( {
            //hoverClass: 'hover',
            drop: function(event, ui) {
                var venue = ui.draggable;
                var oldHolder = venue.parent("td");
                $(this).append(venue);
                venueMoved(venue, oldHolder, $(this));
                //venue.animate({'top': '0', 'left': '0'}, 300);

            }
//
        } );
//
        ///* sorting function for venues */
        //$.fn.dataTableExt.afnSortData['venue'] = function ( oSettings, iColumn) {
            //var aData = [];
            //$('.venue-holder', oSettings.oApi._fnGetTrNodes(oSettings)).each( function () {
                //var name = $('span', this).html();
                //if (name == null) name = '';
                //aData.push(name);
            //});
            //return aData;
        //};
//
        ///* filter function for venues */
        //$.fn.dataTableExt.ofnSearch['venue'] = function ( sData ) {
            //var jo = $(sData);
            //var f = $('span', jo).html();
//
            //return f;
        //};
//
        $('#save').click( function() {
            $.ajax( {
                type: "POST",
                url: "{% round_url save_venues %}",
                data: debates,
                success: function(data, status) {
                    $("#savedVenues").removeClass('hide');
                },
                error: function(xhr, error, ex) {
                    alert("fail");
                }
            } );

            return false;

        } );

        $("#dataTable").dataTable( {
            "aoColumns": [
                null,
                null,
                null,
                { "sSortDataType": "venue" }
            ],
            "bPaginate": false,
            "aaSorting": [[0, 'desc']]
        } );
    });

</script>
{% endblock extra-head %}

{% block extra-style %}{% endblock %}

{% block body_class %}edit-venues{% endblock %}

{% block h1 %}Edit Venues for Round {{ round }}
<div id="statusBar" class="btn-group btn-group-lg">
    <a class="btn btn-default" href="" id="save">Save</a>
    <a class="btn btn-default" href="">Discard</a>
    <a class="btn btn-default" href="">Undo</a>
    <a class="btn btn-default" href="">Redo</a>
    <a class="btn btn-default" href="{% round_url draw %}">Quit</a>
</div>

{% endblock %}

{% block content %}

<div id="scratch" class="h4">
    <h3>Unused Venues</h3>
    {% for venue in round.unused_venues %}
    <div id="venue_{{ venue.id }}" class="btn btn-default btn-lg btn-block venue">
        <span>{{ venue }}</span>
    </div>
    {% endfor %}
</div>

<div id="main">


<div class="alert alert-success fade in alert-dismissable hide" id="savedVenues">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  Saved succesfully!
</div>


<div class="alert alert-error fade in alert-dismissable hide" id="savedVenues">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  Failed to save!
</div>


    <table id="dataTable" class="table table-hover table-bordered table-striped h4" cellpadding="0" cellspacing="0">
        <thead>
            <tr><th><span class="glyphicon glyphicon-sort" data-toggle="tooltip" title="Bracket"></span></th><th>Affirmative</th><th>Negative</th><th>Venue</th></tr>
        </thead>
        <tbody>
        {% for debate in draw %}
        <tr class="{{ debate.draw_conflicts|yesno:'conflict,' }}">
            <td>{{ debate.bracket }}</td>
            <td>{{ debate.aff_team }}</td>
            <td>{{ debate.neg_team }}</td>
            <td id="debate_{{ debate.id }}" class="venue-holder">
                <div id="venue_{{ debate.venue.id }}" class="btn btn-block btn-default btn-lg
                    {% if debate.venue %}venue{% else %}empty{% endif %}">
                    <span class="">{{ debate.venue }}</span>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock content %}