{% extends "base.html" %}
{% load debate_tags %}

{% block extra-head %}
    <script type="text/javascript">
        $(document).ready( function() {
            $('#draw').dataTable({
                'bPaginate': false,
                "aaSorting": [[ 0, "asc" ]],
            });
        });
    </script>
{% endblock extra-head %}

{% block body_class %}draw-public-display{% endblock %}

{% block h1 %}Draw for Round {{ round }}{% endblock %}

{% block content %}
    <table id="draw" class="table table-hover table-bordered table-striped">
        <thead>
            <tr>
                <th>Team</th>
<!--                 <th>Group</th> -->
                <th>Venue</th>
                <th>Affirmative</th>
                <th>Negative</th>
                <th>Adjudicators</th>
            </tr>
        </thead>
        <tbody>
        {% for team, debate in draw %}
        <tr class="{{ debate.all_conflicts|yesno:'conflict,' }}} h3">
            <td>{{ team.name }}</td>
<!--             <td>{{ debate.venue.group }}</td> -->
            <td>{{ debate.venue.name }}</td>
            <td title="{% aff_count debate.aff_team round.prev %}" class="team-name" id="{{ debate.aff_team.id }}">
                {{ debate.aff_team.name }}
            </td>
            <td title="{% neg_count debate.neg_team round.prev %}" class="team-name" id="{{ debate.neg_team.id }}">
                {{ debate.neg_team.name }}
            </td>
            <td class="adj-names">
                <ul class="">
                {% for item in debate.adjudicator_names_list %}

                    {% if "Ⓒ" in item %}
                        <li class=""><span class="adj-chair">{{ item }}</span></li>
                    {% elif "Ⓣ" in item %}
                        <li class=""><span class="adj-trainee">{{ item }}</span></li>
                    {% else %}
                        <li class=""><span class="adj-normal">{{ item }}</span></li>
                    {% endif %}

                {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </table>

{% endblock content %}