{% extends "base.html" %}

{% block extra-head %}
    <script type="text/javascript" charset="utf-8">

        $(document).ready( function() {
            $("#createDraw").click( function() {
                $("#createForm").submit();

                return false;
            } );

        } );

    </script>
{% endblock extra-head %}

{% block content %}

<p>No draw currently exists. Draw to be created for the following {{ active_teams|length }} teams.
<a id="createDraw" href="">Create Draw</a>.
</p>
<form id="createForm" action="{% url create_draw round.id %}" method="POST"></form>
<ul>
    {% for team in active_teams %}
    <li>{{ team.name }} ({{ team.institution.code }})</li>
    {% endfor %}
</ul>

{% endblock content %}


