{% extends "base.html" %}
{% load debate_tags %}

{% block extra-head %}
    <script type="text/javascript">
        $(document).ready( function() {
            $('.table').dataTable({
                'bPaginate': false,
                "aaSorting": [[ 2, "asc" ]],
            });
        });
    </script>
{% endblock extra-head %}

{% block body_class %}draw-public-display{% endblock %}

{% block h1 %}Draw for Round {{ round }}{% endblock %}

{% block content %}
    <table id="draw" class="table table-hover table-bordered table-striped">
        <thead>
            <tr>
                <th>G</th>
                <th>Venue</th>
                <th>Affirmative</th>
                <th>Negative</th>
                <th>Adjudicators</th>
            </tr>
        </thead>
        <tbody>
        {% for debate in draw %}
        <tr class="{{ debate.all_conflicts|yesno:'conflict,' }}} h3">
            <td>{{ debate.venue.group }}</td>
            <td>{{ debate.venue.name }}</td>
            <td title="{% aff_count debate.aff_team round.prev %}">{{ debate.aff_team.name }}</td>
            <td title="{% neg_count debate.neg_team round.prev %}">{{ debate.neg_team.name }}</td>
            <td>{{ debate.adjudicators_display_with_line_breaks | linebreaks }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock content %}