{% extends "base.html" %}

{% block extra-head %}
<script type="text/javascript" language="javascript" src="/static/js/jquery-ui.js"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready( function() {
        var conflicts;

        // load adjudicator conflict data
        $.getJSON("{% url adj_conflicts %}", function(data) {
            conflicts = data;

            // insert blank entries for adjudicators who aren't there
            // (no conflicts)
            $("#dataTable .adj").each( function() {
                var id = $(this).attr('id').split('_')[1];
                if (conflicts[id] == undefined) {
                    conflicts[id] = [];
                }
            } );

            // update all
            $("#dataTable tbody tr").each( function() {
                updateConflicts(this);
            });

        } );

        function eachConflictingTeam(adj_id, fn) {
            $.each(conflicts[adj_id.split('_')[1]], function (i, n) {
                $("#team_" + n).each( function() { fn(this); } );
            } );
        }

        function updateConflicts(debate_tr) {
            var c = 0;
            $(".adj", debate_tr).each( function() {
                var adj = this;
                var adj_id = $(this).attr('id').split('_')[1];
                var a = 0;
                // select aff & neg team
                $("td:gt(0):lt(2)", debate_tr).each( function() {
                    if ($.inArray(
                            parseInt($(this).attr('id').split('_')[1]), 
                            conflicts[adj_id]) != -1) {
                        $(debate_tr).addClass("conflict");
                        $(adj).addClass("conflict");
                        c++;
                        a++;
                    } 
                } );
                if (a == 0) {
                    $(adj).removeClass("conflict");
                }


            } );

            if (c == 0) {
                $(debate_tr).removeClass("conflict");
            }

            // check for incomplete panels
            if ($(".panel-holder .adj", debate_tr).length % 2 != 0) {
                $(".panel-holder", debate_tr).addClass("incomplete");
            } else {
                $(".panel-holder", debate_tr).removeClass("incomplete");
            }

            // check for missing chairs
            if ($(".chair-holder .adj", debate_tr).length != 1) {
                $(".chair-holder", debate_tr).addClass("incomplete");
            } else {
                $(".chair-holder", debate_tr).removeClass("incomplete");
            }

        }

        $(".adj").draggable( {
            handle: 'div',
            cursor: 'move',
            stack: {
                group: '.adj',
                min: 1
            },
            revert: 'invalid',
            start: function (event, ui) {
                eachConflictingTeam(
                    $(ui.helper).attr("id"),
                    function (elem) {
                        $(elem).addClass("conflicts-with-active");
                    }
                );
            },
            stop: function(event, ui) {
                eachConflictingTeam(
                    $(ui.helper).attr("id"),
                    function (elem) {
                        $(elem).removeClass("conflicts-with-active");
                    }
                );
            }
        });
        $("#dataTable tbody  .adj-holder").droppable( {
            hoverClass: 'hover',
            drop: function(event, ui) {
                var adj = ui.draggable;
                var oldHolder = adj.parent("td");
                var replacing = $(".adj", this);
                var newHomeOff;
                var curOff = adj.offset();

                // if replacing an empty chair, or adding to a panel
                if (replacing.length == 0 || $(this).hasClass("panel-holder")) {
                    replacing = $(document.createElement("div"));
                    replacing.addClass("adj");
                    replacing[0].style.visibility = "hidden";
                    $(this).append(replacing);
                    newHomeOff = replacing.offset();
                    replacing.remove();
                } else {
                    // replacing an existing chair
                    newHomeOff = replacing.offset();
                    $("#scratch").append(replacing);
                }

                $(this).append(adj);

                adj.css('top', curOff.top - newHomeOff.top);
                adj.css('left', curOff.left - newHomeOff.left);
                adj.animate({'top': '0', 'left': '0'}, 300);
                updateConflicts(oldHolder.parent("tr"));
                updateConflicts($(this).parent("tr"));
            }

        });

        $("#scratch").droppable( {
            hoverClass: 'hover',
            drop: function(event, ui) {
                var adj = ui.draggable;
                var oldHolder = adj.parent("td");
                $(this).append(adj);

                adj.animate({'top': '0', 'left': '0'}, 300);
                adj.removeClass("conflict");
                updateConflicts($(oldHolder).parent("tr"));
            }


        } );

        /* sorting function for adjs */
        $.fn.dataTableExt.afnSortData['adj'] = function ( oSettings, iColumn) {
            var aData = [];
            $('.adj-holder', oSettings.oApi._fnGetTrNodes(oSettings)).each( function () {
                var name = $('span', this).html();
                if (name == null) name = '';
                aData.push(name);
            });
            return aData;
        };

        /* filter function for adjs */
        $.fn.dataTableExt.ofnSearch['adj'] = function ( sData ) {
            var jo = $(sData);
            var f = $('span', jo).html();

            return f;
        };

        $('#save').click( function() {
            $.ajax( {
                type: "POST",
                url: "{% url save_venues round.id %}",
                data: debates,
                success: function(data, status) {
                    alert("win");
                },
                error: function(xhr, error, ex) {
                    alert("fail");
                }
            } );

            return false;

        } );

        $("#dataTable").dataTable( {
            "aoColumns": [
                null,
                null,
                null,
                null,
                { "sWidth": "30%" },
                null
            ],
            "bPaginate": false
        } );
    });
</script>
<style type="text/css">
    .adj { background-color: #ccc; white-space: nowrap; margin-right: 1em; }
    .adj.conflict { color: red; font-weight: bold; }
    .adj span { margin-left: 10px; }
    #dataTable td.hover { background-color: #ff8; }
    #scratch {
        position: fixed;
        top: 0;
        right: 0;
        background-color: #cff;
        width: 20%;
        height: 800px;
    }
    #scratch.hover { background-color: #ff8; }
    #main {
        width: 79%;
    }
    .adj { display: inline; }
    #scratch .adj { display: block; }

    .incomplete { border: 1px solid #f84; }
    #dataTable .conflicts-with-active { color: red; font-weight: bold; }

</style>
{% endblock extra-head %}

{% block extra-style %}
    @import "/static/css/demo_table.css";
{% endblock %}


{% block body %}

<div id="statusBar">
    Edit adjudicators for Round {{ round }} |
    <a href="" id="save">Save</a>
    Discard Undo Redo 
    <a href="{% url draw round.id %}">Quit</a>
</div>

<div id="scratch">
    Unused Adjudicators
    {% for adj in round.unused_adjudicators %}
    <div id="venue_{{ adj.id }}" class="adj">
        <span>{{ adj.name }}</span>
    </div>
    {% endfor %}
</div>

<div id="main">
    <table id="dataTable" class="display" cellpadding="0" cellspacing="0">
        <thead>
            <tr><th>Brkt</th><th>Affirmative</th><th>Negative</th><th>Chair</th><th>Panel</th><th>Conflicts</th></tr>
        </thead>
        <tbody>
        {% for debate in draw %}
        <tr class="active">
            <td>{{ debate.bracket }}</td>
            <td id="team_{{ debate.aff_team.id }}">{{ debate.aff_team.name }}</td>
            <td id="team_{{ debate.neg_team.id }}">{{ debate.neg_team.name }}</td>
            {% with debate.adjudicators as adj %}
            <td id="chair_{{ debate.id }}" class="adj-holder chair-holder">
                {% if adj.chair %}
                <div id="adj_{{ adj.chair.id }}">
                    <span>{{ adj.chair.name }}</span>
                </div>
                {% endif %}
            </td>
            <td id="panel_{{ debate.id }}" class="adj-holder panel-holder">
                {% for p in adj.panel %}
                <div id="adj_{{ p.id }}" class="adj">
                    <span>{{ p.name }}</span>
                </div>
                {% endfor %}
            </td>

            {% endwith %}
            <td>
               {{ debate.adjudicator_conflicts|yesno:"C," }}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock body %}


