{% extends "base.html" %}

{% load debate_tags %}

{% block extra-head %}
<script type="text/javascript" language="javascript" src="/static/js/jquery-ui.js"></script>
<script type="text/javascript" language="javascript" src="/static/js/jquery.jeditable.js"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready( function() {
        var dataTable, unusedTable;
        var conflicts;
        var scores;
        var conflictTypeClass = {
            'conflict': 'conflict-with-active',
            'history': 'history-with-active',
        }

        function intId(e) {
            return parseInt($(e).attr('id').split('_')[1]);
        }

        function formatScore(n) {
            return n.toPrecision(2);
        }


        function _make_adj(data) {
            var adj = $('<div></div>').addClass('adj')
                .attr('id', 'adj_' + data.id)
                .append($('<span></span> ').html(data.name))
            init_adj(adj);
            return adj;
        }
        function set_chair(debate_id, data) {
            var td = $('#chair_'+debate_id);
            $('div.adj', td).remove();
            _make_adj(data).appendTo(td);
        }

        function clear_panel(debate_id) {
            $('#panel_'+debate_id).find('div.adj').remove();
        }

        function add_panellist(debate_id, data) {
            var td = $('#panel_'+debate_id);
            _make_adj(data).appendTo(td);
        }

        function load_allocation_data(data) {
            $.each(data.debates, function(debate_id, adj_data) {
                if (adj_data.chair)
                    set_chair(debate_id, adj_data.chair);
                clear_panel(debate_id);
                $.each(adj_data.panel, function(idx, adj) {
                    add_panellist(debate_id, adj);
                });

            });
            $.each(data.unused, function(idx, adj_data) {
                var adj = _make_adj(adj_data);
                moveToUnused(adj);

            });
        }

        function reset() {
            $('.adj').remove();
            unusedTable.fnClearTable();
        }

        function load_allocation(callback) {
            $.getJSON("{% round_url draw_adjudicators_get %}", function(data){
                load_allocation_data(data);
                callback();
            });
        }//load_allocation()

        function update_all_conflicts() {
            $("#dataTable tbody tr").each( function() {
                updateConflicts(this);
            });
        }

        function load_conflict_data() {
            // load adjudicator conflict data
            $.getJSON("{% round_url adj_conflicts %}", function(data) {
                conflicts = data;

                 // insert blank entries for adjudicators who aren't there
                 // (no conflicts)
                 $(".adj").each( function() {
                     var id = intId(this);
                     if (conflicts['conflict'][id] == undefined) {
                         conflicts['conflict'][id] = [];
                     }
                     if (conflicts['history'][id] == undefined) {
                         conflicts['history'][id] = [];
                     }
                 } );

                 update_all_conflicts();

            } );
        } //load_conflict_data()

        function load_adjudicator_scores(callback) {
            $.getJSON("{% tournament_url adj_scores %}", function(data) {
                scores = data;

                if (callback) callback();
        
            } );
        }//load_adjudicator_scores()

        function append_adj_scores() {
            $(".adj").each( function() {
                $(this).append('<span class="info"><a href="">' + formatScore(scores[intId(this)]) + '(i)</a></span>');
                $("a", this).attr("title", "Score: " + scores[intId(this)]);
                $("a", this).click( function() {
                    return false;
                } );
            } );
        }

        function moveToUnused(adj) {
            // add data
            var id = intId(adj);
            var idxs = unusedTable.fnAddData([adj.html(), scores[id].toPrecision(2)]);
            var trNode = unusedTable.fnGetNodes(idxs[0]);
            var td = $("td:first", trNode);
            td.addClass("unused");
            // append node (to preserve events)
            td.children().remove();
            td.append(adj);
            $(adj).removeClass("conflict");
        }
        function eachConflictingTeam(adj_id, fn) {
            $.each(conflicts['conflict'][adj_id], function (i, n) {
                $("#team_" + n).each( function() { fn('conflict', this); } );
            } );
            $.each(conflicts['history'][adj_id], function (i, n) {
                $("#team_" + n).each( function() { fn('history', this); } );
            } );
        }

        function updateConflicts(debate_tr) {
            var c = 0;
            $(".adj", debate_tr).each( function() {
                var adj = this;
                var adj_id = intId(this);
                var a = 0;
                var h = 0;
                // select aff & neg team
                $("td:gt(0):lt(2)", debate_tr).each( function() {
                    if ($.inArray(
                            intId(this), 
                            conflicts['conflict'][adj_id]) != -1) {
                        $(debate_tr).addClass("conflict");
                        $(adj).addClass("conflict");
                        c++;
                        a++;
                    } else if ($.inArray(
                            intId(this), 
                            conflicts['history'][adj_id]) != -1) {
                        $(debate_tr).addClass("history-conflict");
                        $(adj).addClass("history-conflict");
                        c++;
                        h++;
                    } 
                } );
                if (a == 0) {
                    $(adj).removeClass("conflict");
                }
                if (h == 0) {
                    $(adj).removeClass("history-conflict");
                }

            } );

            if (c == 0) {
                $(debate_tr).removeClass("conflict");
            }

            // check for incomplete panels
            if ($(".panel-holder .adj", debate_tr).length % 2 != 0) {
                $(".panel-holder", debate_tr).addClass("incomplete");
            } else {
                $(".panel-holder", debate_tr).removeClass("incomplete");
            }

            // check for missing chairs
            if ($(".chair-holder .adj", debate_tr).length != 1) {
                $(".chair-holder", debate_tr).addClass("incomplete");
            } else {
                $(".chair-holder", debate_tr).removeClass("incomplete");
            }

        }

        function init_adj(el) {
            el.mouseover( function(e) {
                eachConflictingTeam(
                    intId(e.currentTarget),
                    function (type, elem) {
                        $(elem).addClass(conflictTypeClass[type]);
                    }
                );
            } );

            el.mouseout( function(e) {
                // check if currently being dragged
                if (! $(e.currentTarget).hasClass("dragging")) {
                    eachConflictingTeam(
                        intId(e.currentTarget),
                        function (type, elem) {
                            $(elem).removeClass(conflictTypeClass[type]);
                        }
                    );
                }
            } );

            el.draggable( {
                handle: 'div',
                cursor: 'move',
                helper: function() {
                    var offset = $(this).offset();
                    $(this).css('position', 'relative');
                    // set a property on element to remember previous holder
                    this.oldHolder = $(this).parent("td");
                    var adj = $(this).clone();
                    $(adj).appendTo('body');
                    $(adj).css('top', 0);
                    $(adj).css('left', 0);
                    var curOff = $(adj).offset();
                    $(adj).css('top', offset.top - curOff.top);
                    $(adj).css('left', offset.left - curOff.left);


                    return adj;
                },
                stack: {
                    group: '.adj',
                    min: 1000
                },
                revert: 'invalid',
                start: function(event, ui) {
                    $("#" + ui.helper.attr("id")).addClass("dragging");
                },
                stop: function(event, ui) {
                    $("#" + ui.helper.attr("id")).removeClass("dragging");
                    $(ui.helper).remove();
                }
            });
        }

        $("#dataTable tbody  .adj-holder").droppable( {
            hoverClass: 'hover',
            drop: function(event, ui) {
                var adj = ui.draggable;
                var oldHolder = adj[0].oldHolder;
                var replacing = $(".adj", this);
                var newHomeOff;
                var curOff = adj.offset();

                // if replacing an empty chair, or adding to a panel
                if (replacing.length == 0 || $(this).hasClass("panel-holder")) {
                    replacing = $(document.createElement("div"));
                    replacing.addClass("adj");
                    replacing[0].style.visibility = "hidden";
                    $(this).append(replacing);
                    newHomeOff = replacing.offset();
                    replacing.remove();
                } else {
                    // replacing an existing chair
                    newHomeOff = replacing.offset();

                    // perform a swap if adj came from a debate
                    if (oldHolder.hasClass("adj-holder")) {
                        oldHolder.append(replacing);
                    } else {
                        moveToUnused(replacing);
                    }
                }

                $(this).append(adj);

                adj.css('top', curOff.top - newHomeOff.top);
                adj.css('left', curOff.left - newHomeOff.left);
                adj.animate({'top': '0', 'left': '0'}, 300);
                updateConflicts(oldHolder.parent("tr"));
                updateConflicts($(this).parent("tr"));

                // if from scratch, delete row
                if ($(oldHolder).hasClass("unused")) {
                    var idx = unusedTable.fnGetPosition(oldHolder[0]);
                    unusedTable.fnDeleteRow(idx[0]);
                }
            }

        });

        $("#scratch").droppable( {
            hoverClass: 'hover',
            drop: function(event, ui) {
                var adj = ui.draggable;
                var oldHolder = adj[0].oldHolder;
                moveToUnused(adj);
                adj.animate({'top': '0', 'left': '0'}, 300);
                adj.removeClass("conflict");
                updateConflicts($(oldHolder).parent("tr"));
            }


        } );

        /* sorting function for adjs */
        $.fn.dataTableExt.afnSortData['adj'] = function ( oSettings, iColumn) {
            var aData = [];
            $('.adj-holder', oSettings.oApi._fnGetTrNodes(oSettings)).each( function () {
                var name = $('span', this).html();
                if (name == null) name = '';
                aData.push(name);
            });
            return aData;
        };

        /* filter function for adjs */
        $.fn.dataTableExt.ofnSearch['adj'] = function ( sData ) {
            var jo = $(sData);
            var f = $('span', jo).html();

            return f;
        };

        /////////////////////
        // HANDLERS
        ////////////////////

        $('#save').click( function() {
            $('#loading span').html('saving...');
            $('#loading').show();
            var data = {};
            $("#dataTable tbody tr").each( function() {
                var debateId = intId(this);
                $(".chair-holder .adj", this).each( function() {
                    data['chair_' + debateId] = intId(this);
                } );
                data['panel_' + debateId]  = [];
                $(".panel-holder .adj", this).each( function() {
                    data['panel_' + debateId].push(intId(this));
                } );
            } );

            $.ajax( {
                type: "POST",
                url: "{% round_url save_adjudicators %}",
                data: data,
                success: function(data, status) {
                    $('#loading').hide();
                },
                error: function(xhr, error, ex) {
                    alert("fail");
                }
            } );

            return false;

        } );

        $('#auto_allocate').click(function() {
            $('#loading span').html('allocating...');
            $('#loading').show();
            $.ajax({
                type: "POST",
                url: "{% round_url create_adj_allocation %}",
                success: function(data, status) {
                    reset();
                    load_allocation_data($.parseJSON(data));
                    update_all_conflicts();
                    append_adj_scores();
                    $('#loading').hide();
                },
                error: function(xhr, error, ex) {
                    alert("fail");
                }
            });

        });

        dataTable = $("#dataTable").dataTable( {
            "aoColumns": [
                { "sWidth": "5%" },
                { "sWidth": "15%" },
                { "sWidth": "15%" },
                { "sWidth": "25%" },
                { "sWidth": "40%" }
            ],
            "bPaginate": false,
            "bSort": false,
            "bFilter": false,
            "bAutoWidth": false,
            "aaSorting": [[0, 'desc']]
        } );


        unusedTable = $("#unusedTable").dataTable({
            aoColumns: [
                { "sWdith": "90%" },
                { "sWidth": "10%" }
            ],
            bPaginate: false,
            bFilter: false
        });

        $('#dataTable td.importance').editable('{% round_url update_debate_importance %}', {
            "callback": function(sValue, y) {
                var aPos = dataTable.fnGetPosition(this);
                dataTable.fnUpdate(sValue, aPos[0], aPos[1]);
            },
            submitdata: function(value, settings) {
                return {"debate_id": this.parentNode.getAttribute('id').replace('debate_','')};
            },
            type: 'select',
            onblur: 'submit',
            data: "{'1':'1', '2':'2', '3':'3', '4':'4', '5':'5'}"

        });

        //////////
        // INIT
        ////////

        load_adjudicator_scores(function() {
            load_allocation(function() {
                append_adj_scores(); //needs alloc
                load_conflict_data(); //needs alloc (fill in the blank conflict data)
                setTimeout(function() { $('#loading').hide() }, 1000);
            });
        });

    });
</script>
<style type="text/css">
    .adj { display: block; background-color: #ddd; white-space: nowrap; margin-right: 1em; cursor: move;}
    .adj:hover {background-color: #eee; }
    .panel-holder .adj { margin: 1px 0;}
    .adj.conflict { color: red; }
    .adj span { margin-left: 10px; }
    .adj span.info { margin: 0 5px;  }

    .adj.history-conflict { color: #f80; }

    #dataTable td.hover { background-color: #ff8; }
    #scratch {
        position: fixed;
        top: 0;
        right: 0;
        background-color: #cff;
        width: 300px;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
    #scratch.hover { background-color: #ff8; }
    .hover #unusedTable tbody td { background-color: #ffa; }
    #main {
        width: 74%;
    }
    #scratch .adj { white-space: none; }
    #scratch .adj .info { display: none; }

    #unusedTable { width: 100%; }

    .incomplete { border: 1px solid #f84; }
    #dataTable .conflict-with-active { color: red; }
    #dataTable .history-with-active { color: #f80; }

    #loading {vertical-align: middle; position: fixed; left: 0; top: 0; width:100%; height:100%; 
        background-image:url("/static/images/80.png"); z-index: 100000; text-align: center;}
    #loading div {position: absolute; margin-left: 48%; top: 50%; width: 100px; background: #fff; padding: 20px;}

</style>
{% endblock extra-head %}

{% block extra-style %}
    @import "/static/css/demo_table.css";
{% endblock %}


{% block body %}

<div id="loading">
    <div>
    <img src="/static/images/loading.gif">
    <span>loading...</span>
    </div>
</div>

<div id="statusBar">
    Edit adjudicators for Round {{ round }} |
    <a href="#auto" id="auto_allocate">Auto Allocate</a>
    <a href="" id="save">Save</a>
    <a href="{% round_url draw %}">Quit</a>
</div>

<div id="scratch">
    Unused Adjudicators
    <table id="unusedTable" class="display" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Score</th>
            
            </tr>
        </thead>
    <tbody>
    </tbody>
    </table>
</div>

<div id="main">
    <table id="dataTable" class="display" cellpadding="0" cellspacing="0">
        <thead>
            <tr><th>Brkt</th><th>Impt</th><th>Affirmative</th><th>Negative</th><th>Chair</th><th>Panel</th></tr>
        </thead>
        <tbody>
        {% for debate in draw %}
        <tr id="debate_{{ debate.id }}" class="active">
            <td>{{ debate.bracket }}</td>
            <td class="importance">{{ debate.importance }}</td>
            <td id="team_{{ debate.aff_team.id }}">{{ debate.aff_team.name }}</td>
            <td id="team_{{ debate.neg_team.id }}">{{ debate.neg_team.name }}</td>
            {% with debate.adjudicators as adj %}
            <td id="chair_{{ debate.id }}" class="adj-holder chair-holder">
            </td>
            <td id="panel_{{ debate.id }}" class="adj-holder panel-holder">
            </td>

            {% endwith %}
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock body %}


