{% extends "draw_base.html" %}

{% block extra-head %}
    <script type="text/javascript" charset="utf-8">

        $(document).ready( function() {
            $("#createDraw").click( function() {
                $.post("{% url create_draw round.id %}");

                return false;
            } );

            $("#dataTable").dataTable();

        } );

    </script>
{% endblock extra-head %}

{% block extra-style %}
    @import "/static/css/demo_table.css";
{% endblock %}

{% block content %}

<p>
Here's the draw:
</p>

<table id="dataTable" class="display">
    <thead>
        <tr><th>Bracket</th><th>Affirmative</th><th>Negative</th><th>Conflict</th></tr>
    </thead>
    <tbody>
    {% for debate in draw %}
    <tr class="{{ debate.draw_conflicts|yesno:'conflict,' }}">
        <td>{{ debate.bracket }}</td>
        <td>{{ debate.aff_team }}</td>
        <td>{{ debate.neg_team }}</td>
        <td>{{ debate.draw_conflicts }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}


