{% extends "base.html" %}

{% block extra-head %}
    <script type="text/javascript" charset="utf-8">

        $(document).ready( function() {
            $("#confirmDraw").click( function() {
                $("#confirmForm").submit();

                return false;
            } );

            $("#dataTable").dataTable( {
                "bPaginate": false
            } );

        } );

    </script>
{% endblock extra-head %}

{% block extra-style %}
    @import "/static/css/demo_table.css";
{% endblock %}

{% block h1 %} Draw for Round {{ round }} (DRAFT){% endblock %}

{% block content %}

<p>
Here's the draw. <a id="confirmDraw" href="">Click to confirm</a>.
</p>

<form id="confirmForm" method="POST" action="{% url confirm_draw round.id %}"></form>

<table id="dataTable" class="display" cellpadding="0" cellspacing="0">
    <thead>
        <tr><th>Bracket</th><th>Affirmative</th><th>Negative</th><th>Conflict</th></tr>
    </thead>
    <tbody>
    {% for debate in draw %}
    <tr class="{{ debate.draw_conflicts|yesno:'conflict,' }}">
        <td>{{ debate.bracket }}</td>
        <td>{{ debate.aff_team }}</td>
        <td>{{ debate.neg_team }}</td>
        <td>{{ debate.draw_conflicts }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}


