{% extends "base.html" %}

{% block extra-head %}
<script type="text/javascript" language="javascript" src="/static/js/jquery-ui.js"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready( function() {
        var conflicts;
        var scores;
        var conflictTypeClass = {
            'conflict': 'conflict-with-active',
            'history': 'history-with-active',
        }

        function intId(e) {
            return parseInt($(e).attr('id').split('_')[1]);
        }

        function formatScore(n) {
            return n.toPrecision(2);
        }

        // load adjudicator conflict data
        $.getJSON("{% url adj_conflicts round.id %}", function(data) {
            conflicts = data;

             // insert blank entries for adjudicators who aren't there
             // (no conflicts)
             $(".adj").each( function() {
                 var id = intId(this);
                 if (conflicts['conflict'][id] == undefined) {
                     conflicts['conflict'][id] = [];
                 }
                 if (conflicts['history'][id] == undefined) {
                     conflicts['history'][id] = [];
                 }
             } );

            // update all
            $("#dataTable tbody tr").each( function() {
                updateConflicts(this);
            });

        } );

        // load adjudicator scores
        $.getJSON("{% url adj_scores %}", function(data) {
            scores = data;
            $(".adj").each( function() {
                $(this).append('<span class="info"><a href="">' + formatScore(scores[intId(this)]) + '(i)</a></span>');
                $("a", this).attr("title", "Score: " + scores[intId(this)]);
                $("a", this).click( function() {

                    return false;

                } );
            } );

       } );

        var unusedTable = $("#unusedTable").dataTable({
            bPaginate: false,
            bFilter: false

        });

        function moveToUnused(adj) {
            // add data
            var id = intId(adj);
            var idxs = unusedTable.fnAddData([adj.html(), scores[id]]);
            var trNode = unusedTable.fnGetNodes(idxs[0]);
            var td = $("td:first", trNode);
            td.addClass("unused");
            // append node (to preserve events)
            td.children().remove();
            td.append(adj);
            $(adj).removeClass("conflict");
        }
        function eachConflictingTeam(adj_id, fn) {
            $.each(conflicts['conflict'][adj_id], function (i, n) {
                $("#team_" + n).each( function() { fn('conflict', this); } );
            } );
            $.each(conflicts['history'][adj_id], function (i, n) {
                $("#team_" + n).each( function() { fn('history', this); } );
            } );
        }

        function updateConflicts(debate_tr) {
            var c = 0;
            $(".adj", debate_tr).each( function() {
                var adj = this;
                var adj_id = intId(this);
                var a = 0;
                var h = 0;
                // select aff & neg team
                $("td:gt(0):lt(2)", debate_tr).each( function() {
                    if ($.inArray(
                            intId(this), 
                            conflicts['conflict'][adj_id]) != -1) {
                        $(debate_tr).addClass("conflict");
                        $(adj).addClass("conflict");
                        c++;
                        a++;
                    } else if ($.inArray(
                            intId(this), 
                            conflicts['history'][adj_id]) != -1) {
                        $(debate_tr).addClass("history-conflict");
                        $(adj).addClass("history-conflict");
                        c++;
                        h++;
                    } 
                } );
                if (a == 0) {
                    $(adj).removeClass("conflict");
                }
                if (h == 0) {
                    $(adj).removeClass("history-conflict");
                }

            } );

            if (c == 0) {
                $(debate_tr).removeClass("conflict");
            }

            // check for incomplete panels
            if ($(".panel-holder .adj", debate_tr).length % 2 != 0) {
                $(".panel-holder", debate_tr).addClass("incomplete");
            } else {
                $(".panel-holder", debate_tr).removeClass("incomplete");
            }

            // check for missing chairs
            if ($(".chair-holder .adj", debate_tr).length != 1) {
                $(".chair-holder", debate_tr).addClass("incomplete");
            } else {
                $(".chair-holder", debate_tr).removeClass("incomplete");
            }

        }

        $(".adj").draggable( {
            handle: 'div',
            cursor: 'move',
            helper: function() {
                var offset = $(this).offset();
                $(this).css('position', 'relative');
                // set a property on element to remember previous holder
                this.oldHolder = $(this).parent("td");
                var adj = $(this).clone();
                $(adj).appendTo('body');
                $(adj).css('top', 0);
                $(adj).css('left', 0);
                var curOff = $(adj).offset();
                $(adj).css('top', offset.top - curOff.top);
                $(adj).css('left', offset.left - curOff.left);


                return adj;
            },
            stack: {
                group: '.adj',
                min: 1000
            },
            revert: 'invalid',
            start: function (event, ui) {
                eachConflictingTeam(
                    intId(ui.helper),
                    function (type, elem) {
                        $(elem).addClass(conflictTypeClass[type]);
                    }
                );
                var foo=0;
            },
            stop: function(event, ui) {
                eachConflictingTeam(
                    intId(ui.helper),
                    function (type, elem) {
                        $(elem).removeClass(conflictTypeClass[type]);
                    }
                );
                $(ui.helper).remove();
            }
        });
        $("#dataTable tbody  .adj-holder").droppable( {
            hoverClass: 'hover',
            drop: function(event, ui) {
                var adj = ui.draggable;
                var oldHolder = adj[0].oldHolder;
                var replacing = $(".adj", this);
                var newHomeOff;
                var curOff = adj.offset();

                // if replacing an empty chair, or adding to a panel
                if (replacing.length == 0 || $(this).hasClass("panel-holder")) {
                    replacing = $(document.createElement("div"));
                    replacing.addClass("adj");
                    replacing[0].style.visibility = "hidden";
                    $(this).append(replacing);
                    newHomeOff = replacing.offset();
                    replacing.remove();
                } else {
                    // replacing an existing chair
                    newHomeOff = replacing.offset();

                    // perform a swap if adj came from a debate
                    if (oldHolder.hasClass("adj-holder")) {
                        oldHolder.append(replacing);
                    } else {
                        moveToUnused(replacing);
                    }
                }

                $(this).append(adj);

                adj.css('top', curOff.top - newHomeOff.top);
                adj.css('left', curOff.left - newHomeOff.left);
                adj.animate({'top': '0', 'left': '0'}, 300);
                updateConflicts(oldHolder.parent("tr"));
                updateConflicts($(this).parent("tr"));

                // if from scratch, delete row
                if ($(oldHolder).hasClass("unused")) {
                    var idx = unusedTable.fnGetPosition(oldHolder[0]);
                    unusedTable.fnDeleteRow(idx[0]);
                }
            }

        });

        $("#scratch").droppable( {
            hoverClass: 'hover',
            drop: function(event, ui) {
                var adj = ui.draggable;
                var oldHolder = adj[0].oldHolder;
                moveToUnused(adj);
                adj.animate({'top': '0', 'left': '0'}, 300);
                adj.removeClass("conflict");
                updateConflicts($(oldHolder).parent("tr"));
            }


        } );

        /* sorting function for adjs */
        $.fn.dataTableExt.afnSortData['adj'] = function ( oSettings, iColumn) {
            var aData = [];
            $('.adj-holder', oSettings.oApi._fnGetTrNodes(oSettings)).each( function () {
                var name = $('span', this).html();
                if (name == null) name = '';
                aData.push(name);
            });
            return aData;
        };

        /* filter function for adjs */
        $.fn.dataTableExt.ofnSearch['adj'] = function ( sData ) {
            var jo = $(sData);
            var f = $('span', jo).html();

            return f;
        };

        $('#save').click( function() {
            var data = {};
            $("#dataTable tbody tr").each( function() {
                var debateId = intId(this);
                $(".chair-holder .adj", this).each( function() {
                    data['chair_' + debateId] = intId(this);
                } );
                data['panel_' + debateId]  = [];
                $(".panel-holder .adj", this).each( function() {
                    data['panel_' + debateId].push(intId(this));
                } );
            } );

            $.ajax( {
                type: "POST",
                url: "{% url save_adjudicators round.id %}",
                data: data,
                success: function(data, status) {
                    alert("win");
                },
                error: function(xhr, error, ex) {
                    alert("fail");
                }
            } );

            return false;

        } );

        $("#dataTable").dataTable( {
            "aoColumns": [
                null,
                null,
                null,
                null,
                { "sWidth": "30%" },
                null
            ],
            "bPaginate": false,
            "aaSorting": [[0, 'desc']]
        } );
    });
</script>
<style type="text/css">
    .adj { background-color: #ccc; white-space: nowrap; margin-right: 1em; }
    .adj.conflict { color: red; font-weight: bold; }
    .adj span { margin-left: 10px; }
    .adj span.info { margin-left: 0; margin-right: 5px; }

    .adj.history-conflict { color: #f80; font-weight: bold; }

    #dataTable td.hover { background-color: #ff8; }
    #scratch {
        position: fixed;
        top: 0;
        right: 0;
        background-color: #cff;
        width: 25%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
    #scratch.hover { background-color: #ff8; }
    .hover #unusedTable tbody td { background-color: #ffa; }
    #main {
        width: 74%;
    }
    .adj { display: inline; }
    #scratch .adj { white-space: none; }
    

    .incomplete { border: 1px solid #f84; }
    #dataTable .conflict-with-active { color: red; font-weight: bold; }
    #dataTable .history-with-active { color: #f80; font-weight: bold; }

</style>
{% endblock extra-head %}

{% block extra-style %}
    @import "/static/css/demo_table.css";
{% endblock %}


{% block body %}

<div id="statusBar">
    Edit adjudicators for Round {{ round }} |
    <a href="" id="save">Save</a>
    Discard Undo Redo 
    <a href="{% url draw round.id %}">Quit</a>
</div>

<div id="scratch">
    Unused Adjudicators
    <table id="unusedTable" class="display" cellpadding="0" cellspacing="0">
        <thead>
            <tr><th>Name</th><th>Score</th></tr>
        </thead>
        <tbody>
    {% for adj in round.unused_adjudicators %}
    <tr>
        <td class="unused">
            <div id="adj_{{ adj.id }}" class="adj">
                <span>{{ adj.name }}</span>
            </div>
        </td>
        <td>{{ adj.score }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
</div>

<div id="main">
    <table id="dataTable" class="display" cellpadding="0" cellspacing="0">
        <thead>
            <tr><th>Brkt</th><th>Affirmative</th><th>Negative</th><th>Chair</th><th>Panel</th><th>Conflicts</th></tr>
        </thead>
        <tbody>
        {% for debate in draw %}
        <tr id="debate_{{ debate.id }}" class="active">
            <td>{{ debate.bracket }}</td>
            <td id="team_{{ debate.aff_team.id }}">{{ debate.aff_team.name }}</td>
            <td id="team_{{ debate.neg_team.id }}">{{ debate.neg_team.name }}</td>
            {% with debate.adjudicators as adj %}
            <td id="chair_{{ debate.id }}" class="adj-holder chair-holder">
                {% if adj.chair %}
                <div id="adj_{{ adj.chair.id }}" class="adj">
                    <span>{{ adj.chair.name }}</span>
                </div>
                {% endif %}
            </td>
            <td id="panel_{{ debate.id }}" class="adj-holder panel-holder">
                {% for p in adj.panel %}
                <div id="adj_{{ p.id }}" class="adj">
                    <span>{{ p.name }}</span>
                </div>
                {% endfor %}
            </td>

            {% endwith %}
            <td>
               {{ debate.adjudicator_conflicts|yesno:"C," }}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock body %}


