{% extends "draw_base.html" %}

{% block extra-head %}
    <script type="text/javascript" charset="utf-8">

        $(document).ready( function() {
            $("#createDraw").click( function() {
                $.post("{% url create_draw round.id %}");

                return false;
            } );

        } );

    </script>
{% endblock extra-head %}

{% block content %}

<p>
Here's the draw:
</p>

<ul>
    {% for debate in draw %}
    <li>{{ debate.aff_team }} v {{ debate.neg_team }}</li>
    {% endfor %}
</ul>

{% endblock content %}


