{% extends "base.html" %}

{% block extra-head %}

<style>
    #id_score {
        width: 4em;
    }

    #feedbackForm label {
        display: block;
    }
</style>
{% endblock %}

{% block h1 %}Enter Feedback for {{ adj }} {% endblock %}

{% block content %}
<form id="feedbackForm" action="" method="POST">
    {{ form.as_p }}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" value="Save" class="btn btn-default ">Save</button>
        </div>
    </div>
</form>

{% endblock content %}

