{% extends "draw_rbase.html" %}

{% load debate_tags %}

{% block extra-head %}
    <script type="text/javascript" charset="utf-8">

        $(document).ready( function() {
            var table = $("#dataTable").dataTable( {
                "bPaginate": false,
                "aaSorting": [[2, 'desc']]
            });
            new $.fn.dataTable.FixedHeader( table );

        } );

    </script>
{% endblock extra-head %}

{% block body-class %}display-motions{% endblock %}

{% block head-title %}Motions for Round {{ round }}{% endblock %}
{% block page-title %}Motions for Round {{ round }}{% endblock %}

{% block header %}
<a href="{% round_url motions_edit %}" class="btn btn-default col-sm-offset-1">
    Edit motions
</a>
{% endblock %}

{% block content %}


<table id="dataTable" class="table table-hover table-bordered table-striped" cellpadding="0" cellspacing="0">
    <thead>
        <tr><th>Reference</th><th>Motion</th><th>Chosen in</th><th>Affs won</th><th>Negs won</th></tr>
    </thead>
    <tbody>
    {% for motion in motions %}
    <tr>
        <td>{{ motion.reference }}</td>
        <td>{{ motion.text }}</td>
        <td>{{ motion.chosen_in }}</td>
        <td>{{ motion.aff_wins }}</td>
        <td>{{ motion.neg_wins }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}