{% extends "draw_rbase.html" %}

{% load debate_tags %}

{% block extra-head %}
    <script type="text/javascript" charset="utf-8">

        $(document).ready( function() {
            $("#dataTable").dataTable( {
                "bPaginate": false,
                "aaSorting": [[0, 'desc']]
            } );

        } );

    </script>
{% endblock extra-head %}

{% block extra-style %}
    @import "/static/css/demo_table.css";
{% endblock %}

{% block h1 %} Motions for Round {{ round }}{% endblock %}

{% block content %}
<a href="{% round_url motions_edit %}">Edit motions</a>.

<table id="dataTable" class="table table-hover table-bordered table-striped" cellpadding="0" cellspacing="0">
    <thead>
        <tr><th>Reference</th><th>Motion</th><th>Chosen in</th><th>Affs won</th><th>Negs won</th></tr>
    </thead>
    <tbody>
    {% for motion in motions %}
    <tr>
        <td>{{ motion.reference }}</td>
        <td>{{ motion.text }}</td>
        <td>{{ motion.chosen_in }}</td>
        <td>{{ motion.aff_wins }}</td>
        <td>{{ motion.neg_wins }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}