{% extends "draw_rbase.html" %}

{% load debate_tags %}

{% block extra-head %}
    <script type="text/javascript" charset="utf-8">

        $(document).ready( function() {

        } );

    </script>
{% endblock extra-head %}

{% block extra-style %}
    @import "/static/css/demo_table.css";
{% endblock %}

{% block h1 %} Edit Motions for Round {{ round }}{% endblock %}

{% block content %}
<table class="display" cellpadding="0" cellspacing="0">
    <thead>
        <tr><th>Reference</th><th>Motion</th></tr>
    </thead>
    <tbody>
    {% for motion in motions %}
    <tr>
        <td>{{ motion.reference }}</td>
        <td>{{ motion.text }}</td>
    </tr>
    {% endfor %}
</table>

<a href="{% round_url motions %}">Cancel</a>


{% endblock content %}