{% load debate_tags %}

<ul id="nav">
    <li id="home"><a href="{{ tournament.get_absolute_url }}">Home</a></li>
    <li id="draw"><a href="{% round_url draw current_round %}">Draw</a></li>
    <li id="results"><a href="{% round_url results current_round %}">Results</a></li>
    <li id="current_standings"><a href="{% round_url team_standings current_round %}">Team Standings</a></li>
    <li id="feedback"><a href="{% tournament_url adj_feedback %}">Feedback</a></li>
    <li>|</li>
    <li id="rounds"> 
        <a href="#rounds">All Rounds</a>
        <ul>
            {% for r in tournament.rounds.all %}
            <li id="round-{{ r.seq }}" class="{% if r == round %}selected{% endif %}">
                <a href="{% round_url round_index r %}">{{ r.name }}</a>
                <ul>
                    <li>Round {{ r }}:</li>
                    <li><a href="{% round_url venue_availability r %}">Venues</a></li>
                    <li><a href="{% round_url adjudicator_availability r %}">Adjudicators</a></li>
                    <li><a href="{% round_url team_availability r %}">Teams</a></li>
                    <li><a href="{% round_url draw r %}">Draw</a></li>
                    <li><a href="{% round_url results r %}">Results</a></li>
                    <li><a href="{% round_url team_standings r %}">Team Standings</a></li>
                </ul>


            </li>
            {% endfor %}
        </ul>
    
    </li>
    <li id="config"><a href="{% tournament_url tournament_config %}">Config</a></li>
    <li id="admin"><a href="/admin/">Admin</a></li>
    <li id="logout"><a href="/accounts/logout/">Log out</a></li>
</ul>

