{% load debate_tags %}

<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="nav-home" href="{{ tournament.get_absolute_url  }}">{{ tournament }}</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul id="nav" class="nav navbar-nav navbar-left">
                <li><a href="{% round_url draw current_round %}">Draw</a></li>
                <li><a href="{% round_url results current_round %}">Results</a></li>
                <li><a href="{% round_url team_standings current_round %}">Teams</a></li>
                <li><a href="{% round_url speaker_standings current_round %}">Speakers</a></li>
                <li><a href="{% tournament_url adj_feedback %}">Feedback</a></li>
                {% for r in tournament.rounds.all %}
                <li id="round-{{ r.seq }}" class="{% if r == round %}selected{% endif %} dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ r }}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% round_url venue_availability r %}">Venues</a></li>
                        <li><a href="{% round_url adjudicator_availability r %}">Adjudicators</a></li>
                        <li><a href="{% round_url team_availability r %}">Teams</a></li>
                        <li><a href="{% round_url people_availability r %}">Participant checkins</a></li>
                        <li class="divider"></li>
                        <li><a href="{% round_url draw r %}">Draw</a></li>
                        <li><a href="{% round_url motions r %}">Motions</a></li>
                        <li><a href="{% round_url ballot_checkin r %}">Ballot checkin</a></li>
                        <li class="divider"></li>
                        <li><a href="{% round_url results r %}">Results</a></li>
                        <li><a href="{% round_url team_standings r %}">Team standings</a></li>
                        <li><a href="{% round_url speaker_standings r %}">Speaker standings</a></li>
                        <li><a href="{% round_url reply_standings r %}">Reply standings</a></li>
                    </ul>
                </li>
                {% endfor %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% tournament_url tournament_config %}">Config</a></li>
                <li><a href="/admin/">Admin</a></li>
                <li><a href="/accounts/logout/" title="Log out of {{ user }}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>