{% extends "base.html" %}

{% block extra-head %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#dataTable').dataTable();
        } );

        $(document).ready(function() {
            $("#dataTable tbody tr :checkbox").click(function() {
                var jp = $(this).parents("tr");
                if (this.checked) {
                    jp.addClass("active");
                    jp.removeClass("inactive");
                } else {
                    jp.addClass("inactive");
                    jp.removeClass("active");
                }
            });

            $("#dataTable tbody tr").click(function(event) {
                if (event.target.type !== "checkbox") {
                    var jc = $(":checkbox", this);
                    jc[0].checked = !jc[0].checked;
                    jc.triggerHandler("click");
                }
            });

        } );
    </script>
    <style type="text/css" title="currentStyle">
        @import "/static/css/demo_page.css";
        @import "/static/css/demo_table.css";
    </style>
{% endblock %}

{% block h1 %}Venue Availability for Round {{ round }}{% endblock %}

{% block content %}
<div id="demo">
<table id="dataTable" class="display">
    <thead><tr><th>Venue</th><th>Active</th></tr></thead>
    <tbody>
        {% for venue in venues %}
        <tr class="{{ venue.is_active|yesno:'active,inactive' }}">
            <td>{{ venue.name }}</td>
            <td><input type="checkbox" {{ venue.is_active|yesno:'checked="yes",'  }} name="foo" /></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock content %}


