{% load debate_tags %}

<table style="padding: 3px;" id="draw" class="display" cellpadding="0" cellspacing="0">
    <thead style="font-weight:bold; text-align: left;">
        <tr><th>Venue</th><th>Affirmative</th><th>Negative</th><th>Adjudicators</th></tr>
    </thead>
    <tbody>
        {% for debate in draw %}
        <tr style="background-color: {% cycle '#eef' '#fff' %};">
            <td>{{ debate.venue.name }}</td>
            <td>{{ debate.aff_team.name }}</td>
            <td>{{ debate.neg_team.name }}</td>
            <td>{{ debate.adjudicators_display }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

