{% extends "base.html" %}
{% load debate_tags i18n %}

{% block page-title %}{% blocktrans %}Presets Applied: {{ preset_title }}{% endblocktrans %}{% endblock %}
{% block head-title %}<span class="emoji">✅</span> {% blocktrans %}Presets Applied: {{ preset_title }}{% endblocktrans %}{% endblock %}

{% block page-subnav-sections %}
  <a class="btn btn-primary "
     href="{% tournamenturl 'options-tournament-index' %}">
    <i data-feather="chevron-left"></i> {% trans "Back to Configuration" %}
  </a>
{% endblock %}

{% block content %}

  {% trans "Preferences that were changed" as title %}
  {% include "preferences_state.html" with preferences=changed_preferences %}

{% endblock content %}
