{% extends "base.html" %}
{% load debate_tags %}

{% load add_field_css %}

{% block page-title %}🔧 Edit Configuration{% endblock %}
{% block head-title %}<span class="emoji">🔧</span>Edit Configuration{% endblock %}

{% block page-subnav-sections %}

  <a class="btn btn-outline-primary"
     href="{% tournamenturl 'options-tournament-index' %}">
    <i data-feather="chevron-left"></i> Back to Configuration
  </a>

  {% if form.errors %}
    {% include "components/form-errors.html" with errors=form.errors %}
  {% endif %}
{% endblock %}

{% block content %}

  <div class="card">

    <form action="" enctype="multipart/form-data" method="post" class="card-body">

      <div class="row">

        {% csrf_token %}
        {% for field in form %}
          {% include "components/form-field.html" %}
        {% endfor %}

      </div>
      <hr>

      <button type="submit" class="btn btn-success btn-block">
        Save Configuration
      </button>
    </form>

  </div>

{% endblock content %}
