{% extends "base.html" %}
{% load debate_tags %}

{% block head-title %}❔ Confirm {{ preset_title }} Presets{% endblock %}
{% block page-title %}❔ Confirm {{ preset_title }} Presets{% endblock %}

{% block page-subnav-sections %}
  <a class="btn btn-default submit-disable"
     href="{% tournamenturl 'options-tournament-index' %}">
    <span class="glyphicon glyphicon-chevron-left"></span> Back to Configuration
  </a>
{% endblock %}

{% block content %}

  {% include "preferences_changed.html" with preferences=changed_preferences title="Preferences that will change" %}

  <ul class="list-group">
    <li class="list-group-item">
      <span class="badge">{{ unchanged_preferences.length }}</span>
      <h4>Preferences that will not change</h4>
    </li>
    {% for preference in unchanged_preferences %}
      <li class="list-group-item">
        <span class="badge">{{ preference.new_value }}</span>
        <span data-toggle="tooltip" title="{{ preference.help_text }}">
          {{ preference.name }}
        </span>
      </li>
    {% endfor %}
  </ul>

  <button id="applyPresets" class="btn btn-success btn-block submit-disable"
          data-loading-text="Saving...">
    Apply {{ preset_title }} Presets
  </button>

  <form id="applyPresetsForm" method="POST">
    {% csrf_token %}
  </form>

{% endblock content %}

{% block js %}
  {{ block.super }}
  <script>
    $(document).ready( function() {
      $("#applyPresets").click( function() {
        $("#applyPresetsForm").submit();
        return false;
      } );
    } );
  </script>
{% endblock js %}
