{% extends "base.html" %}
{% load debate_tags %}

{% load add_field_css %}

{% block page-title %}🔧 Edit Configuration{% endblock %}
{% block head-title %}<span class="emoji">🔧</span>Edit Configuration{% endblock %}

{% block page-subnav-sections %}

  <a class="btn btn-outline-primary"
     href="{% tournamenturl 'options-tournament-index' %}">
    <i data-feather="chevron-left"></i> Back to Configuration
  </a>

  {% if form.errors %}
    <div class="alert alert-danger">
      Please correct the errors below.
      {{ form.non_field_errors }}
    </div>
  {% endif %}
{% endblock %}

{% block content %}

  <div class="card">

    <form action="" enctype="multipart/form-data" method="post" class="card-body">

      <div class="row">

        {% csrf_token %}
        {% for field in form %}
          <div class="form-group mt-3 col-lg-6">
            <label for="{{ field.id_for_label }}">
              {{ field.label }} {{ field.section.name }}
            </label>
            {{field|addcss:"form-control"}}
            <small class="form-text text-muted">{{ field.help_text }}</span></small>
            {{ field.errors }}
          </div>
        {% endfor %}

      </div>
      <hr>

      <button type="submit" class="btn btn-success btn-block">
        Save Configuration
      </button>
    </form>

  </div>

{% endblock content %}
