{% extends "base.html" %}
{% load add_field_css i18n %}

{% block nav %}{% endblock %}

{% block head-title %}{% endblock %}
{% block page-title %}Welcome to Tabbycat{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="card">

      <div class="panel-heading">
        <h3>
          <span class="emoji">👋</span>
          {% blocktrans trimmed %}
            Welcome to Tabbycat!
          {% endblocktrans %}
        </h3>
      </div>

      <div class="card-body">

        </h4>
        <p>
          {% blocktrans trimmed %}
            To get started, you'll need to create the first user account. This account
            is a "superuser" account: it will be able to edit anything on the site.
            Therefore, you should use a strong password.
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans trimmed %}
            You can only create this account once, but if you like, you can change the
            username and password after it's created, or add new superusers afterwards.
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans trimmed %}
            The e-mail address is used for password resets. You don't have to
            provide one, but if you don't, you won't be able to reset your password
            if you forget it.
          {% endblocktrans %}
        </p>

        <hr>

        <form action="." method="POST">
          {% csrf_token %}

          {% if form.errors %}
            <div class="alert alert-danger">
              {% blocktrans trimmed %}
              Whoops! There was an error with one or more fields.
              {% endblocktrans %}
              {{ form.non_field_errors }}
            </div>
          {% endif %}

          {% for field in form %}
            <div class="form-group">
              <label for="{{ field.id_for_label }}" class="">{{ field.label }}</label>
              {{ field|addcss:"form-control" }}
              {% if field.errors %}
                {{ field.errors }}
              {% endif %}
            </div>
          {% endfor %}

          <hr>

          <button type="submit" class="btn btn-block btn-success form-control">
            {% trans "Create Account" %}
            <i data-feather="chevron-right"></i>
          </button>

        </form>
      </div>
    </div>

  </div>
</div>

{% endblock %}
