{% extends "base.html" %}
{% load add_field_css i18n %}

{% block head-title %}<span class="emoji">🏆</span>
  {% blocktrans trimmed with tournament=tournament.short_name %}
    Configure Tournament {{ tournament }}
  {% endblocktrans %}
{% endblock %}
{% block page-title %}{% trans "Tabbycat" %}{% endblock %}
{% block body-class %}override-sidebar-offset{% endblock %}

{% block nav %}{% endblock %}

{% block content %}

  <div class="card mt-3 mb-3">
    <div class="list-group list-group-flush">
      <form action="." method="POST">
        {% csrf_token %}


        {% include "components/form-main.html" %}

        {% trans "Configure Tournament" as title %}
        {% include "components/form-submit.html" %}

      </form>
    </div>
  </div>

{% endblock %}
