{% extends "base.html" %}
{% load add_field_css i18n %}

{% block head-title %}<span class="emoji">🏆</span>{% trans "Configure Tournament "%}{% endblock %}
{% block page-title %}Tabbycat{% endblock %}
{% block body-class %}override-sidebar-offset{% endblock %}

{% block nav %}{% endblock %}

{% block content %}

  <div class="card border-primary">
    <div class="card-body text-primary">
      To finish creating <em>{{ tournament.short_name }}</em> ready you should select
      the basic configuration options. Note that these can always be changed
      later (and with more precise control) if needed.
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <form action="." method="POST" class="">

        {% csrf_token %}

        {% if form.errors %}
          <div class="alert alert-danger">
            {% trans "Whoops! There was an error with one or more fields." %}
            {{ form.non_field_errors }}
          </div>
        {% endif %}

          {% for field in form %}
            <div class="form-group">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {{ field|addcss:"form-control" }}
              <small class="form-text text-muted">{{ field.help_text }}</small>
              <small class="form-text text-danger">{{ field.errors }}</small>
            </div>
          {% endfor %}

        <button type="submit" class="btn mt-3 btn-block btn-success form-control">
          {% trans "Configure Tournament" %}
        </button>

      </form>
    </div>
  </div>

{% endblock %}
