{% extends "base.html" %}
{% load add_field_css i18n %}

{% block head-title %}<span class="emoji">🏆</span>{% trans "Configure Tournament "%}{% endblock %}
{% block page-title %}Tabbycat{% endblock %}
{% block body-class %}override-sidebar-offset{% endblock %}

{% block nav %}{% endblock %}

{% block content %}

  <div class="card mt-3">
    <div class="list-group list-group-flush">
    <form action="." method="POST" class="">

      <div class="list-group-item text-info">
        To finish creating <em>{{ tournament.short_name }}</em> ready you should select
        the basic configuration options. Note that these can always be changed
        later (and with more precise control) if needed.
      </div>

      <div class="list-group-item">

        {% csrf_token %}

        {% if form.errors %}
          {% include "components/form-errors.html" with errors=form.errors %}
        {% endif %}

        {% for field in form %}
          {% include "components/form-field.html" %}
        {% endfor %}

      </div>

      <div class="list-group-item  pt-4 pb-4">
        <button type="submit" class="btn btn-block btn-success">
          {% trans "Configure Tournament" %}
        </button>
      </div>

    </form>
    </div>
  </div>

{% endblock %}
