{% extends "base.html" %}
{% load add_field_css i18n %}

{% block head-title %}<span class="emoji">🏆</span>{% trans "Create New Tournament "%}{% endblock %}
{% block page-title %}Tabbycat{% endblock %}

{% block nav %}{% endblock %}

{% block content %}

  <div class="card border-warning text-warning">
    <div class="card-body">
      {% url 'donations' as donations_url %}
      {% blocktrans trimmed %}
        Tabbycat is free to use for non-profit and non-fundraising tournaments
        (although donations are encouraged). If your tournament is run for profit
        or for fundraising, please note that there is a
        <a href="{{ donations_url }}">required payment</a>. For more details, see the <a href="http://tabbycat.readthedocs.io/en/stable/about/licence.html">
        Tabbycat licence agreement</a>.
      {% endblocktrans %}
    </div>
  </div>

  <div class="card border-info text-info mt-3">
    <div class="card-body">

      <strong>{% trans "Just trying out Tabbycat?" %}</strong>
      {% blocktrans trimmed %}
        If you are just learning or playing around with Tabbycat it's easiest
        to create a 'demo' tournament that is prepopulated with a fake (but typical)
        set of teams, adjudicators, venues, and the like.
        This demo tournament can then be easily deleted later on.
      {% endblocktrans %}

      <div class="row mt-3">
        <div class="col col-md-6">
          <form action="{% url 'load-demo' %}" method="POST">
            <input type="hidden" name="source" value="demo_simple">
            <button type="submit" class="btn btn-info btn-block">
              {% trans "Load Demo (10-team tournament)" %}
            </button>
          </form>
          {% if preexisting_small_demo %}
            <div class="alert alert-warning mt-3 mb-0 small">
              {% blocktrans trimmed %}
                You already have a tournament set up using this data set. Reloading
                the data will delete <strong>all data</strong> from that tourament.
              {% endblocktrans %}
            </div>
          {% endif %}
        </div>
        <div class="col col-md-6 mt-md-0 mt-3">
          <form action="{% url 'load-demo' %}" method="POST">
            <input type="hidden" name="source" value="demo">
            <button type="submit" class="btn btn-info btn-block">
              {% trans "Load Demo (24-team tournament)" %}
            </button>
          </form>
          {% if preexisting_large_demo %}
            <div class="alert alert-warning mt-3 mb-0 small">
              <i data-feather="alert-circle"></i>
              {% blocktrans trimmed %}
                You already have a tournament set up using this data set. Reloading
                the data will delete <strong>all data</strong> from that tourament.
              {% endblocktrans %}
            </div>
          {% endif %}
        </div>
      </div>

    </div>
  </div>

  <div class="card mt-3">
    <div class="list-group list-group-flush">
    <form action="." method="POST">
      {% csrf_token %}

      {% include "components/form-main.html" %}

      {% trans "Create Tournament" as title %}
      {% trans "Cancel and go back to the site home page" as subtitle %}
      {% url 'tabbycat-index' as suburl %}
      {% include "components/form-submit.html" %}

    </form>
    </div>
  </div>

{% endblock %}
