{% extends "base.html" %}
{% load add_field_css i18n %}

{% block head-title %}<span class="emoji">😻</span>{% trans "Donate to Tabbycat" context "title" %}{% endblock %}
{% block page-title %}{% trans "Donate to Tabbycat" context "title" %}{% endblock %}

{% block content %}

<ul class="list-group">
  <li class="list-group-item active lead">
    {% blocktrans trimmed %}
      Tabbycat is a volunteer effort. Since 2012, its maintainers have spent
      thousands of hours working on it.
    {% endblocktrans %}
  </li>
  <li class="list-group-item">
    {% blocktrans trimmed %}
      Donating to Tabbycat helps the maintainers to meet recurring costs and
      justify our ongoing contributions in responding to support enquiries,
      keeping the software up to date, fixing bugs, and developing new features.
    {% endblocktrans %}
  </li>
  <li class="list-group-item">
    {% blocktrans trimmed %}
      We suggest that tournaments budget for a donation of A$1 (Australian dollar)
      per team. For tournaments run for fundraising or for profit, whether partly
      or solely, this payment is <strong>required</strong> and your licence to
      use Tabbycat is conditional upon it. General donations from individuals or
      organisations are of course also much appreciated.
    {% endblocktrans %}
  </li>
  {% if tournament and tournament.billable_teams > 0 %}
    <li class="list-group-item">
      {% blocktrans trimmed with tournament=tournament.name nteams=tournament.billable_teams %}
        Our suggested donation from {{ tournament }}, based on its size, is
        <strong>A${{ nteams }}</strong>. The easiest way to donate is
        <a href="http://PayPal.Me/tabbycatproject/{{ nteams }}aud">via Paypal</a>,
        but please don’t hesitate to
        <a href="http://tabbycat.readthedocs.io/en/stable/about/support.html#email">email us</a>
        if other methods would work better for you. Also, feel free to get in
        touch if you require an invoice or receipt for the payment.
      {% endblocktrans %}
    </li>
  {% else %}
    <li class="list-group-item">
      {% blocktrans trimmed %}
        The easiest way to donate is <a href="http://PayPal.Me/tabbycatproject/0aud">via Paypal</a>.
        Please <a href="http://tabbycat.readthedocs.io/en/stable/about/support.html">contact us</a>
        if you require other options.
      {% endblocktrans %}
    </li>
  {% endif %}
</ul>

{% endblock %}
