{% extends "base.html" %}
{% load debate_tags %}

{% block head-title %}<span class="emoji">👋</span>Welcome to {{ tournament.name }}{% endblock %}
{% block page-title %}Welcome to {{ tournament.name }}{% endblock %}

{% block page-subnav-sections %}
  {{ tournament.welcome_msg|safe|linebreaks }}
{% endblock %}


{% block page-alerts %}
  {% if not pref.team_tab_released and not pref.motion_tab_released and not pref.public_draw and not pref.public_results and not pref.public_divisions and not pref.public_motions and not pref.public_team_standings and not pref.public_breaking_teams and not pref.public_breaking_adjs and not pref.public_participants and not pref.feedback_progress and not pref.public_ballots and not pref.public_feedback and not pref.show_all_draws %}
    <div class="alert alert-info">
      Currently there is no public information available for this tournament
      <span class="emoji">😹</span>
    </div>
  {% endif %}
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
        {% if pref.team_tab_released > 0 %}
          <li class="list-group-item">
            <a href="{% tournament_url standings-public-tab-team %}">Team Tab</a>
          </li>
        {% endif %}
        {% if pref.speaker_tab_released > 0 %}
          <li class="list-group-item">
            <a href="{% tournament_url standings-public-tab-speaker %}">Speaker Tab</a>
          </li>
        {% endif %}
        {% if pref.pros_tab_released > 0 %}
          <li class="list-group-item">
            <a href="{% tournament_url standings-public-tab-pros %}">Pros Speaker Tab</a>
          </li>
        {% endif %}
        {% if pref.novices_tab_released > 0 %}
          <li class="list-group-item">
            <a href="{% tournament_url standings-public-tab-novices %}">Novices Speaker Tab</a>
          </li>
        {% endif %}
        {% if pref.replies_tab_released > 0 %}
          <li class="list-group-item">
            <a href="{% tournament_url standings-public-tab-replies %}">Replies Tab</a>
          </li>
        {% endif %}
        {% if pref.motion_tab_released %}
          <li class="list-group-item">
            <a href="{% tournament_url standings-public-tab-motions %}">Motions Tab</a>
          </li>
        {% endif %}
        {% if public_side_allocations %}
          <li class="list-group-item">
            <a href="{% tournament_url draw-public-side-allocations %}">Sides</a>
          </li>
        {% endif %}
        {% if pref.public_draw > 0  and pref.team_tab_released == 0 and pref.show_all_draws == 0 %}
          <li class="list-group-item"><a class="public-draw-nav" href="{% tournament_url draw-public-current-round %}">
            Draw for {{ current_round.name }}
          </a></li>
        {% endif %}
        {% if pref.public_results and current_round.prev %}
          <li class="list-group-item">
            <a href="{% tournament_url public_results_index %}">Results</a>
          </li>
        {% endif %}
        {% if pref.public_divisions > 0 %}
          <li class="list-group-item">
            <a href="{% tournament_url public_divisions %}">Divisions</a>
          </li>
        {% endif %}
        {% if pref.public_motions %}
          <li class="list-group-item">
            <a href="{% tournament_url motions-public %}">Motions</a>
          </li>
        {% endif %}
        {% if pref.public_motions and pref.motion_tab_released == 0 and pref.draw_side_allocations == 'manual-ballot' %}
          <li class="list-group-item">
            <a href="{% tournament_url draw-public-side-allocations %}">Sides</a>
          </li>
        {% endif %}
        {% if pref.public_team_standings and current_round.prev and pref.team_tab_released == 0 %}
          <li class="list-group-item">
            <a href="{% tournament_url standings-public-teams-current %}">Team Standings</a>
          </li>
        {% endif %}
        {% if pref.public_breaking_teams %}
          {% for category in tournament.breakcategory_set.all %}
            <li class="list-group-item">
              <a href="{% tournament_url public_breaking_teams category.slug %}">
                {{ category.name }} Break
              </a>
            </li>
          {% endfor %}
        {% endif %}
        {% if pref.public_breaking_adjs %}
          <li class="list-group-item">
            <a href="{% tournament_url public_breaking_adjs %}">Breaking Adjudicators</a>
          </li>
        {% endif %}
        {% if pref.public_diversity %}
          <li class="list-group-item">
            <a href="{% tournament_url standings-public-diversity %}">Diversity Overview</a>
          </li>
        {% endif %}
        {% if pref.public_participants %}
          <li class="list-group-item">
            <a href="{% tournament_url participants-public-list %}">Participants</a>
          </li>
        {% endif %}
        {% if pref.feedback_progress %}
          <li class="list-group-item">
            <a href="{% tournament_url public_feedback_progress %}">Feedback Progress</a>
          </li>
        {% endif %}
        {% if pref.public_ballots %}
          <li class="list-group-item">
            <a href="{% tournament_url public_ballot_submit %}">Enter Ballot</a>
          </li>
        {% endif %}
        {% if pref.public_feedback %}
          <li class="list-group-item">
            <a href="{% tournament_url adjfeedback-public-add-index %}">Enter Feedback</a>
          </li>
        {% endif %}
        {% if pref.show_all_draws > 0 %}
          {% for r in tournament.round_set.all %}
            {% if r.draw_status == r.STATUS_RELEASED %}
              <li class="list-group-item">
                <a href="{% round_url draw-public-for-round r %}">Draw for {{ r.name }}</a>
              </li>
            {% endif %}
          {% endfor %}
          {% if pref.enable_mass_draws > 0 %}
            <li class="list-group-item">
              <a href="{% tournament_url draw-public-all-draws %}">View All Draws</a>
            </li>
          {% endif %}
        {% endif %}
      </ul>
    </div>
  </div>

{% endblock content %}
