{% extends "base.html" %}
{% load debate_tags %}

{% block page-title %}Confirm Round Advance{% endblock %}
{% block head-title %}
  <span class="emoji">🙏</span>Confirm Round Advance
{% endblock %}
{% block sub-title %}for {{ round.name }}{% endblock %}

{% block page-subnav-actions %}

  <form action="{% round_url round_increment %}" method="POST">
    {% csrf_token %}
    <button class="btn submit-disable {{increment_ok|yesno:"btn-success,btn-danger"}}" id="createDraw" type="submit" data-loading-text="Advancing...">
      {% if increment_ok %}
        Advance to Next Round
        <span class="glyphicon glyphicon-chevron-right"></span>
      {% else %}
        Advance Anyway
        <span class="glyphicon glyphicon-chevron-right"></span>
      {% endif %}
    </button>
  </form>

{% endblock %}

{% block page-alerts %}

  {% if increment_ok %}
    <div class="alert alert-success">
      It looks like all the ballots from {{ round.name }} are confirmed, you should be good to go.
    </div>
  {% else %}
    <div class="alert alert-danger">
      There are still {{ num_unconfirmed }}
      ballots that are not confirmed. You should <strong>not</strong>
      proceed to the next round until all ballots are confirmed.
    </div>
  {% endif %}

  {% if pref.public_results > 0 %}
    <div class="alert alert-info">
      The "show public results" setting is on and this round
      {% if round.is_silent %}
        <strong>is marked as a silent round</strong>, so no <strong>results
        will show on the public page</strong> when you advance.
      {% else %}
        <strong>is not marked as a silent round</strong> so the <strong>results
        will show on the public</strong> page when you advance.
      {% endif %}<br>
      A round can be marked/unmarked as silent in the
      <a href="{% url 'admin:index' %}">edit database area</a>
       under <em>Tournaments > Rounds</em>.
    </div>
  {% endif %}

{% endblock %}
