{% extends "base.html" %}
{% load i18n debate_tags %}

{% block page-title %}{% trans "Confirm Round Advance" %}{% endblock %}
{% block head-title %}
  <span class="emoji">🙏</span> {% trans "Confirm Round Advance" %}
{% endblock %}
{% block sub-title %}{% blocktrans trimmed with name=round.name %}for {{ name }}{% endblocktrans %}{% endblock %}

{% block page-subnav-actions %}

  <a href="{% roundurl 'results-round-list' %}" class="btn btn-outline-primary">
    <i data-feather="chevron-left"></i>{% trans "Enter Results" %}
  </a>

  <form action="{% roundurl 'tournament-send-standings-emails' %}" method="POST">
    {% csrf_token %}
    {% if emails_sent %}
      <button class="btn btn-outline-secondary" id="sendPointsEmails" type="submit" data-toggle="tooltip" title="{% trans "Emails have already been sent." %}">
        {% if pref.teams_in_debate == "two" %}
          {% trans "Email Team Wins/Losses" %}
        {% else %}
          {% trans "Email Team Points" %}
        {% endif %}
      </button>
    {% else %}
      <button class="btn btn-outline-primary active" id="sendPointsEmails" type="submit">
        {% if pref.teams_in_debate == "two" %}
          {% trans "Email Team Wins/Losses" %}
        {% else %}
          {% trans "Email Team Points" %}
        {% endif %}
      </button>
    {% endif %}
  </form>

  <form action="{% roundurl 'tournament-advance-round' %}" method="POST">
    {% csrf_token %}
    <button class="btn {{increment_ok|yesno:"btn-success,btn-danger"}}" id="createDraw" type="submit">
      {% if increment_ok %}
        {% trans "Advance to Next Round" %}
        <i data-feather="chevron-right"></i>
      {% else %}
        {% trans "Advance Anyway" %}
        <i data-feather="chevron-right"></i>
      {% endif %}
    </button>
  </form>

{% endblock %}

{% block page-alerts %}

  {% if increment_ok %}
    {% blocktrans trimmed with round_name=round.name asvar message %}
      All ballots from {{ round_name }} are confirmed. You should be good to go!
    {% endblocktrans %}
    {% include 'components/alert.html' with type='success' icon='alert-circle' %}
  {% else %}
    {% blocktrans trimmed count num_unconfirmed=num_unconfirmed asvar message %}
      There is still {{ num_unconfirmed }} ballot that is not confirmed.
      You should <strong>not</strong> proceed to the next round until all
      ballots are confirmed.
    {% plural %}
      There are still {{ num_unconfirmed }} ballots that are not confirmed.
      You should <strong>not</strong> proceed to the next round until all
      ballots are confirmed.
    {% endblocktrans %}
    {% include 'components/alert.html' with type='danger' icon='alert-circle' %}
  {% endif %}

  {% if pref.public_results %}
    {% url 'admin:tournaments_round_changelist' as round_changelist_url %}
    {% if round.silent %}
      {% blocktrans trimmed asvar message %}
        The "show public results" setting is on and this round is marked as a
        <strong>silent</strong> round, so results will <strong>not</strong>
        show on the public page when you advance. You can mark or unmark rounds
        as silent in the
        <a href="{{ round_changelist_url }}">Edit Database area</a>.
      {% endblocktrans %}
    {% else %}
      {% blocktrans trimmed asvar message %}
        The "show public results" setting is on and this round is
        <strong>not</strong> marked as a silent round so the <strong>results
        <u>will</u> show on the public page</strong> when you advance. You can
        mark or unmark rounds as silent in the
        <a href="{{ round_changelist_url }}">Edit Database area</a>.
      {% endblocktrans %}
    {% endif %}
    {% include 'components/alert.html' with type='info' icon='alert-circle' %}
  {% endif %}

{% endblock %}
