{% extends "base.html" %}
{% load debate_tags %}

{% block page-title %}Confirm Round Advance{% endblock %}
{% block head-title %}
  <span class="emoji">🙏</span>Confirm Round Advance
{% endblock %}
{% block sub-title %}for {{ round.name }}{% endblock %}

{% block page-subnav-actions %}

  <a href="{% roundurl 'results-round-list' %}" class="btn btn-outline-primary">
    <i data-feather="chevron-left"></i>Enter Results
  </a>

  <form action="{% roundurl 'tournament-advance-round' %}" method="POST">
    {% csrf_token %}
    <button class="btn {{increment_ok|yesno:"btn-success,btn-danger"}}" id="createDraw" type="submit">
      {% if increment_ok %}
        Advance to Next Round
        <i data-feather="chevron-right"></i>
      {% else %}
        Advance Anyway
        <i data-feather="chevron-right"></i>
      {% endif %}
    </button>
  </form>

{% endblock %}

{% block page-alerts %}

  {% if increment_ok %}
    <div class="alert alert-success">
      <i data-feather="alert-circle"></i>
      It looks like all the ballots from {{ round.name }} are confirmed, you should be good to go.
    </div>
  {% else %}
    <div class="alert alert-danger">
      <i data-feather="alert-circle"></i>
      There are still {{ num_unconfirmed }}
      ballots that are not confirmed. You should <strong>not</strong>
      proceed to the next round until all ballots are confirmed.
    </div>
  {% endif %}

  {% if pref.public_results > 0 %}
    <div class="alert alert-info">
      <i data-feather="alert-circle"></i>
      The "show public results" setting is on and this round
      {% if round.silent %}
        <strong>is marked as a silent round</strong>, so no <strong>results
        will show on the public page</strong> when you advance.
      {% else %}
        <strong>is not marked as a silent round</strong> so the <strong>results
        will show on the public</strong> page when you advance.
      {% endif %}
      A round can be marked/unmarked as silent in the
      <a href="{% url 'admin:index' %}">edit database area</a>
       under <em>Tournaments > Rounds</em>.
    </div>
  {% endif %}

{% endblock %}
