{% extends "base.html" %}
{% load i18n %}

{% block head-title %}<span class="emoji">👋</span> {% trans "Welcome!" %}{% endblock %}
{% block page-title %}Home{% endblock %}
{% block nav %}{% endblock %}

{% block content %}

<ul class="list-group">
  {% if tournaments.all.exists %}
    {% for tournament in tournaments %}
      {% if user.is_authenticated %}
        <li class="list-group-item">
          <a href="{{ tournament.get_absolute_url }}">
            {% with tournament_name=tournament.name %}
              <span class="emoji">🔧</span>{% blocktrans trimmed %}
                Admin area for <strong>{{ tournament_name }}</strong>
              {% endblocktrans %}
            {% endwith %}
          </a>
        </li>
      {% endif %}
      <li class="list-group-item">
        <a href="{{ tournament.get_public_url }}">
          <span class="emoji">
            {% if tournament.emoji %}{{tournament.emoji }}{% else %}🏆{% endif %}
          </span>{{ tournament.name }}
        </a>
      </li>
    {% endfor %}
  {% else %}
    {% if user.is_authenticated %}
      <li class="list-group-item">
        {% url 'tournament-create' as create_url %}
        {% blocktrans trimmed %}
          It looks like there aren't any tournaments on this site. Would you like to <a href="{{ create_url }}">create one</a>?
        {% endblocktrans %}
      </li>
    {% else %}
      <li class="list-group-item">
        {% blocktrans trimmed %}
          There are currently no tournaments set up on this site.
        {% endblocktrans %}
      </li>
    {% endif %}
  {% endif %}
</ul>

{% if tournaments.0.preferences.league_options__enable_mass_draws %}
  <ul class="list-group">
    <li class="list-group-item">
      <a href="{% url 'all_tournaments-all-venues' %}">
        <span class="emoji">🎪</span>{% blocktrans trimmed %}All Draws by Venue{% endblocktrans %}
      </a>
    </li>
    <li class="list-group-item">
      <a href="{% url 'all-tournaments-all-institutions' %}">
        <span class="emoji">🏢</span>{% blocktrans trimmed %}All Draws by School{% endblocktrans %}
      </a>
    </li>
    <li class="list-group-item">
      <a href="{% url 'all-tournaments-all-teams' %}">
        <span class="emoji">👯</span>{% blocktrans trimmed %}All Teams and Divisions{% endblocktrans %}
      </a>
    </li>
  </ul>
{% endif %}

<ul class="list-group">
  {% if user.is_superuser %}
    <li class="list-group-item">
      <span class="glyphicon glyphicon-pencil"></span>&nbsp;
      <a href="{% url 'tournament-create' %}">
        {% blocktrans trimmed %}New Tournament{% endblocktrans %}
      </a>
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-edit"></span>&nbsp;
      <a href="{% url 'admin:index' %}">
        {% blocktrans trimmed %}Edit Database Area{% endblocktrans %}
      </a>
    </li>
  {% endif %}
  {% if user.is_authenticated %}
    <li class="list-group-item">
      <span class="glyphicon glyphicon-lock"></span>&nbsp;
      <a class="" href="{% url 'logout' %}">
        {% blocktrans trimmed %}Log Out ({{ user }}){% endblocktrans %}
      </a>
    </li>
  {% else %}
    <li class="list-group-item">
      <span class="emoji">🔓</span><a class="" href="{% url 'login' %}">{% blocktrans trimmed %}Login as Admin{% endblocktrans %}</a>
    </li>
  {% endif %}
</ul>

{% endblock content %}
