{% extends "base.html" %}
{% load i18n %}

{% block head-title %}<span class="emoji">⌛</span> {% trans "Schedule" %}{% endblock %}
{% block page-title %}⌛{% trans "Schedule" %}{% endblock %}

{% block content %}

  <form method="POST" id="schedule-form">
    {% csrf_token %}
    <div id="vueMount">
      <schedule-editor-container :initial-data="scheduleEditorData"></schedule-editor-container>
    </div>
  </form>

{% endblock content %}

{% block js %}

  {{ schedule_editor_data|json_script:"schedule-editor-data" }}
  <script>
    window.vueData = {
      scheduleEditorData: JSON.parse(document.getElementById('schedule-editor-data').textContent),
    }
  </script>
  {{ block.super }}

{% endblock js %}
