{% extends "base.html" %}
{% load debate_tags %}
{% load add_field_css %}

{% block page-title %}🔧Tournament Configuration{% endblock %}
{% block head-title %}<span class="emoji">🔧</span>Tournament Configuration{% endblock %}

{% block content %}

<div class="row">

  <div class="col-md-6">
    <ul class="list-group">
        <a href="{% tournament_url options-tournament-scoring %}" class="list-group-item">
          <h4 class="list-group-item-heading">
            <span class="emoji">💯</span>Score Rules
          </h4>
          <p class="list-group-item-text">
            The settings that determine the range of points that can awarded to speeches, replies, and teams.
          </p>
        </a>
        <a href="{% tournament_url options-tournament-draw-rules %}" class="list-group-item">
          <h4 class="list-group-item-heading">
            <span class="emoji">📏</span>️Draw Rules
          </h4>
          <p class="list-group-item-text">
            The settings that determine how teams are matched together in the draw and how adjudicators are auto-allocated.
          </p>
        </a>
        <a href="{% tournament_url options-tournament-debate-rules %}" class="list-group-item">
          <h4 class="list-group-item-heading">
            <span class="emoji">⚖</span>Debate Rules
          </h4>
          <p class="list-group-item-text">
            The settings that determine how many speeches there are per side, how motions are decided, and whether replies are delivered.
          </p>
        </a>
        <a href="{% tournament_url options-tournament-standings %}" class="list-group-item">
          <h4 class="list-group-item-heading">
            <span class="emoji">📊</span>Standings
          </h4>
          <p class="list-group-item-text">
            The settings that determine how teams and speakers are ranked for in the released tabs.
          </p>
        </a>
        <a href="{% tournament_url options-tournament-feedback %}" class="list-group-item">
          <h4 class="list-group-item-heading">
            <span class="emoji">🙅</span>Feedback
          </h4>
          <p class="list-group-item-text">
            The settings that determine how an adj can be scored and who can submit feedback.
          </p>
        </a>
    </ul>
  </div>
  <div class="col-md-6">
    <ul class="list-group">
        <a href="{% tournament_url options-tournament-tab-release %}" class="list-group-item">
          <h4 class="list-group-item-heading">
            <span class="emoji">🚨</span>Tab Release
          </h4>
          <p class="list-group-item-text">
            The settings that determine when to release a public tab is made visible and what data it shows.
          </p>
        </a>
        <a href="{% tournament_url options-tournament-data-entry %}" class="list-group-item">
          <h4 class="list-group-item-heading">
            <span class="emoji">📝</span>Data Entry
          </h4>
          <p class="list-group-item-text">
            The settings that determine how ballots and feedback are entered, including online submission options.
          </p>
        </a>
        <a href="{% tournament_url options-tournament-public-features %}" class="list-group-item">
          <h4 class="list-group-item-heading">
            <span class="emoji">📢</span>Public Features
          </h4>
          <p class="list-group-item-text">
            The settings that determine what information the site displays to the publicly accessible page.
          </p>
        </a>
        <a href="{% tournament_url options-tournament-ui %}" class="list-group-item">
          <h4 class="list-group-item-heading">
            <span class="emoji">💻</span>UI Options
          </h4>
          <p class="list-group-item-text">
            The settings that determine small tweaks in what information is presented by the interface.
          </p>
        </a>
        <a href="{% tournament_url options-tournament-league %}" class="list-group-item">
          <h4 class="list-group-item-heading">
            <span class="emoji">🏫</span>League Options
          </h4>
          <p class="list-group-item-text">
            Special options for running large multi-venue multi-level debating competitions. Warning: these features are not fully tested or supported.
          </p>
        </a>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <div class="list-group-item list-group-item-info">
        <p class="list-group-item-text">Note: these presets only modify common
        the settings for basic rules; double check our
        <a href="https://readthedocs.org">documentation</a> to ensure they are
        correct for your tournament. These links will display settings changes
        and giving you the option to confirm them.</p>
      </div>
      {% for preset in presets %}
        <a href="{% tournament_url tournament_preference_confirm preset.slugified_name %}" class="list-group-item">
          <h4 class="list-group-item-heading">Apply {{ preset.name }}</h4>
          <p>{{ preset.description }}</p>
        </a>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock content %}
