{% extends "admin/change_form.html" %}
{% load i18n %}

{% block after_related_objects %}
  {% if not change %}
    <div style="background-color: #f0dada; padding: 15px 15px 5px; margin-bottom: 20px; border-radius: 4px;">
      <p>
        {% blocktrans trimmed %}
          <strong>Don't forget:</strong> If this adjudicator should be conflicted against their own institution, you should add this conflict <strong>now</strong> in the <strong>Adjudicator-institution conflicts</strong> tab above, because the own-institution conflict is <strong>not</strong> automatically created when using this form.
        {% endblocktrans %}
      </p>
    </div>
  {% endif %}
{% endblock %}
