{% extends "base.html" %}
{% load debate_tags %}

{% block head-title %}Division Sheets List{% endblock %}
{% block page-title %}Division Sheets List{% endblock %}

{% block content %}

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Master Sheets</h4>
    </div>
    <ul class="list-group">
      {% for venue_group in venue_groups %}
        <li class="list-group-item">
          <a href="{% url 'printing.views.MasterSheetsView' tournament.slug current_round.seq venue_group.id %}">
            {{ venue_group.short_name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Room Sheets</h4>
    </div>
    <ul class="list-group">
      {% for venue_group in venue_groups %}
        <li class="list-group-item">
          <a href="{% url 'printing.views.RoomSheetsView' tournament.slug current_round.seq venue_group.id %}">
            {{ venue_group.short_name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>


{% endblock content %}
