{% extends "base.html" %}
{% load debate_tags i18n %}

{% block head-title %}{% trans "Division Sheets List" %}{% endblock %}
{% block page-title %}{% trans "Division Sheets List" %}{% endblock %}

{% block content %}

<div class="col-md-6">
  <div class="card">
    <div class="panel-heading">
      <h4 class="panel-title">{% trans "Master Sheets" %}</h4>
    </div>
    <ul class="list-group">
      {% for venue_category in venue_categories %}
        <li class="list-group-item">
          <a href="{% roundurl 'printing-master-sheets-view' round venue_category.id %}">
            {{ venue_category.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="col-md-6">
  <div class="card">
    <div class="panel-heading">
      <h4 class="panel-title">{% trans "Room Sheets" %}</h4>
    </div>
    <ul class="list-group">
      {% for venue_category in venue_categories %}
        <li class="list-group-item">
          <a href="{% roundurl 'printing-room-sheets-view' round venue_category.id %}">
            {{ venue_category.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>


{% endblock content %}
