{% extends "printables_list.html" %}

{% block head-title %}
  {{ ballots|length }} Feedback Forms for {{ round.abbreviation }}<small>
{% endblock %}
{% block page-title %}Printable Feedback Forms for {{ round.name }}{% endblock %}
{% block body-id %}debateballots{% endblock %}

{% block content %}

  <template v-for="ballot in ballots">
    <div class="db-page-holder">
      <main role="main" class="db-page db-flex-column db-page-portrait">
        <base-ballot :data="$data" :ballot="ballot"></base-ballot>
      </main>
    </div>
  </template>

{% endblock content %}


{% block js %}
  {{ block.super }}
  {% include "js-vue/printables/base-ballot.vue" %}
  {% include "js-vue/printables/base-ballot-header.vue" %}
  {% include "js-vue/printables/base-ballot-footer.vue" %}
  {% include "js-vue/printables/base-scoresheet.vue" %}
  {% include "js-vue/printables/base-feedback.vue" %}
  <script>
    var baseData = {
      // Strings to Fill In
      tournamentName: "{{ tournament }}",
      returnLocation: "{{ pref.feedback_return_location }}",
      kind: "Feedback",
      // Formatting
      showTabRoomRow: true,
      // From Django
      round: "{{ round.abbreviation }}",
      ballots: {{ ballots|safe }},
      questions: {{ questions|safe }},
    }
    new Vue({
      el: '#debateballots',
      data: baseData,
    })
  </script>

{% endblock js %}
