{% extends "base.html" %}
{% load debate_tags %}

{% block head-title %}
  <div class="text-center hidden-print">Master Sheet for Debates at {{ base_venue_category.name }} in {{ round.name }}</div>
{% endblock %}
{% block page-title %}
  Master Sheet for Debates at {{ venue_category.name }}
{% endblock %}

{% block nav %}{% endblock %}
{% block footer %}{% endblock footer %}
{% block body-class %}override-sidebar-offset{% endblock %}

{% block content %}

<div class="col-md-12">

  {% for tournament in active_tournaments %}

    <div class="panel panel-default printable-mastersheet">
      <div class="panel-heading">
        <h4 class="panel-title">{{ tournament.short_name }}</h4>
      </div>
      <div class="panel-body">

        <table id="" class="table">
          <thead>
            <tr class="h5 table-division">
              <col style="width:3%">
              <col style="width:10%">
              <col style="width:16%">
              <col style="width:16%">
              <col style="width:20%">
              <col style="width:20%">
              <col style="width:8%">
              <col style="width:8%">
              <th>Div</th>
              <th>Room</th>
              <th>Affirmative</th>
              <th>Negative</th>
              <th>Adjudicator</th>
              <th>Winner of the Debate</th>
              <th>Aff Score</th>
              <th>Neg Score</th>
            </tr>
          </thead>
          <tbody>
            {% for debate in tournament.debates %}
              <tr class="
                {% if debate.aff_team.type == 'B' or debate.neg_team.type == 'B' or debate.result_status == 'P'%}active text-muted{% endif %}
                {% ifchanged debate.division.name %}table-division-top{% endifchanged %}
              ">
                <td>{{ debate.division.name }}</td>
                <td>{{ debate.venue.display_name }}</td>
                <td>{{ debate.aff_team.short_name }}</td>
                <td>{{ debate.neg_team.short_name }}</td>
                <td></td>
                <td>
                  {% if debate.aff_team.type == 'B' or debate.neg_team.type == 'B'%}
                    Bye
                  {% elif debate.result_status == "P" %}
                    Postponed
                  {% elif debate.confirmed_ballot.forfeit %}
                    {% if debate.confirmed_ballot.ballot_set.neg_win == 1 %}
                      Forfeit by Aff
                    {% else %}
                      Forfeit by Neg
                    {% endif %}
                  {% endif %}
                </td>
                <td></td>
                <td></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>

  {% endfor %}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Additional Comments from the Head Ajudicator</h4>
    </div>
    <div class="panel-body">
      <table id="" class="table">
        <thead>
          <tr class="h4 table-division">
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr><td><p>&nbsp;</p></td></tr>
          <tr><td><p>&nbsp;</p></td></tr>
          <tr><td><p>&nbsp;</p></td></tr>
          <tr><td><p>&nbsp;</p></td></tr>
          <tr><td><p>&nbsp;</p></td></tr>
          <tr><td><p>&nbsp;</p></td></tr>
          <tr><td><p>&nbsp;</p></td></tr>
          <tr><td><p>&nbsp;</p></td></tr>
          <tr><td><p>&nbsp;</p></td></tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

{% endblock content %}
