{% extends "base.html" %}
{% load i18n static %}

{% block nav %}{% endblock %}
{% block footer %}{% endblock %}
{% block body-class %}override-sidebar-offset{% endblock %}

{% block page-alerts %}
  {% blocktrans trimmed asvar p1 %}
    Use Ctrl+P for printing or saving to PDF. Be sure to set the appropriate <strong>page orientation</strong>, to turn off <strong>headers/footers</strong> and turn on <strong>background graphics</strong>. Works best in Chrome.
  {% endblocktrans %}
  {% include "components/explainer-card.html" with type="info" %}
{% endblock %}

{% block extra-css %}
  <link rel="stylesheet" type="text/css" href="/static/css/printables.css" />
{% endblock extra-css %}

{% block js %}
  {{ block.super }}
  <script src="{% static 'js/vendor/JsBarcode.all.min.js' %}"></script>
  <script>
    JsBarcode(".barcode-placeholder").init();
  </script>
{% endblock js %}
