{% extends "base.html" %}
{% load debate_tags i18n %}

{% block page-title %}{% blocktrans trimmed with sheet=sheet_type|title %}Printable {{ sheet }} URLs{% endblocktrans %}{% endblock %}

{% block header %}{% endblock %}
{% block nav %}{% endblock %}
{% block footer %}{% endblock footer %}
{% block body-class %}override-sidebar-offset{% endblock %}

{% block page-alerts %}
  <div class="alert alert-info d-print-none">
    {% blocktrans trimmed %}
    This page is designed to be printed as double sided A4 sheets, with the
    outside facing side showing the participant name and the inside facing side
    showing the URL. Use CTRL-P to print; for best results use Chrome.
    {% endblocktrans %}
  </div>
{% endblock %}

{% block content %}

  {% for p in participants %}
    <div class="h1 text-center printable-page-break">
      <br>
      {% if p.institution__code %}
        {% blocktrans trimmed with name=p.name group=p.institution__code %}
          Private URL for {{ name }} ({{ group }})
        {% endblocktrans %}
      {% else %}
        {% blocktrans trimmed with name=p.name group=p.team__short_name %}
          Private URL for {{ name }} ({{ group }})
        {% endblocktrans %}
      {% endif %}
    </div>
    <div class="h4 text-center printable-page-break">
      <p>
        {% blocktrans trimmed %}
          Please bookmark the following URL, you will use it to submit forms throughout the tournament:
        {% endblocktrans %}
      </p>
      <p>{{ p.url }}</p>
      <svg version="1.1" viewBox="0 0 41 41" width="200px" xmlns="http://www.w3.org/2000/svg">
        <path d="{{ p.qr }}" />
      </svg>
    </div>
  {% endfor %}

{% endblock content %}
