{% extends "base.html" %}
{% load debate_tags i18n %}

{% block head-title %}
  <div class="text-center d-print-none">
    {% blocktrans trimmed with venue_category=base_venue_category.name round_name=round.name %}
    Room Sheets for Debates at {{ venue_category }} in {{ round_name }}
    {% endblocktrans %}
  </div>
{% endblock %}
{% block page-title %}
  {% blocktrans trimmed with venue_category=base_venue_category.name %}
  Room Sheets for Debates at {{ venue_category }}
  {% endblocktrans %}
{% endblock %}

{% block nav %}{% endblock %}
{% block footer %}{% endblock footer %}
{% block body-class %}override-sidebar-offset{% endblock %}

{% block content %}

<div class="col-md-12">

  {% for venue in venues %}
    <div class="printable-page-break">
      <h1 class="text-center">{{ venue.name }}</h1>

      {% for debate in venue.debates %}
        <div class="card">
          <div class="panel-heading text-center">
            <h3 class="panel-title">
              {% blocktrans trimmed with tournament=debate.round.tournament.short_name division=debate.aff_team.division.name %}
              {{ tournament }} Division {{ division }}
              {% endblocktrans %}
            </h3>
          </div>
          <ul class="list-group h4 text-center">
            <li class="list-group-item">
              <em>{{ debate.division_motion.text }}</em>
            </li>
            <li class="list-group-item">
              {% if debate.confirmed_ballot.forfeit %}
                {% blocktrans trimmed with time=debate.time|time:"H:i" side=debate.confirmed_ballot.forfeit.get_side_name|capfirst %}
                <del>{{ time }}</del> (Forfeit by {{ side }})
                {% endblocktrans %}
              {% elif debate.time %}
                {{ debate.time|time:"H:i" }}
              {% else %}
                {% trans "(No time set)" %}
              {% endif %}
            </li>
            <li class="list-group-item">
              {% blocktrans trimmed with team=debate.aff_team.short_name %}
              <strong>Affirmative</strong>: {{ team }}
              {% endblocktrans %}
            </li>
            <li class="list-group-item">
              {% blocktrans trimmed with team=debate.neg_team.short_name %}
              <strong>Negative</strong>: {{ team }}
              {% endblocktrans %}
            </li>
          </ul>
        </div>
      {% endfor %}
    </div>
  {% endfor %}

</div>

{% endblock content %}
