{% extends "base.html" %}
{% load debate_tags %}

{% block head-title %}
  <div class="text-center hidden-print">Room Sheets for Debates at {{ base_venue_category.name }} in {{ round.name }}</div>
{% endblock %}
{% block page-title %}
  Room Sheets for Debates at {{ venue_category.name }}
{% endblock %}

{% block nav %}{% endblock %}
{% block footer %}{% endblock footer %}
{% block body-class %}override-sidebar-offset{% endblock %}

{% block content %}

<div class="col-md-12">

  {% for venue in venues %}
    <div class="printable-page-break">
      <h1 class="text-center">{{ venue.display_name }}</h1>

      {% for debate in venue.debates %}
        <div class="panel panel-default">
          <div class="panel-heading text-center">
            <h3 class="panel-title">
              {{ debate.round.tournament.short_name }} Division
              {{ debate.aff_team.division.name }}
            </h3>
          </div>
          <ul class="list-group h4 text-center">
            <li class="list-group-item">
              <em>{{ debate.division_motion.text }}</em>
            </li>
            <li class="list-group-item">
              {% if debate.confirmed_ballot.forfeit %}
                <del>{{ debate.time|time:"H:i" }}</del>
                {% if debate.confirmed_ballot.ballot_set.neg_win == 1 %}
                  (Forfeit by Aff)
                {% else %}
                  (Forfeit by Neg)
                {% endif %}
              {% elif debate.time %}
                {{ debate.time|time:"H:i" }}
              {% else %}
                (No time set)
              {% endif %}
            </li>
            <li class="list-group-item">
              <strong>Affirmative</strong>: {{ debate.aff_team.short_name }}
            </li>
            <li class="list-group-item">
              <strong>Negative</strong>: {{ debate.neg_team.short_name }}
            </li>
          </ul>
        </div>
      {% endfor %}
    </div>
  {% endfor %}

</div>

{% endblock content %}
