{% extends "base.html" %}
{% load static %}
{% load compress %}

{% block head-title %}
  Feedback Forms for {{ round.abbreviation }}<small>
{% endblock %}
{% block page-title %}Printable Feedback Forms for {{ round.name }}{% endblock %}
{% block nav %}<div class="col-md-12">{% endblock %}
{% block footer %}{% endblock %}

{% block page-alerts %}
  <div class="alert alert-info db-hide">
    (use CTRL+P to save to PDF for printing, but be sure to set orientation to PORTRAIT, to turn off headers/footers and turn on background graphics. Works best in Safari or Firefox.)</small>
  </div>
{% endblock %}

{% block content %}

  <div id="debateballots">

    <template v-for="ballot in ballots">
      <div class="db-page-holder">
        <main role="main" class="db-page db-flex-column db-page-portrait">
          <base-ballot :data="$data" :ballot="ballot"></base-ballot>
        </main>
      </div>
    </template>

  </div>

{% endblock content %}

{% block extra-css %}
  {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="/static/scss/printables.scss" />
  {% endcompress %}
{% endblock extra-css %}

{% block extra-js %}

  <script src="{% static 'js/vendor/vue.js' %}"></script>
  {% include "vue/printables/base-ballot.vue" %}
  {% include "vue/printables/base-ballot-header.vue" %}
  {% include "vue/printables/base-ballot-footer.vue" %}
  {% include "vue/printables/base-scoresheet.vue" %}
  {% include "vue/printables/base-feedback.vue" %}
  <script>
    var baseData = {
      // Strings to Fill In
      tournamentName: "{{ tournament }}",
      returnLocation: "{{ pref.tab_room_location }}",
      kind: "Feedback Form",
      // Formatting
      showTabRoomRow: true,
      // From Django
      round: "{{ round.abbreviation }}",
      ballots: {{ ballots|safe }},
      questions: {{ questions|safe }},
    }

    Vue.config.delimiters = ["[[", "]]"];
    new Vue({
      el: '#debateballots',
      data: baseData,
    })
  </script>

{% endblock extra-js %}
