{% extends "base.html" %}
{% load static %}
{% load compress %}

{% block nav %}<div class="col-md-12">{% endblock %}
{% block footer %}{% endblock %}

{% block page-alerts %}
  <div class="alert alert-info db-hide">
    Use CTRL+P for printing or saving to PDF. Be sure to set orientation to <strong>landscape</strong>, to turn off <strong>headers/footers</strong> and turn on <strong>background graphics</strong>. Works best in Safari or Firefox.)</small>
  </div>
{% endblock %}

{% block extra-css %}
  {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="/static/scss/printables.scss" />
  {% endcompress %}
{% endblock extra-css %}
