{% extends "printing/printables_list.html" %}

{% block head-title %}
  {{ ballots|length }} Scoresheets for {{ round.abbreviation }}
{% endblock %}
{% block page-title %}Printable Scoresheets Forms for {{ round.name }}{% endblock %}

{% block content %}

  <div id="debateballots">

    <template v-for="ballot in ballots">
      <div class="db-page-holder">
  		  <main role="main" class="db-page db-flex-column db-page-landscape">
          <base-ballot :data="$data" :ballot="ballot" :motions="motions"></base-ballot>
        </main>
      </div>
    </template>

  </div>

{% endblock content %}

{% block extra-js %}

  {% include "vue/import-vue.html" %}
  {% include "vue/printables/base-ballot.vue" %}
  <script>
    var baseData = {
      // Strings to Fill In
      tournamentName: "{{ tournament }}",
      returnLocation: "{{ pref.score_return_location }}",
      // Rules
      hasReplies: {% if pref.reply_scores_enabled %}true{% else %}false{% endif %},
      speakersCount: {{ pref.substantive_speakers }},
      infoText: "Speeches are x minutes, the speaker score range is from x to x. You have x minutes to form an adjudication.",
      hasMotions: {% if pref.enable_motions %}true{% else %}false{% endif %},
      hasVetoes: {% if pref.motion_vetoes_enabled %}true{% else %}false{% endif %},
      // Formatting
      showTabRoomRow: true,
      showInfoRow: false,
      showPronouns: true,
      kind: "Scoresheet",
      // From Django
      round: "{{ round.abbreviation }}",
      ballots: {{ ballots|safe }},
      motions: {{ motions|safe }},
    }
    new Vue({
      el: '#debateballots',
      data: baseData,
    })
  </script>

{% endblock extra-js %}
