{% extends "base.html" %}
{% load debate_tags %}
{% load static %}
{% load compress %}

{% block head-title %}
  Ballots for {{ round.abbreviation }}
{% endblock %}
{% block page-title %}Printable Scoresheets Forms for {{ round.name }}{% endblock %}
{% block nav %}<div class="col-md-12">{% endblock %}
{% block footer %}{% endblock %}

{% block content %}

  <div id="debateballots">

    <template v-for="ballot in ballots">
      <div class="db-page-holder">
  		  <main role="main" class="db-page db-flex-column db-page-landscape">
          <base-ballot :data="$data" :ballot="ballot" :round="round" kind="Scoresheet" ></base-ballot>
        </main>
      </div>
    </template>

  </div>

{% endblock content %}

{% block extra-css %}
  {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="/static/scss/printables.scss" />
  {% endcompress %}
{% endblock %}

{% block extra-js %}

  <script src="{% static 'js/vendor/vue.js' %}"></script>
  {% include "vue/printables/base-ballot.vue" %}
  {% include "vue/printables/base-ballot-header.vue" %}
  {% include "vue/printables/base-ballot-footer.vue" %}
  {% include "vue/printables/base-scoresheet.vue" %}
  {% include "vue/printables/team-scores.vue" %}
  <script>
    var baseData = {
      // Strings to Fill In
      tournamentName: "{{ tournament }}",
      returnLocation: "Tab Room Location",
      // Rules
      hasReplies: {% if pref.reply_scores_enabled %}true{% else %}false{% endif %},
      speakersCount: {{ pref.substantive_speakers }},
      isBP: false,
      infoText: "Speeches are x minutes, the speaker score range is from x to x. You have x minutes to form an adjudication.",
      hasMotionSelection: {% if pref.enable_motions %}true{% else %}false{% endif %},
      // Formatting
      showTabRoomRow: true,
      showInfoRow: false,
      showPronouns: true,
      // From Django
      round: "{{ round.abbreviation }}",
      ballots: {{ ballots|safe }}
    }

    Vue.config.delimiters = ["[[", "]]"];
    new Vue({
      el: '#debateballots',
      data: baseData,
      methods: {
        setPortrait: function() {
          this.pageIsLandscape = false;
        },
        setLandscape: function() {
          this.pageIsLandscape = true;
        },
      }
    })
  </script>

{% endblock extra-js %}
