{% load debate_tags i18n %}

<div class="card">
  <div class="list-group list-group-flush">
    <div class="list-group-item">
      <h4 class="card-title mb-0">
        {{ card_title|safe }}
      </h4>
    </div>

    {% if adjudicator.independent or adjudicator.adj_core %}
      <div class="list-group-item">
        <ul>
          {% if adjudicator.independent %}
            <li><em>{% trans "Independent adjudicator" %}</em></li>
          {% endif %}
          {% if adjudicator.adj_core %}
            <li><em>{% trans "Member of the adjudication core" %}</em></li>
          {% endif %}
        </ul>
      </div>
    {% endif %}

    {% if adjudicator.institution %}
      <div class="list-group-item">
        <strong>{% trans "Institution:" %}</strong>
        {{ adjudicator.institution.name }}
      </div>
    {% endif %}

    {% if adjudicator.institution.region %}
      <div class="list-group-item">
        <strong>{% trans "Region:" %}</strong>
        {{ adjudicator.institution.region.name }}
      </div>
    {% endif %}

    {% if admin_page or private_url %}
      <div class="list-group-item">
        <strong>{% trans "Conflicts:" %}</strong>
        <ul>

          <li>
            <strong>{% trans "Institutions:" %}</strong>
            {% for ic in adjudicator.adjudicatorinstitutionconflict_set.all %}
              {{ ic.institution.name }}{% if not forloop.last %}{% trans ", " %}{% endif %}
            {% empty %}
              <span class="text-muted">{% trans "None" %}</span>
            {% endfor %}
          </li>

          <li>
            <strong>{% trans "Teams:" %}</strong>
            {% for tc in adjudicator.adjudicatorteamconflict_set.all %}
              {% if use_code_names %}{{ tc.team.code_name }}{% else %}{{ tc.team.short_name }}{% endif %}
              {% if not forloop.last %}{% trans ", " %}{% endif %}
            {% empty %}
              <span class="text-muted">{% trans "None" %}</span>
            {% endfor %}
          </li>

          <li>
            <strong>{% trans "Adjudicators:" %}</strong>
            {% for adj in adjadj_conflicts %}
              {% if pref.public_record %}
                <a href="{% if admin_page %}{% tournamenturl 'participants-adjudicator-record' adj.pk %}{% else %}{% tournamenturl 'participants-public-adjudicator-record' adj.pk %}{% endif %}">{{ adj.name }}</a>
              {% else %}
                {{ adj.name }}
              {% endif %}
              {% if not forloop.last %}{% trans ", " %}{% endif %}
            {% empty %}
              <span class="text-muted">{% trans "None" %}</span>
            {% endfor %}
          </li>

        </ul>
      </div>

      <div class="list-group-item">
        <strong>{% trans "Venue Constraints:" %}</strong>
        {% for vc in adjudicator.venue_constraints.all %}
          {{ vc.category }}{% if not forloop.last %}{% trans ", " %}{% endif %}
        {% empty %}
          <span class="text-muted">{% trans "None" %}</span>
        {% endfor %}
      </div>

    {% endif %}
  </div>
</div>
