{% extends "base_vue_table.html" %}
{% load debate_tags team_link i18n %}

{% block page-subnav-sections %}{% endblock %}<!-- No need for searching -->

{% block content %}

  <div class="row">

    {% if pref.public_draw or admin_page %}
      <div class="col-lg-6">
        <div class="panel {% if debateadjudications and draw_released %}panel-primary{% else %}panel-default{% endif %}">
          <div class="panel-heading">
            <h4 class="panel-title">
              {% blocktrans trimmed with round_name=current_round.name %}
                In This Round ({{ round_name }})
              {% endblocktrans %}
              {% if admin_page and not draw_released %}
                <em>{% trans "(Not Released to Public)" %}</em>
              {% endif %}
            </h4>
          </div>

          {% if draw_released or admin_page %}
            {% for debateadjudicator in debateadjudications %}
              {% with debate=debateadjudicator.debate %}
                <ul class="list-group">

                  {# Position, teams and venue #}
                  <li class="list-group-item lead {% if draw_released %}active{% endif %}">

                    {# (Two-team formats) #}
                    {% if pref.teams_in_debate == 'two' %}
                      {% team_record_link debate.aff_team admin_page as aff %}
                      {% team_record_link debate.neg_team admin_page as neg %}

                      {% if debate.adjudicators|length > 1 and debateadjudicator.type == debateadjudicator.TYPE_CHAIR %}
                        {% blocktrans trimmed with adj_name=adjudicator.name venue=debate.venue.display_name|default:"Venue TBA" %}
                          {{ adj_name }} is the <strong>chair</strong> adjudicating {{ aff }} vs {{ neg }} in <strong>{{ venue }}</strong>.
                        {% endblocktrans %}
                      {% elif debate.adjudicators|length > 1 %}
                        {% blocktrans trimmed with adj_name=adjudicator.name type=debateadjudicator.get_type_display venue=debate.venue.display_name|default:"Venue TBA" %}
                          {{ adj_name }} is a <strong>{{ type }}</strong> adjudicating {{ aff }} vs {{ neg }} in <strong>{{ venue }}</strong>.
                        {% endblocktrans %}
                      {% else %}
                        {% blocktrans trimmed with adj_name=adjudicator.name venue=debate.venue.display_name|default:"Venue TBA" %}
                          {{ adj_name }} is adjudicating {{ aff }} vs {{ neg }} in <strong>{{ venue }}</strong>.
                        {% endblocktrans %}
                      {% endif %}

                    {# (British Parliamentary) #}
                    {% elif pref.teams_in_debate == 'bp' %}

                      {% if debate.adjudicators|length > 1 and debateadjudicator.type == debateadjudicator.TYPE_CHAIR %}
                        {% blocktrans trimmed with adj_name=adjudicator.name venue=debate.venue.display_name|default:"Venue TBA" %}
                          {{ adj_name }} is the <strong>chair</strong> adjudicating in <strong>{{ venue }}</strong>.
                        {% endblocktrans %}
                      {% elif debate.adjudicators|length > 1 %}
                        {% blocktrans trimmed with adj_name=adjudicator.name type=debateadjudicator.get_type_display venue=debate.venue.display_name|default:"Venue TBA" %}
                          {{ adj_name }} is a <strong>{{ type }}</strong> adjudicating in <strong>{{ venue }}</strong>.
                        {% endblocktrans %}
                      {% else %}
                        {% blocktrans trimmed with adj_name=adjudicator.name venue=debate.venue.display_name|default:"Venue TBA" %}
                          {{ adj_name }} is adjudicating in <strong>{{ venue }}</strong>.
                        {% endblocktrans %}
                      {% endif %}

                    {% endif %}
                  </li>

                  {# Round start time #}
                  {% if current_round.starts_at %}
                    <li class="list-group-item">
                      {% blocktrans trimmed with start_time=current_round.starts_at %}
                        The round begins at {{ start_time }}
                      {% endblocktrans %}
                    </li>
                  {% endif %} {# current_round.starts_at #}

                  {# Teams (only in BP -- in two-team, it's displayed above) #}
                  {% if pref.teams_in_debate == 'bp' %}
                    <li class="list-group-item">
                      <strong>{% trans "Teams:" %}</strong>
                      {% for dt in debate.debateteams_ordered %}
                        {% team_record_link dt.team admin_page %}
                        ({{ dt.get_side_name }}){% if not forloop.last %},{% endif %}
                      {% endfor %}
                    </li>
                  {% endif %} {# pref.teams_in_debate == 'bp' #}

                  {# Adjudicators #}
                  {% if not pref.no_panellist_position or not pref.no_trainee_position %}
                    <li class="list-group-item">
                      {% if debate.adjudicators|length > 1 %}
                        {% with adjudicators=debate.adjudicators %}
                          <strong>
                            {% blocktrans trimmed count counter=adjudicators|length %}
                              Adjudicator:
                            {% plural %}
                              Adjudicators:
                            {% endblocktrans %}
                          </strong>
                          {% for adj, adjtype in adjudicators.with_positions %}
                            {% if adj != debateadjudicator.adjudicator %}
                              <a href="{% if admin_page %}{% tournamenturl 'participants-adjudicator-record' adj.pk %}{% else %}{% tournamenturl 'participants-public-adjudicator-record' adj.pk %}{% endif %}">
                                {{ adj.name }}</a>{% if adjtype == adjudicators.POSITION_CHAIR %} Ⓒ{% elif adjtype == adjudicators.POSITION_TRAINEE %} Ⓣ{% endif %}{% if not forloop.last %},{% endif %}
                            {% else %}
                              {{ adj.name }}{% if adjtype == adjudicators.POSITION_CHAIR %} Ⓒ{% elif adjtype == adjudicators.POSITION_TRAINEE %} Ⓣ{% endif %}{% if not forloop.last %},{% endif %}
                            {% endif %}
                          {% endfor %}
                        {% endwith %}
                      {% else %}
                        <em>{% trans "There are no panellists or trainees assigned to this debate." %}</em>
                      {% endif %} {# debate.adjudicators|length > 1 #}
                    </li>
                  {% endif %} {# not pref.no_panellist_position or not pref.no_trainee_position #}

                  {# Motions #}
                  {% if pref.public_motions or admin_page %}
                    <li class="list-group-item">
                      {% if current_round.motions_released or admin_page %}
                        {% if not current_round.motions_released %}
                          <em>{% trans "Motions are not released to public." %}</em><br />
                        {% endif %}
                        {% if debate.round.motion_set.all|length == 1 %}
                          <strong>{% trans "Motion:" %}</strong> {{ debate.round.motion_set.first.text }}
                        {% else %}
                          {% for motion in debate.round.motion_set.all %}
                            <strong>
                              {% blocktrans trimmed with seq=motion.seq %}
                                Motion {{ seq }}:
                              {% endblocktrans %}
                            </strong>
                            {{ motion.text }}<br />
                          {% endfor %}
                        {% endif %}
                      {% else %} {# elif not (current_round.motions_released or admin_page) #}
                        <em>{% trans "The motion(s) for this round haven't yet been released." %}</em>
                      {% endif %} {# current_round.motions_released or admin_page #}
                    </li>
                  {% endif %} {# pref.public_motions or admin_page #}
                </ul>

              {% endwith %}

            {% empty %} {# elif not debateadjudicator #}
              <div class="panel-body">
                <em>
                  {% blocktrans trimmed with adj_name=adjudicator.name %}
                    {{ adj_name }} is not adjudicating this round.
                  {% endblocktrans %}
                </em>
              </div>
            {% endfor %} {# debateadjudicator #}

          {% else %} {# elif not (draw_released or admin_page) #}
            <div class="panel-body">
              <em>{% trans "The draw for this round hasn't yet been released." %}</em>
            </div>
          {% endif %} {# draw_released or admin_page #}
        </div>
      </div>
    {% endif %} {# pref.public_draw or admin_page #}

    {% if pref.public_participants or admin_page %}
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              {# Just call it 'name' since this string is also used with teams #}
              {% blocktrans trimmed with name=adjudicator.name %}
                About {{ name }}
              {% endblocktrans %}
            </h4>
          </div>

          <ul class="list-group">

            <li class="list-group-item">
              <strong>{% trans "Institution:" %}</strong>
              {{ adjudicator.institution.name }}
            </li>
            {% if adjudicator.institution.region %}
              <li class="list-group-item">
                <strong>{% trans "Region:" %}</strong>
                {{ adjudicator.institution.region.name }}
              </li>
            {% endif %}

            {% if adjudicator.independent %}
              <li class="list-group-item">
                <em>
                  {% blocktrans trimmed with adj_name=adjudicator.name %}
                    {{ adj_name }} is an independent adjudicator.
                  {% endblocktrans %}
                </em>
              </li>
            {% endif %}

            {% if adjudicator.adj_core %}
              <li class="list-group-item">
                <em>
                  {% blocktrans trimmed with adj_name=adjudicator.name %}
                    {{ adj_name }} is on the adjudication core.
                  {% endblocktrans %}
                </em>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    {% endif %} {# pref.public_participants or admin_page #}

  </div>

  {% if pref.feedback_progress or admin_page %}
    {% include "feedback_progress_panel.html" with participant_name=adjudicator.name %}
  {% endif %}

  {% if pref.public_results or admin_page %}
    {{ block.super }} {# this is the Vue table, which is populated with previous debates #}
  {% endif %}

{% endblock content %}
