{% extends "tables/base_vue_table.html" %}
{% load debate_tags team_link i18n %}

{% block page-subnav-sections %}{% endblock %}<!-- No need for searching -->

{% block content %}

  <div class="card-deck">

    {% if pref.public_draw != 'off' or admin_page %}
      {% include "in_this_round.html" with grammatical_person="3" %}
    {% endif %} {# pref.public_draw != 'off' or admin_page #}

    {% if pref.public_participants or admin_page %}

      <div class="card">
        <div class="list-group list-group-flush">
          <div class="list-group-item">
            <h4 class="card-title mb-0">
              {# Just call it 'name' since this string is also used with teams #}
              {% blocktrans trimmed with name=adjudicator.name %}
                About {{ name }}
              {% endblocktrans %}
            </h4>
          </div>

          {% if adjudicator.institution %}
            <div class="list-group-item">
              <strong>{% trans "Institution:" %}</strong>
              {{ adjudicator.institution.name }}
            </div>
          {% endif %}

          {% if adjudicator.institution.region %}
            <div class="list-group-item">
              <strong>{% trans "Region:" %}</strong>
              {{ adjudicator.institution.region.name }}
            </div>
          {% endif %}

          {% if adjudicator.independent %}
            <div class="list-group-item">
              <em>
                {% blocktrans trimmed with adj_name=adjudicator.name %}
                  {{ adj_name }} is an independent adjudicator.
                {% endblocktrans %}
              </em>
            </div>
          {% endif %}

          {% if adjudicator.adj_core %}
            <div class="list-group-item">
              <em>
                {% blocktrans trimmed with adj_name=adjudicator.name %}
                  {{ adj_name }} is on the adjudication core.
                {% endblocktrans %}
              </em>
            </div>
          {% endif %}
        </div>
      </div>

    {% endif %} {# pref.public_participants or admin_page #}

  </div>

  {% if pref.feedback_progress or admin_page %}
    {% include "feedback_progress_panel.html" with participant_name=adjudicator.name %}
  {% endif %}

  {% if pref.public_results or admin_page %}
    <div class="mt-md-4">
      {{ block.super }} {# this is the Vue table, which is populated with previous debates #}
    </div>
  {% endif %}

{% endblock content %}
