{% extends "base.html" %}
{% load debate_tags i18n %}
{% load add_field_css %}

{% block head-title %}{% blocktrans trimmed with name=adjudicator.name %}Shift Check-In for {{ name }}{% endblocktrans %}{% endblock %}
{% block page-title %}{% blocktrans trimmed with name=adjudicator.name %}Shift Check-In for {{ name }}{% endblocktrans %}{% endblock %}

{% block content %}

  <form method="POST">
    {% csrf_token %}
    {{ formset.management_form }}

    <div class="row">
      {% for form in formset %}
        <div class="col-md-4">
          <div class="card">
            <div class="panel-heading">
              <h4 class="panel-title">
                {{ form.instance.debate.round.tournament }}
                {{ form.instance.debate.round.abbreviation }}:
                {{ form.instance.debate.division.venue_category }} @
                {{ form.instance.debate.division.time_slot }}
              </h4>
            </div>
            <div class="card-body">
              <div class="input-group">
                {{ form }}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="submit" name="submit" class="btn btn-success btn-block">
          {% trans "Save Availability" %}
        </button>
      </div>
    </div>

  </form>

{% endblock content %}
