{# This snippet is used as part of the team_record.html and adjudicator_record.html templates. #}

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Feedback Returns</h4>
      </div>
      <ul class="list-group">
        {% for tracker in feedback_progress.trackers %}
          {% if tracker.fulfilled %}
            <li class="list-group-item text-success">
              <span class="badge">{{ tracker.round.name }}</span>
              <span class="glyphicon glyphicon-ok"></span>
              Has submitted feedback for
              <strong>{{ tracker.submission.adjudicator.name }}</strong> of
              {{ tracker.submission.adjudicator.institution.code }}
            </li>
          {% elif tracker.expected and tracker.count == 0 %}
            <li class="list-group-item text-danger">
              <span class="badge">{{ tracker.round.name }}</span>
              <span class="glyphicon glyphicon-remove"></span>
              Has not submitted feedback for
              {% for target in tracker.acceptable_targets %}
                {% if not forloop.first and forloop.last %}or{% endif %}
                <strong>{{ target.name }}</strong> of
                {{ target.institution.code }}{% if not forloop.last %},{% endif %}
              {% endfor %}
              {% if tracker.acceptable_targets|length > 1 %}
                (whoever gave the oral adjudication)
              {% endif %}
            </li>
          {% elif tracker.expected %}
            <li class="list-group-item text-warning">
              <span class="badge">{{ tracker.round.name }}</span>
              <span class="glyphicon glyphicon-question-sign"></span>
              More feedback submissions than expected for this debate:
              {% for submission in tracker.acceptable_submissions %}
                  <strong>{{ submission.adjudicator.name }}</strong> of
                  {{ submission.adjudicator.institution.code }}{% if not forloop.last %},{% endif %}
              {% endfor %}
            </li>
          {% else %} {# if not tracker.fulfilled and not tracker.expected #}
            <li class="list-group-item text-warning">
              <span class="badge">{{ tracker.round.name }}</span>
              <span class="glyphicon glyphicon-question-sign"></span>
              Unexpected feedback submission for
              <strong>{{ tracker.submission.adjudicator.name }}</strong> of
              {{ tracker.submission.adjudicator.institution.code }}
            </li>
          {% endif %}
        {% empty %}
          <li class="list-group-item">
            <em>{{ participant_name }} doesn't have any feedback to submit.</em>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>