{% load debate_tags i18n %}

  <div class="btn-group">
    <a class="btn btn-default"
       href="{% tournamenturl 'participants-list' %}">
      {% trans "Participants List" %}
    </a>
    <a class="btn btn-default"
       href="{% tournamenturl 'participants-speaker-categories-edit' %}">
      {% trans "Speaker Categories" %}
    </a>
    <a class="btn btn-default"
       href="{% tournamenturl 'participants-speaker-eligibility' %}">
      {% trans "Speaker Eligibility" %}
    </a>
  </div>
