{% extends "base.html" %}
{% load debate_tags %}
{% load static %}

{% block head-title %}All Teams{% endblock %}
{% block page-title %}All Teams{% endblock %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-body">
    <table id="dataTable" class="table">
      <thead>
        <tr>
          <th>Institution</th>
          <th>Level</th>
          <th>Team</th>
          <th>Venue</th>
          <th>Division</th>
          <th>Time Slot</th>
        </tr>
      </thead>
      <tbody>
      {% for team in teams %}
        <tr>
          <td>{{ team.institution }}</td>
          <td>{{ team.tournament.name }}</td>
          <td>{{ team.reference }}</td>
          <td>{{ team.division.venue_group.short_name }}</td>
          <td>{{ team.division.name }}</td>
          <td>{{ team.division.time_slot|time:'h:i A' }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
