{% extends "base_formset.html" %}
{% load add_field_css debate_tags i18n %}

{% block head-title %}<span class="emoji">🗂</span>{% trans "Speaker Categories" %}{% endblock %}
{% block page-title %}{% trans "Speaker Categories" %}{% endblock %}

{% block page-subnav-sections %}
  {% include "participants_subnav.html" %}
{% endblock %}

{% block save-button-text %}{% trans "Save Speaker Categories" %}{% endblock %}

{% block content %}

  <div class="alert alert-info">
    {# Translators: Translate "ESL" to the acronym "<target language> as a second/foreign language", not the translation of "English as a second language". #}
    <p>
      {% blocktrans trimmed %}
        Speaker categories allow category-specific speaker tabs to be produced,
        <i>e.g.</i>, for novice or ESL categories. On this page, you can define
        what speaker categories exist. After you've defined the categories, you
        can set speaker eligibility on the Speaker Eligibility page.
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans trimmed %}
        If you want to delete speaker categories, use the Edit Database area.
      {% endblocktrans %}
    </p>
  </div>

  {{ block.super }}

{% endblock content %}
