{% extends "base.html" %}
{% load debate_tags i18n %}

{% block head-title %}<span class="emoji">👤</span> {% trans "Add Speaker" %}{% endblock %}
{% block page-title %}{% trans "Add Speaker" %}{% endblock %}
{% block page-subtitle %}{% blocktrans trimmed with name=team.short_name %}for {{ name }}{% endblocktrans %}{% endblock %}

{% block page-subnav-sections %}
  <a class="btn btn-outline-primary" href="{% tournamenturl 'participants-team-record' pk=team.pk %}">
    <i data-feather="chevron-left"></i>{% trans "Back to Team Record" %}
  </a>
{% endblock %}

{% block content %}

  <form action="" method="POST">
    {% csrf_token %}
    <div class="card">
      <div class="list-group list-group-flush">
        {% include "components/form-main.html" %}
        {% trans "Add Speaker" as save_text %}
        {% include "components/form-submit.html" with title=save_text suburl=team_record_url subtitle=cancel_text %}
      </div>
    </div>
  </form>

{% endblock content %}
