{% extends "tables/base_vue_table.html" %}
{% load debate_tags team_link i18n %}

{% block page-subnav-sections %}{% endblock %}<!-- No need for searching -->

{# Note "team_short_name" is set by the View to be the team's code name if code
names are relevant, or to the team's real name if it is not. #}

{% block content %}

  <div class="card-deck">

    {% if pref.public_draw != 'off' or admin_page %}
      <div class="card {% if debateteam and draw_released %}panel-primary{% else %}panel-default{% endif %}">
        <div class="list-group list-group-flush">

          <div class="list-group-item">
            <h4 class="card-title mb-0">
              {% blocktrans trimmed with round_name=current_round.name %}
                In This Round ({{ round_name }})
              {% endblocktrans %}
              {% if admin_page and not draw_released %}
                <em>{% trans "(Not Released to Public)" %}</em>
              {% endif %}
            </h4>
          </div>

          {% if draw_released or admin_page %}
            {% if debateteams|length > 1 %}
              <div class="list-group-item">
                <em>
                  {# This is never in the singular, it's just needed to make pluralization work with i18n. #}
                  {% blocktrans trimmed with team_name=team_short_name count ndebates=debateteams|length %}
                    It looks like {{ team_name }} is competing in {{ ndebates }} debate this round.
                  {% plural %}
                    It looks like {{ team_name }} is competing in {{ ndebates }} debates this round.
                  {% endblocktrans %}
                  {% if not admin_page %}
                    {% trans "If this is an error, please contact a tab director immediately." %}
                  {% endif %}
                </em>
              </div>
            {% endif %}

            {% for debateteam in debateteams %}
              {% with debate=debateteam.debate %}

                {# Position, opponent and venue #}
                <div class="list-group-item lead {% if draw_released %}active{% endif %}">
                  {% trans "Venue TBA" as venue_tba %}

                  {# (Two-team formats) #}
                  {% if pref.teams_in_debate == 'two' %}
                    {% team_record_link debateteam.opponent.team admin_page tournament as opponent %}

                    {% if debate.sides_confirmed %}
                      {% blocktrans trimmed with team_name=team_short_name side=debateteam.get_side_name venue=debate.venue.display_name|default:venue_tba %}
                        {{ team_name }} is debating as the <strong>{{ side }}</strong> team against <strong>{{ opponent }}</strong> in <strong>{{ venue }}</strong>.
                      {% endblocktrans %}
                    {% else %}
                      {% blocktrans trimmed with team_name=team_short_name venue=debate.venue.display_name|default:venue_tba %}
                        {{ team_name }} is debating against <strong>{{ opponent }}</strong> in <strong>{{ venue }}</strong>.
                      {% endblocktrans %}
                    {% endif %}

                  {# (British Parliamentary) #}
                  {% elif pref.teams_in_debate == 'bp' %}

                    {% if debate.sides_confirmed %}
                      {% blocktrans trimmed with team_name=team_short_name side=debateteam.get_side_name venue=debate.venue.display_name|default:venue_tba %}
                        {{ team_name }} is debating as the <strong>{{ side }}</strong> team in <strong>{{ venue }}</strong>.
                      {% endblocktrans %}
                    {% else %}
                      {% blocktrans trimmed with team_name=team_short_name venue=debate.venue.display_name|default:venue_tba %}
                        {{ team_name }} is debating in <strong>{{ venue }}</strong>.
                      {% endblocktrans %}
                    {% endif %}
                  {% endif %}
                </div>

                {# Round start time #}
                {% if current_round.starts_at %}
                  <div class="list-group-item">
                    {% blocktrans trimmed with start_time=current_round.starts_at %}
                      The round begins at {{ start_time }}
                    {% endblocktrans %}
                  </div>
                {% endif %} {# current_round.starts_at #}

                {# Teams (only in BP -- in two-team, it's displayed above) #}
                {% if pref.teams_in_debate == 'bp' %}
                  <div class="list-group-item">
                    <strong>{% trans "Teams:" %}</strong>
                    {% for dt in debate.debateteams_ordered %}
                      {% if dt != debateteam %}
                        {% team_record_link dt.team admin_page tournament %}{% if not debate.sides_confirmed and not forloop.last %},{% endif %}
                      {% else %} {# elif dt == debateteam #}
                        {% if use_code_names %}{{ dt.team.code_name }}{% else %}{{ dt.team.short_name }}{% endif %}{% if not debate.sides_confirmed and not forloop.last %},{% endif %}
                      {% endif %} {# dt != debateteam #}
                      {% if debate.sides_confirmed %}
                        ({% debate_team_side_name dt tournament %}){% endif %}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                  </div>
                {% endif %} {# pref.teams_in_debate == 'bp' #}

                {# Adjudicators #}
                <div class="list-group-item">
                  {% with adjudicators=debate.adjudicators %}
                    <strong>
                      {% blocktrans trimmed count counter=adjudicators|length %}
                        Adjudicator:
                      {% plural %}
                        Adjudicators:
                      {% endblocktrans %}
                    </strong>
                    {% for adj, adjtype in adjudicators.with_positions %}
                      <a href="{% if admin_page %}{% tournamenturl 'participants-adjudicator-record' adj.pk %}{% else %}{% tournamenturl 'participants-public-adjudicator-record' adj.pk %}{% endif %}">
                        {{ adj.name }}</a>{% if adjtype == adjudicators.POSITION_CHAIR %} {% trans "Ⓒ" context "chair icon" %}{% elif adjtype == adjudicators.POSITION_TRAINEE %} {% trans "Ⓣ" context "trainee icon" %}{% endif %}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                  {% endwith %}
                </div>

                {# Motions #}
                {% if pref.public_motions or admin_page %}
                  <div class="list-group-item">
                    {% if current_round.motions_released or admin_page %}
                      {% if not current_round.motions_released %}
                        <em>{% trans "Motions are not released to public." %}</em><br />
                      {% endif %}
                      {% if debate.round.motion_set.all|length == 1 %}
                        <strong>{% trans "Motion:" %}</strong> {{ debate.round.motion_set.first.text }}
                      {% else %}
                        {% for motion in debate.round.motion_set.all %}
                          <strong>
                            {% blocktrans trimmed with seq=motion.seq %}
                              Motion {{ seq }}:
                            {% endblocktrans %}
                          </strong>
                          {{ motion.text }}<br />
                        {% endfor %}
                      {% endif %}
                    {% else %} {# elif not (current_round.motions_released or admin_page) #}
                      <em>{% trans "The motion(s) for this round haven't yet been released." %}</em>
                    {% endif %} {# current_round.motions_released or admin_page #}
                  </div>
                {% endif %} {# pref.public_motions or admin_page #}

              {% endwith %}

            {% empty %} {# elif not debateteam #}
              <div class="list-group-item">
                <em>
                  {% blocktrans trimmed with team_name=team_short_name %}
                    {{ team_name }} does not have a debate this round.
                  {% endblocktrans %}
                </em>
              </div>
            {% endfor %} {# debateteam #}

          {% else %} {# elif not (draw_released or admin_page) #}
            <div class="list-group-item">
              <em>{% trans "The draw for this round hasn't yet been released." %}</em>
            </div>
          {% endif %} {# draw_released or admin_page #}

        </div>
      </div>
    {% endif %} {# pref.public_draw != 'off' or admin_page #}

    {% if pref.public_participants or admin_page %}
      <div class="card">
        <div class="list-group list-group-flush">

          <div class="list-group-item">
            <h4 class="card-title mb-0">
              {# Just call it 'name' since this string is also used with adjudicators #}
              {% blocktrans trimmed with name=team_short_name %}
                About {{ name }}
              {% endblocktrans %}
            </h4>
          </div>

          {% if not use_code_names and team.short_name != team.long_name %}
            <div class="list-group-item">
              <strong>{% trans "Full name:" %}</strong>
              {{ team.long_name }}
            </div>
          {% endif %}

          {% if not use_code_names and team.code_name and pref.team_code_names != 'off' %}
            <div class="list-group-item">
              <strong>{% trans "Code name:" %}</strong>
              {{ team.code_name }}
            </div>
          {% endif %}

          {% if pref.show_speakers_in_draw %}
            <div class="list-group-item">
              <strong>{% trans "Speakers:" %}</strong>
              {% for speaker in team.speakers %}
                {{ speaker.name }}{% if not forloop.last %}, {% endif %}
              {% endfor %}
            </div>
          {% endif %}

          {% if team.division %}
            <div class="list-group-item">
              <strong>{% trans "Division:" %}</strong>
              {{ team.division.name }}
            </div>
          {% endif %}

          {% if pref.public_break_categories or admin_page %}
            <div class="list-group-item">
              <strong>{% trans "Eligible for break categories:" %}</strong>
              {% for category in team.break_categories.all %}
                {{ category.name }}{% if not forloop.last %}, {% endif %}
              {% endfor %}
            </div>
          {% endif %} {# pref.public_break_categories or admin_page #}

          {% if team.institution and pref.show_team_institutions %}
            <div class="list-group-item">
              <strong>{% trans "Institution:" %}</strong>
              {{ team.institution.name }}
            </div>
          {% endif %}

          {% if team.institution.region %}
            <div class="list-group-item">
              <strong>{% trans "Region:" %}</strong>
              {{ team.institution.region.name }}
            </div>
          {% endif %}

        </div>
      </div>
    {% endif %} {# pref.public_participants or admin_page #}

  </div>

  {% if pref.feedback_progress or admin_page %}
    {% include "feedback_progress_panel.html" with participant_name=team_short_name %}
  {% endif %}

  {% if pref.public_results or admin_page %}
    <div class="mt-md-4">
      {{ block.super }} {# this is the Vue table, which is populated with previous results #}
    </div>
  {% endif %}

{% endblock content %}
