{% extends "base_vue_table.html" %}
{% load debate_tags %}

{% block page-subnav-sections %}{% endblock %}<!-- No need for searching -->

{% block content %}

  <div class="row">

    <div class="col-md-6">
      <div class="panel {% if debateteam %}panel-primary{% else %}panel-default{% endif %}">
        <div class="panel-heading">
          <h4 class="panel-title">In This Round ({{ current_round.name }})</h4>
        </div>

        {% if debateteam %}
          <ul class="list-group">
            <li class="list-group-item active lead">
              {{ team.short_name }} is debating
              {% if debateteam.position != debateteam.POSITION_UNALLOCATED %}
                as the <strong>{{ debateteam.get_position_display|lower }}</strong> team
              {% endif %}
              against
              <strong><a href="{% tournament_url participants-team-record debateteam.opposition.team.pk %}" class="list-group-item-text">
                {{ debateteam.opposition.team.short_name }}</a></strong>
              in <strong>{{ debateteam.debate.venue.name }}</strong>.
            </strong></li>
            {% if current_round.starts_a %}
              <li class="list-group-item">
                The round begins at {{ current_round.starts_at }}
              </li>
            {% endif %}
            <li class="list-group-item">
              {% with adjudicators=debateteam.debate.adjudicators %}
                <strong>Adjudicator{{ adjudicators|length|pluralize }}:</strong>
                {% for adj, adjtype in adjudicators.with_positions %}
                  <a href="{% tournament_url participants-adjudicator-record adj.pk %}">
                    {{ adj.name }}</a>{% if adjtype == adjudicators.POSITION_CHAIR %} Ⓒ{% elif adjtype == adjudicators.POSITION_TRAINEE %} Ⓣ{% endif %}{% if not forloop.last %},{% endif %}
                {% endfor %}
              {% endwith %}
            </li>
            <li class="list-group-item">
              {% if debateteam.debate.round.motion_set.all|length == 1 %}
                <strong>Motion:</strong> {{ debateteam.debate.round.motion_set.first.text }}
              {% else %}
                {% for motion in debateteam.debate.round.motion_set.all %}
                  <strong>Motion {{ forloop.counter }}:</strong> {{ motion.text }}<br />
                {% endfor %}
              {% endif %}
            </li>
          </ul>
        {% else %}
          <div class="panel-body">
            <em>{{ team.short_name }} does not have a debate this round.</em>
          </div>
        {% endif %}
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">About {{ team.short_name }}</h4>
        </div>

        <ul class="list-group">
          {% if team.reference != team.short_reference %}
            <li class="list-group-item">
              <strong>Full name:</strong>
              {{ team.long_name }}
            </li>
          {% endif %}
          <li class="list-group-item">
            <strong>Speakers:</strong>
            {% for speaker in team.speakers %}
              {{ speaker.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </li>
          {% if team.division %}
            <li class="list-group-item">
              <strong>Division:</strong>
              {{ team.division.name }}
            </li>
          {% endif %}
          <li class="list-group-item">
            <strong>Eligible for:</strong>
            {% for category in team.break_categories.all %}
              {{ category.name }} Break{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </li>
          <li class="list-group-item">
            <strong>Institution:</strong>
            {{ team.institution.name }}
          </li>
          {% if team.institution.region %}
            <li class="list-group-item">
              <strong>Region:</strong>
              {{ team.institution.region }}
            </li>
          {% endif %}
        </ul>
      </div>
    </div>

  </div>

  {% if pref.feedback_progress %}
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Feedback Returns</h4>
          </div>
          <ul class="list-group">
            {% for tracker in feedback_progress.trackers %}
              {% if tracker.fulfilled %}
                <li class="list-group-item text-success">
                  <span class="badge">{{ tracker.round.name }}</span>
                  <span class="glyphicon glyphicon-ok"></span>
                  Has submitted feedback for
                  <strong>{{ tracker.submission.adjudicator.name }}</strong> of
                  {{ tracker.submission.adjudicator.institution.code }}
                </li>
              {% elif tracker.expected %}
                <li class="list-group-item text-danger">
                  <span class="badge">{{ tracker.round.name }}</span>
                  <span class="glyphicon glyphicon-remove"></span>
                  Has not submitted feedback for
                  {% for target in tracker.acceptable_targets %}
                    {% if not forloop.first and forloop.last %}or{% endif %}
                    <strong>{{ target.name }}</strong> of
                    {{ target.institution.code }}{% if not forloop.last %},{% endif %}
                  {% endfor %}
                  {% if tracker.acceptable_targets|length > 1 %}
                    (whoever gave the oral adjudication)
                  {% endif %}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  {% endif %}

  {{ block.super }}

{% endblock content %}