{% extends "base.html" %}
{% load static %}
{% load debate_tags %}

{% block page-title %}Division Standings after {{ round.name }}{% endblock %}
{% block head-title %}Division Standings{% endblock %}
{% block sub-title %}after {{ round.name }}{% endblock %}

{% block page-subnav-sections %}{% include "tables/table_search.html" %}{% endblock %}

{% block content %}
  <table id="dataTable" class="team-tab table" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th class="hidden"></th>
        <th><span data-toggle="tooltip" title="Ranking" class="glyphicon glyphicon-signal"></span></th>
        <th>
          <span class="glyphicon glyphicon-th-list" data-toggle="tooltip" title="" data-original-title="Division Rank"></span>
          <span data-toggle="tooltip" title="Division Rank" class="glyphicon glyphicon-signal"></span>
        </th>
        <th>Points</th>
        {% if pref.show_avg_margin %}
          <th><span data-toggle="tooltip" title="Average Winning Margin">AWM</span></th>
        {% endif %}
        <th>Total Speaks</th>
        <th><span class="glyphicon glyphicon-th-list" data-toggle="tooltip" title="" data-original-title="Division"></span></th>
        <th>Team</th>
        {% if pref.show_institutions %}
          <th>Inst<span class="hidden-xs">itution</span></th>
        {% endif %}
        <th>Wins</th>
      </tr>
    </thead>
    <tbody>
    {% for team in teams %}
      {% with teams|next_value:forloop.counter0 as next_value %}
      {% with teams|prev_value:forloop.counter0 as prev_value %}
      <tr class="">
        <td class="hidden">
          {% if team.rank != 0 %}
            {{ team.rank }}
          {% else %}
            <span class="hidden">999</span>
          {% endif %}
        </td>
        <td class="rank">
          <strong>
            {% if team.rank != 0 %}
              {{ team.rank }}{% if next_value.rank == team.rank or prev_value.rank == team.rank %}<span class="text-muted">=</span>{% endif %}
            {% endif %}
          </strong>
        </td>
        <td>
          {{ team.division_rank }}
        </td>
        {% if pref.team_points_rule == 'wadl' %}
          <td>{{ team.points }}</td>
        {% endif %}
        {% if pref.show_avg_margin %}
          <td>{{ team.avg_margin|stringformat:".2f" }}</td>
        {% endif %}
        <td>
          {{ team.speaker_score|stringformat:".2f" }}
        </td>
        <td>{{ team.division.name }}</td>
        <td>
          <span class="team team-speakers-hover" id="team_speakers_{{ team.id }}">
            {{ team.short_name }}
            {{ team.break_categories_str }}
          </span>
        </td>
        {% if pref.show_institutions %}
          <td>
            <span class="hidden-xs">{{ team.institution }}</span>
            <span class="visible-xs">{{ team.institution.code }}</span>
          </td>
        {% endif %}
        <td>{{ team.wins }}</td>
      </tr>
      {% endwith %}
      {% endwith %}
    {% endfor %}
    </tbody>
  </table>
{% endblock content %}

{% block extra-js %}
  {{ block.super }}
   <script type="text/javascript" charset="utf-8">
    $(document).ready( function() {
      var dTable = $("#dataTable").DataTable({
        "aaSorting": [[ 1, "asc" ]],
        "aoColumnDefs": [
          {"iDataSort": 0, "aTargets": [1] }, //sort based on a hidden column when another column is clicked
          { "bVisible": false, "aTargets": [0] }, //set column visibility
        ]
      });
      new $.fn.dataTable.FixedHeader( dTable, {alwaysCloneTop: true});
      $('#table-search').keyup(function(){
        dTable.search($(this).val()).draw();
      })
    } );
  </script>
{% endblock extra-js %}
