{% extends "base.html" %}
{% load debate_tags %}

{% block page-title %}Motions Balance{% endblock %}
{% block head-title %}Motions Balance{% endblock %}

{% block page-subnav-sections %}
  <a class="btn btn-default" href="{% round_url standings_index current_round %}">
    Standings Overview
  </a>
  <a class="btn btn-default" href="{% round_url team_standings current_round %}">
    Team Standings
  </a>
  {% if pref.enable_divisions %}
  <a class="btn btn-default" href="{% round_url division_standings current_round %}">
    Divisions Standings
  </a>
  {% endif %}
  <a class="btn btn-default" href="{% round_url speaker_standings current_round %}">
    Speaker Standings
  </a>
  {% if pref.show_novices %}
    <a class="btn btn-default" href="{% round_url novice_standings current_round %}">
      Novices Standings
    </a>
  {% endif %}
  {% if pref.reply_scores_enabled %}
    <a class="btn btn-default" href="{% round_url reply_standings current_round %}">
      Replies Standings
    </a>
  {% endif %}
  <a class="btn btn-default active" href="{% round_url motion_standings current_round %}">
    Motion Balance
  </a>
  {% include "tables/table_search.html" %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <table id="dataTable" class="table">
          <thead>
            <tr>
              <th>RSeq</th>
              <th>Round</th>
              <th>Order</th>
              <th>Reference</th>
              <th>M<span class="hidden-xs">otion</span></th>
              {% if pref.enable_flagged_motions %}
                <th>Flagged</th>
              {% endif %}
              {% if pref.enable_division_motions %}
                <th>Divisions</th>
              {% endif %}
              <th>Chosen</th>
              {% if pref.motion_vetoes_enabled %}
                <th><span title="Aff vetoes" data-toggle="tooltip">AV</th>
                <th><span title="Neg vetoes" data-toggle="tooltip">NV</th>
              {% endif %}
              <th><span title="Aff wins" data-toggle="tooltip">AW</span></th>
              <th><span title="Neg wins" data-toggle="tooltip">NW</span></th>
              <th><span title="Observed imbalance (deviation from 50/50 odds) as determined through a chi square test. Higher is more imbalanced." data-toggle="tooltip">Chi2</span></th>
              <th><span title="Probability of this bias not being due to random variations. Lower is more likely (statistically insignifcant examples muted)." data-toggle="tooltip">P-val.</span></th>
            </tr>
          </thead>
          <tbody>
            {% for motion in motions %}
            <tr>
              <td>{{ motion.round.seq }}</td>
              <td>{{ motion.round.abbreviation }}</td>
              <td>{{ motion.seq }}</td>
              <td>{{ motion.reference }}</td>
              <td>{{ motion.text }}</td>
              {% if pref.enable_flagged_motions %}
              <td>
                {% if motion.flagged %}
                  Yes
                {% else %}
                  No
                {% endif %}
              </td>
              {% endif %}
              {% if pref.enable_division_motions %}
                <td>
                {% for division in motion.divisions.all %}
                  {{ division.name }},
                {% endfor %}
                </td>
              {% endif %}
              <td>{{ motion.chosen_in }}</td>
              {% if pref.motion_vetoes_enabled %}
              <td>{{ motion.aff_vetoes }}</td>
              <td>{{ motion.neg_vetoes }}</td>
              {% endif %}
              <td>{{ motion.aff_wins }}</td>
              <td>{{ motion.neg_wins }}</td>
              <td class="{% if motion.p_value <= 0.05 %}strong{% elif motion.p_value >= 0.10 %}text-muted{% endif %}">
                {{ motion.c1|floatformat:1 }}
              </td>
              <td class="{% if motion.p_value <= 0.05 %}strong{% elif motion.p_value >= 0.10 %}text-muted{% endif %}">
                {{ motion.p_value|floatformat:2 }}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block extra-js %}
  <script type="text/javascript" charset="utf-8">

    $(document).ready( function() {
      var dTable = $('#dataTable').DataTable({
        "aaSorting": [[1, 'asc'], [2, 'asc']],
        "aoColumnDefs": [
          {"iDataSort": 0, "aTargets": [1] }, //sort based on a hidden column when another column is clicked
          { "bVisible": false, "aTargets": [0] }, //set column visibility
        ],
      });
      var fixedHeader = new $.fn.dataTable.FixedHeader( dTable, {alwaysCloneTop: true});
      $('#table-search').keyup(function(){
        dTable.search($(this).val()).draw();
      })

      $("#release_motions").click( function() {
        $("#releaseForm").submit();
        return false;
      } );
      $("#unrelease_motions").click( function() {
        $("#unreleaseForm").submit();
        return false;
      } );

    } );

  </script>
{% endblock extra-js %}
