{% extends "draw_rbase.html" %}
{% load debate_tags %}
{% load static %}

{% block page-title %}Speaker Standings after {{ round.name }}{% endblock %}
{% block head-title %}
  <span class="emoji">💯</span>Speaker Standings
{% endblock %}
{% block sub-title %}after {{ round.name }}{% endblock %}

{% block page-subnav-sections %}
  {% include "tables/table_search.html" %}
{% endblock %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-body">
    <table id="dataTable" class="table table-hover" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th class="hidden"></th>
        <th><span data-toggle="tooltip" title="Ranking" class="glyphicon glyphicon-signal"></span></th>
        <th>Name</th>
        {% if pref.show_novices %}
          <th><span class="glyphicon glyphicon-leaf" data-toggle="tooltip" title="Speaker's Novice Status"></span></th>
        {% endif %}
        {% if pref.show_emoji %}
          <th class="team-emoji"></th>
        {% endif %}
        <th>Team</th>
        {% if pref.show_institutions %}
          <th>Institution</th>
        {% endif %}
        {% for round in rounds %}
        <th>{{ round.abbreviation }}</th>
        {% endfor %}
        <th>Total</th>
        <th>Av<span class="hidden-sm">era</span>g<span class="hidden-sm">e</span></th>
      </tr>
    </thead>
    <tbody>
      {% for speaker in speakers %}
        {% with speakers|next_value:forloop.counter0 as next_value %}
        {% with speakers|prev_value:forloop.counter0 as prev_value %}
        <tr class="{% if not speaker.results_in %}danger{% endif%}">
          <td class="hidden">{{ speaker.rank }}</td>
          <td>
            <strong>
              {% if speaker.total %}
                {{ speaker.rank }}{% if next_value.rank == speaker.rank or prev_value.rank == speaker.rank %}<span class="text-muted">=</span>{% endif %}
              {% else %}
                N/A
              {% endif %}
            </strong>
          </td>
          <td>{{ speaker.name }}</td>
          {% if pref.show_novices %}
            <td>{% if speaker.novice %}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{% endif %}</td>
          {% endif %}
          {% if pref.show_emoji %}
            <td class="team-emoji">
              <span class="emoji">{{ speaker.team.emoji }}</span>
            </td>
          {% endif %}
          <td>
            <span class="team-speakers-hover" id="team_speakers_{{ speaker.team.id }}">
              {{ speaker.team.short_name }}
            </span>
          </td>
          {% if pref.show_institutions %}
            <td>{{ speaker.team.institution.code }}</td>
          {% endif %}
          {% for score in speaker.scores %}
            <td>{{ score|stringformat:".2f" }}</td>
          {% endfor %}
          <td>{{ speaker.total|stringformat:".2f" }}</td>
          <td>{{ speaker.average|stringformat:".2f" }}</td>
        </tr>
        {% endwith %}
        {% endwith %}
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>
{% endblock content %}

{% block extra-js %}
  <script type="text/javascript" charset="utf-8">
    $(document).ready( function() {
      var dTable = $("#dataTable").DataTable({
        "aaSorting": [[1, "asc"]],
        "aoColumnDefs": [
          {"iDataSort": 0, "aTargets": [1] }, //sort based on a hidden column when another column is clicked
          { "bVisible": false, "aTargets": [0] }, //set column visibility
        ]
      });
      new $.fn.dataTable.FixedHeader( dTable, {alwaysCloneTop: true});
      $('#table-search').keyup(function(){
        dTable.search($(this).val()).draw();
      });
    });
  </script>
{% endblock extra-js %}
