{% extends "standings_base.html" %}
{% load debate_tags %}
{% load static %}
{% load metricformat %}

{% block page-title %}Speaker Standings after {{ round.name }}{% endblock %}
{% block head-title %}
  <span class="emoji">💯</span>Speaker Standings
{% endblock %}
{% block sub-title %}after {{ round.name }}{% endblock %}
{% block speaker_active %}active{% endblock %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-body">
    <table id="dataTable" class="table" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th class="hidden">Rk</th>
        {% for info in standings.rankings_info %}
          <th>
            {% if info.glyphicon %}
              <span data-toggle="tooltip" title="{{ info.name|capfirst }}" class="glyphicon glyphicon-{{ info.glyphicon }}"></span>
            {% else %}
              <span class="hidden-xs">{{ info.name|capfirst }}</span>
              <span class="visible-xs">{{ info.abbr }}</span>
            {% endif %}
          </th>
        {% endfor %}
        <th>Name</th>
        {% if pref.show_novices %}
          <th><span class="glyphicon glyphicon-leaf" data-toggle="tooltip" title="Speaker's Novice Status"></span></th>
        {% endif %}
        {% if pref.show_emoji %}
          <th class="team-emoji"></th>
        {% endif %}
        <th>Team</th>
        {% if pref.show_institutions %}
          <th>Institution</th>
        {% endif %}
        {% for round in rounds %}
        <th>{{ round.abbreviation }}</th>
        {% endfor %}
        {% for info in standings.metrics_info %}
          <th>
            {% if info.glyphicon %}
              <span data-toggle="tooltip" title="{{ info.name|capfirst }}" class="glyphicon glyphicon-{{ info.glyphicon }}"></span>
            {% else %}
              <span class="hidden-xs">{{ info.name|capfirst }}</span>
              <span class="visible-xs">{{ info.abbr }}</span>
            {% endif %}
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for info in standings.standings %}
        <tr class="{% if info.result_missing %}danger{% endif%}">
          <td class="hidden">
            {{ info.rankings.rank.0|default:99999 }}
          </td>
          {% for ranking in info.iterrankings %}
            <td class="rank">
              <strong>
                {{ ranking.0|default:"n/a" }}{% if ranking.1 %}<span class="text-muted">=</span>{% endif %}
              </strong>
            </td>
          {% endfor %}
          <td>{{ info.speaker.name }}</td>
          {% if pref.show_novices %}
            <td>{% if info.speaker.novice %}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{% endif %}</td>
          {% endif %}
          {% if pref.show_emoji %}
            <td class="team-emoji">
              <span class="emoji">{{ info.speaker.team.emoji }}</span>
            </td>
          {% endif %}
          <td>
            {% include "tables/team.html" with team=info.speaker.team %}
          </td>
          {% if pref.show_institutions %}
            <td>{{ info.speaker.team.institution.code }}</td>
          {% endif %}
          {% for score in info.scores %}
            <td>{{ score|stringformat:".2f" }}</td>
          {% endfor %}
          {% for metric in info.itermetrics %}
            {# the metricformat filter is defined in templatetags/metricformat.py #}
            <td>{{ metric|metricformat }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>
{% endblock content %}

{% block extra-js %}
  <script>
    $(document).ready( function() {
      var dTable = $("#dataTable").DataTable({
        "aaSorting": [[1, "asc"]],
        "aoColumnDefs": [
          {"iDataSort": 0, "aTargets": [1] }, //sort based on a hidden column when another column is clicked
          { "bVisible": false, "aTargets": [0] }, //set column visibility
        ]
      });
      new $.fn.dataTable.FixedHeader( dTable, {alwaysCloneTop: true});
      $('#table-search').keyup(function(){
        dTable.search($(this).val()).draw();
      });
    });
  </script>
{% endblock extra-js %}
