{% extends "draw_rbase.html" %}
{% load static %}
{% load debate_tags %}
{% load metricformat %}

{% block head-title %}Team Standings <small>after {{ round.name }}</small>{% endblock %}
{% block page-title %}Team Standings after {{ round.name }}{% endblock %}
{% block page-header %}{% include "tables/table_search.html" %}{% endblock %}
{% block body-class %}team-standings{% endblock %}

{% block content %}
  <table id="dataTable" class="team-tab table table-hover table-striped" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th class="hidden">Rk</th>
        {% for info in standings.rankings_info %}
          <th>
            {% if info.glyphicon %}
              <span data-toggle="tooltip" title="{{ info.name }}" class="glyphicon glyphicon-{{ info.glyphicon }}"></span>
            {% else %}
              <span class="hidden-xs">{{ info.name }}</span>
              <span class="visible-xs">{{ info.abbr }}</span>
            {% endif %}
          </th>
        {% endfor %}
        {% if pref.enable_divisions %}
          <th><span class="glyphicon glyphicon-th-list" data-toggle="tooltip" title="" data-original-title="Division"></span></th>
        {% endif %}
        {% if pref.show_emoji %}
          <th class="team-emoji"></th>
        {% endif %}
        <th>Team</th>
        {% if pref.show_institutions %}
          <th>Inst<span class="hidden-xs">itution</span></th>
        {% endif %}
        {% for round in rounds %}
          <th>{{ round.abbreviation }}</th>
          <th>{{ round.abbreviation }}</th>
        {% endfor %}
        <th>Wins</th>
        {% for info in standings.metrics_info %}
          <th>
            {% if info.glyphicon %}
              <span data-toggle="tooltip" title="{{ info.name }}" class="glyphicon glyphicon-{{ info.glyphicon }}"></span>
            {% else %}
              <span class="hidden-xs">{{ info.name }}</span>
              <span class="visible-xs">{{ info.abbr }}</span>
            {% endif %}
          </th>
        {% endfor %}
        {% if pref.show_avg_margin %}
          <th><span data-toggle="tooltip" title="Average winning margin">AWM</span></th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
    {% for tsi in standings.standings %}
      <tr class="{% if not tsi.results_in %}danger{% endif %}">
        <td class="hidden">
          {% if tsi.rankings.rank.0 != 0 %}
            {{ tsi.rankings.rank.0 }}
          {% else %}
            <span class="hidden">999</span>
          {% endif %}
        </td>
        {% for ranking in tsi.iterrankings %}
        <td class="rank">
          <strong>
            {{ ranking.0 }}{% if ranking.1 %}<span class="text-muted">=</span>{% endif %}
          </strong>
        </td>
        {% endfor %}
        {% if pref.enable_divisions %}
          <td>{{ tsi.team.division.name }}</td>
        {% endif %}
        {% if pref.show_emoji %}
          <td class="team-emoji">{{ tsi.team.emoji }}</td>
        {% endif %}
        <td>
          <span class="team team-speakers-hover" id="team_speakers_{{ tsi.team.id }}">
            {{ tsi.team.short_name }}
            {{ tsi.team.break_categories_str }}
          </span>
        </td>
        {% if pref.show_institutions %}
          <td>
            <span class="hidden-xs">{{ tsi.team.institution }}</span>
            <span class="visible-xs">{{ tsi.team.institution.code }}</span>
          </td>
        {% endif %}
        {% for round_results in tsi.round_results %}
          {% if round_results.win >= 0 %}
            <td>
              {% if round_results.score == 0 %}
                {% with status=round_results.win|yesno:"Won (via forfeit),Forfeitted" icon=round_results.win|yesno:"glyphicon-share-alt text-success,glyphicon-eye-close text-danger" %}
                <span title="{{ status }} against {{ round_results.opposition.short_name }}" data-toggle="tooltip" class="team-emoji">
                  <span class="glyphicon {{ icon }}"></span>
                {% endwith %}
              {% else %}
                {% with status=round_results.win|yesno:"Won,Lost" icon=round_results.win|yesno:"glyphicon-arrow-up text-success,glyphicon-arrow-down text-danger" %}
                <span title="{{ status }} against {{ round_results.opposition.short_name }}" data-toggle="tooltip" class="team-emoji">
                  <span class="glyphicon {{ icon }}"></span>
                {% endwith %}
              {% endif %}
                  vs
                  {% if pref.show_emoji %}
                    <span class="emoji">{{ round_results.opposition.emoji }}</span>
                  {% else %}
                    {{ round_results.opposition.short_reference|slice:"5"}}&hellip;
                  {% endif %}
                </span>
            </td>
          {% else %}
            <td></td>
          {% endif %}
          {% if round_results.win >= 0 %}
            {% if show_ballots and round_results.debate_team.debate_id %}
              <td>
                <a class="team-score" href="{% tournament_url public_ballots_view round_results.debate_team.debate_id %}">
                  {{ round_results.get_score|floatformat:2 }}
                </a>
              </td>
            {% else %}
              <td>{{ round_results.get_score|floatformat:2 }}</td>
            {% endif %}
          {% else %}
            <td></td>
          {% endif %}
        {% endfor %}
        <td>{{ tsi.wins }}</td>
        {% for metric in tsi.itermetrics %}
        {# the metricformat filter is defined in templatetags/metricformat.py #}
        <td>{{ metric|metricformat }}</td>
        {% endfor %}
        {% if pref.show_avg_margin %}
          <td>{{ team.avg_margin|floatformat:2 }}</td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock content %}

{% block extra-js %}
  {{ block.super }}
   <script type="text/javascript" charset="utf-8">
    $(document).ready( function() {
      var dTable = $("#dataTable").DataTable({
        {% if pref.enable_divisions %}
          "aaSorting": [[ 1, "asc" ], [ 2, "asc" ]],
        {% else %}
          "aaSorting": [[ 1, "asc" ]],
        {% endif %}
        "aoColumnDefs": [
          {"iDataSort": 0, "aTargets": [1] }, //sort based on a hidden column when another column is clicked
          { "bVisible": false, "aTargets": [0] }, //set column visibility
        ]
      });
      new $.fn.dataTable.FixedHeader( dTable, {alwaysCloneTop: true});
      $('#table-search').keyup(function(){
        dTable.search($(this).val()).draw();
      })
    } );
  </script>
{% endblock extra-js %}