{% extends "draw_rbase.html" %}
{% load static %}
{% load debate_tags %}

{% block head-title %}Team Standings <small>after {{ round.name }}</small>{% endblock %}
{% block page-title %}Team Standings after {{ round.name }}{% endblock %}
{% block page-header %}{% include "tables/table_search.html" %}{% endblock %}
{% block body-class %}team-standings{% endblock %}

{% block content %}
  <table id="dataTable" class="team-tab table table-hover table-striped" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th class="hidden"></th>
        <th><span data-toggle="tooltip" title="Ranking" class="glyphicon glyphicon-signal"></span></th>
        {% if preferences.league_options__team_points_rule == 'wadl' %}
          <th>Points</th>
        {% endif %}
        {% if preferences.league_options__show_avg_margin %}
          <th><span data-toggle="tooltip" title="Average winning margin">AWM</span></th>
        {% endif %}
        {% if preferences.league_options__enable_divisions %}
          <th><span class="glyphicon glyphicon-th-list" data-toggle="tooltip" title="" data-original-title="Division"></span></th>
        {% endif %}
        {% if preferences.ui_options__show_emoji %}
          <th class="team-emoji"></th>
        {% endif %}
        <th>Team</th>
        {% if preferences.ui_options__show_institutions %}
          <th>Inst<span class="hidden-xs">itution</span></th>
        {% endif %}
        <th>Wins</th>
        {% for round in rounds %}
          <th>{{ round.abbreviation }}</th>
          <th>{{ round.abbreviation }}</th>
        {% endfor %}
          <th>Total</th>
        {% if metrics.draw_strength %}
          <th><span data-toggle="tooltip" title="Draw strength">DS</span></th>
        {% endif %}
        {% if metrics.sum_of_margins %}
          <th><span data-toggle="tooltip" title="Sum of margins">SM</span></th>
        {% endif %}
        {% if metrics.who_beat_whom %}
          <th><span data-toggle="tooltip" title="Who beat whom">WBW</span></th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
    {% for team in teams %}
      {% with teams|next_value:forloop.counter0 as next_value %}
      {% with teams|prev_value:forloop.counter0 as prev_value %}
      <tr class="{% if not team.results_in %}danger{% endif %}">
        <td class="hidden">
          {% if team.rank != 0 %}
            {{ team.rank }}
          {% else %}
            <span class="hidden">999</span>
          {% endif %}
        </td>
        <td class="rank">
          <strong>
            {% if team.rank != 0 %}
              {{ team.rank }}{% if next_value.rank == team.rank or prev_value.rank == team.rank %}<span class="text-muted">=</span>{% endif %}
            {% endif %}
          </strong>
        </td>
        {% if preferences.league_options__team_points_rule == 'wadl' %}
          <td>{{ team.points }}</td>
        {% endif %}
        {% if preferences.league_options__show_avg_margin %}
          <td>{{ team.avg_margin|stringformat:".2f" }}</td>
        {% endif %}
        {% if preferences.league_options__enable_divisions %}
          <td>{{ team.division.name }}</td>
        {% endif %}
        {% if preferences.ui_options__show_emoji %}
          <td class="team-emoji">{% team_emoji team %}</td>
        {% endif %}
        <td>
          <span class="team team-speakers-hover" id="team_speakers_{{ team.id }}">
            {{ team.short_name }}
            {{ team.break_categories_str }}
          </span>
        </td>
        {% if preferences.ui_options__show_institutions %}
          <td>
            <span class="hidden-xs">{{ team.institution }}</span>
            <span class="visible-xs">{{ team.institution.code }}</span>
          </td>
        {% endif %}
        <td>{{ team.wins }}</td>
        {% for round_results in team.round_results %}
          {% if round_results.win >= 0 %}
            <td>
              {% if round_results.score == 0 %}
                {% with status=round_results.win|yesno:"Won (via forfeit),Forfeitted" icon=round_results.win|yesno:"glyphicon-share-alt text-success,glyphicon-eye-close text-danger" %}
                <span title="{{ status }} against {{ round_results.opposition.short_name }}" data-toggle="tooltip" class="team-emoji">
                  <span class="glyphicon {{ icon }}"></span>
                {% endwith %}
              {% else %}
                {% with status=round_results.win|yesno:"Won,Lost" icon=round_results.win|yesno:"glyphicon-arrow-up text-success,glyphicon-arrow-down text-danger" %}
                <span title="{{ status }} against {{ round_results.opposition.short_name }}" data-toggle="tooltip" class="team-emoji">
                  <span class="glyphicon {{ icon }}"></span>
                {% endwith %}
              {% endif %}
                  vs
                  {% if preferences.ui_options__show_emoji %}
                    <span>{% team_emoji round_results.opposition %}</span>
                  {% else %}
                    {{ round_results.opposition.short_reference|slice:"5"}}&hellip;
                  {% endif %}
                </span>
            </td>
          {% else %}
            <td></td>
          {% endif %}
          {% if round_results.win >= 0 %}
            {% if show_ballots and round_results.debate_team.debate_id %}
              <td>
                <a class="team-score" href="{% tournament_url public_ballots_view round_results.debate_team.debate_id %}">
                  {{ round_results.get_score|stringformat:".2f" }}
                </a>
              </td>
            {% else %}
              <td>{{ round_results.get_score|stringformat:".2f" }}</td>
            {% endif %}
          {% else %}
            <td></td>
          {% endif %}
        {% endfor %}
        <td>
          {{ team.speaker_score|stringformat:".2f" }}
        </td>
        {% if metrics.draw_strength %}
          <td>{{ team.draw_strength }}</td>
        {% endif %}
        {% if metrics.sum_of_margins %}
          <td>{{ team.margins|stringformat:".2f" }}</td>
        {% endif %}
        {% if metrics.who_beat_whom %}
          <td>{{ team.who_beat_whom_display }}</td>
        {% endif %}
      </tr>
      {% endwith %}
      {% endwith %}
    {% endfor %}
    </tbody>
  </table>
{% endblock content %}

{% block extra-js %}
  {{ block.super }}
   <script type="text/javascript" charset="utf-8">
    $(document).ready( function() {
      var dTable = $("#dataTable").DataTable({
        {% if preferences.league_options__enable_divisions %}
          "aaSorting": [[ 1, "asc" ], [ 2, "asc" ]],
        {% else %}
          "aaSorting": [[ 1, "asc" ]],
        {% endif %}
        "aoColumnDefs": [
          {"iDataSort": 0, "aTargets": [1] }, //sort based on a hidden column when another column is clicked
          { "bVisible": false, "aTargets": [0] }, //set column visibility
        ]
      });
      new $.fn.dataTable.FixedHeader( dTable, {alwaysCloneTop: true});
      $('#table-search').keyup(function(){
        dTable.search($(this).val()).draw();
      })
    } );
  </script>
{% endblock extra-js %}