// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/type";
@import "bootstrap/forms";

@include text-emphasis-variant('.text-success', $brand-success);
@include text-emphasis-variant('.text-info', $brand-info);
@include text-emphasis-variant('.text-warning', $brand-warning);
@include text-emphasis-variant('.text-danger', $brand-danger);

// Fix for post-cache pathings
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../../css/bootstrap/glyphicons-halflings-regular.eot');
  src: url('../../css/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../../css/bootstrap/glyphicons-halflings-regular.woff') format('woff'), url('../../css/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'), url('../../css/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}


.h4_minus {
  @extend .h4;
  font-size: ceil(($font-size-base * 1.12));
}
.h4_plus {
  @extend .h4;
  font-size: ceil(($font-size-base * 1.50));
}

// For the collapsedmdouble menu

.navbar-nav {
    @media (max-width: $screen-xs-max) {
        &.navbar-left {
            float: left;
            width: 40%;
        }
        &.navbar-right {
            float: right;
            width: 60%;
        }
        .dropdown-menu
        .dropdown.open ul {
            clear: both;
        }
        .dropdown.open li {
            display: block;
        }
        .dropdown.open li a {
            padding-left: 15px;
            padding-right: 0px;
        }
        .dropdown.open .divider {
            display: none;
        }
        .dropdown.open .dropdown-menu {
        }
    }
}

// Override
.nav {
  > li {
    > a {
      padding: 15px 10px;
    }
  }
}

#header-options {
    min-height: 34px; // Spacer pre-form relocation via JS
    margin-bottom: 20px;
    margin-right: 0px;

    #dataTable_filter, .btn-group {
        margin-right: 20px;
    }
}


// Navigation Highlights

.public-draw a.public-draw-nav,
.public-motions a.public-motions-nav,
.public-results a.public-results-nav,
.public-feedback a.public-feedback-nav,
.public-add-ballot a.public-add-ballot-nav,
.public-add-feedback a.public-add-feedback-nav,
.public-feedback-tab a.public-feedback-nav,
.public-participants a.public-participants-nav,
.public-team-tab a.public-team-tab-nav,
.public-speaker-tab a.public-speaker-tab-nav,
.public-replies-tab a.public-replies-tab-nav,
.public-motions-tab a.public-motions-tab-nav,
.public-breakk a.public-breakk-nav,
.public-breaking-teams-open a.public-breaking-teams-open-nav,
.public-breaking-teams-esl a.public-breaking-teams-esl-nav,
.public-adjs a.public-breaking-adjs-nav,
.monkey-enter-result a.monkey-enter-result-nav,
.monkey-enter-feedback a.monkey-enter-feedback-nav,
.dash a.dash-nav,
.draw a.draw-nav,
.display-motions a.motions-nav,
.status a.status-nav,
.results a.results-nav,
.team-standings a.team-standings-nav,
.breakk a.breakk-nav,
.breaking-teams-open a.breaking-teams-open-nav,
.breaking-teams-esl a.breaking-teams-esl-nav,
.breaking-adjs a.breaking-adjs-nav,
.speaker-standings a.speaker-standings-nav,
.adj-feedback a.adjudicators-standings-nav,
.config a.config-nav {
    font-weight: bold;
}

.public-draw #header-options .btn-group {
    display: none;
}

// Sticky Footer

html, body {
  height: 100%;
}
#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -100px;
  padding: 0 0 115px;
  #container {
    margin-bottom: 20px;
  }
}
#footer {
  height: 115px;
    .navbar {
        height: 115px;
        margin-bottom: 0;
    }
    .navbar-brand {
        font-size: 14px;
        margin-bottom: 0;
    }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    #wrap {
      margin: 0 auto -100px;
      padding: 0 0 100px;
    }
    #footer {
      height: 100px;
        .navbar {
            height: 100px;
        }
    }
}
@media (min-width: $screen-md-min) {
    #wrap {
      margin: 0 auto -50px;
      padding: 0 0 50px;
    }
    #footer {
      height: 50px;
        .navbar {
            height: 50px;
        }
    }
}

// Universal Style overrides

.page-header h1 {
    margin-top: 0; // fixes button alignment easily
}
[data-toggle="tooltip"] {
    cursor: pointer; // for tooltips
    border-bottom: 2px dotted #ccc;
}
.alert-link {
    text-decoration: underline;
    font-weight: normal;
}
.check_target {
    cursor: pointer;
}

// Forms

input.error, select.error, .error input {
    border-color: $state-danger-text;
    color: $state-danger-text;
    background: $state-danger-bg;
}
.errorlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.error, .errorlist li {
    border-color: $state-danger-text;
    color: $state-danger-text;
}
.form-control-parent input {
    @extend .form-control;
}
.ballot-errors .errorlist {
    list-style-type: disc;
    margin: 0 2.5em;
    padding: 0;
}

// Tables (Universal)

.col-md-12.table-container {
    padding-left: 0;
    padding-right: 0;
}
table a:hover {
    cursor: pointer;
}
.table-division-bottom {
    border-bottom: 5px solid #dddddd;
}
.table-division-top {
    border-top: 5px solid #dddddd;
}

@media (max-width: $screen-xs-max) {
    .page-header {
        margin-top: 0px;
    }
    #header-options {
        min-height: 82px
    }
}
@media (max-width: $screen-sm-max) {
    .col-md-12.table-container {
        margin-left: -15px;
        margin-right: -15px;
    }
}

#wrap table.table, .FixedHeader_Cloned .table  {
    margin-top: 0px !important; // for the fixed header

    tbody > tr > td,
    thead > tr > th  {
        // fix for header and icons
        //min-width: 35px; // minimum widths so icons are jammed
        padding: 8px;
        min-width: 35px;
    }
    // Phones
    @media (max-width: $screen-xs-max) {
        tbody > tr > td,
        thead > tr > th  {
            //min-width: auto;
            padding: 4px;
        }
        // .team-emoji, .th-emoji {
        //     display: none;
        // }
    }
    .team-emoji, .th-emoji {
        // max-width: 28px;
        text-align: center;
        padding: 4px 0 0 0;
        img {
            width: 28px;
            height: 28px;
        }
    }
    .th-emoji {
        img {
            height: 10px;
            width: 28px;
            visibility: hidden; /* space to get the size right pre JS-resize */
        }
    }
    .opponent-emoji {
        // min-width: 60px;
        line-height: 18px;
        text-align: center;
        // padding: 4px 0 4px 0;
        img {
            width: 20px;
            height: 20px;
        }
    }

    thead {
        background-color: #FFF; // hovering opacity

        .sorting {
            background: no-repeat center right;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAMAAABFjsb+AAAAVFBMVEXc3Nz////c3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3NzYsbpjAAAAG3RSTlMAAAEGBwoNIyo8QVlha3WQkZ24vtvj7vL3+frOn//RAAAAbklEQVR4AYXQSQ4DIQxE0UrPczdzwPe/Z0DKwiaK+MsnL0rG67f/BmC8ewDSrnTWtjiys7ROEdHTCdt8trBymwyV9MDsiO9S3Bv79u/dwWzQVDITM6whk9/kviebkvswW3ILpOFMF2rr71Fa+6cfTz0HJjW1XVUAAAAASUVORK5CYII=);
        }
        .sorting_asc {
            background: no-repeat center right;
            background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAgAAZABkAAD/2wBDAAEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQECAgICAgICAgICAgMDAwMDAwMDAwP/2wBDAQEBAQEBAQIBAQICAgECAgMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwP/wAARCAATABMDAREAAhEBAxEB/8QAGAAAAwEBAAAAAAAAAAAAAAAAAAUIBgr/xAAkEAABBQABAwQDAAAAAAAAAAADAQIEBQYABxESCCEiMRQzQf/EABsBAAIBBQAAAAAAAAAAAAAAAAAFAwIEBgcI/8QAJxEAAgEDAwMEAwEAAAAAAAAAAQIDAAQFBhESITFRBxRB4RMiYYH/2gAMAwEAAhEDEQA/AO8DqT1BznSzEaPfaqU2LS5yuNOP8moaWZE8IldDa79s6xlOYETE+3vT+d+ZBpbTWU1fn7XTmHQvf3UoQeFHdnbwiLuzH4AqC5uI7WBp5Tsijf6H9NSD6L/V4/1CJrc1sEgVu6qLKfdVMKMgwCscdMlqsQMYaI1Ty84pWxzv93EG4ZHfJXrzdfrr6Kr6amyyuE/JLp6aJIpGbclLlV/YsfhZ9i6DsrBlHQKKVYfLe/5xzbCcEkDyv12P+Gr25zpTykt9nM/qYKVmkpau+rUOKUkC3gx7CH+SFHIE6xpQyhUovNfFVTu3v7cv8dlMliLj3eKnmtrriV5xuyNxPcclIOx26jfrVDxxyrxkAZfBG9IqXpp08zliG3z+HylJax2GGCxqqGsgTRDkDURxskxYwjNYYa+Lk79nJ98YX2qtTZS1ayyWQvLizYglJJpHUlTuCVZiNweoPxUaW1vG3ONFVvIAFbfiCp6OFFHCijhRX//Z);
            color: #000;
        }
        .sorting_desc {
            background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAgAAZABkAAD/2wBDAAEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQECAgICAgICAgICAgMDAwMDAwMDAwP/2wBDAQEBAQEBAQIBAQICAgECAgMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwP/wAARCAATABMDAREAAhEBAxEB/8QAGAAAAwEBAAAAAAAAAAAAAAAAAAUIBgr/xAAkEAABBQABAwQDAAAAAAAAAAADAQIEBQYABxESCCEiMRQzQf/EABsBAAIBBQAAAAAAAAAAAAAAAAAFAwIEBgcI/8QAJxEAAgEDAwMEAwEAAAAAAAAAAQIDAAQFBhESITFRBxRB4RMiYYH/2gAMAwEAAhEDEQA/AO8DqT1BznSzEaPfaqU2LS5yuNOP8moaWZE8IldDa79s6xlOYETE+3vT+d+ZBpbTWU1fn7XTmHQvf3UoQeFHdnbwiLuzH4AqC5uI7WBp5Tsijf6H9NSD6L/V4/1CJrc1sEgVu6qLKfdVMKMgwCscdMlqsQMYaI1Ty84pWxzv93EG4ZHfJXrzdfrr6Kr6amyyuE/JLp6aJIpGbclLlV/YsfhZ9i6DsrBlHQKKVYfLe/5xzbCcEkDyv12P+Gr25zpTykt9nM/qYKVmkpau+rUOKUkC3gx7CH+SFHIE6xpQyhUovNfFVTu3v7cv8dlMliLj3eKnmtrriV5xuyNxPcclIOx26jfrVDxxyrxkAZfBG9IqXpp08zliG3z+HylJax2GGCxqqGsgTRDkDURxskxYwjNYYa+Lk79nJ98YX2qtTZS1ayyWQvLizYglJJpHUlTuCVZiNweoPxUaW1vG3ONFVvIAFbfiCp6OFFHCijhRX//Z);
            background: no-repeat center right;
            color: #000;
        }
        .sorting_asc_disabled {
            background: no-repeat center right;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAMAAABFjsb+AAAAUVBMVEX///96gN16gN16gN16gN16gN16gN16gN16gN16gN16gN16gN16gN16gN16gN16gN16gN16gN16gN16gN16gN16gN16gN16gN16gN16gN16gN3q5rhtAAAAGnRSTlMAAQYHCg0jKjxBWWFrdZCRnbi+2+Pu8vf5+jPWYrMAAAA/SURBVHgBYyAVsPAxYYjxSvKgC7GLSAmzoQoxCkhJSfEzoohxigLFxDiQhViFpEBAkBlJjFtCHAQkuBiGEwAA3pYC872A20UAAAAASUVORK5CYII=);
        }
        .sorting_desc_disabled {
            background: no-repeat center right;
            background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEASABIAAD/2wBDAAICAgICAQICAgICAgIDAwYEAwMDAwcFBQQGCAcICAgHCAgJCg0LCQkMCggICw8LDA0ODg4OCQsQEQ8OEQ0ODg7/2wBDAQICAgMDAwYEBAYOCQgJDg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg7/wAARCAATABMDASIAAhEBAxEB/8QAGQABAAIDAAAAAAAAAAAAAAAAAAIFBgcJ/8QAJhAAAQMDAwIHAAAAAAAAAAAAAQACAwQFEQYSExRRISIxQUJxsf/EABQBAQAAAAAAAAAAAAAAAAAAAAD/xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIRAxEAPwDv4iqb1Hcn6dqDaZ+CvYN0XlDg/Hx8e6w3RVx1LeK2oqrnVHoIMs2cLWl7+3p7fuEGyEREBQjijiYWxRsjaXFxDGgAknJP2URBNERB/9k=);
        }
        .sorting, .sorting_asc, .sorting_desc, .sorting_asc_disabled, .sorting_desc_disabled {
            cursor: pointer;
        }
    }

    th:active {
        outline: none;
    }
}

@include table-row-variant('debate-status-N', $state-warning-bg);
.debate-status-N a {
    color: darken($state-warning-bg, 40%);
}

@include table-row-variant('debate-status-D', $state-info-bg);
@include table-row-variant('debate-status-C', $state-success-bg);
@include table-row-variant('debate-status-P', $table-bg-active);
@include table-row-variant('debate-status-B', $table-bg-active);

.debate-status-B {
    @extend .text-muted;
}

// Modals

.modal-body {
    overflow: auto;
}
.modal-lg {
    width: 90%;
}

// Tables - Specific

.adj-chair {
    text-decoration: underline;
}
.adj-trainee {
    font-style: italic;
}


// Draw displays

#draw.dataTable {
    .adj-names {
        ul {
            padding-left: 0px;
            margin-left: 0;
            list-style-type: none;
        }
    }
}

.draw-with-standings .em {
    font-weight: bold;
    color: chocolate;
    font-style: normal;
}

.draw-with-standings .first-in-bracket {
    border-top: 3px solid chocolate;
}
span.esl {
    text-transform: uppercase;
}


// Editing the Draw

.edit-venues, .edit-adjs {
    table {
        border-collapse: separate;
    }
    #container {
       min-height: 1000px;
    }
    .btn-default.text-left {
        padding-left: 6px;
        padding-right: 6px;
    }
    #scratch {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        overflow-y: scroll;
    }
    .venue, .adj {
        max-width: 300px;
    }
    .importance {
        width: 60px;
        text-align: left;
        form {
            margin: -5px -6px;
        }
        select {
            @extend .form-control;
        }
    }
    .border-success {
        border: 2px solid $btn-success-border;
    }
    .venue:hover, .adj:hover {
        cursor: move;
    }
    .adj {
        .info {
            display: inline-block;
            float: right;
        }
        .info:hover {
            cursor: pointer;
            z-index: 11;
        }
        &.btn-danger .info, &.btn-warning .info {
            color: #fff;
        }
    }
    #unusedTable {
        // For compactness
        td {
            padding: 5px 0 0 0;
            border: none;
            line-height: 32px;
            text-align: center;
        }
    }

}

// Ballots

.scoresheet {
    .score input {
        width: 70px;
    }
    .aff_total, .neg_total {
        width: 70px;
        font-weight: bold;
        cursor: default;
    }
}

.edit-ballot-link-discarded, .edit-ballot-link-discarded:hover {
    color: #808080;
    text-decoration: line-through;
}

// Motions

.assign-motions .list-group-item-text {
    height: 54px;
    overflow: hidden;
}


// Scoresheets

.scoresheet-view {
    .control-label {
        text-align: right;
        vertical-align: middle;
    }
    .score {
        width: 70px;
        text-align: right;
    }
    .total {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .total.score {
        font-weight: bold;
        border-radius: 3px;
    }
    .win {
        background-color: #47a447;
        color: white;
        border-color: #398439;
    }
    .loss {
        background-color: #d2322d;
        color: white;
        border-color: #ac2925;
    }
    .motion-veto {
        text-decoration: line-through
    }
}

.team-tab a.team-score {
    // Darker than normal link, but not black
    color: #285379;
}

// Basic print styles

@media print {

    #header-options, .fixedHeader {
        display: none;
    }
    .page-header {
        margin-bottom: 0px;
        .col-md-12 {
            padding-left: 0px;
        }
    }
    table {
        page-break-inside: avoid; // Don't split a table across multiple pages
        tr {
            page-break-inside: avoid;
            page-break-after: auto
        }
        [data-toggle="tooltip"] {
            border-bottom: none;
        }
    }
    table.h4 {
        font-size: 75%;
        font-weight: normal;
    }
    #djDebug {
        display: none !important;
    }
}
