// Core variables and mixins
@import "../bootstrap/stylesheets/bootstrap/variables";
@import "../bootstrap/stylesheets/bootstrap/mixins";
@import "../bootstrap/stylesheets/bootstrap/type";
@import "../bootstrap/stylesheets/bootstrap/forms";
//@import "datatables/dataTables.bootstrap.css";

@include text-emphasis-variant('.text-success', $brand-success);

@include text-emphasis-variant('.text-info', $brand-info);

@include text-emphasis-variant('.text-warning', $brand-warning);

@include text-emphasis-variant('.text-danger', $brand-danger);

// For the collapsedmdouble menu
.navbar-nav {
    @media (max-width: $screen-xs-max) {
        &.navbar-left {
            float: left;
            width: 40%;
        }
        &.navbar-right {
            float: right;
            width: 60%;
        }
        .dropdown-menu
        .dropdown.open ul {
            clear: both;
        }
        .dropdown.open li {
            display: block;
        }
        .dropdown.open li a {
            padding-left: 15px;
            padding-right: 0px;
        }
        .dropdown.open .divider {
            display: none;
        }
        .dropdown.open .dropdown-menu {
        }
    }
}

#header-options {
    min-height: 34px; // Spacer pre-form relocation via JS
    margin-bottom: 20px;

    #dataTable_filter, .btn-group {
        margin-right: 20px;
    }
}


// Navigation Highlights

.public-draw a.public-draw-nav,
.public-motions a.public-motions-nav,
.public-feedback a.public-feedback-nav,
.public-add-ballot a.public-add-ballot-nav,
.public-add-feedback a.public-add-feedback-nav,
.public-feedback-tab a.public-feedback-nav,
.public-participants a.public-participants-nav,
.public-team-standings a.public-team-standings-nav,
.monkey-enter-result a.monkey-enter-result-nav,
.monkey-enter-feedback a.monkey-enter-feedback-nav,
.dash a.dash-nav,
.draw a.draw-nav,
.display-motions a.motions-nav,
.status a.status-nav,
.results a.results-nav,
.team-standings a.team-standings-nav,
.speaker-standings a.speaker-standings-nav,
.adj-feedback a.adjudicators-standings-nav,
.config a.config-nav {
    font-weight: bold;
}

// Sticky Footer

html, body {
  height: 100%;
}
#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -100px;
  padding: 0 0 150px;
}
#footer {
  height: 150px;
    .navbar {
        height: 150px;
        margin-bottom: 0;
    }
    .navbar-brand {
        font-size: 14px;
        margin-bottom: 0;
    }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    #wrap {
      margin: 0 auto -100px;
      padding: 0 0 100px;
    }
    #footer {
      height: 100px;
        .navbar {
            height: 100px;
        }
    }
}
@media (min-width: $screen-md-min) {
    #wrap {
      margin: 0 auto -50px;
      padding: 0 0 50px;
    }
    #footer {
      height: 50px;
        .navbar {
            height: 50px;
        }
    }
}

// Universal Style overrides

.page-header h1 {
    margin-top: 0; // fixes button alignment easily
}
[data-toggle="tooltip"] {
    cursor: pointer; // for tooltips
    border-bottom: 2px solid #ccc;
    img {

    }
}
.alert-link {
    text-decoration: underline;
    font-weight: normal;
}

// Forms

input.error, select.error, .error input {
    border-color: $state-danger-text;
    color: $state-danger-text;
    background: $state-danger-bg;
}
.errorlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.error, .errorlist li {
    border-color: $state-danger-text;
    color: $state-danger-text;
}
.form-control-parent input {
    @extend .form-control;
}
.ballot-errors .errorlist {
    list-style-type: disc;
    margin: 0 2.5em;
    padding: 0;
}

// Tables

.col-md-12.table-container {
    padding-left: 0;
    padding-right: 0;
}
table.dataTable {
    margin-top: 0px !important; // for the fixed header

    thead {
        background-color: #FFF; // hovering opacity

        .sorting {
            background: url('../images/sort_both.png') no-repeat center right;
        }
        .sorting_asc {
            background: url('../images/sort_asc.png') no-repeat center right;
            color: #000;
        }
        .sorting_desc {
            background: url('../images/sort_desc.png') no-repeat center right;
            color: #000;
        }
        .sorting_asc_disabled {
            background: url('../images/sort_asc_disabled.png') no-repeat center right;
        }
        .sorting_desc_disabled {
            background: url('../images/sort_desc_disabled.png') no-repeat center right;
        }
        .sorting,
        .sorting_asc,
        .sorting_desc,
        .sorting_asc_disabled,
        .sorting_desc_disabled {
            cursor: pointer;
        }
    }
    thead > tr > td, thead > tr > th  {
        // fix for header and icons
        min-width: 40px; // minimum widths so icons are jammed
        padding-right: 4px;
        padding-left: 8px;
    }
    th:active {
        outline: none;
    }

    .adj-chair {
        text-decoration: underline;
    }
    .adj-trainee {
        font-style: italic;
    }
    .team-emoji {
        max-width: 28px;
        img {
            width: 28px;
            height: 28px;
        }
        text-align: center;
        padding: 4px 0 4px 0;

    }
    .opponent-emoji {
        min-width: 60px;
        line-height: 20px;
        text-align: center;
        padding: 4px 0 4px 0;
        img {
            width: 20px;
            height: 20px;
        }
    }
}
.modal-lg {
    width: 90%;
}


// Draw displays

#draw.dataTable {
    td {
        padding-bottom: 0;
    }
    .adj-names {
        ul {
            padding-left: 0px;
            margin-left: 0;
            list-style-type: none;
        }
    }
}

.draw-with-standings .em {
    font-weight: bold;
    color: chocolate;
    font-style: normal;
}

.draw-with-standings .first-in-bracket {
    border-top: 3px solid chocolate;
}

// Mobile Tables


@media (max-width: $screen-xs-max) {
    .page-header {
        margin-top: 0px;
    }
    #header-options {
        min-height: 82px
    }
    .col-md-12.table-container {
        margin-left: -15px;
        margin-right: -15px;
    }
    .table > thead > tr > th, .table > thead > tr > td,
    .table > tbody > tr > th, .table > tbody > tr > td,
    .table > tfoot > tr > th, .table > tfoot > tr > td {
        padding-left: 4px;
        padding-right: 4px;
    }
}



// Editing the Draw

.edit-venues, .edit-adjs {
    table {
        border-collapse: separate;
    }
    #container {
       min-height: 1000px;
    }
    .btn-default.text-left {
        padding-left: 6px;
        padding-right: 6px;
    }
    #scratch {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
    }
    .venue, .adj {
        max-width: 300px;
    }
    .btn-holder {
        padding: 4px;
        border: 2px solid #ddd;
    }
    .importance {
        width: 45px;
        text-align: left;
        form {
            margin: -5px -6px;
        }
        select {
            @extend .form-control;
        }
    }
    .border-success {
        border: 2px solid $btn-success-border;
    }
    .venue:hover, .adj:hover {
        cursor: move;
    }
    .adj {
        .info {
            display: inline-block;
            float: right;
        }
        .info:hover {
            cursor: pointer;
            z-index: 11;
        }
        &.btn-danger .info, &.btn-warning .info {
            color: #fff;
        }
    }
    #unusedTable {
        // For compactness
        td {
            padding: 5px 0 0 0;
            border: none;
            line-height: 32px;
            text-align: center;
        }
    }

}

// Ballots

.scoresheet {
    .score input {
        width: 70px;
    }
    .aff_total, .neg_total {
        width: 70px;
        font-weight: bold;
        cursor: default;
    }
}

.edit-ballot-link-discarded, .edit-ballot-link-discarded:hover {
    color: #808080;
    text-decoration: line-through;
}


