{% extends "base.html" %}
{% load static %}

{% block head-title %}
  {{ round.abbreviation }} Feedback Forms <br><small>(use CTRL+P to save to PDF for printing, but be sure to set orientation to PORTRAIT, to turn off headers/footers and turn on background graphics. Works best in Safari or Firefox.)</small>
{% endblock %}
{% block page-title %}Printable Feedback Forms for {{ round.name }}{% endblock %}
{% block body-class %}print-feedback{% endblock %}

{% block content %}

  {% for debate in draw %}

    {% with source=debate.aff_team target_type="orallist" %}
      {% include "printing/feedback_sheet.html" %}
    {% endwith %}

    {% with source=debate.neg_team target_type="orallist" %}
      {% include "printing/feedback_sheet.html" %}
    {% endwith %}


    {% for type, adj in debate.adjudicators %}
      {% if type == 'C' and debate.adjudicators.is_panel %}

        {% for subtype, subadj in debate.adjudicators %}
          {% if subtype == 'T' %}
            {% with source=adj target=subadj target_type="trainee" %}
              {% include "printing/feedback_sheet.html" %}
            {% endwith %}
          {% elif subtype == 'P' %}
            {% with source=adj target=subadj target_type="panelist" %}
              {% include "printing/feedback_sheet.html" %}
            {% endwith %}
          {% endif %}
        {% endfor %}

      {% elif type == 'C' and not debate.adjudicators.is_panel %}

        <!-- no feedback needed -->

      {% elif type == 'P' %}

        {% with source=adj target=debate.chair target_type="chair" %}
          {% include "printing/feedback_sheet.html" %}
        {% endwith %}

      {% elif type == 'T' %}

        {% with source=adj target=debate.chair target_type="chair" %}
          {% include "printing/feedback_sheet.html" %}
        {% endwith %}
      {% endif %}

    {% endfor %}

 {% endfor %}

{% endblock content %}