
// Our overrides (load before bootstrap)
@import 'components/variables';

// Bootstrap (custom module selection)
@import 'components/bootstrap-custom';

// General styles
@import 'modules/flexbox';
@import 'modules/footer';
@import 'modules/forms';
@import 'modules/icons';
@import 'modules/interaction';
@import 'modules/drag-and-drop';
@import 'modules/layout';
@import 'modules/nav';
@import 'modules/print';
@import 'modules/tables';
@import 'modules/typography';

// Function specific styles
@import 'components/allocation-old';
@import 'components/allocations';
@import 'components/datavis';
@import 'components/page-specific';
@import 'components/diversity-highlights';
@import 'components/allocation-highlights';
@import 'components/sidebar-round-progress';

//------------------------------------------------------------------------------
// To Refactor
//------------------------------------------------------------------------------

.ui-helper-hidden-accessible {
  display: none; // Remove when jquery UI is removed
}