{% extends "base.html" %}
{% load debate_tags i18n %}

{% block head-title %}📺 {% trans "Display Draw" %}{% endblock %}
{% block page-title %}{% trans "Display Draw" %}{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">

      {% roundurl 'draw-assistant-display-by-venue' round as url %}
      {% include "components/item-action.html" with text="Display Draw ordered by Venue" subtext="(for the briefing room)" emoji="🏫" blank=True %}

      {% roundurl 'draw-assistant-display-by-team' round as url %}
      {% include "components/item-action.html" with text="Display Draw ordered by Team" subtext="(for the briefing room)" emoji="👭" blank=True %}

      {% roundurl 'motions-display' round as url %}
      {% include "components/item-action.html" with text="Display Motions" subtext="(for the briefing room)" emoji="📃" blank=True %}

    </ul>
    <ul class="list-group mt-3">

      {% roundurl 'printing-scoresheets' round as url %}
      {% include "components/item-action.html" with text="View Ballot Forms" subtext="(for printing)" emoji="💯" %}

      {% roundurl 'printing-feedback' round as url %}
      {% include "components/item-action.html" with text="View Feedback Forms" subtext="(for printing)" emoji="🙅" %}

      {% if pref.public_divisions %}
        {% roundurl 'printing-master-sheets-list' round as url %}
        {% include "components/item-action.html" with text="View Division Sheet" subtext="(for printing)" emoji="📠" %}
      {% endif %}

    </ul>
  </div>
</div>


<div class="modal fade" id="editStartTime" tabindex="-1" role="dialog" aria-labelledby="editStartTime">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <form id="startTimeForm" method="POST" action="{% roundurl 'draw-start-time-set' %}">
        <div class="modal-body list-group list-group-flush">

          {% include "components/form-title.html" with title="Change Start Time" text="" %}

          <div class="list-group-item pb-3">
            <div class="form-group">
              <label>Start at</label>
              <input class="form-control" placeholder="{{ round.starts_at|time:'H:i' }}" name="start_time"></input>
            </div>
          </div>

          {% include "components/form-submit.html" with title="Save" %}

        </div>
      </form>

    </div>
  </div>
</div>

{% endblock content %}
