{% extends "base.html" %}
{% load debate_tags i18n %}

{% block head-title %}Draw Display for {{ round.name }}{% endblock %}
{% block page-title %}Draw Display for {{ round.name }}{% endblock %}

{% block page-subnav-sections %}
{% if user.is_superuser %}

    <a class="btn btn-outline-primary " href="{% roundurl 'draw' %}">
      <i data-feather="chevron-left"></i> View Draw
    </a>

    {% if not pref.enable_debate_scheduling %}
      <a href="" class="btn {% if round.starts_at %}btn-primary{% else %}btn-primary{% endif %}"
         data-toggle="modal" data-target="#editStartTime">
        {% if round.starts_at %}Debates Start at {{ round.starts_at }}{% else %}Add Start Time{% endif %}
      </a>
    {% else %}
      <a href="{% roundurl 'draw-schedule-debates' %}" class="btn btn-outline-primary">
        Schedule Debates
      </a>
    {% endif %}

{% endif %}
{% endblock %}

{% block page-subnav-actions %}
  <a href="{% roundurl 'results-round-list' %}" class="btn btn-outline-success">
    {% trans "Enter Results" %}<i data-feather="chevron-right"></i>
  </a>
{% endblock %}

{% block content %}

{% if user.is_superuser %}
<div class="row mb-4">

  <div class="col">
    <div class="card">

      <div class="card-body">
        <h5 class="card-title mb-0">Motion Details</h5>
      </div>
      <div class="list-group list-group-flush">
        {% roundurl 'motions-edit' round as url %}
        {% if pref.motion_vetoes_enabled %}
          {% trans "Enter a motion" as enter_text %}
          {% trans "Edit the motion" as edit_text %}
        {% else %}
          {% trans "Enter motions" as enter_text %}
          {% trans "Edit motions" as edit_text %}
        {% endif %}
        {% if round.motion_set.count > 0 %}
          {% if round.motion_set.count > 1 %}
            {% blocktrans trimmed asvar text with motions_count=round.motion_set.count %}
              {{ motions_count }} motions have been entered.
            {% endblocktrans %}
          {% else %}
            {% trans "A motion has been entered." as text %}
          {% endif %}
          {% include "components/item-alert.html" with type="" %}
          {% include "components/item-action.html" with text=edit_text type="primary" icon="check-circle" %}
        {% elif pref.enable_motions %}
          {% trans "Your configuration/format requires motions to be specified as part of ballot entry. Make sure they are added before results come in!" as text %}
          {% include "components/item-alert.html" with type="danger" %}
          {% include "components/item-action.html" with text=enter_text type="success" to_complete=True  %}
        {% else %}
          {% trans "A motion should be added if you want to display it to the auditorium or print in on your ballots (using the links below) or to display it (later) on the public motions page." as text %}
          {% include "components/item-alert.html" with type="warning" %}
          {% include "components/item-action.html" with text=enter_text type="success" to_complete=True %}
        {% endif %}
      </div>

    </div>
  </div>

  <div class="col">
    <div class="card">

      <div class="card-body">
        <h5 class="card-title mb-0">Release Draw</h5>
      </div>
      <div class="list-group list-group-flush">

        {% if round.draw_status == round.STATUS_RELEASED %}

          {% trans "Unrelease Draw to Public" as release_text %}
          {% if pref.public_draw %}
            {% include "components/item-alert.html" with type="" text="Draw has been released" %}
          {% else %}
            {% tournamenturl 'options-tournament-index' as alert_link %}
            {% blocktrans trimmed asvar text with alert_link=alert_link %}
              You have released the draw, but it will not show to the public unless 'public view of draw' setting is enabled in <a class="alert-link" href="{{ alert_link }}"> this tournament's configuration</a>.
            {% endblocktrans %}
            {% include "components/item-alert.html" with type="warning" %}
          {% endif %}

          {% include "components/item-action.html" with type="primary" id="triggerReleaseDrawForm" url="" text=release_text icon="check-circle" %}
          <form id="releaseDrawForm" method="POST" action="{% roundurl 'draw-unrelease' %}">{% csrf_token %}</form>

        {% else %}

          {% trans "Release Draw to Public" as release_text %}
          {% if pref.public_ballots or pref.public_ballots_randomised or pref.public_feedback or pref.public_feedback_randomised or pref.public_draw %}

            {% if pref.public_ballots or pref.public_ballots_randomised %}
              {% trans "Your have allowed public ballot submissions. The draw must be released before submissions for this round can be added." as text %}
              {% include "components/item-alert.html" with type="danger" %}
            {% endif %}
            {% if pref.public_feedback or pref.public_feedback_randomised %}
              {% trans "Your have allowed public feedback submissions. The draw must be released before submissions for this round can be added." as text %}
              {% include "components/item-alert.html" with type="danger" %}
            {% endif %}
            {% if pref.public_draw %}
              {% trans "Your tournament is configured to show the draw publicly. Releasing a draw will allow it to show it on this page." as text %}
              {% include "components/item-alert.html" with type="info" %}
            {% endif %}

            {% include "components/item-action.html" with type="success" id="triggerReleaseDrawForm" text=release_text url="" to_complete=True %}

          {% else %}

            {% trans "Your configuration doesn't have a public draw page or feedback/ballot submissions. There's no reason to release the draw." as text %}
            {% include "components/item-alert.html" with type="warning" %}
            {% trans "Release Draw to Public" as text %}
            {% include "components/item-action.html" with type="secondary" id="triggerReleaseDrawForm" text=release_text url="" %}

          {% endif %}

          <form id="releaseDrawForm" method="POST" action="{% roundurl 'draw-release' %}">{% csrf_token %}</form>

        {% endif %}

      </div>

    </div>
  </div>

  <div class="col">
    <div class="card">

      <div class="card-body">
        <h5 class="card-title mb-0">Release Motions</h5>
      </div>
      <div class="list-group list-group-flush">

        {% if not round.motions_released %}

           {% if pref.public_ballots or pref.public_ballots_randomised and pref.enable_motions %}
              {% trans "Your tournament is configured to require motions to be selected in ballots and to allow public ballot submissions. Ensure that you release the motions before debates finish otherwise ballots will not be able to be submitted" as text %}
              {% include "components/item-alert.html" with type="danger" %}
            {% elif pref.public_ballots or pref.public_ballots_randomised and pref.motion_vetoes_enabled %}
              {% trans "Your tournament is configured to allow motions to be vetoed and to allow public ballot submissions. Ensure that you release the motions before debates finish otherwise ballots will not be able to nominate vetoes" as text %}
              {% include "components/item-alert.html" with type="danger" %}
            {% elif pref.public_motions %}
              {% trans "Your tournament is configured to show the motions for each round on the public site. You'll need to first release this motion for it to show there." as text %}
              {% include "components/item-alert.html" with type="" %}
            {% else %}
              {% trans "Your tournament is not configured to show the motions for each round on the public site. There's no need to release the motions." as text %}
              {% include "components/item-alert.html" with type="secondary" %}
            {% endif %}

          {% trans "Release Motions to Public" as text %}
          {% include "components/item-action.html" with type="success" id="triggerReleaseMotionsForm" url="" to_complete=True %}
          <form id="releaseMotionsForm" method="POST" hidden
                action="{% roundurl 'motions-release' %}">{% csrf_token %}</form>

        {% else %}

          {% include "components/item-alert.html" with type="" text="Motions are released" %}
          {% trans "Unrelease Motions to Public" as text %}
          {% include "components/item-action.html" with type="primary" id="triggerReleaseMotionsForm" url="" icon="check-circle" %}
          <form id="releaseMotionsForm" method="POST" hidden
                action="{% roundurl 'motions-unrelease' %}">{% csrf_token %}</form>

        {% endif %}
      </div>

    </div>
  </div>

</div>
{% endif %}

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">

      {% roundurl 'draw-display-by-venue' round as url %}
      {% include "components/item-action.html" with text="Display Draw ordered by Venue" subtext="(for the briefing room)" emoji="🏫" blank=True %}

      {% roundurl 'draw-display-by-team' round as url %}
      {% include "components/item-action.html" with text="Display Draw ordered by Team" subtext="(for the briefing room)" emoji="👭" blank=True %}

      {% roundurl 'motions-display' round as url %}
      {% include "components/item-action.html" with text="Display Motions" subtext="(for the briefing room)" emoji="📃" blank=True %}

    </ul>
    <ul class="list-group mt-3">

      {% roundurl 'printing-scoresheets' round as url %}
      {% include "components/item-action.html" with text="View Ballot Forms" subtext="(for printing)" emoji="💯" %}

      {% roundurl 'printing-feedback' round as url %}
      {% include "components/item-action.html" with text="View Feedback Forms" subtext="(for printing)" emoji="🙅" %}

      {% if pref.public_divisions %}
        {% roundurl 'printing-master-sheets-list' round as url %}
        {% include "components/item-action.html" with text="View Division Sheet" subtext="(for printing)" emoji="📠" %}
      {% endif %}

    </ul>
  </div>
</div>


<div class="modal fade" id="editStartTime" tabindex="-1" role="dialog" aria-labelledby="editStartTime">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <form id="startTimeForm" method="POST" action="{% roundurl 'draw-start-time-set' %}">
        <div class="modal-body list-group list-group-flush">

          {% include "components/form-title.html" with title="Change Start Time" %}

          <div class="list-group-item pb-3">
            <div class="form-group">
              <label>Start at</label>
              <input class="form-control" placeholder="{{ round.starts_at|time:'H:i' }}" name="start_time"></input>
            </div>
          </div>

          {% include "components/form-submit.html" with title="Save" %}

        </div>
      </form>

    </div>
  </div>
</div>

{% endblock content %}

{% block js %}
  {{ block.super }}
  <script>
    $(document).ready( function() { // Use the fake submit buttons as real submissoin
      $("#triggerReleaseDrawForm").click( function() {
        $("#releaseDrawForm").submit();
        return false;
      });
      $("#triggerReleaseMotionsForm").click( function() {
        $("#releaseMotionsForm").submit();
        return false;
      });
    });
  </script>
{% endblock js %}
