{% extends "base_vue_table.html" %}
{% load debate_tags i18n %}

{% block page-subnav-sections %}
  <a class="btn btn-outline-primary " href="{% roundurl 'availability-index' %}">
    <i data-feather="chevron-left"></i> {% trans "Check-Ins" %}
  </a>

  {% if pref.allocation_confirmations %}
    <a href="{% roundurl 'draw-schedule-confirmations' %}" class="btn btn-outline-primary ">
      {% trans "Confirm Shifts" %}
    </a>
  {% endif %}
  <div class="btn-group" role="group">
    <a href="{% roundurl 'draw-matchups-edit' round %}" class="btn btn-outline-primary ">
      {% trans "Edit Sides or Matchups" %}
    </a>
    <a href="{% roundurl 'draw-confirm-regenerate' %}" class="btn btn-outline-primary ">
      {% trans "Redo Draw" %}
    </a>
    <a href="{% roundurl 'draw-details' %}" class="btn btn-outline-primary ">
      {% trans "Draw Details" %}
    </a>
    {% if pref.teams_in_debate == 'bp' %}
      <a href="{% roundurl 'draw-position-balance' %}" class="btn btn-outline-primary ">
        {% trans "Position Balance Report" %}
      </a>
    {% endif %}
  </div>
{% endblock %}

{% block page-subnav-actions %}
  <a href="{% roundurl 'draw-display' %}" class="btn btn-outline-success">
    {% trans "Display Draw" %}<i data-feather="chevron-right"></i>
  </a>
{% endblock %}
