{% extends "base.html" %}
{% load debate_tags %}

{% block page-title %}Schedule Debates{% endblock %}
{% block head-title %}<span class="emoji">⏰</span>Schedule Debates {% endblock %}
{% block sub-title %}for {{ round.name }}{% endblock %}

{% block page-subnav-sections %}
  <a class="btn btn-default submit-disable" href="{% round_url draw %}">
    <span class="glyphicon glyphicon-chevron-left"></span> Back to Draw
  </a>
{% endblock %}

{% block page-subnav-actions %}
  <a href="{% round_url draw-schedule-apply %}" class="btn btn-success submit-disable" id="assignTimes">
    <span class="glyphicon glyphicon-floppy-disk"></span> Apply Times to Debates
  </a>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Assign Dates to Venue Groups</h4>
      </div>
      <form id="assignForm" method="POST" action="{% round_url draw-schedule-apply %}">
        {% csrf_token %}
        <ul class="list-group">
          {% for vg in venue_groups %}
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-5">
                  <h5>{{ vg.short_name }}</h5>
                </div>
                <div class="col-md-7">
                {% if vg.placeholder_date %}
                  <input type="date" class="form-control" name="{{ vg.id }}" value='{{ vg.placeholder_date|date:"Y" }}-{{ vg.placeholder_date|date:"m" }}-{{ vg.placeholder_date|date:"d" }}'>
                {% else %}
                  <input type="date" class="form-control" name="{{ vg.id }}" value="">
                {% endif %}
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </form>
    </div>
  </div>
  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Assign Times to Divisions</h4>
      </div>
      <ul class="list-group">
        {% for d in divisions %}
          {% if not forloop.counter|divisibleby:2 %}
            <li class="list-group-item"><div class="row">
          {% endif %}
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-5">
                <h5>{{ d.name }} <small>{{ d.venue_group.short_name }}</small></h5>
              </div>
              <div class="col-md-7">
                <input type="time" class="form-control jquery-division-time" name="{{ d.id }}" value="{{ d.time_slot|time:'H:i' }}">
              </div>
            </div>
          </div>
          {% if forloop.counter|divisibleby:2 %}
            </div></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
  {{ block.super }}
  <script>
    $(document).ready( function() {
      $(".jquery-division-time").on("change",function() {
        $.ajax({
          type: "POST",
          url: "{% tournament_url set_division_time %}",
          data: {
            'division': parseInt($(this).attr('name')),
            'time': $(this).val(),
          },
          success:function(response){
            console.log('Saved division time');
          },
          error:function (xhr, textStatus, thrownError){
            alert('Failed to save a divisions time; please refresh the page')
          }
        });
      });
      $("#assignTimes").click( function() {
        $("#assignForm").submit();
        return false;
      });
    });
  </script>
{% endblock js %}
