{% extends "base.html" %}
{% load debate_tags i18n %}

{% block page-title %}
  {% trans "Confirm draw regeneration" %}
{% endblock %}

{% block page-subnav-sections %}
  <a class="btn btn-outline-primary " href="{% roundurl 'draw' %}">
    <i data-feather="chevron-left"></i>{% trans "Back to Draw" %}
  </a>
{% endblock %}

{% block head-title %}
  <span class="emoji">🔥</span>
  {% blocktrans trimmed with round=round.name %}Confirm Draw Deletion for {{ round }}{% endblocktrans %}
{% endblock %}

{% block page-alerts %}

  <div class="alert alert-warning">
    {% blocktrans trimmed with round=round.name %}
    Do you really want to regenerate the draw for {{ round }}? This will
    delete <strong>all the debates in the current draw</strong> —  including
    their ballots and adjudicator allocations — and cannot be undone.
    You probably don't want to do this if any results have been entered!
    {% endblocktrans %}
  </div>

  <form method="POST" action="{% roundurl 'draw-regenerate' %}">
    {% csrf_token %}
    <button class="btn btn-block btn-danger " type="submit">
      {% blocktrans trimmed with round=round.name %}
      Yes, I want to delete the current draw for {{ round }}
      {% endblocktrans %}
    </button>
  </form>

{% endblock %}
