{% extends "base.html" %}
{% load debate_tags %}

{% block page-title %}
  Confirm draw regeneration
{% endblock %}

{% block page-subnav-sections %}
  <a class="btn btn-outline-primary " href="{% roundurl 'draw' %}">
    <i data-feather="chevron-left"></i> Back to Draw
  </a>
{% endblock %}

{% block head-title %}
  <span class="emoji">🔥</span>Confirm Draw Deletion for {{ round.name }}
{% endblock %}

{% block page-alerts %}

  <div class="alert alert-warning">
    Do you really want to regenerate the draw for {{ round.name }}? This will
    delete <strong>all the debates in the current draw</strong> —  including
    their ballots and adjudicator allocations — and cannot be undone.
    You probably don't want to do this if any results have been entered!
  </div>

  <form method="POST" action="{% roundurl 'draw-regenerate' %}">
    {% csrf_token %}
    <button class="btn btn-block btn-danger " type="submit">
      Yes, I want to delete the current draw for {{ round.name }}
    </button>
  </form>

{% endblock %}
