{% extends "base.html" %}
{% load debate_tags %}

{% block head-title %}Draw Display for {{ round.name }}{% endblock %}
{% block page-title %}Draw Display for {{ round.name }}{% endblock %}

{% block page-subnav-sections %}

  <a class="btn btn-default submit-disable" href="{% round_url draw %}">
    <span class="glyphicon glyphicon-chevron-left"></span> Back to Draw
  </a>

  {% if not pref.enable_debate_scheduling %}
    <a class="btn {% if round.starts_at %}btn-success{% else %}btn-primary{% endif %}" data-toggle="modal" data-target="#editStartTime">
      {% if round.starts_at %}
        Starts at {{ round.starts_at }}
      {% else %}
        Add Start Time
      {% endif %}
    </a>
  {% else %}
    <a href="{% round_url draw-schedule-debates %}" class="btn btn-default submit-disable">
      Schedule Debates
    </a>
  {% endif %}

  {% if round.draw_status == round.STATUS_CONFIRMED %}
    <form id="releaseForm" method="POST" action="{% round_url draw-release %}">
      {% csrf_token %}
      <button class="btn btn-primary submit-disable" type="submit">
        Release Draw
      </button>
    </form>
  {% elif round.draw_status == round.STATUS_RELEASED %}
    <form id="unreleaseForm" method="POST" action="{% round_url draw-unrelease %}">
      {% csrf_token %}
      <button class="btn btn-danger submit-disable" type="submit">
        Unrelease Draw
      </button>
    </form>
  {% endif %}

{% endblock %}

{% block page-subnav-actions %}
  <a class="btn btn-success submit-disable" href="{% round_url motions-edit %}">
    Enter Motions <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
{% endblock %}

{% block page-alerts %}

{% endblock %}

{% block content %}

  <div class="row vertical-spacing">
    <div class="col-md-12">

    <div class="btn-group">
      <a target="_blank" class="btn btn-default" href="{% round_url draw-display-by-venue round %}">
        <span class="text-primary">
          Display Draw by Venue <span class="glyphicon glyphicon-share"></span>
        </span>
      </a>
      <a target="_blank" class="btn btn-default" href="{% round_url draw-display-by-team round %}">
        <span class="text-primary">
          Display Draw by Team <span class="glyphicon glyphicon-share"></span>
        </span>
      </a>
    </div>

    {% if round.motions_released %}
      <a target="_blank" class="btn btn-default" href="{% round_url motions-display round %}">
        <span class="text-primary">
          Display Motions <span class="glyphicon glyphicon-share"></span>
        </span>
      </a>
    {% else %}
      <a target="_blank" class="btn btn-default disabled" href="{% round_url motions-display round %}">
        <span class="text-primary">
          Display Motions <span class="glyphicon glyphicon-share"></span>
        </span>
      </a>
    {% endif %}

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div class="btn-group">
        <a target="_blank" class="btn btn-default" href="{% round_url draw_print_scoresheets round %}">
          <span class="text-primary">
            Print Ballots <span class="glyphicon glyphicon-share"></span>
          </span>
        </a>
        <a target="_blank" class="btn btn-default" href="{% round_url draw_print_feedback round %}">
          <span class="text-primary">
            Print Feedback Forms <span class="glyphicon glyphicon-share"></span>
          </span>
        </a>
        {% if pref.public_divisions %}
        <a target="_blank" class="btn btn-default" href="{% round_url master_sheets_list round %}">
          <span class="text-primary">
            Print Division Sheets <span class="glyphicon glyphicon-share"></span>
          </span>
        </a>
        {% endif %}
      </div>

    </div>
  </div>

{% endblock content %}
