{% load humanize static debate_tags i18n %}

{% with no_chair=round.num_debates_without_chair even_panel=round.num_debates_with_even_panel duplicates=round.duplicate_panellists unavailable_allocated=round.unavailable_adjudicators_allocated unallocated=round.num_available_adjudicators_not_allocated %}

  {% if no_chair > 0 %}
    {% blocktrans trimmed asvar text count ndebates=no_chair %}
      1 debate does not have a chair.
    {% plural %}
      {{ ndebates }} debates do not have a chair.
    {% endblocktrans %}
    {% include "components/item-info.html" with nopad=True type="danger" %}
  {% endif %}

  {% if duplicates %}
    {% blocktrans trimmed asvar text with adjudicators=duplicates|join:", " count nadjs=duplicates|length %}
      <strong>{{ adjudicators }}</strong> is adjudicating multiple debates.
    {% plural %}
      The following <strong>{{ nadjs }}</strong> adjudicators are adjudicating multiple debates: <strong>{{ adjudicators }}</strong>
    {% endblocktrans %}
    {% include "components/item-info.html" with nopad=True type="danger" %}
  {% endif %}

  {% if round.ballots_per_debate == 'per-adj' and even_panel > 0 %}
    {% blocktrans trimmed asvar text count ndebates=even_panel %}
      1 debate has a panel with an even number of adjudicators.
    {% plural %}
      {{ ndebates }} debates have panels with an even number of adjudicators.
    {% endblocktrans %}
    {% include "components/item-info.html" with nopad=True type="warning" %}
  {% endif %}

  {% if debates_with_adj_conflicts > 0 %}
    {% blocktrans trimmed asvar text count ndebates=debates_with_adj_conflicts %}
      1 debate has an adjudicator conflict.
    {% plural %}
      {{ ndebates }} debates have adjudicator conflicts.
    {% endblocktrans %}
    {% include "components/item-info.html" with nopad=True type="warning" %}
  {% endif %}

  {% if unavailable_allocated %}
    {% blocktrans trimmed asvar text with adjudicators=unavailable_allocated|join:", " count nadjs=unavailable_allocated|length %}
      <strong>{{ adjudicators }}</strong> is unavailable this round, but is assigned to a debate.
    {% plural %}
      The following <strong>{{ nadjs }}</strong> adjudicators are unavailable this round, but are assigned to debates: <strong>{{ adjudicators }}</strong>
    {% endblocktrans %}
    {% include "components/item-info.html" with nopad=True type="danger" %}
  {% endif %}

  {% if unallocated > 0 %}
    {% blocktrans trimmed asvar text count ndebates=unallocated %}
      1 adjudicator is available but not assigned to a debate.
    {% plural %}
      {{ ndebates }} adjudicators are available but not assigned to a debate.
    {% endblocktrans %}
    {% include "components/item-info.html" with nopad=True type="warning" %}
  {% endif %}

{% endwith %}
