{% extends "base_vue_table.html" %}
{% load debate_tags %}
{% load static %}

{% block page-subnav-actions %}
  <button id="confirmDraw" class="btn btn-success">
    Confirm Draw  <span class="glyphicon glyphicon-chevron-right"></span>
  </button>
  <form id="confirmForm" method="POST" action="{% round_url confirm_draw %}">
    {% csrf_token %}
  </form>
{% endblock %}

{% block js %}
  {{ block.super }}
  <script>
    $(document).ready( function() {
      $("#confirmDraw").click( function() {
        $("#confirmForm").submit();
        return false;
      });
    });
  </script>
{% endblock js %}
