{% extends "base_vue_table.html" %}
{% load debate_tags %}
{% load static %}

{% block body-class %}override-sidebar-offset{% endblock %}

{% block nav %}
  {# For admins the draw opens without menu (for displaying publicly)#}
  {% if 'admin/' in request.path and user.is_superuser %}
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block page-subnav-sections %}

  <div class="btn-group hidden-xs scroll-speeds hidden-sm hidden-xs">
    <div class="btn btn-outline-secondary">
      Scroll Speed
    </div>
    <div class="btn btn-outline-primary" data-target="0.07" id="scroll_draw1">
      Fast
    </div>
    <div class="btn btn-outline-primary" data-target="0.055" id="scroll_draw2">
      Medium
    </div>
    <div class="btn btn-outline-primary" data-target="0.04" id="scroll_draw3">
      Slow
    </div>
    <div class="btn btn-outline-primary" data-target="0.025" id="scroll_draw4">
      Extra Slow
    </div>
  </div>

  <div class="btn-group text-size hidden-sm hidden-xs">
    <div class="btn btn-outline-secondary">
      Text Size
    </div>
    <div class="btn btn-outline-primary" data-target="draw-xs" id="tiny_text">
      Tiny
    </div>
    <div class="btn btn-outline-primary" data-target="draw-s" id="small_text">
      Small
    </div>
    <div class="btn btn-outline-primary" data-target="draw-m" id="medium_text">
      Medium
    </div>
    <div class="btn btn-outline-primary" data-target="draw-l" id="large_text">
      Large
    </div>
    <div class="btn btn-outline-primary" data-target="draw-xl" id="huge_text">
      Huge
    </div>
  </div>

  <div class="btn btn-primary btn-stop-scrolling fixed-top text-white mt-3 mr-3"
     data-target="draw-xs" id="stop_scrolling">
    Stop Scrolling
  </div>

{% endblock %}

{% block js %}
  {{ block.super }}
  <script>
    function startScrolling() {
      $('[data-toggle="tooltip"]').attr("data-toggle", "notip").css("pointer-events", "none")
      $('.table').addClass("hide-hover") // Hide the row highlight effect
      $('.popover').hide() // Hide any currently triggered popovers
      $('#stop_scrolling').show();
    }
    function stopScrolling() {
      $('[data-toggle="notip"]').attr("data-toggle", "tooltip").css("pointer-events", "auto")
      $('html, body').stop()
      $('.table').removeClass("hide-hover")
      $('#stop_scrolling').hide();
    }
    $(document).ready( function() {
      $('#stop_scrolling').hide();
      $(".scroll-speeds .btn").click(function(event){
        var speed = $(document).height() / $(this).attr('data-target');
        startScrolling()
        $('html, body').animate(
          { scrollTop: $(document).height() - $(window).height()},
          speed, // duration
          "linear", // easing
          function() { stopScrolling() } // on complete function
        );
        return false;
      });
      $(".text-size .btn").click(function(event){
        var sizeClass = $(this).attr('data-target');
        $(this).addClass("active").siblings().removeClass("active");
        $(".table").removeClass("draw-xs draw-s draw-m draw-l draw-xl").addClass( sizeClass);
        return false;
      });
    });
    $(document).keydown(function(e) {
      e.stopPropagation();
      if (e.keyCode === 27 || e.keyCode === 38) { stopScrolling() }
    });
    $('#stop_scrolling').click(function(event){ stopScrolling() });
  </script>
{% endblock js %}
