{% extends "base.html" %}
{% load debate_tags %}

{% block head-title %}Draw Display for {{ round.name }}{% endblock %}
{% block page-title %}Draw Display for {{ round.name }}{% endblock %}

{% block page-subnav-sections %}
{% if user.is_superuser %}

    <a class="btn btn-outline-primary " href="{% roundurl 'draw' %}">
      <i data-feather="chevron-left"></i> View Draw
    </a>

    {% if not pref.enable_debate_scheduling %}
      <a href="" class="btn {% if round.starts_at %}btn-danger{% else %}btn-primary{% endif %}" data-toggle="modal" data-target="#editStartTime">
        {% if round.starts_at %}
          Debates Start at {{ round.starts_at }}
        {% else %}
          Add Start Time
        {% endif %}
      </a>
    {% else %}
      <a href="{% roundurl 'draw-schedule-debates' %}" class="btn btn-outline-primary ">
        Schedule Debates
      </a>
    {% endif %}

    {% if round.draw_status == round.STATUS_CONFIRMED %}
      <form id="releaseForm" method="POST" action="{% roundurl 'draw-release' %}">
        {% csrf_token %}
        <button class="btn btn-primary " type="submit"
        data-toggle="tooltip" data-placement="bottom"
        title="Releasing a draw makes it available to the public-facing
        pages of this site. If your tournament is configured to show public
        draws, or to allow teams or adjudicators to submit feedback/ballots,
        you will need to release each round's draw before that can happen.">
          Release Draw to Public
        </button>
      </form>
    {% elif round.draw_status == round.STATUS_RELEASED %}
      <form id="unreleaseForm" method="POST" action="{% roundurl 'draw-unrelease' %}">
        {% csrf_token %}
        <button class="btn btn-danger " type="submit">
          Unrelease Draw to Public
        </button>
      </form>
    {% endif %}

{% endif %}
{% endblock %}

{% block page-subnav-actions %}
{% if user.is_superuser %}
  <a class="btn btn-outline-success " href="{% roundurl 'motions-edit' %}">
    Enter Motions <i data-feather="chevron-right"></i>
  </a>
{% endif %}
{% endblock %}

{% block page-alerts %}
{% if user.is_superuser %}

  {% if round.draw_status == round.STATUS_RELEASED and not pref.public_draw %}
    <div class="alert alert-warning">
      You have released the draw, but it will not show to the public unless
      'public view of draw' setting is enabled in
      <a class="alert-link" href="{% tournamenturl 'options-tournament-index' %}">
         this tournament's configuration</a>.
    </div>
  {% endif %}

{% endif %}
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">

      {% roundurl 'draw-display-by-venue' round as url %}
      {% include "components/item-action.html" with text="Display Draw ordered by Venue" subtext="(for the briefing room)" emoji="🏫" %}

      {% roundurl 'draw-display-by-team' round as url %}
      {% include "components/item-action.html" with text="Display Draw ordered by Team" subtext="(for the briefing room)" emoji="👭" %}

      {% roundurl 'motions-display' round as url %}
      {% include "components/item-action.html" with text="Display Motions" subtext="(for the briefing room)" emoji="📃" %}

    </ul>

    <ul class="list-group mt-3">

      {% roundurl 'printing-scoresheets' round as url %}
      {% include "components/item-action.html" with text="View Ballot Forms" subtext="(for printing)" emoji="💯" %}

      {% roundurl 'printing-feedback' round as url %}
      {% include "components/item-action.html" with text="View Feedback Forms" subtext="(for printing)" emoji="🙅" %}

      {% if pref.public_divisions %}
        {% roundurl 'printing-master-sheets-list' round as url %}
        {% include "components/item-action.html" with text="View Division Sheet" subtext="(for printing)" emoji="📠" %}
      {% endif %}

    </ul>
  </div>
</div>


<div class="modal fade" id="editStartTime" tabindex="-1" role="dialog" aria-labelledby="editStartTime">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <form id="startTimeForm" method="POST" action="{% roundurl 'draw-start-time-set' %}" class="">
        <div class="modal-body list-group list-group-flush">

          {% include "components/form-title.html" with title="Change Start Time" %}

          <div class="list-group-item pb-3">
            <div class="form-group">
              <label>Start at</label>
              <input class="form-control" placeholder="{{ round.starts_at|time:'H:i' }}" name="start_time" ></input>
            </div>
          </div>

          {% include "components/form-submit.html" with title="Save" %}

        </div>
      </form>

    </div>
  </div>
</div>

{% endblock content %}
