{% extends "base.html" %}
{% load static %}
{% load debate_tags %}

{% block head-title %}Edit Matchups for {{ round.abbreviation }}{% endblock %}
{% block page-title %}Edit Matchups for {{ round.abbreviation }}{% endblock %}

{% block page-alerts %}
  <div class="alert alert-warning">
    A debate must always have <strong>all of it's teams slots filled</strong>;
     changes to matchups here will only save once a debate has <em>all</em> of
     the teams it needs filled. Note also that if you are using this at a serious
      tournament it is almost always better to regenerate the draw in response to
       problems (ie a team dropping out) rather than trying to manually fix it.
  </div>
{% endblock %}

{% block content %}
  <div id="vueMount">

    <edit-matchups-container :initial-debates="debates"
                             :round-info="roundInfo"
                             :initial-Unallocated-items="unallocatedItems">
    </edit-matchups-container>

  </div>
{% endblock content %}

{% block js %}

  <script>
    window.vueData = {
      debates: {{ vueDebates|safe }},
      roundInfo: {{ vueRoundInfo|safe }},
      unallocatedItems: {{ vueUnusedTeams|safe }},
    }
  </script>
  {{ block.super }}

{% endblock js %}