{% extends "base.html" %}
{% load static %}
{% load debate_tags %}

{% block head-title %}Edit Matchups for {{ round.abbreviation }}{% endblock %}
{% block page-title %}Edit Matchups for {{ round.abbreviation }}{% endblock %}

{% block content %}
  <div id="vueMount">

    <edit-matchups-container :initial-debates="debates"
                             :round-info="roundInfo"
                             :initial-Unallocated-items="unallocatedItems">
    </edit-matchups-container>

  </div>
{% endblock content %}

{% block js %}

  <script>
    window.vueData = {
      debates: {{ vueDebates|safe }},
      roundInfo: {{ vueRoundInfo|safe }},
      unallocatedItems: {{ vueUnusedTeams|safe }},
    }
  </script>
  {{ block.super }}

{% endblock js %}