{% extends "base.html" %}
{% load debate_tags %}
{% load static %}

{% block head-title %}{% trans "All Venues" %}{% endblock %}
{% block page-title %}{% trans "All Venues" %}{% endblock %}

{% block content %}
  <ul class="list-group">
    {% for vc in venue_categories %}
      <a href="{% url 'all-draws-for-venue' vc.id %}"class="list-group-item">
        <span>{% blocktrans trimmed %}Draws for {{ vc }}{% endblocktrans %}</span>
        <span class="badge badge-secondary float-right">{% trans "VIEW ALL" %}</span>
      </a>
    {% endfor %}
  </ul>
{% endblock content %}
