{% extends "base.html" %}
{% load static debate_tags i18n %}

{% block head-title %}{% trans "All Institutions" %}{% endblock %}
{% block page-title %}{% trans "All Institutions" %}{% endblock %}

{% block content %}
  <ul class="list-group">
    {% for institution in institutions %}
      <a class="list-group-item" href="{% url 'all-draws-for-institution' institution.id %}">
        <span>{% blocktrans trimmed with institution_name=institution.name %}Draws for {{ institution_name }}{% endblocktrans %}</span>
        <span class="badge badge-secondary float-right">{% trans "VIEW ALL" %}</span>
      </a>
    {% endfor %}
  </ul>
{% endblock content %}
