// Note these take precedences over bootstrap as they are not set as default

// Custom Typography

$font-family-sans-serif: "LatoLatinWeb", Helvetica, Arial, sans-serif;
$headings-font-family: "LatoLatinWebBlack", serif;

// Custom Colors

$brand-primary:         #cf7128; // Tabbycat like color
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;


