{% extends "base.html" %}
{% load add_field_css i18n %}

{% block page-title %}🔐{% trans "Password Reset Confirmation" context "page title" %}{% endblock %}
{% block head-title %}{% endblock %}

{% block nav %}{% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg-8 ml-lg-auto mr-md-auto">

    {% if validlink %}
      <div class="card">
        {% trans "Password Reset" context "page title" as title %}
        {% include "components/form-title.html" with emoji="🔐" p1="" p2="" %}
        {% trans "Please enter a new password (twice):" as text %}

        <form id="reset-confirm" action="." method="POST">
          {% csrf_token %}

          {% include "components/form-main.html" %}

          {% trans "Change my password" context "button" as title %}
          {% trans "Cancel and go back to the site home page" as subtitle %}
          {% url 'tabbycat-index' as suburl %}
          {% include "components/form-submit.html" %}
        </form>
      </div>

    {% else %}
      {% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." as text %}
      {% include "components/explainer-card.html" with type="danger" %}
    {% endif %}

  </div>
</div>
{% endblock %}
