<td class="icon_holder">
  {% if debate.aff_team.type == 'B' or debate.neg_team.type == 'B' %}
    <span class="hidden">5</span>
    <a title="Bye Debate" data-toggle="tooltip">
      <span class="glyphicon glyphicon-fast-forward"></span>
    </a>
  {% elif debate.result_status == debate.STATUS_NONE %}
    {% if not debate.ballot_in %}
      <span class="hidden">0</span>
      <a title="No Ballot" data-toggle="tooltip">
        <span class="glyphicon glyphicon-remove text-danger"></span>
      </a>
    {% else %}
      <span class="hidden">1</span>
      <a data-toggle="tooltip" title="Ballot In">
        <span class="glyphicon glyphicon-inbox text-warning"></span>
      </a>
    {% endif %}
  {% elif debate.result_status == debate.STATUS_DRAFT %}
    <span class="hidden">2</span>
    <a title="Unconfirmed Ballot" data-toggle="tooltip">
      <span class="glyphicon glyphicon-adjust text-info"></span>
    </a>
  {% elif debate.result_status == debate.STATUS_CONFIRMED %}
    <span class="hidden">3</span>
    <a title="Confirmed Ballot" data-toggle="tooltip">
      <span class="glyphicon glyphicon-ok text-success"></span>
    </a>
  {% elif debate.result_status == debate.STATUS_POSTPONED %}
    <span class="hidden">4</span>
    <a title="Debate Postponed" data-toggle="tooltip">
      <span class="glyphicon glyphicon-pause"></span>
    </a>
  {% endif %}
</td>

