{% extends "base.html" %}
{% load debate_tags %}
{% load static %}

{% block head-title %}
  👏 Draw for {{ round.name }}
  {% if round.starts_at %}
  <small>debates start at {{ round.starts_at }}</small>
  {% endif %}
{% endblock %}
{% block page-title %}Draw for {{ round.name }}{% endblock %}
{% block sub-title %}ESC stops scroll{% endblock %}

{% block nav %}<div class="col-md-12">{% endblock %}
{% block footer %}{% endblock %}

{% block page-subnav-sections %}
  <span class="btn btn-secondary">Scroll</span>
  <div class="btn-group hidden-xs">
    <a class="btn btn-default" href="" id="scroll_draw1">Fast</a>
    <a class="btn btn-default" href="" id="scroll_draw2"><span class="hidden-xs">Medium</span></a>
    <a class="btn btn-default" href="" id="scroll_draw3">Slow</a>
    <a class="btn btn-default" href="" id="scroll_draw4">XS</a>
    <a class="btn btn-default" href="" id="scroll_draw5">XXS</a>
  </div>
  <span class="btn btn-secondary">Text</span>
  <div class="btn-group">
    <a class="btn btn-default" href="" id="tiny_text">XS</a>
    <a class="btn btn-default" href="" id="small_text">S</a>
    <a class="btn btn-default active" href="" id="medium_text">M</a>
    <a class="btn btn-default" href="" id="large_text">L</a>
    <a class="btn btn-default" href="" id="huge_text">XL</a>
  </div>
  {% include "tables/table_search.html" %}
{% endblock %}

{% block extra-js %}
  <script type="text/javascript">
  $(document).ready( function() {
    var dTable = $('#draw').DataTable({
      "aaSorting": [[ 0, "asc" ]],
    });
    var fixedHeader = new $.fn.dataTable.FixedHeader( dTable, {alwaysCloneTop: true});
    $('#table-search').keyup(function(){
      dTable.search($(this).val()).draw();
    })
  });
  </script>
  <script type="text/javascript" language="javascript" src="{% static 'js/scroller.js' %}"></script>
{% endblock extra-js %}
