{% load debate_tags %}
{% load metricformat %}
<div class="panel panel-default">
  <div class="panel-body">
    <table id="dataTable" class="draw-with-standings table">
      <thead>
        <tr>
          {% if pref.enable_divisions %}
            <th><span class="glyphicon glyphicon-th-list" data-toggle="tooltip" title="" data-original-title="Division"></span></th>
          {% else %}
            <th><span class="glyphicon glyphicon-tasks" data-toggle="tooltip" title="Bracket"></span></th>
          {% endif %}
          <th>Aff<span class="hidden-xs">irmative</span></th>
          <th>Neg<span class="hidden-xs">ative</span></th>

      <th><span data-toggle="tooltip" title="Aff subrank">ASR</span></th>
      <th><span data-toggle="tooltip" title="Neg subrank">NSR</span></th>

      {% for info in standings.metrics_info %}
        <th>
          {% if info.glyphicon %}
            A<span data-toggle="tooltip" title="Aff {{ info.name }}" class="glyphicon glyphicon-{{ info.glyphicon }}"></span>
          {% else %}
            <span data-toggle="tooltip" title="Aff {{ info.name }}">A{{ info.abbr }}</span>
          {% endif %}
        </th>
        <th>
          {% if info.glyphicon %}
            N<span data-toggle="tooltip" title="Neg {{ info.name }}" class="glyphicon glyphicon-{{ info.glyphicon }}"></span>
          {% else %}
            <span data-toggle="tooltip" title="Neg {{ info.name }}">N{{ info.abbr }}</span>
          {% endif %}
        </th>
      {% endfor %}

          <th><span data-toggle="tooltip" title="Debates on aff before this round (aff)">AAffs</span></th>
          <th><span data-toggle="tooltip" title="Debates on aff before this round (neg)">NAffs</span></th>
          <th>Conflicts/Flags</th>
        </tr>
      </thead>
      <tbody>
        {% for debate in draw %}
        <tr class="{{ debate.draw_conflicts|yesno:'conflict,' }} {% ifchanged debate.bracket %}first-in-bracket{% endifchanged %}">
          <td>
            {{ debate.bracket }}
          </td>
          <td {% if debate.aff_team.pullup %}class="em"{% endif %}>
            {% include "tables/team.html" with team=debate.aff_team %}
          </td>
          <td {% if debate.neg_team.pullup %}class="em"{% endif %}>
            {% include "tables/team.html" with team=debate.neg_team %}
          </td>

    <td>{{ debate.aff_subrank.0 }}{% if debate.aff_subrank.1 %}={% endif %}</td>
    <td>{{ debate.neg_subrank.0 }}{% if debate.neg_subrank.1 %}={% endif %}</td>
    {% for metric in debate.metrics %}
      <td>{{ metric.0|metricformat }}</td>
      <td>{{ metric.1|metricformat }}</td>
    {% endfor %}

          <td>
            {% aff_count debate.aff_team debate.round.prev %}
          </td>
          <td>
            {% aff_count debate.neg_team debate.round.prev %}
          </td>
          <td>
            {{ debate.draw_conflicts|add:debate.flags_all|join:", " }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
