{% extends "base.html" %}
{% load debate_tags %}

{% block page-title %}Draw for {{ round.name }}{% endblock %}
{% block head-title %}
  <span class="emoji"> 👀</span>Draw for {{ round.name }}
{% endblock %}
{% block sub-title %}
  {% if round.draw_status = round.STATUS_CONFIRMED %}
    draw is confirmed but not released;
  {% elif round.draw_status = round.STATUS_RELEASED %}
    draw is confirmed and released;
  {% else %}
    DRAW STATUS ERROR,
  {% endif %}
  motions {{ round.motions_released|yesno:",are not" }} released
{% endblock %}

{% block page-subnav-sections %}
  <a class="btn btn-default submit-disable" href="{% round_url draw_adjudicators_edit %}" class="btn btn-default submit-disable">
    Edit Adjudicators
  </a>
  <a class="btn btn-default submit-disable" href="{% round_url motions_edit %}" class="btn btn-default submit-disable">
    Edit Motions
  </a>
  <a href="{% round_url draw_venues_edit round %}" class="btn btn-default submit-disable">
    Edit Venues
  </a>
  <a href="{% round_url draw_matchups_edit round %}" class="btn btn-default submit-disable">
    Edit Matchups
  </a>
  <a class="btn btn-default submit-disable" href="{% round_url draw_with_standings %}">
    Draw Details
  </a>
  {% if pref.allocation_confirmations %}
    <a href="{% round_url confirmations_view %}" class="btn btn-default submit-disable">
      Shift Confirms
    </a>
  {% endif %}
  {% if pref.enable_division_motions %}
    <a href="{% round_url motions_assign %}" class="btn btn-default submit-disable">
      Assign Motions to Divisions
    </a>
  {% endif %}
  {% if not pref.enable_debate_scheduling %}
    <button class="btn {% if round.starts_at %}btn-success{% else %}btn-primary{% endif %}  submit-disable" data-toggle="modal" data-target="#start-time-form">
      {% if round.starts_at %}Start Time: {{ round.starts_at }}{% else %}Add Start Time{% endif %}
    </button>
  {% else %}
    <a href="{% round_url schedule_debates %}" class="btn btn-default submit-disable">
      Schedule Debates
    </a>
  {% endif %}
  {% if round.motions_released %}
    <form id="unreleaseForm" method="POST" action="{% round_url unrelease_motions %}">
      <button class="btn btn-danger  submit-disable" type="submit">
        Unrelease Motions
      </button>
    </form>
  {% else %}
    <form id="releaseForm" method="POST" action="{% round_url release_motions %}">
      <button class="btn btn-primary  submit-disable" type="submit">
        Release Motions
      </button>
    </form>
  {% endif %}
  {% if round.draw_status = round.STATUS_CONFIRMED %}
    <form id="releaseForm" method="POST" action="{% round_url release_draw %}">
    <button class="btn btn-primary  submit-disable" type="submit">
      Release Draw
    </button>
    </form>
  {% elif round.draw_status = round.STATUS_RELEASED %}
    <form id="unreleaseForm" method="POST" action="{% round_url unrelease_draw %}">
    <button class="btn btn-danger  submit-disable" type="submit">
      Unrelease Draw
    </button>
    </form>
  {% endif %}

{% endblock %}

{% block page-subnav-actions %}

  <a href="{% round_url results %}" class="btn btn-success">
    Enter Results<span class="glyphicon glyphicon-chevron-right"></span>
  </a>

{% endblock %}


{% block page-alerts %}
  {% if round.motion_set.all.count == 0 %}
  <div class="alert alert-danger">
    There are currently no motions entered, which means results cannot be entered. <a href="{% round_url motions_edit round %}" class="alert-link">Edit the motions.</a>
  </div>
  {% endif %}
  {% if not round.venue_allocation_validity %}
    <div class="alert alert-danger alert-dismissable" id="">
      One or more debates does not have a venue <a href="{% round_url draw_venues_edit round %}" class="alert-link">Edit the venues</a>.
    </div>
  {% endif %}
  {% if active_adjs.count < draw.count %}
    <div class="alert alert-danger alert-dismissable" id="">
      There are currently fewer checked-in adjudicators than there are rooms. <a href="{% round_url adjudicator_availability round %}" class="alert-link">Check in some more adjudicators</a>.
    </div>
  {% else %}
    {% if round.adjudicators_allocation_validity == 1 or round.adjudicators_allocation_validity == 2 %}
      <div class="alert alert-warning alert-dismissable" id="">
        {% if round.adjudicators_allocation_validity == 1 %}
          One or more debates don't have a chair.
        {% elif round.adjudicators_allocation_validity == 2 %}
          One or more debates have panels with an even number of adjudicators.
        {% endif %}
        <a class="alert-link" href="{% round_url draw_adjudicators_edit %}">Edit adjudicators</a>.
      </div>
    {% endif %}
  {% endif %}
{% endblock %}

{% block content %}

  <div class="panel panel-default">
    <div class="panel-heading">

      <div class="btn-group">
        <a target="_blank" class="btn btn-sm btn-default" href="{% round_url draw_display_by_venue round %}">
          <span class="text-primary">
            Display Draw by Venue <span class="glyphicon glyphicon-share"></span>
          </span>
        </a>
        <a target="_blank" class="btn btn-sm btn-default" href="{% round_url draw_display_by_team round %}">
          <span class="text-primary">
            Display Draw by Team <span class="glyphicon glyphicon-share"></span>
          </span>
        </a>
      </div>

      <div class="btn-group pull-right">
        <a target="_blank" class="btn btn-sm btn-default" href="{% round_url draw_print_scoresheets round %}">
          <span class="text-primary">
            Print Ballots <span class="glyphicon glyphicon-share"></span>
          </span>
        </a>
        <a target="_blank" class="btn btn-sm btn-default" href="{% round_url draw_print_feedback round %}">
          <span class="text-primary">
            Print Feedback Forms <span class="glyphicon glyphicon-share"></span>
          </span>
        </a>
        {% if pref.public_divisions %}
        <a target="_blank" class="btn btn-sm btn-default" href="{% round_url master_sheets_list round %}">
          <span class="text-primary">
            Print Division Sheets<span class="glyphicon glyphicon-share"></span>
          </span>
        </a>
        {% endif %}
      </div>
    </div>

    <div class="panel-body">
      <table id="dataTable" class="table">
        <thead>
            <tr>
              {% if pref.enable_divisions %}
                  <th><span class="glyphicon glyphicon-th-list" data-toggle="tooltip"title="Division">{{ debate.division.name }}</span></th>
              {% else %}
                  <th><span class="glyphicon glyphicon-tasks" data-toggle="tooltip" title="Bracket"></span></th>
              {% endif %}
              {% if pref.enable_venue_groups %}
                  <th>Venue</th>
              {% endif %}
              <th><span class="glyphicon glyphicon-map-marker" data-toggle="tooltip"title="Room"></span></th>
              {% if pref.enable_debate_scheduling %}
                  <th><span class="glyphicon glyphicon-calendar" data-toggle="tooltip"title="Date"></span></th>
              {% endif %}
              {% if pref.enable_debate_scheduling %}
                  <th><span class="glyphicon glyphicon-time" data-toggle="tooltip"title="Time"></span></th>
              {% endif %}
              <th>{% if pref.side_allocations_unknown == 'manual-ballot' %}Team 1{% else %}Affirmative{% endif %}</th>
              <th>{% if pref.side_allocations_unknown == 'manual-ballot' %}Team 2{% else %}Negative{% endif %}</th>
              <th>Adj<span class="hidden-xs">udicator</span>s</th>
              <th>Conflict</th>
            </tr>
        </thead>
        <tbody>
        {% for debate in draw %}
        <tr class="{% if debate.all_conflicts or not debate.adjudicators.valid %}danger{% endif %}">
          {% if pref.enable_divisions %}
            <td>{{ debate.division.name }}</td>
          {% else %}
            <td>{{ debate.bracket }}</td>
          {% endif %}
          {% if pref.enable_venue_groups %}
            {% if debate.division %}
              <td>{{ debate.division.venue_group.short_name }}</td>
            {% else %}
              <td>{{ debate.venue.group.short_name }}</td>
            {% endif %}
          {% endif %}
          <td>{{ debate.venue.name }}</td>
          {% if pref.enable_debate_scheduling %}
          <td>
            {% if debate.time %}
              <span class="hidden">{{ debate.time|date:"o m d" }}</span>
              {{ debate.time|date:"D jS F" }}
            {% endif %}
          </td>
          <td>
            {{ debate.time|time:'h:i A' }}
          </td>
          {% endif %}
          <td title="{% if debate.aff_team %}{% aff_count debate.aff_team round.prev %} prior affs{% endif %}">
            {% include "tables/team.html" with team=debate.aff_team %}
          </td>
          <td title="{% if debate.neg_team %}{% neg_count debate.neg_team round.prev %} prior negs{% endif %}">
            {% include "tables/team.html" with team=debate.neg_team %}
          </td>
          <td>
          {% for type, adj in debate.adjudicators %}
              {{ adj.name }}{% if type == 'C' and debate.adjudicators.is_panel %} Ⓒ{% elif type == 'T' %} Ⓣ{% endif %}{% if not forloop.last %},{% endif %}
          {% endfor %}
          </td>
          <td class="text-danger">{{ debate.all_conflicts|join:",<br>" }}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>


  <div class="modal fade" id="start-time-form" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Change Start Time</h3>
      </div>
      <div class="modal-body">
        <form id="startTimeForm" method="POST" action="{% round_url set_round_start_time %}" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-4 control-label">
              Start at
            </label>
            <div class="col-sm-6">
              <input placeholder="{{ round.starts_at|time:'H:i' }}" name="start_time" class="form-control"></input>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label"></label>
            <div class="col-sm-6">
              <button type="submit" value="Save" class="btn btn-success submit-disable" data-loading-text="Saving...">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    </div>
  </div>
{% endblock content %}

{% block extra-js %}
   <script>
    $(document).ready( function() {
      var dTable = $('#dataTable').DataTable({
        'bPaginate': false,
        "aaSorting": [[ 0, "desc" ], [ 2, "asc" ]],
      });
      new $.fn.dataTable.FixedHeader( dTable, {alwaysCloneTop: true});
      $('#table-search').keyup(function(){
        dTable.search($(this).val()).draw();
      })
    } );
  </script>
{% endblock extra-js %}
