{% extends "draw_base.html" %}
{% load static %}
{% load debate_tags %}

{% block head-title %}Side Allocations{% endblock %}
{% block page-title %}Side Allocations{% endblock %}
{% block page-subnav-sections %}{% include "tables/table_search.html" %}{% endblock %}

{% block content %}
  <table id="dataTable" class="team-tab table" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        {% if pref.show_emoji %}
          <th class="team-emoji"></th>
        {% endif %}
        <th>Team</th>
        {% if pref.show_institutions %}
          <th>Inst<span class="hidden-xs">itution</span></th>
        {% endif %}
        {% for round in rounds %}
          <th>{{ round.abbreviation }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
    {% for team in teams %}
    <tr>
      {% if pref.show_emoji %}
        <td class="team-emoji">{{ team.emoji }}</td>
      {% endif %}
      <td>
        <span {% if pref.show_speakers_in_draw %}class="team-speakers-hover" id="team_speakers_{{ team.id }}"{% endif %}>
          {{ team.short_name }} {{ team.break_categories_str }}
        </span>
      </td>
      {% if pref.show_institutions %}
        <td><span class="hidden-xs">{{ team.institution }}</span><span class="visible-xs">{{ team.institution.code }}</span></td>
      {% endif %}
      {% for side in team.side_allocations %}
        <td>{{ side }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock content %}

{% block extra-js %}
  {{ block.super }}
   <script type="text/javascript" charset="utf-8">
    $(document).ready( function() {
      var dTable = $("#dataTable").DataTable({
        "aaSorting": [[ 1, "asc" ]],
      });
      new $.fn.dataTable.FixedHeader( dTable, {alwaysCloneTop: true});
      $('#table-search').keyup(function(){
        dTable.search($(this).val()).draw();
      })
    });
  </script>
{% endblock extra-js %}
