{% load debate_tags %}

<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h5 class="no-vertical-spacing pull-left">
      <span class="team-emoji">{% team_emoji team %} </span>
      {{ team.short_name }}
      <small>
        {% for speaker in team.speakers %}
          {% if forloop.last %} and {% elif forloop.first %}{% else %}, {% endif %}
          {{ speaker.name }}{% if speaker.pronoun %} ({{ speaker.pronoun }}){% endif %}
        {% endfor %}
      </small>
    </h5>
    <span class="text-muted pull-right">{{ position }}</span>
  </div>
  <div class="panel-body no-horizontal-spacing no-vertical-spacing">
    <table class="table" cellspacing="10" cellpadding="10">
      <thead>
        <tr>
          <th class="text-center" width="4%"></th>
          <th class="text-left small" width="62%"><em style="font-weight: normal;">Name & Pronoun</em></th>
          <th class="text-center" width="10%"></th>
          <th class="text-left small" width="14%"><em style="font-weight: normal;">Score</em></th>
        </tr>
      </thead>
      <tbody>
        {% for i in config.substantive_speakers|times %}
        <tr class="text-muted text-center">
          <td>
            <h5>
              <small>{{ i|add:1 }}</small>
            </h5>
          </td>
          <td class="writeable"></td>
          <td class="text-muted text-center">
            <h5>
              <small>
              {% if config.score_step >= 1 %}
                {{config.score_min|floatformat:"0" }}-{{ config.score_max|floatformat:"0" }}
              {% else %}
                {{config.score_min }}-{{ config.score_max }}
              {% endif %}
              </small>
            </h5>
          </td>
          <td class="writeable"></td>
        </tr>
        {% endfor %}
        {% if config.reply_scores_enabled %}
        <tr class="text-muted text-center">
          <td>
            <h5><small>R</small></h5>
          </td>
          <td class="writeable"></td>
          <td class="text-muted text-center">
            <h5>
              <small>
              {% if config.score_step >= 1 %}
                {{config.reply_score_min|floatformat:"0" }}-{{ config.reply_score_max|floatformat:"0" }}
              {% else %}
                {{config.reply_score_min }}-{{ config.reply_score_max }}
              {% endif %}
              </small>
            </h5>
          </td>
          <td class="writeable"></td>
        </tr>
        {% endif %}
        <tr>
          <td style="border-bottom: none;"></td>
          <td></td>
          <td class="text-center small"><em style="line-height: 34px;">Total</em></td>
          <td class="writeable"></td>
        </tr>
      </tbody>
    </table>
    </thead>
  </div>
</div>