{% load debate_tags %}

<section class="printable-feedback-sheet">
  <div class="clearfix">
    <span class="h3 pull-left no-vertical-spacing">
      {% if source.name %}
        {{ source.name }}'s Feedback
      {% else %}
        <span class="team-emoji">{% team_emoji source %} </span>
        {{ source.short_name }}'s Feedback
      {% endif %}
    </span>
    <span class="badge h3 no-vertical-spacing pull-right">{{ round.name }}</span>
    <span class="badge h3 no-vertical-spacing pull-right">Room {{ debate.venue_splitname }}</span>
  </div>
  <p class="small text-muted">
    {% if debate.adjudicators.list|length > 1 %}The panel was {% endif %}
    {% for type, adj in debate.adjudicators %}
      {% if debate.adjudicators.list|length > 1 and forloop.last %} and {% elif forloop.first %}{% else %}, {% endif %}
      {{ adj.name }}
      {% if type == "C" %} Ⓒ{% elif type == "T" %} Ⓣ{% endif %}
      {% if adj.pronoun %} ({{ adj.pronoun }}){% endif %}
    {% endfor %}
    {% if debate.adjudicators.list|length == 1 %} was the sole adjudicator{% endif %}
  </p>
  <br>

  <div class="panel panel-default">
    <div class="panel-heading">
      <p class="panel-title small">
        {% if target %}
          <em>Your {{ target_type }} was</em>
        {% elif debate.adjudicators.is_panel %}
          <em>Who delivered the adjudication?</em>
        {% else %}
          <em>Your adjudicator was</em>
        {% endif %}
      </p>
    </div>
    <div class="panel-body no-vertical-spacing">
      <table class="table table-printed-selection" cellspacing="10" cellpadding="10">
        <thead>
          <tr>
            {% if target %}
              <th class="text-center h4">
                {{ target.name }}
                {% if target_type == "chair" %}Ⓒ{% elif target_type == "trainee" %}Ⓣ{% endif %}
              </th>
            {% else %}
              {% for type, adj in debate.adjudicators %}
                {% if type == 'C' and debate.adjudicators.is_panel %}
                  <th class="text-center h4">{{ adj.name }} Ⓒ</th>
                {% elif type != 'T' %}
                  <th class="text-center h4">{{ adj.name }}</th>
                {% endif %}
              {% endfor %}
            {% endif %}
          </tr>
        </thead>
      </table>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <p class="italic panel-title small"><em>Did you agree with their decision?</em></p>
    </div>
    <div class="panel-body no-vertical-spacing">
      <table class="table table-printed-selection" cellspacing="10" cellpadding="10">
        <thead>
          <tr>
            <th class="text-center h4">Yes</th>
            <th class="text-center h4">No</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <p class="italic panel-title small"><em>Do you think they should be demoted or promoted?</em></p>
    </div>
    <div class="panel-body no-vertical-spacing">
      <table class="table table-printed-selection" cellspacing="10" cellpadding="10">
        <thead>
          <tr>
            <th class="text-center h4">Demote</th>
            <th class="text-center h4">Keep the same</th>
            <th class="text-center h4">Promote</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <p class="panel-title small"><em>How convincing was their adjudication?</em></p>
    </div>
    <div class="panel-body no-horizontal-spacing">
      <table class="table table-printed-selection" cellspacing="10" cellpadding="10">
        <thead>
          <tr>
            <th class="text-center no-vertical-spacing no-borders h2">😱</th>
            <th class="text-center no-vertical-spacing no-borders h2">😧</th>
            <th class="text-center no-vertical-spacing no-borders h2">😐</th>
            <th class="text-center no-vertical-spacing no-borders h2">😃</th>
            <th class="text-center no-vertical-spacing no-borders h2">😍</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center text-muted em small">
            <td width="20%" class="no-borders no-vertical-spacing"><em>awful; should trainee</em></td>
            <td width="20%" class="no-borders no-vertical-spacing"><em>bad; should not chair</em></td>
            <td width="20%" class="no-borders no-vertical-spacing"><em>ok; should be panelling</em></td>
            <td width="20%" class="no-borders no-vertical-spacing"><em>good; should be chairing</em></td>
            <td width="20%" class="no-borders no-vertical-spacing"><em>amazing; should break</em></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <p class="italic panel-title small"><em>What did you think about the adjudication?</em></p>
    </div>
    <div class="panel-body no-vertical-spacing">
      <hr class="writeable">
      <hr class="writeable">
      <hr class="writeable">
      <hr class="writeable">
      <hr class="writeable">
      <hr class="writeable">
      <hr class="writeable">
      <hr class="writeable">
      <hr class="writeable">
      <hr class="writeable">
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-footer no-borders">
      <table class="table" cellspacing="10" cellpadding="10">
        <tbody>
          <tr>
            {% if config.feedback_return_location|length > 2 %}
            <td width="30%" class="no-vertical-spacing text-left no-borders"><span class="small"><em>Please return feedback forms to {{ config.feedback_return_location }}</em></span></td>
            {% endif %}
            <td width="10%" class="no-vertical-spacing text-muted text-left no-borders"><span class="small"><em>For the tab room only.</em></span></td>
            <td width="30%" class="no-vertical-spacing text-muted text-left no-borders"><span class="small"><em>Entered By</em></span></td>
            <td width="50%" class="no-vertical-spacing text-muted text-left no-borders"><span class="small"><em>Checked By</em></span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
