{% extends 'base_vue_table.html' %}
{% load i18n %}

{% block content %}
  {% if pref.teams_in_debate == 'bp' %}
    {% blocktrans trimmed asvar p1 %}
      This list is sorted by team points, then alphabetically by team name. It
      does not indicate each team's ranking within each bracket. It also
      excludes silent rounds (if any).
    {% endblocktrans %}
  {% else %}
    {% blocktrans trimmed asvar p1 %}
      This list is sorted by number of wins, then alphabetically by team name.
      It does not indicate each team's ranking within each bracket. It also
      excludes silent rounds (if any).
    {% endblocktrans %}
  {% endif %}
  {% include "components/explainer-card.html" with type="info" %}

  {{ block.super }}
{% endblock %}