{% extends "standings_base.html" %}
{% load debate_tags %}
{% load static %}

{% block page-title %}🗃Diversity Overview{% endblock %}
{% block head-title %}<span class="emoji">🗃</span>Diversity Overview{% endblock %}
{% block diversity_active %}active{% endblock %}
{% block body-id %}diversityData{% endblock %}

{% if for_public %}{% block page-subnav-sections %}{% endblock %}{% endif %}

{% block page-alerts %}

  <div class="alert alert-info">
    The 'results' data displayed here is presented without tests for statistical
    significance. The correlations should not be automatically considered
    reliable; particularly at small tournaments.
  </div>

  <div class="nav nav-pills navbar-left vertical-spacing">
    <span class="btn btn-default gender-display male h6">
      Male identifying
    </span>
    <span class="btn btn-default gender-display nm h6">
      Female identifying or non-binary
    </span>
    <span class="btn btn-default gender-display unknown h6">
      Unknown
    </span>
  </div>

  <div class="nav nav-pills pull-right vertical-spacing">
    {% for key, value in regions %}
      <span class="btn btn-default region-display region-{{ forloop.counter }} h6">
        {{ key }}
      </span>
    {% endfor %}
  </div>

{% endblock %}

{% block content %}

<div class="row">

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        Speaker Demographics
      </div>
      <div class="panel-body text-center no-side-padding">
        <template v-for="set in dataSets['speakers_gender']">
          <donut-chart :graph-data="set['data']" :title="set['title']"></donut-chart>
        </template>
        <hr>
        <template v-for="set in dataSets['speakers_region']">
          <donut-chart :graph-data="set['data']" :title="set['title']" :regions="dataSets['regions']"></donut-chart>
        </template>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        Adjudicator Demographics
      </div>
      <div class="panel-body text-center no-side-padding">
        <template v-for="set in dataSets['adjudicators_gender']">
          <donut-chart :graph-data="set['data']" :title="set['title']"></donut-chart>
        </template>
        <hr>
        <template v-for="set in dataSets['adjudicators_region']">
          <donut-chart :graph-data="set['data']" :title="set['title']" :regions="dataSets['regions']"></donut-chart>
        </template>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        Speaker Results
      </div>
      <div class="panel-body text-center">
        <template v-for="set in dataSets['speakers_results']">
          <text-display :graph-data="set['data']" :title="set['title']" :datum="set['datum']"></donut-chart>
        </template>
        <hr>
        <template v-for="set in dataSets['detailed_speakers_results']">
          <text-display :graph-data="set['data']" :title="set['title']" :datum="set['datum']"></donut-chart>
        </template>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        Adudicator Results
      </div>
      <div class="panel-body">
        <template v-for="set in dataSets['adjudicators_results']">
          <text-display :graph-data="set['data']" :title="set['title']" :datum="set['datum']"></donut-chart>
        </template>
        <hr>
        <template v-for="set in dataSets['detailed_adjudicators_results']">
          <text-display :graph-data="set['data']" :title="set['title']" :datum="set['datum']"></donut-chart>
        </template>
      </div>
    </div>
  </div>

</div>
{% endblock content %}

{% block extra-js %}

  <script src="{% static 'js/vendor/d3.js' %}"></script>
  {% include "vue/graphs/DonutChart.vue" %}
  {% include "vue/graphs/TextDisplay.vue" %}
  <script>
    var latests = new Vue({
      el: '#diversityData',
      data: {
        dataSets: {{ data_sets|safe }}
      },
      methods: {
      }
    });
  </script>

{% endblock extra-js %}
