{% extends "standings_base.html" %}
{% load debate_tags %}

{% block page-title %}Motions Balance{% endblock %}
{% block head-title %}Motions Balance{% endblock %}
{% block motion_active %}active{% endblock %}

{% block extra-js %}
  {{ block.super }}
  <script>
    $(document).ready( function() {
      $("#release_motions").click( function() {
        $("#releaseForm").submit();
        return false;
      } );
      $("#unrelease_motions").click( function() {
        $("#unreleaseForm").submit();
        return false;
      } );
    });
  </script>
{% endblock extra-js %}
