{% extends "standings_base.html" %}
{% load debate_tags %}
{% load static %}

{% block page-title %}🗃Diversity Overview{% endblock %}
{% block head-title %}<span class="emoji">🗃</span>Diversity Overview{% endblock %}
{% block diversity_active %}active{% endblock %}

{% block page-subnav-sections %}
  {% if user.is_superuser %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block page-subnav-actions %}
  {% if user.is_superuser %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block page-alerts %}

  {% include "components/explainer-card.html" with type="info" p1="The speaker and adjudicator results data displayed here is presented without tests for statistical significance. Correlations should not be automatically considered reliable; particularly at small tournaments." %}

{% endblock %}

{% block content %}

  <div class="d-lg-flex justify-content-lg-between mb-4">
    <div class="nav nav-pills btn-group">
      <button class="btn btn-outline-secondary h6">
        Key
      </button>
      <button class="btn btn-primary gender-display gender-nm h6">
        Non-cis male identifying
      </button>
      <button class="btn btn-primary gender-display gender-male h6">
        Male identifying
      </button>
    </div>
    <div class="nav nav-pills btn-group mt-md-0 mt-3">
      <button class="btn btn-outline-secondary h6">
        Key
      </button>
      {% for r in regions %}
        <button class="btn btn-primary region-display region-{{ r.seq }} h6">
          {{ r.name }}
        </button>
      {% endfor %}
    </div>
  </div>

  <div id="vueMount">
    <diversity-container :graphs-data="graphsData"></diversity-container>
  </div>

{% endblock content %}

{% block js %}
  <script>
    window.vueData = {
      graphsData: {{ data_sets|safe }}
    }
  </script>
  {{ block.super }}
{% endblock js %}
