{% extends "base_vue_table.html" %}
{% load debate_tags %}

{% block page-subnav-sections %}

  <div class="btn-group">
    <a class="btn btn-default {% block standings_active %}{% endblock %}" href="{% roundurl 'standings-index' current_round %}">
      Overview
    </a>
    <a class="btn btn-default {% block team_active %}{% endblock %}" href="{% roundurl 'standings-team' current_round %}">
      Teams
    </a>
    {% if pref.enable_divisions %}
    <a class="btn btn-default {% block division_active %}{% endblock %}" href="{% roundurl 'standings-division' current_round %}">
      Divisions
    </a>
    {% endif %}
    <a class="btn btn-default {% block speaker_active %}{% endblock %}" href="{% roundurl 'standings-speaker' current_round %}">
      Speakers
    </a>
    {% if pref.show_novices %}
      <a class="btn btn-default {% block pros_active %}{% endblock %}" href="{% roundurl 'standings-pro' current_round %}">
        Pros
      </a>
      <a class="btn btn-default {% block novices_active %}{% endblock %}" href="{% roundurl 'standings-novice' current_round %}">
        Novices
      </a>
    {% endif %}
    {% if pref.reply_scores_enabled %}
      <a class="btn btn-default {% block replies_active %}{% endblock %}" href="{% roundurl 'standings-reply' current_round %}">
        Replies
      </a>
    {% endif %}
  </div>
  <a class="btn btn-default {% block motion_active %}{% endblock %}" href="{% roundurl 'standings-motion' current_round %}">
    Motions Balance
  </a>
  <a class="btn btn-default {% block diversity_active %}{% endblock %}" href="{% roundurl 'standings-diversity' current_round %}">
    Diversity Overview
  </a>
  {{ block.super }}

{% endblock %}
