{% load debate_tags %}

<div class="btn-group">
  <a class="btn btn-default {% block standings_active %}{% endblock %}"
     href="{% roundurl 'standings-index' current_round %}">
    Overview
  </a>
</div>

<div class="btn-group">
  <a class="btn btn-default {% block team_active %}{% endblock %}"
     href="{% roundurl 'standings-team' current_round %}">
    Teams
  </a>
  {% if pref.enable_divisions %}
  <a class="btn btn-default {% block division_active %}{% endblock %}"
     href="{% roundurl 'standings-division' current_round %}">
    Divisions
  </a>
  {% endif %}
</div>

<div class="btn-group">
  <a class="btn btn-default {% block speaker_active %}{% endblock %}"
     href="{% roundurl 'standings-speaker' current_round %}">
    Speakers
  </a>
  {% if pref.reply_scores_enabled %}
    <a class="btn btn-default {% block replies_active %}{% endblock %}"
       href="{% roundurl 'standings-reply' current_round %}">
      Replies
    </a>
  {% endif %}
  {% for category in tournament.speakercategory_set.all %}
    <a class="btn btn-default"
       href="{% roundurl 'standings-speaker-category' round=current_round category=category.slug %}">
      {{ category.name }} Speakers
    </a>
  {% endfor %}

</div>

<a class="btn btn-default {% block motion_active %}{% endblock %}"
   href="{% roundurl 'standings-motion' current_round %}">
  Motions Balance
</a>

<a class="btn btn-default {% block diversity_active %}{% endblock %}"
   href="{% roundurl 'standings-diversity' current_round %}">
  Diversity Overview
</a>
