{% load debate_tags i18n %}

<div class="btn-group flex-wrap">
  <a class="btn btn-outline-primary {% if standings_overview_nav %}active{% endif %}"
     href="{% roundurl 'standings-index' current_round %}">
    {% trans "Overview" %}
  </a>
  {% if pref.enable_divisions %}
    <a class="btn btn-outline-primary {% if standings_division_nav %}active{% endif %}"
       href="{% roundurl 'standings-division' current_round %}">
      {% trans "Divisions" %}
    </a>
  {% endif %}
</div>

<div class="btn-group flex-wrap">
  <div class="btn btn-outline-primary disabled">{% trans "Teams" %}</div>
  <a class="btn btn-outline-primary {% if standings_team_nav %}active{% endif %}"
     href="{% roundurl 'standings-team' current_round %}">
    {% trans "All" %}
  </a>
  {% for category in tournament.break_categories_nongeneral %}
    <a class="btn btn-outline-primary"
       href="{% roundurl 'standings-break-category' round=current_round category=category.slug %}">
      {% blocktrans trimmed with category_name=category.name %}
        {{ category_name }}
      {% endblocktrans %}
    </a>
  {% endfor %}
</div>

<div class="btn-group flex-wrap">
  <div class="btn btn-outline-primary disabled">{% trans "Speakers" %}</div>
  <a class="btn btn-outline-primary {% if standings_speaker_nav %}active{% endif %}"
     href="{% roundurl 'standings-speaker' current_round %}">
    {% trans "All" %}
  </a>
  {% for category in tournament.speakercategory_set.all %}
    <a class="btn btn-outline-primary"
       href="{% roundurl 'standings-speaker-category' round=current_round category=category.slug %}">
      {% blocktrans trimmed with category_name=category.name %}
        {{ category_name }}
      {% endblocktrans %}
    </a>
  {% endfor %}
  {% if pref.reply_scores_enabled %}
    <a class="btn btn-outline-primary {% if standings_reply_nav %}active{% endif %}"
       href="{% roundurl 'standings-reply' current_round %}">
      {% trans "Replies" %}
    </a>
  {% endif %}
</div>

<div class="btn-group">

  <a class="btn btn-outline-primary {% if motions_statistics_nav %}active{% endif %}"
     href="{% tournamenturl 'motions-statistics' %}">
    {% trans "Motions" %}
  </a>
  <a class="btn btn-outline-primary {% if standings_diversity_nav %}active{% endif %}"
     href="{% roundurl 'standings-diversity' current_round %}">
    {% trans "Diversity" %}
  </a>

</div>
