{% extends "standings_base.html" %}
{% load debate_tags %}
{% load static %}

{% block page-title %}💭Motions Tab{% endblock %}
{% block head-title %}<span class="emoji">💭</span>💭Motions Tab{% endblock %}

{% block content %}

  {% if analysed_motions %}

    {% regroup analysed_motions by round as motions_by_round %}

    {% for round, round_motions in motions_by_round %}
      <div class="list-group mt-3">

        <div class="list-group-item disabled text-center strong">
          {{ round.name }}
        </div>

        {% for am in round_motions %}
          <div class="list-group-item pb-0">

            {% with motion=am.motion %}
              {% if motion.info_slide %}
                <span class="h5 mb-0 mt-3 badge badge-secondary float-right"
                      data-toggle="modal" data-target="#info_{{ motion.id }}">View Info Slide</span>
                {% include 'motions_info.html' %}
              {% endif %}
            {% endwith %}

            <h4 class="mb-3 mt-2 text-center">
              {{ am.motion }}
            </h4>

            <div class="row">

              <div class="col-sm-{% if pref.motion_vetoes_enabled %}6{% else %}12{% endif %}">
                {% if pref.teams_in_debate == 'two' %}
                  {% include "balance_results_2vs2.html" %}
                {% else %}
                  {% include "balance_results_bp.html" %}
                {% endif %}
              </div>

              {% if pref.motion_vetoes_enabled %}
                {% include "balance_vetoes.html" %}
              {% endif %}

            </div>

          </div>
        {% endfor %}

      </div>
    {% endfor %}

    {% else %}

      {% include "components/item-info.html" with text="There are no motions in Tabbycat" type="info" %}

    {% endif %}

{% endblock content %}
