{% load debate_tags i18n %}

<div class="btn-group flex-wrap">

  <a class="btn btn-outline-primary {% if standings_overview_nav %}active disabled{% endif %}"
     href="{% roundurl 'standings-index' current_round %}">
    {% trans "Overview" %}
  </a>
  <a class="btn btn-outline-primary {% if standings_team_nav %}active disabled{% endif %}"
     href="{% roundurl 'standings-team' current_round %}">
    {% trans "Teams" %}
  </a>
  {% if pref.enable_divisions %}
  <a class="btn btn-outline-primary {% if standings_division_nav %}active disabled{% endif %}"
     href="{% roundurl 'standings-division' current_round %}">
    {% trans "Divisions" %}
  </a>
  {% endif %}
  <a class="btn btn-outline-primary {% if standings_speaker_nav %}active disabled{% endif %}"
     href="{% roundurl 'standings-speaker' current_round %}">
    {% trans "Speakers" %}
  </a>
  {% if pref.reply_scores_enabled %}
    <a class="btn btn-outline-primary {% if standings_reply_nav %}active disabled{% endif %}"
       href="{% roundurl 'standings-reply' current_round %}">
      {% trans "Replies" %}
    </a>
  {% endif %}
  {% for category in tournament.speakercategory_set.all %}
    <a class="btn btn-outline-primary"
       href="{% roundurl 'standings-speaker-category' round=current_round category=category.slug %}">
      {% blocktrans trimmed with category_name=category.name %}
        {{ category_name }} Speakers
      {% endblocktrans %}
    </a>
  {% endfor %}

</div>

<div class="btn-group">

  <a class="btn btn-outline-primary {% if motions_statistics_nav %}active disabled{% endif %}"
     href="{% tournamenturl 'motions-statistics' %}">
    {% trans "Motion Statistics" %}
  </a>
  <a class="btn btn-outline-primary {% if standings_diversity_nav %}active disabled{% endif %}"
     href="{% roundurl 'standings-diversity' current_round %}">
    {% trans "Diversity Overview" %}
  </a>

</div>
