{% extends "base.html" %}
{% load static %}
{% load debate_tags %}

{% block head-title %}Bulk Add Teams{% endblock %}
{% block page-title %}Bulk Add Teams{% endblock %}

{% block content %}

<div class="alert alert-info alert-dismissable" id="">
  <p>Specify the number of new teams to add per institution. In the next step you can specify team and speaker names.</p>
</div>


<form action="{% tournament_url edit_teams %}" method="POST">

  {% for institution in institutions %}
  <div class="form-group">
    <label>{{ institution }} ({{ institution.code }})</label>
    <input type="number" class="form-control" name="{{ institution }}"" id="" placeholder="0">
  </div>
  {% endfor %}

  <button type="submit" class="btn btn-default">Submit</button>

</form>

{% endblock content %}