{% extends "base.html" %}
{% load static %}
{% load debate_tags %}

{% block head-title %}🏩 Bulk Add Venue Preferences for an Institution{% endblock %}
{% block page-title %}🏩 Bulk Add Venue Preferences for an Institution{% endblock %}

{% block content %}

<div class="alert alert-info alert-dismissable" id="">
  <p>
    Select which institutions you want to change the preferences of.
  </p>

</div>

<form action="{% tournament_url edit_venue_preferences %}" method="POST">

  {% for institution in institutions %}

    <div class="row">

      <label class="col-sm-4 control-label">{{ institution.name }}</label>
      <div class="col-sm-1">
        <input class="form-control team-name" type="checkbox" name="{{ institution.id }}" value=0 />
      </div>

    </div>

  {% endfor %}

  <div class="form-group row">
    <div class="col-sm-2">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </div>

</form>

{% endblock content %}