{% extends "base.html" %}
{% load static %}
{% load debate_tags %}

{% block head-title %}<span class="emoji">🎪</span> Bulk Add Venues{% endblock %}
{% block page-title %}🎪 Bulk Add Venues{% endblock %}

{% block content %}

<div class="alert alert-info alert-dismissable" id="">
  <p>
    Copy+paste in a venues list, with one venue per line, using the format of: <strong>Name,Priority</strong>. For example:<br><br>
  </p>
  <p>
    <em>Green 140,200<br>
    Red 2.9.0,100<br>
    Black 11G,50</em>
  </p>
  <br>
  <p>
  Most tournaments do not need <a href="http://tabbycat.readthedocs.org/en/latest/use/starting-a-tournament.html?highlight=venue%20groups#information-for-the-briefing" target="_blank">venue groups</a>, but if yours does you can use this format:
  </p>
  <br>
  <p>
    <em>Green 140,200,Group 1<br>
    Red 2.9.0,100,Group 1<br>
    Black 11G,50,Group 2</em>
  </p>
</div>

<form action="{% tournament_url edit_venues %}" method="POST">

  <div class="form-group">
    <textarea class="form-control" name="venues_raw" rows="20"></textarea>
  </div>
  <button type="submit" class="btn btn-primary btn-block submit-disable">Submit Venues List</button>

</form>

{% endblock content %}
