{% extends "base.html" %}
{% load static %}
{% load debate_tags %}

{% block head-title %}🏫 Edit Institutions{% endblock %}
{% block page-title %}🏫 Edit Institutions{% endblock %}

{% block content %}


<form id="addInstitutions" action="{% tournament_url confirm_institutions %}" method="POST">
  {% csrf_token %}

  {% for institution in institutions %}
  <div class="ballot-checkin-form form-horizontal">
    <div class="form-group">
      <label class="col-sm-1 control-label">Full Name</label>
      <div class="col-sm-4">
        <input class="form-control" type="text" name="institution_names" value="{{ institution.name }}" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-1 control-label">Code</label>
      <div class="col-sm-4">
        <input class="form-control" type="text" name="institution_codes" value="{{institution.code}}" />
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="ballot-checkin-form form-horizontal">
    <div class="form-group">
      <div class="col-sm-1 col-sm-offset-1">
        <input class="form-control btn btn-success submit-disable" type="submit" value="Save All" />
      </div>
    </div>
  </div>

</form>

{% endblock content %}