{% extends "base.html" %}
{% load static %}
{% load debate_tags %}

{% block head-title %}<span class="emoji">👂</span> Edit Adjudicators{% endblock %}
{% block page-title %}👂 Edit Adjudicators{% endblock %}

{% block content %}

<div class="alert alert-info alert-dismissable" id="">
  <p>As per the tournament's configuration, an adjudicator's rating must be between {{ pref.adj_min_score }} and {{ pref.adj_max_score }}.</p>
</div>

<form id="addAdjudicators" action="{% tournament_url confirm_adjudicators %}" method="POST">
  {% csrf_token %}
  {% for key, values in institutions.items %}

    <div class="row">
      <div class="col-sm-12">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h5>{{ key }}'s Adjudicators</h5>
          </div>
          <ul class="list-group">

            {% for adjudicator in values %}
            <li class="list-group-item">

              <div class=" form-horizontal row">

                <input class="hidden" type="text" name="{{ key }}_{{ adjudicator }}_Instititution" value="{{ key }}" />

                <div class="col-md-6">
                  <div class="row">
                    <label class="col-sm-4 control-label">
                      Adj #{{ adjudicator }}'s Name
                    </label>
                    <div class="col-sm-8">
                      <input class="form-control" type="text" list="adj-ticks" name="{{ key }}_{{ adjudicator }}_Name" value="An Adjudicator" />
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="row">
                    <label class="col-sm-8 control-label">
                      Adj #{{ adjudicator }}'s Rating
                    </label>
                    <div class="col-sm-4">
                      <input class="form-control" type="number" min="{{ pref.adj_min_score }}" max="{{ pref.adj_max_score }}" step="0.5" value="{{ score_avg }}" name="{{ key }}_{{ adjudicator }}_Rating" />
                    </div>
                  </div>
                </div>

              </div>

            </li>
            {% endfor %}



          </ul>

        </div>





      </div>
    </div>


  {% endfor %}

  {% csrf_token %}
  <div class="row">
    <div class="col-md-12">
      <div class="">
        <div class="form-group">
          <input class="btn btn-success submit-disable btn-block" type="submit" value="Save All Adjudicators" />
          </div>
        </div>
      </div>
  </div>


</form>

{% endblock content %}
