{% extends "base.html" %}
{% load static %}
{% load debate_tags %}

{% block head-title %}Edit Teams{% endblock %}
{% block page-title %}Edit Teams{% endblock %}

{% block content %}

<div class="alert alert-info alert-dismissable" id="">
  <p>When adding speakers use the format:<br><br>
    <strong>Name of Speaker1, Name of Speaker2, Name of Speaker3</strong>
    </p>
</div>

<form id="" action="{% tournament_url confirm_teams %}" method="POST">

  {% for institution in institutions %}

    <div class="row">
      <div class="col-sm-12">
        <h2>{{ institution.name }}'s Teams</h2>
      </div>
    </div>

    <div class="row">
      {% for team_number in institution.available_team_numbers %}
        <div class="ballot-checkin-form form-horizontal col-sm-6">

          <h4>Team #{{ team }}</h4>

          <input class="hidden" type="text" name="{{ institution.id }}_{{ team_number }}_Instititution" value="{{ institution.id }}" />

          <div class="form-group row">
            <label class="col-sm-4 control-label">Name</label>
            <div class="col-sm-8">
              <input class="form-control team-name" type="text" name="{{ institution.id }}_{{ team_number }}_Name" value="{{ team_number }}" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 control-label">Prefix Institution</label>
            <div class="col-sm-8">
              <input class="form-control team-name" type="checkbox" name="{{ institution.id }}_{{ team_number }}_Prefix" checked />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 control-label">Speakers</label>
            <div class="col-sm-8">
              <input class="form-control team-speakers" type="text" name="{{ institution.id }}_{{ team_number }}_Speakers" value="Speaker 1, Speaker 2, Speaker 3" />
            </div>
          </div>

        </div>
      {% endfor %}
    </div>

  {% endfor %}
  {% csrf_token %}
  <div class="row">
    <div class="ballot-checkin-form form-horizontal col-sm-6">
      <div class="form-group row">
        <label class="col-sm-2"></label>
        <div class="col-sm-2">
          <input class="form-control btn btn-success submit-disable" type="submit" value="Save All" />
        </div>
      </div>
    </div>

  </div>

</form>

{% endblock content %}
