{% extends "base.html" %}
{% load debate_tags i18n static %}

{% block nav %}{% endblock %}
{% block footer %}{% endblock %}
{% block body-class %}override-sidebar-offset{% endblock %}

{% block page-alerts %}

  {% blocktrans trimmed asvar p1 %}
    Each of the barcodes below is also an image file that can be download individually. If you want to download them all at once try using a 'bulk downloader' extension/plugin for your browser, such as <a href="https://chrome.google.com/webstore/detail/image-downloader/cnpniohnfphhjihaiiggeabnkjhpaldj">this one (for Chrome)</a>.
  {% endblocktrans %}
  {% include "components/explainer-card.html" with type="info" %}

  {% blocktrans trimmed asvar p1 %}
    You can use Ctrl+P for printing or saving the barcodes PDF. Be sure to set the appropriate <strong>page orientation</strong>, to turn off <strong>headers/footers</strong> and turn on <strong>background graphics</strong>. Works best in Chrome.
  {% endblocktrans %}
  {% include "components/explainer-card.html" with type="info" %}

{% endblock %}

{% block content %}

  {% for id in identifiers %}

    {% if forloop.first or forloop.counter0|divisibleby:24 %}
      {% if not forloop.first %}</div></div></div>{% endif %}
      <div class="db-page-holder"><div class="db-page p-4"><div class="row">
    {% endif %}

    <div class="col-3 p-2">
      <div class="card text-center">
        <div class="card-body p-0">
          <img class="barcode-placeholder" id="{{ id.identifier }}" title="{{ id.owner }}">
        </div>
        <div class="card-footer">
          <small>{{ id.owner }}, {{ id.identifier }}</small>
        </div>
      </div>
    </div>

  {% endfor %}

  </div></div></div><!-- Close from loop -->

{% endblock content %}

{% block js %}
  {{ block.super }}
  <script src="{% static 'js/vendor/JsBarcode.code128.min.js' %}"></script>
  <script>
    $(".barcode-placeholder").each(function() {
      var code = $(this).attr("id");
      var title = $(this).attr("title").split(" ")
      var firstNameCode = title[0][0].toUpperCase().replace(/\W/g, '') + "."
      var lastNameCode = title[title.length - 1].toUpperCase().replace(/\W/g, '')
      if (lastNameCode.length > 5) {
        lastNameCode = lastNameCode.substring(0, 5)
      }
      $(this).JsBarcode(code, {
        text: code + " " + firstNameCode + lastNameCode
      });
    });
  </script>
{% endblock js %}

{% block extra-css %}
  <link rel="stylesheet" type="text/css" href="/static/css/printables.css" />
{% endblock extra-css %}
