{% extends "base.html" %}
{% load debate_tags i18n %}

{% block content %}

  <div class="card-deck">

    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-0">Speakers and Adjudicators</h5>
      </div>
      <div class="list-group list-group-flush">
        <div class="list-group-item">
          <div class="d-flex justify-content-end">
            <span class="mr-auto">People with identifiers</span>
            <strong>{{ peopleWithIDs }}/{{ allPeople }}</strong>
          </div>
          {% include "components/progress-bar.html" with value=peopleWithIDs total=allPeople type="info" %}
        </div>
        <!-- IF EMPTY -->
          {% include "components/item-action.html" with text="Generate All Identifiers" type="primary" %}
        <!-- IF GAPS -->
          {% include "components/item-action.html" with text="Generate Missing Identifiers" type="primary" %}

        {% include "components/item-action.html" with text="View Barcodes" type="primary" %}
        {% include "components/item-action.html" with text="View QR codes" type="primary" %}
      </div>
    </div>


    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-0">Venues</h5>
      </div>
      <div class="list-group list-group-flush">
        <div class="list-group-item">
          <div class="d-flex justify-content-end">
            <span class="mr-auto">Venues with identifiers</span>
            <strong>{{ venuesWithIDs }}/{{ allVenues }}</strong>
          </div>
          {% include "components/progress-bar.html" with value=venuesWithIDs total=allVenues type="info" %}
        </div>
        <!-- IF EMPTY -->
          {% include "components/item-action.html" with text="Generate All Identifiers" type="primary" %}
        <!-- IF GAPS -->
          {% include "components/item-action.html" with text="Generate Missing Identifiers" type="primary" %}

        {% include "components/item-action.html" with text="View Barcodes" type="primary" %}
        {% include "components/item-action.html" with text="View QR codes" type="primary" %}
      </div>
    </div>

  </div>

{% endblock content %}
