{% extends "base.html" %}

{% block content %}

  <div id="vueMount">
    <check-in-status-container :events="events"
                               :tournament-slug="tournamentSlug"
                               :adjudicators="adjudicators"
                               :speakers="speakers"
                               :scan-url="scanUrl">
    </check-in-status-container>
  </div>

{% endblock content %}

{% block js %}
  <script>
    window.vueData = {
      'events': {{ events|safe }},
      'tournamentSlug': '{{ tournament_slug }}',
      'adjudicators': {{ adjudicators|safe }},
      'speakers': {{ speakers|safe }},
      'scanUrl': '{{ scan_url }}'
    }
  </script>
  {{ block.super }}
{% endblock js %}
