{% extends "base_vue_table.html" %}
{% load debate_tags static i18n %}

{% block page-subnav-sections %}
  <a href="{% roundurl 'availability-index' round %}" class="btn btn-primary">
    <i data-feather="chevron-left"></i>{% trans "Overview" %}
  </a>
  {% if round.is_break_round and model == 'participants.Adjudicator' %}
    <a class="btn btn-primary "
       href="{% roundurl 'availability-checkin-breaking-adjudicators' %}">
      {% trans "Check In All Breaking" %}
    </a>
  {% endif %}
  {% if round.seq > 1 %}
    <button id="select_previous" class="btn btn-primary" type="button">
      {% trans "Copy from Previous" %}
    </button>
  {% endif %}
  <div class="btn-group">
    <button id="select_all" class="btn btn-primary">
      {% trans "Select All" %}
    </button>
    <button id="select_none" class="btn btn-primary">
      {% trans "Select None" %}
    </button>
  </div>
  {{ block.super }}
{% endblock %}

{% block page-subnav-actions %}
  <button id="save_availability" class="btn btn-success " >
    <span class="icon glyphicon-floppy-disk"></span> {% trans "Save Selected" %}
  </button>
{% endblock %}

{% block js %}

  {% roundurl 'availability-index' round as index_url %}

  {{ block.super }}
  <script>

    var updateURL = '{{ update_url }}';

    $('#select_all').click(function() {
      $(":checkbox.vue-table-checkbox").each(function(){
        $(this).prop('checked', true);
      });
      return false;
    });

    $('#select_none').click(function() {
      $(":checkbox.vue-table-checkbox").each(function(){
        $(this).prop('checked', false);
      });
      return false;
    });

    $('#select_previous').click(function() {
      $(":checkbox.vue-table-checkbox").each(function(){
        var prev_round = $(this).parents("td").siblings("td").first();
        var prev_active = prev_round.children(".hidden").text().trim();
        if (prev_active === 'true') {
          $(this).prop('checked', true);
        } else {
          $(this).prop('checked', false);
        }
      });
      return false;
    });

    $('#save_availability').click(function() {
      var references = [], btn = $(this);
      $(":checkbox.vue-table-checkbox").each(function(){
        if ($(this).prop('checked')) {
          references.push(parseInt($(this).attr('data-target')));
        }
      });
      $.ajax({
        type: "POST",
        url: updateURL,
        data: {
          references: references,
        },
        success: function(data, status) {
          $.fn.showAlert('success', 'Saved availabilities. <a href="{{ index_url }}" class="alert-link"> Return to the check-ins overview page?</a>', 2000);
          btn.button('reset');
        },
        error: function(xhr, error, ex) {
          $.fn.showAlert('danger', 'Error saving availabilities. <a href="{{ index_url }}" class="alert-link"> Return to the check-ins overview page?</a>', 5000);
          btn.button('reset');
        }
      });
      return false;
    });

  </script>

{% endblock %}
