{% load debate_tags i18n %}

<div class="card">

  <div class="card-body round-progresses">
    <h5 class="card-title">{{ ct.title }}</h5>
  </div>

  <div class="list-group list-group-flush">

    <div class="list-group-item">
      <div class="d-flex justify-content-end">
        <span class="mr-auto">{{ round.abbreviation }}</span>
        <strong>{{ ct.in_now }}/{{ ct.total }}</strong>
      </div>
      {% include "components/progress-bar.html" with value=ct.in_now total=ct.total type="success" %}
    </div>

    {% if ct.in_before is not None %}
      <div class="list-group-item">
        <div class="d-flex justify-content-end">
          <span class="mr-auto">{{ round.prev.abbreviation }}</span>
          <strong>{{ ct.in_before }}/{{ ct.total }}</strong>
        </div>
        {% include "components/progress-bar.html" with value=ct.in_before total=ct.total type="secondary" %}
      </div>
    {% endif %}

    {% if ct.message %}
      <div class="col-md-5">
      {{ ct.message }}
      </div>
    {% endif %}

    {% if forloop.counter == 1 and not round.is_break_round %}
      {% roundurl 'availability-teams' round as url %}
      {% trans "Check In Teams" as text %}
    {% elif forloop.counter == 2 %}
      {% roundurl 'availability-adjudicators' round as url %}
      {% trans "Check In Adjudicators" as text %}
    {% elif forloop.counter == 3 %}
      {% roundurl 'availability-venues' round as url %}
      {% trans "Check In Venues" as text %}
    {% endif %}

    {% if ct.in_now == 0 %}
      {% include "components/item-action.html" with alone=True success=True %}
    {% else %}
      {% include "components/item-action.html" with alone=True icon="check-circle" %}
    {% endif %}

  </div>

</div>
