// CHECKINS
.round-progresses .progress {
  margin-bottom: 0; // Progress bars have bottom margins; need to offset
  .progress-empty span {
    // If its showing 0/x make the text visible and not flush
    color: #000;
    margin-left: 10px;
  }
}
// DIVISIONS
.divisions-holder {
  // Align them in equal height rows
  display: flex;
  flex-wrap: wrap;
  .col-md-3 {
    display: flex;
  }
  // Set the panel body to fill all the available height
  .panel {
    display: flex;
    flex-direction: column;
    .panel-body {
      flex: 1;
    }
  }
}

.division-heading {
  // Shift up the select to be adjavent to the title
  h4 {
    display: inline-block;
  }
  .form-control {
    display: inline-block;
    width: auto;
    float: right;
  }
}
.division-droppable {
  min-height: 66px; // Don't expand when the first team is added
  padding: 5px;
}
// DRAW
.draw-xs {
  font-size: $font-size-base * 1.25;
}
.draw-s {
  font-size: $font-size-base * 1.5;
}
.draw-m {
  font-size: $font-size-base * 1.75;
}
.draw-l {
  font-size: $font-size-base * 2.00;
}
.draw-xl {
  font-size: $font-size-base * 2.25;
}
// BALLOT ENTRY
.speaker-name {
  text-align: left;
}
