// Universal Styles
// (unfortunately these need to this specific to override bootstrap)

.table > thead > tr > th,
.table > tbody > tr > td {
  padding: 8px 0 8px 8px;
  min-width: 34px;
  border-bottom-width: 1px;
}

// Table Heads
thead {
  background-color: #fff; // Fixed header needs to be opaque while scrolling
  background-color: RGBa(255,255,255,0.94);

  .sorting_asc,
  .sorting_desc {
    color: $gray-darker; // Slightly highlight the fields currently being sorted
  }
}

.sorting,
.sorting_asc,
.sorting_desc,
.sorting_asc_disabled,
.sorting_desc_disabled {
  cursor: pointer;
  background: no-repeat center right;
}

.sorting {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAMAAABFjsb+AAAAVFBMVEXc3Nz////c3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3NzYsbpjAAAAG3RSTlMAAAEGBwoNIyo8QVlha3WQkZ24vtvj7vL3+frOn//RAAAAbklEQVR4AYXQSQ4DIQxE0UrPczdzwPe/Z0DKwiaK+MsnL0rG67f/BmC8ewDSrnTWtjiys7ROEdHTCdt8trBymwyV9MDsiO9S3Bv79u/dwWzQVDITM6whk9/kviebkvswW3ILpOFMF2rr71Fa+6cfTz0HJjW1XVUAAAAASUVORK5CYII=);
}

.sorting_asc {
  background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAgAAZABkAAD/2wBDAAEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQECAgICAgICAgICAgMDAwMDAwMDAwP/2wBDAQEBAQEBAQIBAQICAgECAgMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwP/wAARCAATABMDAREAAhEBAxEB/8QAGAAAAwEBAAAAAAAAAAAAAAAAAAUIBgr/xAAkEAABBQABAwQDAAAAAAAAAAADAQIEBQYABxESCCEiMRQzQf/EABsBAAIBBQAAAAAAAAAAAAAAAAAFAwIEBgcI/8QAJxEAAgEDAwMEAwEAAAAAAAAAAQIDAAQFBhESITFRBxRB4RMiYYH/2gAMAwEAAhEDEQA/AO8DqT1BznSzEaPfaqU2LS5yuNOP8moaWZE8IldDa79s6xlOYETE+3vT+d+ZBpbTWU1fn7XTmHQvf3UoQeFHdnbwiLuzH4AqC5uI7WBp5Tsijf6H9NSD6L/V4/1CJrc1sEgVu6qLKfdVMKMgwCscdMlqsQMYaI1Ty84pWxzv93EG4ZHfJXrzdfrr6Kr6amyyuE/JLp6aJIpGbclLlV/YsfhZ9i6DsrBlHQKKVYfLe/5xzbCcEkDyv12P+Gr25zpTykt9nM/qYKVmkpau+rUOKUkC3gx7CH+SFHIE6xpQyhUovNfFVTu3v7cv8dlMliLj3eKnmtrriV5xuyNxPcclIOx26jfrVDxxyrxkAZfBG9IqXpp08zliG3z+HylJax2GGCxqqGsgTRDkDURxskxYwjNYYa+Lk79nJ98YX2qtTZS1ayyWQvLizYglJJpHUlTuCVZiNweoPxUaW1vG3ONFVvIAFbfiCp6OFFHCijhRX//Z);
}

.sorting_desc {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2ZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDowMTgwMTE3NDA3MjA2ODExQjM4MkY2QzVGRUYwRTJDNCIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo4MkFEQzYxQTIyQzExMUUxQTFGMUFEQUQ1QjJBNTM4QyIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo4MkFEQzYxOTIyQzExMUUxQTFGMUFEQUQ1QjJBNTM4QyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1IE1hY2ludG9zaCI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjAyODAxMTc0MDcyMDY4MTFCMzgyRjZDNUZFRjBFMkM0IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjAxODAxMTc0MDcyMDY4MTFCMzgyRjZDNUZFRjBFMkM0Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+1fsfwAAAAJdJREFUeNpi/P//PwO1ABMDFcGoYaOG0cMwFmyC1Y33IoHUAiD+h8MBGa31SvOJddk6IN4PxBxY8FEgXkO0N4G2/gRSLUD8GU3qPRA3A+U/kxpmIBege2U9EB/ApYERX6kBDDtlILUDiFWA+AkQuwNddY2s2ARqvAukJgDxbyCehM8gnLGJBmYDsSoQTyWkkHHQFo4AAQYAAA0piq4hbqwAAAAASUVORK5CYII=);
}

.sorting_asc_disabled {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAMAAABFjsb+AAAAUVBMVEX///96gN16gN16gN16gN16gN16gN16gN16gN16gN16gN16gN16gN16gN16gN16gN16gN16gN16gN16gN16gN16gN16gN16gN16gN16gN16gN3q5rhtAAAAGnRSTlMAAQYHCg0jKjxBWWFrdZCRnbi+2+Pu8vf5+jPWYrMAAAA/SURBVHgBYyAVsPAxYYjxSvKgC7GLSAmzoQoxCkhJSfEzoohxigLFxDiQhViFpEBAkBlJjFtCHAQkuBiGEwAA3pYC872A20UAAAAASUVORK5CYII=);
}

.sorting_desc_disabled {
  background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEASABIAAD/2wBDAAICAgICAQICAgICAgIDAwYEAwMDAwcFBQQGCAcICAgHCAgJCg0LCQkMCggICw8LDA0ODg4OCQsQEQ8OEQ0ODg7/2wBDAQICAgMDAwYEBAYOCQgJDg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg7/wAARCAATABMDASIAAhEBAxEB/8QAGQABAAIDAAAAAAAAAAAAAAAAAAIFBgcJ/8QAJhAAAQMDAwIHAAAAAAAAAAAAAQACAwQFEQYSExRRISIxQUJxsf/EABQBAQAAAAAAAAAAAAAAAAAAAAD/xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIRAxEAPwDv4iqb1Hcn6dqDaZ+CvYN0XlDg/Hx8e6w3RVx1LeK2oqrnVHoIMs2cLWl7+3p7fuEGyEREBQjijiYWxRsjaXFxDGgAknJP2URBNERB/9k=);
}

// Table Searching
#dataTable_filter {
  display: none; // Hide the default search box
}

#table-search-group {
  padding-right: 0;

  .form-control {
    height: 33px;
  }
}

// Table State
@include table-row-variant('debate-status-N', $state-warning-bg);

.debate-status-N a {
  color: darken($state-warning-bg, 60%);
}
@include table-row-variant('debate-status-D', lighten($brand-info, 40%));

.debate-status-D a {
  color: darken($brand-info, 30%);
}
@include table-row-variant('debate-status-C', $state-success-bg);

.debate-status-C a {
  color: darken($state-success-bg, 60%);
}
@include table-row-variant('debate-status-P', $state-info-bg);

.debate-status-P a {
  color: darken($table-bg-active, 60%);
}
@include table-row-variant('debate-status-B', $table-bg-active);

.debate-status-B {
  @extend .text-muted;
}

.debate-status-B a {
  color: darken($table-bg-active, 60%);
}

// Table Emoji
.table > thead > tr > th.team-emoji,
.table > tbody > tr > td.team-emoji {
  padding: 8px 0 0;
  min-width: 20px;
  text-align: center;
}

// Edit Adjs and Venues
.edit-adjs,
.edit-venues {
  #table-search-group.btn-group.pull-right {
    margin-right: 16.66667%; // Making way for the unused column
  }
}

// Table decorators
.no-overflow {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// To refactor
.col-md-12.table-container {
  padding-left: 0;
  padding-right: 0;
}

table a:hover {
  cursor: pointer;
}

.table-division-bottom {
  border-bottom: 5px solid #ddd;
}

.table-division-top {
  border-top: 5px solid #ddd;
}

.dataTables_filter {
  visibility: hidden;
}

@media (max-width: $screen-sm-max) {
  .col-md-12.table-container {
    margin-left: -15px;
    margin-right: -15px;
  }
}

th:active {
  outline: none;
}
