{% extends "base.html" %}
{% load static debate_tags i18n %}
{% load static %}

{% block head-title %}{% trans "Allocate Divisions" %}{% endblock %}
{% block page-title %}{% trans "Allocate Divisions" %}{% endblock %}

{% block page-subnav-sections %}
  <!-- DISABLED UNTIL WORKING
  <form method="POST" action="{% tournamenturl 'create_division_allocation' %}">
    {% csrf_token %}
    <button class="btn btn-primary " type="submit">
      Auto-Allocate Teams
    </button>
  </form>
  <form method="POST" action="{% tournamenturl 'create_byes' %}">
    {% csrf_token %}
    <button class="btn btn-primary " type="submit">
      Auto-Allocate Bye Teams
    </button>
  </form>
   -->
  <div>
    <div class="btn btn-inactive text-muted">{% trans "Preference:" %}</div>
    <div class="btn-group">
      <div class="btn btn-success" disabled="disabled">{% trans "1/2" context "1 or 2" %}</div>
      <div class="btn btn-primary" disabled="disabled">{% trans "3/4" context "3 or 4" %}</div>
      <div class="btn btn-warning" disabled="disabled">{% trans "5+" context "5 or higher" %}</div>
      <div class="btn btn-danger" disabled="disabled">{% trans "NA" context "Not applicable" %}</div>
    </div>
  </div>
{% endblock %}

{% block page-subnav-actions %}

  <form method="POST" action="{% tournamenturl 'create_division' %}">
    {% csrf_token %}
    <button class="btn btn-success " type="submit">
      <i data-feather="plus-circle"></i>{% trans "Add New Division" %}
    </button>
  </form>
{% endblock %}

{% block content %}
<div id="vueMount">

  <allocate-divisions-container :teams="teams" :divisions="divisions"
                                :venue-categories="venueCategories"
                                :round-info="roundInfo"
                                :save-divisions-url="saveDivisionsUrl"
                                :save-venue-category-url="saveVenueCategoryUrl">
  </allocate-divisions-container>

</div>
{% endblock content %}

{% block js %}
  <script>
    window.vueData = {
      draggedComponent: null,
      teams: {{ teams | safe }},
      divisions: {{ divisions | safe }},
      venueCategories: {{ venue_categories | safe }},
      roundInfo: {{ round_info | safe }},
      saveDivisionsUrl: '{% tournamenturl 'set_team_division' %}',
      saveVenueCategoryUrl: '{% tournamenturl 'set_division_venue_category' %}'
    }

  // Todo: create a DivisionsContainer; move these methods there


  </script>
  {{ block.super }}
{% endblock js %}
