{% extends "base.html" %}
{% load debate_tags %}
{% load static %}

{% block head-title %}Allocate Divisions{% endblock %}
{% block page-title %}Allocate Divisions{% endblock %}

{% block page-subnav-sections %}
  <form method="POST" action="{% tournamenturl 'create_division_allocation' %}">
    {% csrf_token %}
    <button class="btn btn-primary " type="submit">
      Auto-Allocate Teams
    </button>
  </form>
  <form method="POST" action="{% tournamenturl 'create_byes' %}">
    {% csrf_token %}
    <button class="btn btn-primary " type="submit">
      Auto-Allocate Bye Teams
    </button>
  </form>
  <div class="btn btn-inactive text-muted">Preference:</div>
  <div class="btn-group btn-group-sm">
    <div class="btn btn-success" disabled="disabled">1/2</div>
    <div class="btn btn-primary" disabled="disabled">3/4</div>
    <div class="btn btn-warning" disabled="disabled">5+</div>
    <div class="btn btn-danger" disabled="disabled">NA</div>
  </div>
{% endblock %}

{% block page-subnav-actions %}

  <form method="POST" action="{% tournamenturl 'create_division' %}">
    {% csrf_token %}
    <button class="btn btn-success " type="submit">
      <i data-feather="plus-circle"></i> Add New Division
    </button>
  </form>
{% endblock %}

{% block content %}
<div id="vueMount">

  <allocate-divisions-container :teams="teams" :divisions="divisions"
                                :venue-categories="venueCategories"
                                :save-divisions-url="saveDivisionsUrl"
                                :save-venue-category-url="saveVenueCategoryUrl">
  </allocate-divisions-container>

</div>
{% endblock content %}

{% block js %}
  <script>
    window.vueData = {
      draggedComponent: null,
      teams: {{ teams | safe }},
      divisions: {{ divisions | safe }},
      venueCategories: {{ venue_categories | safe }},
      saveDivisionsUrl: '{% tournamenturl 'set_team_division' %}',
      saveVenueCategoryUrl: '{% tournamenturl 'set_division_venue_category' %}'
    }

  // Todo: create a DivisionsContainer; move these methods there


  </script>
  {{ block.super }}
{% endblock js %}
