from os.path import join

DEBUG = True

def proj(p):
    return join(PROJ_ROOT, p)

# Absolute path to the project root
PROJ_ROOT = '/media/data/projects/australs/debate.git'

# See https://docs.djangoproject.com/en/dev/ref/settings/#std:setting-DATABASES for details
DATABASES = {
    'default': {
        'ENGINE'  : 'django.db.backends.postgresql_psycopg2',
        'NAME'    : 'debate',
        'USER'    : 'debate',
        'PASSWORD': 'debate',
        'HOST'    : ''
    }
}

# Absolute path to the directory that holds media.
# Example: "/home/media/media.lawrence.com/"
STATICFILES_DIRS = (
    proj('src/media'),
)
STATIC_URL = '/static/'

TEMPLATE_DIRS = (
    proj('src/templates'),
)

INSTALLED_APPS += (
    'debug_toolbar',
)
INTERNAL_IPS = (
    '127.0.0.1',
)
MIDDLEWARE_CLASSES += (
#    'debug_toolbar.middleware.DebugToolbarMiddleware',
)
DEBUG_TOOLBAR_CONFIG = {
    'INTERCEPT_REDIRECTS': False,
}

