# Development Dependencies

# Importing the other requirements (for convenience of installing/updating)
-r requirements_core.txt
-r requirements_docs.txt
-r requirements_heroku.txt

# Linting
flake8==3.5.*
flake8-import-order==0.18                   # Flake plugin for import order
flake8-quotes==1.0.*                        # Flake plugin for quotes
pep8-naming==0.7.*                          # Flake plugin for naming conventions

# Tests
selenium==3.13.*                            # Functional testing (in here for CI tests)
chromedriver_installer==0.0.6               # Functional testing Chrome interface

# Translation
transifex-client==0.13.*                    # Translations

# Debug
django-debug-toolbar==1.10.1
django-debug-toolbar-request-history==0.0.7 # Debug POSTs/AJAX
