# The necessary dependencies to run Tabbycat

# Django
Django==3.2.9
django-appconf==1.0.4                   # Helper for handling app configs
django-better-admin-arrayfield==1.4.2   # Admin widget for ArrayField
django-dynamic-preferences==1.10.1      # Settings management
django-extensions==3.1.5                # For the generate secret command
django-formtools==2.3                   # Form wizards
django-ipware==3.0.2                    # IP Address logging
django-gfklookupwidget==1.0.9           # Replaces object_id field with a search link
djangorestframework==3.12.4             # For serialising objects
django-polymorphic==3.0.0               # Permits model polymorphism
django-split-settings==1.0.1            # Modularise settings files
django-statici18n==2.1.1                # Compile translations files as static file
django-summernote==0.8.20.0             # WYSIWYG editor
dj-cmd==1.0                             # Provides the dj command alias
django-redis==5.1.0                     # Use redis for cache (on heroku; local optional)
django-cors-headers==3.10.0             # CORS headers for API endpoints

# Database
psycopg2==2.9.2                         # For Django to talk to postgres
# Note: The Heroku instructions seem to advise using psycopg2-binary:
#     https://devcenter.heroku.com/articles/heroku-postgresql#connecting-with-django
# but the psycopg2 documentation advises against using the binary distribution
# in production:
#     http://initd.org/psycopg/docs/install.html#binary-install-from-pypi

# Channels
asgiref==3.3.4                          # Must set version to avoid Channels bug #1713
channels==2.4.0                         # Channels; also includes the Daphne server
channels_redis==3.2.0                   # Channels Layer

# Misc
ipython==7.*
munkres==1.1.4                          # Algorithm for adjudicator allocation
redis==3.5.3
qrcode==6.1                              # QR codes for printed private URL sheets
html2text==2020.1.16                    # Compatibility with plain-text email clients
defusedxml==0.7.1                       # Protection against XML vulnerabilities in import

# Django admin (Jet)
# This is an unofficial fork of no-longer-maintained geex-arts/django-jet,
# patched to support Django 3.
r-django-jet==2.0.9
