# Heroku Dependencies
# (Need to split off scout at least from the standard install for Windows compatibility)

# Database
dj-database-url==0.5.0                  # To obtain the Heroku service's database URL

# Serving
honcho==1.0.1                           # Allows a Procfile to run multiple processes
gunicorn==20.0.4                        # Primary server for wsgi

# Cache
django-redis==4.12.1                    # Use redis for cache (on heroku; local optional)

# Misc
sendgrid==6.3.1                         # Email service of choice on Heroku
scout-apm==2.14.3                        # Performance monitoring
sentry-sdk==0.19.3                      # Client for Sentry error tracking
