# Development Dependencies

# Importing the other requirements (for convenience of installing/updating)
-r requirements_core.txt
-r requirements_docs.txt
-r requirements_heroku.txt

# Pre-commit hooks
pre-commit

# Tests
selenium==3.141.*                           # Functional testing (in here for CI tests)

# Debug
django-debug-toolbar==2.*
