{% extends "admin/delete_confirmation.html" %}

{% block extrastyle %}
    {{ block.super }}
    <style>
        /* The base CSS uses #content>h1+p+h2+ul to detect the "Summary" list.
        Our adding three <p> elements breaks this, so we add a copy of the
        CSS specification that's targeted at the same elements. */

        .delete-confirmation #content>ul:nth-of-type(1) {
            background: #f0dada;
            color: #d49d9d;
            border-radius: 4px;
            border-radius: 0.28571rem;
            padding: 20px;
            padding: 1.42857rem;
            list-style-type: none;
            margin: 0;
        }

        .delete-confirmation #content>ul:nth-of-type(1) li {
            list-style: none;
            line-height: 1.8;
        }

        .stop-message {
            color: #c14747;
            font-weight: bold;
        }

        .debate-team-warning {
            background-color: #f0dada;
            border-radius: 4px;
            border-radius: 0.28571rem;
            padding: 20px;
            padding: 1.42857rem;
            margin-bottom: 10px;
        }

        .debate-team-warning p:last-child {
            margin-bottom: 0;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="debate-team-warning">
        <p class="stop-message">STOP!!! Read this first! Deleting the selected debate team may crash Tabbycat!</p>
        <p>Tabbycat requires that all debates have exactly one affirmative and exactly one negative debate team, and no other debate teams, at all times. If you delete this debate team, you must then either replace it with a new debate team in the same debate, or delete the associated debate object. If you don't do this correctly, many pages <strong>will</strong> crash.</p>
        <p>This is a common source of errors. If it happens to you, check the debates (under the Draw section in this Edit Database area) and ensure that all of them have exactly one affirmative and one negative team.</p>
    </div>
    {{ block.super }}
{% endblock %}