{% load i18n %}

<div id="debate-team-warning" style="background-color: #f0dada; padding: 15px 30px 5px;">
  <p style="font-weight: bold; color: #c14747;">
  {% blocktrans trimmed %}
  WARNING!!! If you are editing debate teams, read this first!
  {% endblocktrans %}
  </p>
  <p>
  {% blocktrans trimmed %}
  Tabbycat requires that there be <strong>exactly</strong> one debate team for each side, and no other debate teams, in each debate. If you edit debate teams in the database, you must ensure that this remains the case. If you don't do this correctly, many pages <strong>will</strong> crash.
  {% endblocktrans %}
  </p>
  <p>
  {% blocktrans trimmed %}
  This is a common source of errors. If it happens to you, check the debates (under the Draw section in this Edit Database area) and ensure that all of them have exactly one affirmative and one negative team.
  {% endblocktrans %}
  </p>
</div>
