{% extends "base.html" %}
{% load static %}
{% load debate_tags %}

{% block head-title %}<span class="emoji">👂</span>Bulk Add Adjudicators{% endblock %}
{% block page-title %}👂 Bulk Add Adjudicators{% endblock %}

{% block content %}

<div class="alert alert-info alert-dismissable" id="">
  <p>Specify the number of new adjudicators to add per institution.
  In the next step you can specify their names and ratings</p>
</div>

<form action="{% tournament_url edit_adjudicators %}" method="POST">

  <div class="panel panel-default">
    <ul class="list-group">
      {% for institution in institutions %}
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-2">
              <input type="number" class="form-control" name="{{ institution.id }}"
                     id="" placeholder="0" min="0">
            </div>
            <label class="col-sm-10">
              {{ institution }} ({{ institution.code }})
            </label>
          </div>
        </li>
      {% endfor %}
      <li class="list-group-item">
        <button type="submit" class="btn btn-primary btn-block">
          Submit Adjudicators List
        </button>
      </li>
    </ul>
  </div>

</form>

{% endblock content %}
