{% extends "base.html" %}
{% load static %}
{% load debate_tags %}

{% block head-title %}<span class="emoji">🎪</span>Bulk Add Venues{% endblock %}
{% block page-title %}🎪 Bulk Add Venues{% endblock %}

{% block content %}

<div class="alert alert-info" id="">
  <p>
    Paste a list of venues with one venue per line and following the format of:
    <em>Name,Priority{% if pref.enable_venue_groups %}, Venue Group{% endif %}</em>.
     For example:<br><br>
    <em>Green 140,200{% if pref.enable_venue_groups %},Block A{% endif %}<br>
    Red 2.9.0,100{% if pref.enable_venue_groups %},Big Hall{% endif %}<br>
    Black 11G,50{% if pref.enable_venue_groups %},Block A{% endif %}</em>
  </p>
</div>

<form action="{% tournament_url edit_venues %}" method="POST">

  <div class="form-group">
    <textarea class="form-control" name="venues_raw" rows="20"></textarea>
  </div>
  <button type="submit" class="btn btn-primary btn-block">
    Submit Venues List
  </button>

</form>

{% endblock content %}
