{% extends "base.html" %}
{% load debate_tags i18n %}

{% block head-title %}<span class="emoji">🎲</span> Private URLs{% endblock %}
{% block page-title %}🎲 Private URLs{% endblock %}

{% block page-subnav-sections %}
  {% if exists %}
    <a class="btn btn-outline-primary" href="{% tournamenturl 'randomised-urls-view' %}">
      {% trans "View URLs" %}
    </a>
    <div class="btn-group">
      <a class="btn btn-outline-primary" href="{% tournamenturl 'printing-feedback-urls' %}" target="_blank">
        {% trans "Print Feedback URLs" %}
      </a>
      <a class="btn btn-outline-primary" href="{% tournamenturl 'printing-ballot-urls' %}" target="_blank">
        {% trans "Print Ballot URLs" %}
      </a>
    </div>
    <div class="btn-group">
      <a class="btn btn-outline-primary" href="{% tournamenturl 'email-feedback-urls' %}">
        {% trans "Email Feedback URLs" %}
      </a>
      <a class="btn btn-outline-primary" href="{% tournamenturl 'email-ballot-urls' %}">
        {% trans "Email Ballot URLs" %}
      </a>
    </div>
    {% if blank_exists %}
      <div class="btn-group">
        <form action="{% tournamenturl 'randomised-urls-generate' %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-outline-success" id="generateRandomisedUrls" type="submit" data-toggle="tooltip" title="{% trans "This button only generates private URLs for participants who do not already have one." %}">
          {% trans "Generate Private URLs" %}
        </button>
        </form>
      </div>
    {% else %}
      <div class="btn-group">
        <button class="btn btn-outline-secondary" id="generateRandomisedUrls" data-toggle="tooltip" title="{% trans "All participants already have private URLs." %}">
          {% trans "Generate Private URLs" %}
        </button>
      </div>
    {% endif %}
  {% endif %}
{% endblock %}

{% block content %}

  <div class="card border-info text-info mb-3">
    <div class="card-body pb-0">
      <p>
        {% if exists %}
          {% trans "The private URLs for ballot and/or feedback submission from participants are given below." %}
        {% else %}
          {% blocktrans trimmed %}
            Private URLs are used to allow participants to submit ballots and/or
            feedback online. You should use them if you have a means of
            distributing crazy-looking URLs to participants, and are too worried
            about fraud to use a publicly accessible page where <em>anyone</em>
            can enter <em>any</em> submission. The URLs will look something like
            this:
          {% endblocktrans %}
        </p><p align="center">
          <strong><small>{% tournament_absurl 'adjfeedback-public-add-from-team-randomised' '9dnflp3z' %}</small></strong>
        </p><p>
        {% endif %}
        {% blocktrans trimmed %}
          Anyone with the URL can access the relevant data entry page. The idea is
          that it's hard to guess another key (the random-looking string), so you should
          make each URL accessible only to the team or adjudicator in question.
          <a href="http://tabbycat.readthedocs.io/en/latest/features/data-entry.html#private-urls">
          Read more about private URLs.</a>
        {% endblocktrans %}
      </p>
    </div>

  </div>

  {% if pref.participant_ballots != 'private-urls' and pref.participant_feedback != 'private-urls' and not pref.allocation_confirmations %}
    <div class="card border-warning text-warning mb-3">
      <div class="card-body">
        {% tournamenturl 'options-tournament-data-entry' as data_entry_options_url %}
        {% blocktrans trimmed %}
          Neither <strong>participant ballot submissions</strong> nor
          <strong>participant feedback submissions</strong> are configured to be
          from private URLs. Any generated URLs will not work unless you
          configure those settings accordingly on the
          <a href="{{ data_entry_options_url }}">tournament configuration page</a>.
        {% endblocktrans %}
      </div>
    </div>
  {% endif %}

  {% if exists %}

    <div class="row">

      <div class="col">
        <div class="card table-container">
          <div class="card-body">
            <table class="table table-responsive">
              <thead>
                <tr>
                  <th>{% trans "Adjudicator" %}</th>
                  <th>{% trans "Feedback URL" %}</th>
                  <th>{% trans "Ballot URL" %}</th>
                  {% if pref.allocation_confirmations %}
                    <th>{% trans "Shifts URL" %}</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
                {% for adj in adjs %}
                  <tr>
                    <td>
                      {{ adj.name }}
                    </td>
                    {% if adj.url_key %}
                      <td>
                        <small>{% tournament_absurl 'adjfeedback-public-add-from-adjudicator-randomised' adj.url_key %}</small>
                      </td>
                      <td>
                        <small>{% tournament_absurl 'results-public-ballotset-new-randomised' adj.url_key %}</small>
                      </td>
                      {% if pref.allocation_confirmations %}
                        <td>
                          <small>{% tournament_absurl 'participants-public-confirm-shift' adj.url_key %}</small>
                        </td>
                      {% endif %}
                    {% else %}
                      <td class="text-warning">{% trans "no URL" %}</td>
                      <td class="text-warning">{% trans "no URL" %}</td>
                    {% endif %}
                  </tr>
                {% empty %}
                  <tr>
                    <td colspan="3">{% trans "No adjudicators have private URLs." %}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col mt-3">
        <div class="card table-container">
          <div class="card-body">
            <table class="table table-responsive">
              <thead>
                <tr>
                  <th>{% trans "Team" %}</th>
                  <th>{% trans "Feedback URL" %}</th>
                </tr>
              </thead>
              <tbody>
                {% for team in teams %}
                  <tr>
                    <td>
                      {% include "tables/team.html" with team=team %}
                    </td>
                    {% if team.url_key %}
                      <td>
                        <small>{% tournament_absurl 'adjfeedback-public-add-from-team-randomised' team.url_key %}</small>
                      </td>
                    {% else %}
                      <td class="text-warning">{% trans "no URL" %}</td>
                    {% endif %}
                  </tr>
                {% empty %}
                  <tr>
                    <td colspan="2">{% trans "No teams have private URLs." %}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>

  {% else %}

    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h5>{% trans "There are no private URLs assigned." %}</h5>
        </div>
        <hr>
        <form action="{% tournamenturl 'randomised-urls-generate' %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-success btn-block" id="generateRandomisedUrls" type="submit">
          {% trans "Generate Private URLs" %}
        </button>
        </form>
      </div>
    </div>

  {% endif %}

{% endblock content %}
