{% extends "base_vue_table.html" %}
{% load debate_tags i18n %}

{% block head-title %}Email Randomised {{ url_type|title }} URLs{% endblock %}
{% block page-title %}Email Randomised {{ url_type|title }} URLs{% endblock %}

{% block page-subnav-sections %}
  {% include 'randomised_urls_nav.html' %}
{% endblock page-subnav-sections %}

{% block content %}

  {% if url_type == 'feedback' %}
    <form action="{% tournamenturl 'confirm-feedback-urls-send' %}" method="POST" class="mb-3">
  {% elif url_type == 'ballot' %}
    <form action="{% tournamenturl 'confirm-ballot-urls-send' %}" method="POST" class="mb-3">
  {% endif %}
    {% csrf_token %}
    <button class="btn btn-success btn-block" type="submit">
      Send Emails with {{ url_type|title }} URLs to Teams and Adjudicators
    </button>
  </form>

  {{ block.super }}

{% endblock content %}
