{% extends "randomised_urls.html" %}
{% load debate_tags %}

{% block head-title %}Email Randomised {{ url_type|title }} URLs{% endblock %}
{% block page-title %}Email Randomised {{ url_type|title }} URLs{% endblock %}

{% block content %}

  {% if url_type == 'feedback' %}
    <form action="{% tournamenturl 'confirm-feedback-urls-send' %}" method="POST" class="mb-3">
  {% elif url_type == 'ballot' %}
    <form action="{% tournamenturl 'confirm-ballot-urls-send' %}" method="POST" class="mb-3">
  {% endif %}
    {% csrf_token %}
    <button class="btn btn-success btn-block" type="submit">
      Send Emails with {{ url_type|title }} URLs to Teams and Adjudicators
    </button>
  </form>

  <div class="row">

    {% if url_type == 'feedback' %}
      <div class="col-12 mt-3">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Teams With Email Addresses</h4>
            <div class="card-text small">
              {% for team in teams %}
                {% if team.url_key %}
                  {% for speaker in team.speakers %}
                    {% if speaker.email %}
                      <code>{{ team.short_name }}, {{ speaker.name }}, {{ speaker.email }},
                      {% tournament_absurl 'adjfeedback-public-add-from-adjudicator-randomised' team.url_key %}</code><br>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Adjudicators With Email Addresses</h4>
          <div class="card-text small">
          {% for adj in adjs %}
            {% if adj.url_key and adj.email %}
              <code>{{ adj.name }}, {{ adj.email }},
              {% if url_type == 'feedback' %}
                {% tournament_absurl 'adjfeedback-public-add-from-adjudicator-randomised' adj.url_key %}
              {% elif url_type == 'ballot' %}
                {% tournament_absurl 'results-public-ballotset-new-randomised' adj.url_key %}
              {% endif %}</code><br>
            {% endif %}
          {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 mt-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Adjudicators Without Email Addresses</h4>
          <div class="card-text small">
            {% for adj in adjs %}
              {% if adj.url_key %}
                {% if not adj.email %}
                  <code>{{ adj.name }}, No Email,
                  {% if url_type == 'feedback' %}
                    {% tournament_absurl 'adjfeedback-public-add-from-adjudicator-randomised' adj.url_key %}
                  {% elif url_type == 'ballot' %}
                    {% tournament_absurl 'results-public-ballotset-new-randomised' adj.url_key %}
                  {% endif %}</code><br>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    {% if url_type == 'feedback' %}
      <div class="col-12 mt-3">
        <div class="card">
          <div class="card-body">
            <h4 class="card-text">Teams Without Email Addresses</h4>
            <div class="card-text small">
              {% for team in teams %}
                {% if team.url_key %}
                  {% for speaker in team.speakers %}
                    {% if not speaker.email %}
                      <code>{{ team.short_name }}, {{ speaker.name }}, No Email</code><br>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}

  </div>

{% endblock content %}
