{% extends "base.html" %}
{% load add_field_css static debate_tags i18n %}

{% block head-title %}<span class="emoji">🏫</span>{% trans "Add Institutions" context "page title" %}
{% blocktrans trimmed with step=wizard.steps.step1 count=wizard.steps.count %}(Step {{ step }} of {{ count }}){% endblocktrans %}{% endblock %}
{% block page-title %}🏫 {% trans "Add Institutions" context "page title" %}{% endblock %}

{% block content %}

<form id="addInstitutions" action="." method="POST">

  {% csrf_token %}
  {{ wizard.management_form }}
  {{ wizard.form.management_form }}

  <div class="row">
    <div class=" col-md-12 ">
      <button type="submit" class="btn btn-outline-primary" name="wizard_goto_step" value="{{ wizard.steps.prev }}"><i data-feather="chevron-left"></i>{% trans "Previous Step" %}</button>
    </div>
  </div>

  {% if wizard.form.errors %}
  <div class="alert alert-danger">
    <i data-feather="alert-circle"></i>
    <p>{% trans "There are some problems with the data on this form:" %}</p>
    {{ wizard.form.non_form_errors }}
  </div>
  {% endif %}

  <div class="row">

    {% for form in wizard.form %}{# actually a formset #}
    <div class="col-md-6">
      <div class="panel">
        <div class="card-body">

          <div class=" ">
            {% if form.non_field_errors %}
              <div class="col-sm-12">
                {{ form.non_field_errors }}
              </div>
            {% endif %}

            {{ form.id }}
            {% for field in form.visible_fields %}
              <div class="form-group">
                <label class="col-sm-3 control-label" for="{{ field.id_for_label }}">
                  {{ field.label }}
                </label>
                <div class="col-sm-8">
                  {{ field|addcss:"form-control" }}
                  {{ field.errors }}
                </div>
              </div>
            {% endfor %}
          </div>

        </div>
      </div>
    </div>
    {% endfor %}

  </div>

  <div class="row">
    <div class="  col-md-12">
      <input type="submit" class="btn btn-success btn-block" value="{% trans 'Save All Institutions' %}" />
    </div>
  </div>

</form>

{% endblock content %}
