{% extends "base.html" %}
{% load static debate_tags add_field_css i18n %}

{% block head-title %}<span class="emoji">👯</span>{% trans 'Bulk Add Teams' context 'page title' %}{% endblock %}
{% block page-title %}👯 {% trans 'Bulk Add Teams' context 'page title' %}{% endblock %}

{% block content %}

{% if wizard.form.fields|length == 0 %}

  <div class="alert alert-warning" role="alert">
    {# TODO Once tournament_url has 'as var' capability, add a link to "add institutions" to this text. #}
    {% trans "You need to add institutions before adding teams." %}
  </div>

{% else %}

  <h4>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h4>

  <div class="alert alert-info">
    <p>{% blocktrans trimmed %}
      Specify the number of new teams to add per institution. In the next step
      you can specify team and speaker names.
    {% endblocktrans %}</p>
  </div>

  <form method="POST">
    {% csrf_token %}
    {{ wizard.management_form }}

    {% if wizard.form.errors %}
    <div class="alert alert-danger">
      <p>{% trans "There are some problems with the data on this form:" %}</p>
      {{ wizard.form.non_form_errors }}
    </div>
    {% endif %}

    <div class="panel panel-default">
      <ul class="list-group">

        {% for field in wizard.form %}
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-2">
                {{ field|addcss:"form-control" }}
                {{ field.errors }}
              </div>
              <label class="col-sm-10" for="{{ field.id_for_label }}">
                {{ field.label }}
              </label>
            </div>
          </li>
        {% endfor %}

        <li class="list-group-item">
          <input type="submit" class="btn btn-primary btn-block" value="{% trans 'Next Step' %}" />
        </li>

      </ul>
    </div>
  </form>

{% endif %}

{% endblock content %}
