{% extends "base.html" %}
{% load static debate_tags add_field_css i18n %}

{% block head-title %}<span class="emoji">🏫</span>{% trans "Add Institutions" context "page title" %}
{% blocktrans trimmed with step=wizard.steps.step1 count=wizard.steps.count %}(Step {{ step }} of {{ count }}){% endblocktrans %}{% endblock %}
{% block page-title %}🏫 {% trans "Add Institutions" context "page title" %}{% endblock %}

{% block content %}

<div class="card border-info text-info">
  <div class="card-body">
    Paste a list of institutions with one institution per line and following the format of:
    <em>Full Name,Nickname</em>. For example:
    <pre><code>
Victoria University of Wellington,VIC
University of Melbourne,MUDS
Universiti Teknologi MARA,UTMARA</code></pre>
    Note that teams that use an institutional prefix will use the Nickname for this purpose, ie "MUDS 1".
  </div>
</div>

<form action="." method="POST" class="mt-3">
  {% csrf_token %}
  {{ wizard.management_form }}

  {% if wizard.form.institutions_raw.errors %}
  <div class="alert alert-danger">
    <p>{% trans "There are some problems with the data on this form:" %}</p>
    {{ wizard.form.institutions_raw.errors }}
  </div>
  {% endif %}

  <div class="form-group">
    {{ wizard.form.institutions_raw|addcss:"form-control" }}
  </div>
  <input type="submit" class="btn btn-success btn-block submit-disable" value="{% trans 'Next Step' %}">

</form>

{% endblock content %}
