{% extends "base.html" %}
{% load static debate_tags add_field_css i18n %}

{% block head-title %}<span class="emoji">👯</span>{% trans 'Bulk Add Teams' context 'page title' %}{% endblock %}
{% block page-title %}👯 {% trans 'Bulk Add Teams' context 'page title' %}{% endblock %}

{% block content %}

<h4>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h4>

<form method="POST">
  {% csrf_token %}
  {{ wizard.management_form }}
  {{ wizard.form.management_form }}

  {% if wizard.form.non_form_errors %}
  <div class="alert alert-danger">
    <p>There are some problems with the data on this form:</p>
    {{ wizard.form.non_form_errors }}
  </div>
  {% endif %}

  {% regroup wizard.form.forms by institution_for_display as forms_by_institution %}

  {% for forms in forms_by_institution %}

    <div class="row">
      <div class="col-sm-12">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h5 class="panel-title">
              {% blocktrans trimmed with institution_name=forms.grouper.name %}
                Teams for {{ institution_name }}
              {% endblocktrans %}
            </h5>
          </div>
          <div class="panel-body no-bottom-padding">

            {% for form in forms.list %}

              <div class=" form-horizontal">
                {% for field in form.hidden_fields %}
                  {{ field }}
                {% endfor %}

                {% if form.non_field_errors %}
                  <div class="col-sm-12">
                    {{ form.non_field_errors }}
                  </div>
                {% endif %}

                {% for field in form.visible_fields %}
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="{{ field.id_for_label }}">
                      {{ field.label }}
                    </label>
                    <div class="col-sm-8">
                      {{ field|addcss:"form-control" }}
                      {{ field.errors }}
                    </div>
                  </div>
                {% endfor %}
              </div>

              {% if not forloop.last %}<hr>{% endif %}
            {% endfor %}

          </div>
        </div>

      </div>
    </div>

  {% endfor %}

  <div class="row">
    <div class=" form-horizontal col-md-12">
      <button type="submit" class="btn btn-default" name="wizard_goto_step" value="{{ wizard.steps.prev }}">{% trans "Previous Step" %}</button>
      <input type="submit" class="btn btn-success" value="{% trans 'Save All Teams' %}" />
    </div>
  </div>

</form>

{% endblock content %}
