{% extends "base.html" %}
{% load static debate_tags add_field_css i18n %}

{% block head-title %}<span class="emoji">🎪</span>{% trans "Bulk Add Venues" context "page title" %}{% endblock %}
{% block page-title %}🎪 {% trans "Bulk Add Venues" context "page title" %}{% endblock %}

{% block content %}

<h4>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h4>

<div class="alert alert-info">
  <p>
    Paste a list of venues with one venue per line and following the format of:
    <em>Name,Priority</em>.
     For example:<br><br>
    <em>140,200<br>
    2.9.0,100<br>
    11G,50</em>
  </p>
</div>

<form action="." method="POST">
  {% csrf_token %}
  {{ wizard.management_form }}

  {% if wizard.form.venues_raw.errors %}
  <div class="alert alert-danger">
    <p>{% trans "There are some problems with the data on this form:" %}</p>
    {{ wizard.form.venues_raw.errors }}
  </div>
  {% endif %}

  <div class="form-group">
    {{ wizard.form.venues_raw|addcss:"form-control" }}
  </div>
  <input type="submit" class="btn btn-primary btn-block submit-disable" value="{% trans 'Next Step' %}">

</form>

{% endblock content %}
