{% extends "base.html" %}
{% load static debate_tags add_field_css i18n %}

{% block head-title %}<span class="emoji">🎪</span>{% trans "Bulk Add Venues" context 'page title' %}{% endblock %}
{% block page-title %}🎪 {% trans "Bulk Add Venues" context 'page title' %}{% endblock %}

{% block content %}

<h4>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h4>

<div class="alert alert-info" id="">
  <p>
    {% blocktrans trimmed %}
      Venues with lower priorities are allocated in the draw last. If you have
      more venues than you need you can mark the worst venues with a lower
      priority number.
    {% endblocktrans %}
  </p>

  <p>
    Venues marked as 'shared' will not be associated with any particular
    tournament but will be available to any tournament which has the
    <a href="{% tournament_url options-tournament-league %}" class="alert-link">"Share Adjudicators" setting</a> enabled.
  </p>
</div>

<form method="POST">
  {% csrf_token %}
  {{ wizard.management_form }}
  {{ wizard.form.management_form }}

  {% if wizard.form.non_form_errors %}
  <div class="alert alert-danger">
    <p>There are some problems with the data on this form:</p>
    {{ wizard.form.non_form_errors }}
  </div>
  {% endif %}

  <ul class="list-group">
    {% for form in wizard.form.forms %}
      <li class="list-group-item">

        <div class="form-horizontal row">

          {% if form.non_field_errors %}
            <div class="col-sm-12">
              {{ form.non_field_errors }}
            </div>
          {% endif %}

          {% for field in form.hidden_fields %}
            {{ field }}
          {% endfor %}

          <label class="col-sm-1 control-label" for="{{ form.name.id_for_label }}">
            {{ form.name.label }}
          </label>
          <div class="col-sm-4">
            {{ form.name|addcss:"form-control" }}
            {{ form.name.errors }}
          </div>

          <label class="col-sm-1 control-label" for="{{ form.test_score.id_for_label }}">
            {{ form.priority.label }}
          </label>
          <div class="col-sm-2">
            {{ form.priority|addcss:"form-control" }}
            {{ form.priority.errors }}
          </div>

          <label class="col-sm-1 control-label" for="{{ form.shared.id_for_label }}">
            {{ form.shared.label }}
          </label>
          <div class="col-sm-2">
            {{ form.shared|addcss:"form-control" }}
            {{ form.shared.errors }}
          </div>
        </div>

      </li>
    {% endfor %}

  </ul>

  <div class="row">
    <div class=" form-horizontal col-md-12">
      <button type="submit" class="btn btn-default" name="wizard_goto_step" value="{{ wizard.steps.prev }}">{% trans "Previous Step" %}</button>
      <input type="submit" class="btn btn-success" value="{% trans 'Save All Venues' %}" />
    </div>
  </div>

</form>

{% endblock content %}
