{% extends "base.html" %}
{% load debate_tags %}
{% load static %}

{% block body %}

<div class="container-fluid">
<div class="row">

  <div class="edit-adjs-subnav">
    <div id="statusBar" class="btn-group">
      <div class="btn btn-sm btn-primary" data-loading-text="Allocating..." id="auto_allocate">Auto Allocate</div>
      <div class="btn btn-sm btn-success" data-loading-text="Saving..." id="save_allocation">Save</div>
      <a class="btn btn-sm btn-danger" href="{% round_url draw %}">Quit</a>
    </div>
    <div id="statusBar" class="btn-group">
      <div class="btn btn-sm btn-default" href="" id="toggle_venues">
        <span class="glyphicon glyphicon-eye-open"></span> Venues
      </div>
      <div class="btn btn-sm btn-default" href="" id="toggle_wins">
        <span class="glyphicon glyphicon-eye-open"></span> Wins
      </div>
      <div class="btn btn-sm btn-default" href="" id="toggle_gender">
        <span class="glyphicon glyphicon-eye-open"></span> Gender
      </div>
      <div class="btn btn-sm btn-default" href="" id="toggle_region">
        <span class="glyphicon glyphicon-eye-open"></span> Region
      </div>
      <div class="btn btn-sm btn-default" href="" id="toggle_breakcategory">
        <span class="glyphicon glyphicon-eye-open"></span> Category
      </div>
    </div>
    <div class="btn btn-secondary">Key</div>
    <div id="conflict_key" class="btn-group">
      <div class="btn btn-sm btn-default btn-primary">Seen</div>
      <div class="btn btn-sm btn-default btn-warning">Institution</div>
      <div class="btn btn-sm btn-default btn-danger">Person</div>
      <div class="btn btn-sm btn-default panel-incomplete">No Chair or Odd Panel</div>
      {% if pref.show_unaccredited %}
      <div class="btn btn-sm btn-default active is_unaccredited">Unaccredited</div>
      {% endif %}
    </div>
    <div id="gender_key" class="btn-group" style="display: none;">
      <div class="btn btn-sm btn-default gender-display male">Male</div>
      <div class="btn btn-sm btn-default gender-display female">Female</div>
    </div>
    <div id="region_key" class="btn-group" style="display: none;">
      {% for region, _ in regions %}
        <div class="btn btn-sm btn-default region-display region-{{ region.id }}">{{ region.name }}</div>
      {% endfor %}
    </div>
    <div id="breakcategory_key" class="btn-group" style="display: none;">
      {% for category, _ in break_categories %}
        <div class="btn btn-sm btn-default breakcategory-display breakcategory-{{ category.slug }}">{{ category.name }}</div>
      {% endfor %}
    </div>
  </div>

</div>
</div>

<div class="container-fluid">
<div class="row">

  <div id="main" class="">

    <div class="panel panel-default">
      <div class="panel-body">
        <div id="alerts-holder"></div>
          <table id="allocationsTable" class="table table-condensed">
          <thead>
            <tr>
              <th><span class="glyphicon glyphicon-tasks" data-toggle="tooltip" title="Bracket"></span></th>
              <th><span>Importance Sort</span></th>
              <th><span class="glyphicon glyphicon-fire" data-toggle="tooltip" title="Importance"></span></th>
              <th><span class="glyphicon glyphicon-map-marker" data-toggle="tooltip" title="Venue"></span></th>
              <th><span data-toggle="tooltip" title="Aff wins">AW</span></th>
              <th><span class="glyphicon glyphicon-off " data-toggle="tooltip" title="Aff's % of Previous Male Adjudicators"></span></th>
              <th>Aff<span class="hidden-xs">irmative</span></th>
              <th><span data-toggle="tooltip" title="Neg wins">NW</span></th>
              <th><span class="glyphicon glyphicon-off " data-toggle="tooltip" title="Neg's % of Previous Male Adjudicators"></span></th>
              <th>Neg<span class="hidden-xs">ative</span></th>
              <th>Chair</th>
              <th class="{% if pref.no_panellist_position %}hidden{% endif %}">Panellists</th>
              <th class="{% if pref.no_trainee_position %}hidden{% endif %}">Trainees</th>
            </tr>
          </thead>
          <tbody>
            {% for debate in draw %}
            <tr id="debate_{{ debate.id }}">
              <td>
                {{ debate.bracket }}
              </td>
              <td class="importance-recording">
                {{ debate.importance }}
              </td>
              <td class="importance">
                <select class="form-control">
                  <option value="-2" {% if debate.importance == -2 %}selected{% endif %}>
                    -2
                  </option>
                  <option value="-1" {% if debate.importance == -1 %}selected{% endif %}>
                    -1
                  </option>
                  <option value="0" {% if debate.importance == 0 %}selected{% endif %}>
                    0
                  </option>
                  <option value="1" {% if debate.importance == 1 %}selected{% endif %}>
                    1
                  </option>
                  <option value="2" {% if debate.importance == 2 %}selected{% endif %}>
                    2
                  </option>
                </select>
              </td>
              <td>
                {{ debate.venue }}
              </td>
              <td>
                {{ debate.aff_team.wins_count }}
              </td>
              <td class="{% if debate.aff_team.male_adj_percent >= debate.neg_team.male_adj_percent %}gender-parity-{{ debate.gender_class }} gender-highlight{% endif %}">
                {{ debate.aff_team.male_adj_percent }}
              </td>
              <td id="team_{{ debate.aff_team.id }}" class="teaminfo {% team_status_classes debate.aff_team %}">
                {% include "tables/team.html" with team=debate.aff_team %}
              </td>
              <td>
                {{ debate.neg_team.wins_count }}
              </td>
              <td class="{% if debate.neg_team.male_adj_percent >= debate.aff_team.male_adj_percent %}gender-parity-{{ debate.gender_class }} gender-highlight{% endif %}">
                {{ debate.neg_team.male_adj_percent }}
              </td>
              <td id="team_{{ debate.neg_team.id }}" class="teaminfo {% team_status_classes debate.neg_team %}">
                {% include "tables/team.html" with team=debate.neg_team %}
              </td>
              <td id="chair_{{ debate.id }}" class="btn-holder adj-holder chair-holder">
              </td>
              <td id="panel_{{ debate.id }}" class="btn-holder adj-holder panel-holder {% if pref.no_panellist_position %}hidden{% endif %}">
              </td>
              <td id="trainees_{{ debate.id }}" class="btn-holder adj-holder trainee-holder {% if pref.no_trainee_position %}hidden{% endif %}">
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <div id="scratch" class="fixed-right">
    <table id="unusedAdjTable" class="table">
      <thead>
        <tr>
          <th>Unused Adjudicators <span class="glyphicon glyphicon-save pull-right" id="toggle_unused_layout" data-toggle="tooltip" title="Toggle right/bottom alignment"></span></th>
          <th><span class="glyphicon glyphicon-tasks"></span></th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>

  <div id="helper_holder"></div>

</div>


<div class="modal fade" id="adj-feedback" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header"><h3>Feedback for <span id="modal-adj-name"></span></h3></div>
    <div class="modal-body">
    <table id="modal-adj-table" class="table small">
      <thead>
      <tr>
        <th><span class="glyphicon glyphicon-time" data-toggle="tooltip" title="Round"></span></th>
        <th><span class="glyphicon glyphicon-tag" data-toggle="tooltip" title="Version"></span></th>
        <th><span class="glyphicon glyphicon-tasks" data-toggle="tooltip" title="Bracket"></span></th>
        <th>Debate</th>
        <th>Source</th>
        <th>Score</th>
        {% for heading in feedback_headings %}
           <th>{{ heading }}</th>
        {% endfor %}
        <th>Confirmed</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    </div>
  </div>
  </div>
</div>
</div>

{% endblock body %}

{% block extra-css %}
  <link rel="stylesheet" type="text/css" href="/static/css/allocation-old.css" />
  <style style="text/css">
    {% for category, color in break_categories %}
      .breakcategory-display.breakcategory-{{ category.slug }} {
        background: {{ color }};
        color: #fff;
      }
      .breakcategory-display.breakcategory-{{ category.slug }} span a {
        color: #fff;
      }
    {% endfor %}
  </style>
{% endblock extra-css %}

{% block js %}
  {{ block.super }}
  <script src="{% static 'js/vendor/jquery.dataTables.js' %}"></script>
  <script src="{% static 'js/vendor/jquery-ui.min.js' %}"></script>
  <script>
    jQuery.extend( true, $.fn.dataTable.defaults, {
      // Default Data Table options
      "sDom":
        "<'row'<'table-container'lr" + "t"+ "f<p>",
      "bPaginate": false,
      "oLanguage": {
        "sSearch": "Search: "
      }
    });
    $(document).ready( function() {
      {% include 'js-standalones/draw_adjs_edit_allocation.js' %}
      {% include 'js-standalones/draw_adjs_edit_flags.js' %}
    });
  </script>
{% endblock js %}
