{% extends "base_vue_table.html" %}
{% load debate_tags %}
{% load static %}

{% block body-id %}body-edit-allocation{% endblock %}<!-- Need to push header down -->
{% block nav %}{% endblock %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% block page-subnav-sections %}{% endblock page-subnav-sections %}

{% block content %}

  <allocation-container
    :adjudicators=allAdjudicators
    :table-data=tablesData[0]>
  </allocation-container>

{% endblock content %}

{% block js %}

  <script>
    var allAdjudicators = {{ allAdjudicators|safe }};
    var backURL = '{% round_url draw %}';
  </script>
  {{ block.super }}

{% endblock js %}
