{% extends "base_vue_table.html" %}
{% load debate_tags %}
{% load static %}

{% block body-id %}body-edit-allocation{% endblock %}<!-- Need to push header down -->
{% block nav %}{% endblock %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% block page-subnav-sections %}{% endblock page-subnav-sections %}

{% block content %}

  <nav class="navbar navbar-default navbar-fixed-top">

    <div class="navbar-form navbar-left btn-group btn-group-sm">
      <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-chevron-left"></span>Back to Draw
      </button>
      <button type="button" class="btn btn-success btn-sm">
        Auto Allocate Adjudicators
      </button>
    </div>

    <div class="navbar-form navbar-right btn-group btn-group-sm input-group-sm">
      {% include "tables/table_search.html" %}
    </div>

    <div class="navbar-form navbar-right btn-group btn-group-sm">
      <button class="btn btn-default nav-link hoverable">
        <span class="glyphicon glyphicon glyphicon-eye-open"></span> Show Venues
      </button>
      <button class="btn btn-default nav-link hoverable">
        <span class="glyphicon glyphicon glyphicon-eye-open"></span> Show Region
      </button>
      <button class="btn btn-default nav-link hoverable">
        <span class="glyphicon glyphicon glyphicon-eye-open"></span> Show Gender
      </button>
      <button class="btn btn-default nav-link hoverable">
        <span class="glyphicon glyphicon glyphicon-eye-open"></span> Show Language
      </button>
    </div>

  </nav>

  <allocations-container
    :unused-adjs=unusedAdjs
    :table-data=tablesData[0]>
  </allocations-container>

{% endblock content %}

{% block js %}

  <script>
    var unusedAdjs = {{ unAllocatedAdjs|safe }}
  </script>
  {{ block.super }}

{% endblock js %}
