{% extends "base.html" %}
{% load debate_tags i18n %}

{% block nav %}{% endblock %}
{% block header %}{% endblock %}
{% block subheader %}{% endblock %}
{% block footer %}{% endblock %}
{% block page-subnav-sections %}{% endblock page-subnav-sections %}
{% block body-class %}override-sidebar-offset{% endblock %}

{% block page-title %}{% blocktrans trimmed with round_abbr=round.abbreviation %}
Edit Adjudicators for {{ round_abbr }}
{% endblocktrans %}{% endblock %}

{% block content %}
<div id="vueMount">

  <edit-adjudicators-container :initial-debates="debates"
                               :round-info="roundInfo"
                               :initial-unallocated-items="unallocatedItems"
                               :default-sort-key="'bracket'"
                               :default-sort-order="'desc'"
                               :show-intro-modal="showIntroModal">
  </edit-adjudicators-container>

</div>
{% endblock content %}

{% block js %}
  <script>
    window.vueData = {
      debates: {{ vueDebates|safe }},
      roundInfo: {{ vueRoundInfo|safe }},
      unallocatedItems: {{ vueUnusedAdjudicators|safe }},
      showIntroModal: {% if showAllocationIntro %}true{% else %}false{% endif %}
    }
  </script>
  {{ block.super }}
{% endblock js %}
