{% extends "base.html" %}
{% load debate_tags %}

{% block nav %}{% endblock %}
{% block header %}{% endblock %}
{% block subheader %}{% endblock %}
{% block footer %}{% endblock %}
{% block page-subnav-sections %}{% endblock page-subnav-sections %}

{% block content %}

  <allocation-container
    :debates=allDebates
    :adjudicators=allAdjudicators
    :teams=allTeams
    :regions=allRegions
    :categories=allCategories
    :urls=urls>
  </allocation-container>

  <div class="modal fade" id="modalAlert" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header h4 text-danger"></div>
        <div class="modal-body"></div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block js %}

  <script>
    var allDebates = {{ allDebates|safe }};
    var allAdjudicators = {{ allAdjudicators|safe }};
    var allTeams = {{ allTeams|safe }};
    var allRegions = {{ allRegions|safe }};
    var allCategories = {{ allCategories|safe }};

    var urls = {
      'back': '{% round_url draw %}',
      'updateImportance': '{% round_url save_debate_importance %}',
      'updatePanel': '{% round_url save_debate_panel %}',
    }


  </script>
  {{ block.super }}

{% endblock js %}
