{% extends "base.html" %}
{% load debate_tags %}

{% block nav %}{% endblock %}
{% block header %}{% endblock %}
{% block subheader %}{% endblock %}
{% block footer %}{% endblock %}
{% block page-subnav-sections %}{% endblock page-subnav-sections %}
{% block body-class %}override-sidebar-offset allocations{% endblock %}

{% block page-title %}Edit Adjudicators for {{ round.abbreviation }}{% endblock %}

{% block content %}
<div id="vueMount">

  <edit-adjudicators-container :initial-debates="debates"
                               :round-info="roundInfo"
                               :initial-unallocated-items="unallocatedItems"
                               :default-sort-key="'bracket'"
                               :default-sort-order="'desc'">
  </edit-adjudicators-container>

</div>
{% endblock content %}

{% block js %}
  <script>
    window.vueData = {
      debates: {{ vueDebates|safe }},
      roundInfo: {{ vueRoundInfo|safe }},
      unallocatedItems: {{ vueUnusedAdjudicators|safe }},
    }
  </script>
  {{ block.super }}
{% endblock js %}
