{% load debate_tags i18n %}

<ul class="nav nav-stacked" role="tablist">
  <li role="presentation" class="dropdown">
    <a id="tournament_select" class="tournament-select" href="#"
       class="dropdown-toggle {% if overview_nav %}active{% endif %}"
       data-toggle="dropdown"
       role="button" aria-haspopup="true" aria-expanded="false">
      <h5>
        {{ tournament }}<span class="caret pull-right"></span>
      </h5>
    </a>
    <ul id="tournament-select-menu" class="dropdown-menu"
        aria-labelledby="tournament_select">
      {% for other_tournament in all_tournaments %}
        <li>
          <a class="small" href="{{ other_tournament.get_absolute_url  }}">
            {% blocktrans trimmed %}
              <strong>{{ other_tournament }}</strong> (Admin)
            {% endblocktrans %}
          </a>
        </li>
        <li>
          <a class="small" href="{{ other_tournament.get_public_url  }}">
            {% blocktrans trimmed %}
              <strong>{{ other_tournament }}</strong> (Public)
            {% endblocktrans %}
          </a>
        </li>
        <li role="separator" class="divider"></li>
      {% endfor %}
      <li>
        <a class="small" href="/">
          <i data-feather="home"></i>&nbsp;
          {% trans "Site Home" %}
        </a>
      </li>
      <li>
        <a class="small" href="{% url 'tournament-create' %}">
          <i data-feather="edit"></i>&nbsp;
          {% trans "New Tournament" %}
        </a>
      </li>
    </ul>
  </li>
</ul>

<ul class="nav nav-stacked nav-accordion"
    id="accordion"
    role="tablist"
    aria-multiselectable="true">

  <li class="standalone">
     <a href="{% tournamenturl 'tournament-admin-home' %}"
        class="{% if overview_nav %}active{% endif %}">
        <span class="circle-icon icon-container">
          <i data-feather="monitor"></i>
        </span>
         {% trans "Overview" %}
      </a>
  </li>
  {% if pref.side_allocations_enabled == 'preallocated' %}
    <li class="standalone">
      <a href="{% tournamenturl 'draw-side-allocations' %}"
         class="{% if sides_nav %}active{% endif %}">
        <span class="circle-icon icon-container">
          <i data-feather="shuffle"></i>
        </span>
         {% trans "Sides" %}
      </a>
    </li>
  {% endif %}
  {% if pref.enable_divisions %}
    <li class="standalone">
      <a href="{% tournamenturl 'division_allocations' %}"
         class="{% if divisions_nav %}active {% endif %}">
        <span class="circle-icon icon-container">
          <i data-feather="layers"></i>
        </span>
         {% trans "Divisions" %}
      </a>
    </li>
  {% endif %}
  <li class="standalone">
    <a href="{% tournamenturl 'adjfeedback-overview' %}"
       class="{% if feedback_nav %} active {% endif %}">
      <span class="circle-icon icon-container">
        <i data-feather="message-circle"></i>
      </span>
       {% trans "Feedback" %}
    </a>
  </li>
  <li class="standalone">
    <a href="{% roundurl 'standings-index' current_round %}"
       class="{% if standings_nav %} active {% endif %}">
      <span class="circle-icon icon-container">
        <i data-feather="bar-chart-2"></i>
      </span>
       {% trans "Standings" %}
    </a>
  </li>
  <li class="panel">
    <div class="progress-line standard-line"></div>
    <div class="" role="tab" id="headingOne">
      <a class="{% if options_nav or import_nav %}active
                {% else %}collapsed{% endif %}"
         role="button"
         data-toggle="collapse"
         data-parent="#accordion"
         href="#collapseOne"
         aria-expanded="{% if options_nav or import_nav or participants_nav %}true{% else %}false{% endif %}"
         aria-controls="collapseOne">
        <span class="circle-icon icon-container">
          <i data-feather="briefcase"></i>
        </span>
        {% trans "Setup" %}<span class="caret pull-right"></span>
      </a>
    </div>
    <div id="collapseOne"
         class="panel-collapse collapse {% if options_nav or import_nav or import_random or participants_nav%}in{% endif %}"
         role="tabpanel"
         aria-labelledby="headingOne">
      <ul class="nav nav-pills nav-stacked">
        <li>
          <a class="{% if options_nav %}active{% endif %}"
             href="{% tournamenturl 'options-tournament-index' %}">
            <span class="circle-icon icon-container">
              <i data-feather="settings"></i>
            </span>
            {% trans "Configuration" %}
          </a>
        </li>
        <li>
          <a class="{% if import_nav %}active{% endif %}"
             href="{% tournamenturl 'importer-simple-index' %}">
            <span class="circle-icon icon-container">
              <i data-feather="download-cloud"></i>
            </span>
            {% trans "Import Data" %}
          </a>
        </li>
        <li>
          <a class="{% if participants_nav %}active{% endif %}"
             href="{% tournamenturl 'participants-list' %}">
            <span class="circle-icon icon-container">
              <i data-feather="user"></i>
            </span>
            {% trans "Participants" %}
          </a>
        </li>
        <li>
          <a class="{% if import_random %}active{% endif %}"
             href="{% tournamenturl 'randomised-urls-view' %}">
            <span class="circle-icon icon-container">
              <i data-feather="link"></i>
            </span>
            {% trans "Private URLs" %}
          </a>
        </li>
        <li>
          <a href="{% url 'admin:index' %}" target="_blank">
            <span class="circle-icon icon-container">
              <i data-feather="edit"></i>
            </span>
            {% trans "Edit Database" %}
          </a>
        </li>
      </ul>
    </div>
  </li>

  {% for r in tournament.rounds_for_nav %}
    {% ifchanged r.stage %}
      {% if r.stage == 'E' %}
        <li class="panel">
          <div class="progress-line standard-line"></div>
          <div class="">
             <a class="{% if break_nav %}active{% endif %}"
                href="{% tournamenturl 'breakqual-index' %}">
              <span class="circle-icon icon-container">
                <i data-feather="target"></i>
              </span>
              {% trans "Breaks" %}
            </a>
          </div>
        </li>
      {% endif %}
    {% endifchanged %}
    {% include 'nav/round_panel.html' %}
  {% endfor %}

  <li class="standalone">
    <a class="" href="{% url 'logout' %}">
      <span class="circle-icon icon-container">
        <i data-feather="log-out"></i>
      </span>
      {% blocktrans trimmed %}
        Log Out ({{ user }})
      {% endblocktrans %}
    </a>
  </li>

</ul>
