{% load debate_tags i18n %}

<div class="list-group border-0 card text-center text-md-left">

  <a href="#tlisth" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"
    data-parent="#sidebar" class="list-group-item d-inline-block">
    <h6 class="pt-0 pt-md-4 pb-0 pb-md-1 tournament-title float-left">
      {% if tournament.emoji %}{{ tournament.emoji }}{% else %}<i data-feather="award"></i>{% endif %}
      <span class="d-none d-md-inline">{{ tournament }}</span>
    </h6>
    <div class="pt-3 float-right">
      <i data-feather="chevron-down" class="sidebar-expand d-none d-md-inline"></i>
      <i data-feather="chevron-up" class="sidebar-expand d-none d-md-inline"></i>
    </div>
  </a>
  <div class="collapse" id="tlisth">
    {% for t in all_tournaments %}
      <a href="{{ t.get_absolute_url  }}" class="list-group-item" data-parent="#titleh">
        <i data-feather="settings" class="d-none d-md-inline"></i>
        {{ t }}
      </a>
    {% endfor %}
    <a href="/" class="list-group-item" data-parent="#titleh">
      <i data-feather="chevron-down" class="d-none d-md-inline"></i>
      <span class="d-none d-md-inline">Site Home</span>
    </a>
    <a href="{% url 'tournament-create' %}" class="list-group-item" data-parent="#titleh">
      <i data-feather="edit-2" class="d-none d-md-inline"></i>
      <span class="d-none d-md-inline">New Tournament</span>
    </a>
  </div>

  <a href="{% tournamenturl 'tournament-admin-home' %}" data-parent="#sidebar"
     class="list-group-item d-inline-block collapsed {% if overview_nav %}active{% endif %}">
    <i data-feather="monitor"></i>
    <span class="d-none d-md-inline">{% trans "Overview" %}</span>
  </a>

  <a href="#setuph" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"
     class="list-group-item d-inline-block {% if options_nav or import_nav %}active{% else %}collapsed{% endif %}" >
     <i data-feather="briefcase"></i>
     <span class="d-none d-md-inline">{% trans "Setup" %}</span>
     <i data-feather="chevron-down" class="sidebar-expand d-none d-md-inline"></i>
     <i data-feather="chevron-up" class="sidebar-expand d-none d-md-inline"></i>
  </a>
  <div class="collapse" id="setuph">
    <a href="{% tournamenturl 'options-tournament-index' %}"
       class="list-group-item {% if options_nav %}active{% endif %}" data-parent="#setuph">
      <span class="circle-icon small-circle"><i data-feather="settings"></i></span>
      <span class="d-none d-md-inline">{% trans "Configuration" %}</span>
    </a>
    <a href="{% tournamenturl 'importer-simple-index' %}"
       class="list-group-item {% if import_nav %}active{% endif %}" data-parent="#setuph">
      <span class="circle-icon small-circle"><i data-feather="download-cloud"></i></span>
      <span class="d-none d-md-inline">{% trans "Import Data" %}</span>
    </a>
    <a href="{% tournamenturl 'participants-list' %}"
       class="list-group-item {% if participants_nav %}active{% endif %}" data-parent="#setuph">
      <span class="circle-icon small-circle"><i data-feather="user"></i></span>
      <span class="d-none d-md-inline">{% trans "Participants" %}</span>
    </a>
    <a href="{% tournamenturl 'randomised-urls-view' %}"
       class="list-group-item {% if import_random %}active{% endif %}"
       data-parent="#rh{{ r.id }}">
      <span class="circle-icon small-circle"><i data-feather="link"></i></span>
      <span class="d-none d-md-inline">{% trans "Private URLs" %}</span>
    </a>
    <a href="{% url 'admin:index' %}" target="_blank" class="list-group-item" data-parent="#setuph">
      <span class="circle-icon small-circle"><i data-feather="edit"></i></span>
      <span class="d-none d-md-inline">{% trans "Edit Database" %}</span>
    </a>
  </div>

  {% if pref.side_allocations_enabled == 'preallocated' %}
    <a href="{% tournamenturl 'draw-side-allocations' %}" data-parent="#sidebar"
      class="list-group-item d-inline-block collapsed {% if sides_nav %}active{% endif %}">
      <i data-feather="shuffle"></i>
      <span class="d-none d-md-inline">{% trans "Sides" %}</span>
    </a>
  {% endif %}

  {% if pref.enable_divisions %}
    <a href="{% tournamenturl 'division_allocations' %}" data-parent="#sidebar"
       class="list-group-item d-inline-block collapsed {% if divisions_nav %}active{% endif %}">
      <span class="circle-icon icon-container">
        <i data-feather="layers"></i>
      </span>
      {% trans "Divisions" %}
    </a>
  {% endif %}

  <a href="{% tournamenturl 'adjfeedback-overview' %}" data-parent="#sidebar"
   class="list-group-item d-inline-block collapsed {% if feedback_nav %}active{% endif %}">
    <i data-feather="message-circle"></i>
    <span class="d-none d-md-inline">{% trans "Feedback" %}</span>
  </a>

  <a href="{% roundurl 'standings-index' current_round %}" data-parent="#sidebar"
   class="list-group-item d-inline-block collapsed {% if standings_nav %}active{% endif %}">
    <i data-feather="bar-chart-2"></i>
    <span class="d-none d-md-inline">{% trans "Standings" %}</span>
  </a>

  {% for r in tournament.rounds_for_nav %}
    {% ifchanged r.stage %}
      {% if r.stage == 'E' %}
        <a href="{% tournamenturl 'breakqual-index' %}"
           class="list-group-item d-inline-block collapsed {% if break_nav %}active{% endif %}" >
          <i data-feather="target"></i>
          <span class="d-none d-md-inline">{% trans "Breaks" %}</span>
        </a>
      {% endif %}
    {% endifchanged %}
    {% include 'nav/round_panel.html' %}
  {% endfor %}

  <a href="{% url 'logout' %}" data-parent="#sidebar"
   class="list-group-item d-inline-block collapsed">
    <i data-feather="log-out"></i>
    <span class="d-none d-md-inline">{% blocktrans trimmed %}Log Out{% endblocktrans %}</span>
  </a>

</div>
