{% load debate_tags %}

<li {% if ballots_nav %}class="active"{% endif %}>
  <a href="{% round_url results current_round %}">Enter Results</a>
</li>
<li {% if feedback_nav %}class="active"{% endif %}>
  <a href="{% tournament_url adjfeedback-add-index %}">Enter Feedback</a>
</li>
{% if pref.enable_divisions %}
  <li><a href="{% round_url master_sheets_list current_round %}">Division Sheets</a></li>
{% endif %}
<li {% if draw_nav %}class="active"{% endif %}>
  <a href="{% tournament_url draw-public-current-round %}" target="_blank">View Draw</a>
</li>
