{% load debate_tags %}

<!-- TAB RELEASES -->
{% if pref.team_tab_released > 0 %}
  <li class="{% if tab_team_nav %}active{% endif %}">
    <a href="{% tournament_url standings-public-tab-team %}">Team Tab</a>
  </li>
{% endif %}
{% if pref.speaker_tab_released > 0 %}
  <li class="{% if tab_speaker_nav %}active{% endif %}">
    <a href="{% tournament_url standings-public-tab-speaker %}">Speaker Tab</a>
  </li>
{% endif %}
{% if pref.pros_tab_released > 0 %}
  <li class="{% if tab_pros_nav %}active{% endif %}">
    <a href="{% tournament_url standings-public-tab-pros %}">Pros Tab</a>
  </li>
{% endif %}
{% if pref.novices_tab_released > 0 %}
  <li class="{% if tab_novices_nav %}active{% endif %}">
    <a href="{% tournament_url standings-public-tab-novices %}">Novices Tab</a>
  </li>
{% endif %}
{% if pref.replies_tab_released > 0 %}
  <li class="{% if tab_replies_nav %}active{% endif %}">
    <a href="{% tournament_url standings-public-tab-replies %}">Replies Tab</a>
  </li>
{% endif %}
{% if pref.motion_tab_released > 0 %}
  <li class="{% if motions_nav %}active{% endif %}">
    <a href="{% tournament_url standings-public-tab-motions %}">Motions Tab</a>
  </li>
{% endif %}

<!-- DRAW RELEASES -->
{% if pref.public_draw and pref.team_tab_released == 0  %}
  {% if pref.show_all_draws == 0 %}
  <li class="{% if draw_nav %}active{% endif %}">
    <a href="{% tournament_url draw-public-current-round %}">
      Draw for {{ current_round.name }}
    </a>
  </li>
  {% endif %}
  {% if pref.show_all_draws > 0 %}
    <li class="{% if draw_nav %}active{% endif %}"><a href="#" data-toggle="dropdown">Draws<b class="caret"></b></a>
      <ul class="dropdown-menu">
        {% for r in tournament.round_set.all %}
          {% if r.draw_status == r.STATUS_RELEASED %}
            <li><a href="{% round_url draw-public-for-round r %}">{{ r.name }}</a></li>
          {% endif %}
        {% endfor %}
        <li>
          <a class="public-draw-nav" href="{% tournament_url draw-public-all-draws %}">
            View All
          </a>
        </li>
      </ul>
    </li>
  {% endif %}
{% endif %}

<!-- RESULTS RELEASES -->
{% if pref.public_results and current_round.prev %}
  <li class="{% if results_nav %}active{% endif %}">
    <a href="#" data-toggle="dropdown">Results<b class="caret"></b></a>
    <ul class="dropdown-menu">
      {% for r in tournament.round_set.all %}
        {% if not r.silent or pref.all_results_released %}
          {% if r.seq < current_round.seq or pref.all_results_released %}
            <li><a href="{% round_url results-public-round r %}">{{ r.name }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </li>
{% endif %}

<!-- BREAK RELEASES -->
{% if pref.public_breaking_teams > 0 or pref.public_breaking_adjs > 0 %}
  <li class="{% if break_nav %}active{% endif %}">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Break<b class="caret"></b></a>
    <ul class="dropdown-menu">
      {% if pref.public_breaking_teams %}
        {% for category in tournament.breakcategory_set.all %}
          <li><a href="{% tournament_url breakqual-public-teams category.slug %}">{{ category.name }}</a></li>
        {% endfor %}
      {% endif %}
      {% if pref.public_breaking_adjs %}
        <li><a href="{% tournament_url breakqual-public-adjs %}">Adjudicators</a></li>
      {% endif %}
    </ul>
  </li>
{% endif %}

<!-- MISC -->
{% if pref.public_divisions %}
  <li>
    <a href="{% tournament_url public_divisions %}">Divisions</a>
  </li>
{% endif %}
{% if pref.public_motions and pref.motion_tab_released == False %}
  <li class="{% if motions_nav %}active{% endif %}">
    <a href="{% tournament_url motions-public %}">Motions</a>
  </li>
{% endif %}
{% if pref.public_side_allocations %}
  <li class="{% if sides_nav %}active{% endif %}">
    <a href="{% tournament_url draw-public-side-allocations %}">Sides</a>
  </li>
{% endif %}
{% if pref.public_team_standings > 0 and current_round.prev and pref.team_tab_released == 0 %}
  <li>
    <a href="{% tournament_url standings-public-teams-current %}">Standings</a>
  </li>
{% endif %}
{% if pref.public_diversity %}
  <li class="{% if diversity_nav %}active{% endif %}">
    <a href="{% tournament_url standings-public-diversity %}">Diversity</a>
  </li>
{% endif %}
{% if pref.public_participants %}
  <li class="{% if participants_nav %}active{% endif %}">
    <a href="{% tournament_url participants-public-list %}">Participants</a>
  </li>
{% endif %}
{% if pref.feedback_progress %}
  <li class="{% if feedback_progress_nav %}active{% endif %}">
    <a href="{% tournament_url public_feedback_progress %}">Feedback Progress</a>
  </li>
{% endif %}
{% if pref.public_ballots %}
  <li class="{% if enter_ballots_nav %}active{% endif %}">
    <a href="{% tournament_url results-public-ballot-submission-index %}">Enter Ballot</a>
  </li>
{% endif %}
{% if pref.public_feedback %}
  <li class="{% if enter_feedback_nav %}active{% endif %}">
    <a href="{% tournament_url adjfeedback-public-add-index %}">Enter Feedback</a>
  </li>
{% endif %}
