{% load debate_tags static i18n %}

<nav class="navbar navbar-expand-lg navbar-light">

  {% if all_tournaments.count > 1 or user.is_authenticated %}
    <div class="nav-item dropdown">

      <a class="navbar-brand dropdown-toggle" id="tournamentdrop"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="{% static 'logo.svg' %}" width="32" height="32" alt="">{% if tournament %}{{ tournament }}{% else %}Tabbycat{% endif %}
      </a>

      <div class="dropdown-menu" aria-labelledby="tournamentdrop">

        {% for tournament in all_tournaments %}
          {% if user.is_authenticated %}
            <a class="dropdown-item" href="{{ tournament.get_absolute_url  }}">
              <i data-feather="settings"></i>{% if user.is_superuser %}Admin{% else %}Assistant{% endif %}
              area for <strong>{{ tournament }}</strong>
            </a>
            <a class="dropdown-item" href="{{ tournament.get_public_url  }}">
              <i data-feather="eye"></i>Public area for <strong>{{ tournament }}</strong>
            </a>
          {% else %}
            <a class="dropdown-item" href="{{ tournament.get_public_url }}">
              {{ tournament }}
            </a>
          {% endif %}
          <div class="dropdown-divider"></div>
        {% endfor %}

        <a class="dropdown-item" href="/"><i data-feather="home"></i>Site Home</a>
      </div>

    </div>
  {% else %}
    <div class="nav-item">

      {% if tournament %}
        <a class="navbar-brand" href="{{ tournament.get_public_url  }}">
          <img src="{% static 'logo.svg' %}" width="32" height="32" alt="">{{ tournament }}
        </a>
      {% else %}
        <a class="navbar-brand" href="/">
          <img src="{% static 'logo.svg' %}" width="32" height="32" alt="">Tabbycat
        </a>
      {% endif %}

    </div>
  {% endif %}

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsed-main-nav" aria-controls="collapsed-main-nav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsed-main-nav">

    <ul class="navbar-nav mr-auto">

      {% if 'admin/' in request.path %}
        {% include "nav/assistant_nav.html" %}
      {% else %}
        {% include "nav/public_nav.html" %}
      {% endif %}

    </ul>

    <ul class="navbar-nav navbar-my-lg-0">
      <li class="nav-item">
        {% if user.is_authenticated %}
          <a class="nav-link" href="{% url 'logout' %}">
            Log Out ({{ user }})
          </a>
        {% else %}
          <a class="nav-link" href="{% url 'login' %}">
            Login
          </a>
        {% endif %}
      </li>
    </ul>

  </div>

</nav>
