{% extends "base.html" %}
{% load static %}
{% load debate_tags %}

{% block head-title %}Breaks{% endblock %}
{% block page-title %}{% endblock %}

{% block pagesub-sections %}

  {% for category in tournament.breakcategory_set.all %}
    <li><a class="btn btn-default" href="{% tournament_url breaking_teams category.slug %}">{{ category.name }}</a></li>
  {% endfor %}
  <li><a class="btn btn-default" href="{% tournament_url breaking_adjs %}">Adjudicators</a></li>

  </ul>
{% endblock %}
{% block pagesub-actions %}
  <a class="btn btn-success" href="{% tournament_url edit_eligibility %}">Edit Eligibility</a></li>
{% endblock %}

{% block content %}

{% endblock content %}
