{% extends "breaking_teams.html" %}
{% load static %}
{% load debate_tags %}
{% load metricformat %}

{% block head-title %}<span class="emoji">👑</span>{{ category.name }} Break{% endblock %}
{% block page-subnav-sections %}{% include "tables/table_search.html" %}{% endblock %}

{% block page-alerts %}
{# Don't show the break notes to the public #}
{% endblock %}
{% block sub-title %}
  {# Don't show the publicity status to the public #}
{% endblock %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-body">
    {% if generated %}
      <table id="dataTable" class="table" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Break</th>
            {% if pref.show_emoji %}
              <th class="team-emoji"></th>
            {% endif %}
            <th>Team</th>
            {% if pref.show_institutions %}
              <th>Inst<span class="hidden-xs">itution</span></th>
            {% endif %}
            {% for info in standings.metrics_info %}
              <th>
                {% if info.glyphicon %}
                  <span data-toggle="tooltip" title="{{ info.name|capfirst }}" class="glyphicon glyphicon-{{ info.glyphicon }}"></span>
                {% else %}
                  <span class="hidden-xs">{{ info.name|capfirst }}</span>
                  <span class="visible-xs">{{ info.abbr }}</span>
                {% endif %}
              </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for standing in standings %}
          <tr>
            <td>{{ standing.rank }}</td>
            <td>{{ standing.break_rank|default_if_none:"&ndash;" }}</td>
            {% if pref.show_emoji %}
              <td class="team-emoji">{{ standing.team.emoji }}</td>
            {% endif %}
            <td>
              {% include "tables/team.html" with team=standing.team %}
              {{ standing.team.categories_for_display }}
            </td>
            {% if pref.show_institutions %}
              <td><span class="hidden-xs">{{ standing.team.institution }}</span><span class="visible-xs">{{ standing.team.institution.code }}</span></td>
            {% endif %}
            {% for metric in standing.itermetrics %}
              <td>{{ metric|metricformat }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="lead">The break has yet to be released.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
