# Ignore this entire directory
/*

# ...except for demonstration and test datasets
!.gitignore
!bp88team/
!australs24team/
!minimal8team/
!test/
!presets/
!fixtures/
!emailstest/
!migrate_fixtures.py
