@import "../bootstrap/variables";
@import "../bootstrap/mixins";

// Adj Checkins

#select_breaking {
  display: none;
}
.adj-checkins #select_breaking {
  display: block;
}

// Ballot Entry

.speaker-name {
  text-align: left;
}

// Edit Adjs and Edit Venues Page

.edit-venues, .edit-adjs, .edit-matchups {

  // General

  #main {
    z-index: 10;
    position: relative;
    padding-right: 5px;
    padding-left: 5px;
  }

  .importance {
    text-align: left;
    width: 48px;
    form {
      margin: -8px -8px -8px -8px;
    }
    select {
      @extend .form-control;
    }
  }

  .page-header {
    margin: 10px 0 0 -15px;
    .h2 {
      margin-bottom: 0px;
    }
  }

  #table-search-group {
    margin-right: 220px; // move the search box right to make way for unused
  }

  #helper_holder {
    z-index: 50; // Higher than main and scratch
    position: relative;
  }

  #scratch {
    background-color: #fff;
    background-color: rgba(240,240,240,0.90);
    position: fixed;
    overflow-y: scroll;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 10;

    &.bg-success {
      background: $state-success-bg;
    }
    &.fixed-right {
      top: 0;
      right: 0;
      height: 100%;
      padding-bottom: 50px; // ensure no footer overlaps
      padding-top: 18px;
    }
    &.fixed-bottom {
      bottom: 0;
      left: 0;
      width: 100%;
      height: 140px;
      thead {
        text-align: center;
      }
      tbody tr {
        float: left;
        width: 210px;
        padding-right: 5px;
        td {
          display: block;
        }
      }
    }
    .unused {
      padding-left: 0;
    }
    thead {
      background: none;
    }

    .table > tbody > tr > td {
      padding: 2px 0 0 0; // Reduce padding in unused area
    }

  }

  // Draggables

  .ui-droppable {
    height: 44px;
  }
  .panel-holder, .chair-holder {
    padding: 5px;
  }

  .venue, .adj, .team {
    border: 1px solid #ccc;
    padding: 0px 0px 0px 0px;
    text-align: left;
    max-width: 300px; // Needed
    background: #fff;

    span {
      padding: 6px 6px 6px 6px;
      display: block;
    }
    &.gender-display.male span a,
    &.gender-display.female span a {
      color: #fff;
    }
    &:active {
      box-shadow: none;
      opacity: 0.5; // Dull the 'shadow' left behind while dragging
    }
  }

  .gender-display.male {
    background-color: #0000FF;
    color: #fff;
  }
  .gender-display.female {
    background-color: #D600FF;
    color: #fff;
  }
  .language-display.esl {
    background-color: #c70062;
    color: #fff;
  }
  .language-display.efl {
    background-color: #00c79b;
    color: #fff;
  }

  .venue:hover, .adj:hover, .team:hover,
  .venue.dragging, .adj.dragging, .team.dragging,
  .ui-draggable-dragging {
    cursor: move;
    border: 1px solid $btn-primary-border;
    @extend .text-primary;
    @extend .border-primary;
    &.is_unaccredited {
      background: $table-bg-active;
    }
    &.btn-danger, &.btn-warning {
      color: #fff;
    }
  }

  .history-conflict {
    background-color: $btn-primary-bg;
    span::after {
      background-color: $btn-primary-bg;
    }
  }
  .institutional-conflict {
    background-color: $btn-warning-bg;
    span::after {
      background-color: $btn-warning-bg;
    }
  }
  .personal-conflict {
    background-color: $btn-danger-bg;
    span::after {
      background-color: $btn-danger-bg;
    }
  }
  .adjudicator-conflict {
    background-color: $btn-danger-bg;
    span::after {
      background-color: $btn-danger-bg;
    }
  }
  .panel-incomplete, .chair-incomplete {
    background-color: #a700a5;
  }
  .btn-default.panel-incomplete {
    color: #fff; // Just for the button
    border: 1px solid #a700a5;
  }
  .history-conflict, .personal-conflict, .institutional-conflict, .adjudicator-conflict {
    span, a, span a {
      color: #fff;
      border-bottom: none;
    }
  }
  .gender-display.male, .gender-display.female, .language-display.esl, .language-display.efl {
    span a {
      color: #fff;
    }
  }
  .gender-display.history-conflict, .gender-display.personal-conflict, .gender-display.institutional-conflict, .gender-display.adjudicator-conflict,
  .region-display.history-conflict, .region-display.personal-conflict, .region-display.institutional-conflict, .region-display.adjudicator-conflict,
  .language-display.history-conflict, .language-display.personal-conflict, .language-display.institutional-conflict, .language-display.adjudicator-conflict {
    span::after {
      content:"";
      padding: 9px;
      float: right;
      border: 1px solid #fff;
      border-radius: 3px;
    }
  }

}

// Gender Colors

.edit-venues, .edit-adjs {
  .gender-display.gender-parity-3 {
    background-color: lighten(#0000FF, 45%);
  }
  .gender-display.gender-parity-4 {
    background-color: lighten(#0000FF, 40%);
  }
  .gender-display.gender-parity-5 {
    background-color: lighten(#0000FF, 30%);
    color: #fff;
  }
  .gender-display.gender-parity-6 {
    background-color: lighten(#0000FF, 20%);
    color: #fff;
  }
  .gender-display.gender-parity-7 {
    background-color: lighten(#0000FF, 10%);
    color: #fff;
  }
  .gender-display.gender-parity-8 {
    background-color: #0000FF;
    color: #fff;
  }
  .gender-display.gender-parity-9 {
    background-color: darken(#0000FF, 25%);
    color: #fff;
  }
  .gender-display.gender-parity-10 {
    background-color: darken(#0000FF, 35%);
    color: #fff;
  }
}

// Draw Page

#draw {
  margin-top: 0px; // counteracts margin addded from the text size h2/h3/etcs
}

// For the text size buttons
.h3_minus, .h3_minus {
  @extend .h3;
}

.h3_minus {
  font-size: ceil(($font-size-base * 1.42));
}

.h3_plus {
  font-size: ceil(($font-size-base * 1.92));
}

#draw.dataTable {
  .adj-names {
    ul {
      padding-left: 0;
      margin-left: 0;
      list-style-type: none;
    }
  }
}

.draw-with-standings .em {
  font-weight: bold;
  color: chocolate;
  font-style: normal;
}

.draw-with-standings .first-in-bracket {
  border-top: 3px solid chocolate;
}

.team-speakers-hover {
  cursor: pointer;
  border-bottom: 2px dotted #ccc;
}

span.esl {
  text-transform: uppercase;
}
