// Basic print styles

.printable-feedback-sheet {
  .badge {
    background: #333;
    color: #FFF;
  }
  hr {
    border-top: 3px solid #CCC;
    margin-top: 50px;
  }
}


@media print {

  #header-options, .fixedHeader {
    display: none;
  }
  .page-header {
    .col-md-12 {
      padding-left: 0;
    }
    h1,h2,h3,h4 {

    }
  }
  table {
    page-break-inside: avoid; // Don't split a table across multiple pages
    tr {
      page-break-inside: avoid;
      page-break-after: auto
    }
    [data-toggle="tooltip"] {
      border-bottom: none;
    }
  }
  table.h4 {
    font-size: 75%;
    font-weight: normal;
  }
  #djDebug {
    display: none !important;
  }
}