// Basic print styles

// Printables


.printable-feedback-sheet, .printable-score-sheet {
  page-break-after: always;

  .badge {
    background: #333;
    color: #FFF;
    margin-left: 10px;
  }
  .table {
    margin-bottom: 0px;
    background: none;
  }
  hr {
    border-top: 2px solid #CCC;
    margin-top: 40px;
  }
  .table-printed-selection th {
    text-align: center;
    border: none;
    border-left: 20px solid #FFF;
    border-right: 20px solid #FFF;
  }
  .table-printed-writeable td {
    line-height: 40px;
    padding-bottom: 0px !important;
    padding-right: 8px !important;
  }
  .table-printed-writeable th.text-center {
    padding-right: 8px !important;
  }
  td.writeable {
    border-bottom: 3px solid #CCC !important;
  }
}

@media print {

  .print-feedback, .print-scoresheet {
    .page-header {
      display: none !important;
    }
  }

  .printable-feedback-sheet, .printable-score-sheet {
    font-size: 75%;
  }


  // Old

  .fixedHeader {
    display: none;
  }
  .page-header {
    .col-md-12 {
      padding-left: 0;
    }
    h1,h2,h3,h4 {

    }
  }
  table {
    page-break-inside: avoid; // Don't split a table across multiple pages
    tr {
      page-break-inside: avoid;
      page-break-after: auto
    }
    [data-toggle="tooltip"] {
      border-bottom: none;
    }
  }
  table.h4 {
    font-size: 75%;
    font-weight: normal;
  }
  #djDebug {
    display: none !important;
  }
}