{% extends "base.html" %}

{% load add_field_css i18n %}

{% block page-title %}🙅Enter Feedback{% endblock %}
{% block head-title %}
  <span class="emoji">🙅</span>Add Feedback {% if source_name %}from {{ source_name }}{% endif %}
{% endblock %}
{% block extra-head %}<meta name="robots" content="noindex" />{% endblock %}

{% block content %}

  {% if tournament.current_round.seq == 1 and tournament.current_round.draw_status != tournament.current_round.STATUS_RELEASED %}
    {% include "components/alert.html" with type="info" message="There are no feedback options because no rounds have been released to the public yet. Check back when they have!" %}
  {% endif %}

  <form id="feedbackForm" method="POST">
    <div class="card">
      <div class="list-group list-group-flush">

        <div class="list-group-item">

          {% if form.errors %}
            {% trans "There are some problems with this feedback submission. Please review and correct them." as message %}
            {% include "components/form-errors.html" with errors=form.errors %}
          {% endif %}

          {% if pref.feedback_introduction %}
            <p>{{ pref.feedback_introduction|safe }}</p>
          {% endif %}

            {% csrf_token %}

          {% for field in form %}
            {% include "components/form-field.html" %}
          {% endfor %}

        </div>

        {% include "components/form-submit.html" with title="Save Feedback" %}

      </div>
    </div>
  </form>

{% endblock content %}
