{% extends "base.html" %}
{% load debate_tags i18n %}

{% block head-title %}Feedback {{ source_type }} {{ source_name }}{% endblock %}
{% block page-title %}Feedback {{ source_type }} {{ source_name }}{% endblock %}
{% block page-subnav-sections %}{% endblock %}

{% block content %}
  <div class="card-columns">

    {% for feedback in feedbacks %}

      {% include 'feedback_card.html' %}

    {% empty %}

      {% blocktrans trimmed asvar message %}{{ source_name }} hasn't submitted any feedback yet.{% endblocktrans %}
      {% include "components/alert.html" with type="info" %}

    {% endfor %}

  </div>
{% endblock content %}
