{% extends "base_vue_table.html" %}
{% load debate_tags %}

{% block page-subnav-sections %}
  <a class="btn btn-default submit-disable" href="{% tournamenturl 'adjfeedback-overview' %}">
    Overview
  </a>
  <a class="btn btn-default submit-disable" href="{% tournamenturl 'adjfeedback-view-latest' %}">
    Latest
  </a>
  <a class="btn btn-default submit-disable" href="{% tournamenturl 'adjfeedback-view-by-source' %}">
    Find by Source
  </a>
  <a class="btn btn-default submit-disable" href="{% tournamenturl 'adjfeedback-view-by-target' %}">
    Find by Target
  </a>
  {% if pref.public_ballots_randomised or pref.public_feedback_randomised or pref.allocation_confirmations %}
    <a class="btn btn-default submit-disable" href="{% tournamenturl 'randomised-urls-view' %}">
      Randomised URLs
    </a>
  {% endif %}
  <a class="btn btn-default submit-disable" href="{% tournamenturl 'feedback_progress' %}">
    Unsubmitted Feedback
  </a>
{% endblock %}

{% block page-subnav-actions %}
  <a class="btn btn-success" href="{% tournamenturl 'adjfeedback-add-index' %}">
    <span class="glyphicon glyphicon-plus"></span> Add Feedback
  </a>
{% endblock %}
