{% load humanize %}

<div class="card">
  <div class="list-group list-group-flush">

    <div class="list-group-item">
      <h5 class="mb-0">
        <span class="badge float-right
              {% if feedback.score <= score_thresholds.low_score %}badge-danger
              {% elif feedback.score <= score_thresholds.medium_score %}badge-warning
              {% elif feedback.score > score_thresholds.high_score %}badge-success
              {% else %}badge-secondary{% endif %}">
          {{ feedback.score }}
        </span>
        {{ feedback.adjudicator.name }}
        {% if feedback.debate_adjudicator %} as {{ feedback.debate_adjudicator.get_type_display }}{% endif %}
      </h5>
    </div>
    {% if not feedback.confirmed %}
      <div class="list-group-item text-info" data-toggle="tooltip"
        title="This is most likely because the team or adjudicator who submitted
         this feedback has done submitted several times on the same person.">
        <i data-feather="info"></i>
        This feedback is not confirmed; it will not affect this adjudicator's score.
      </div>
    {% endif %}
    <div class="list-group-item">
      From
      {% if feedback.source_adjudicator %}
        <strong>{{ feedback.source_adjudicator.adjudicator.name }}</strong>
        ({{ feedback.source_adjudicator.adjudicator.institution.code }},
        {{ feedback.source_adjudicator.get_type_display }})
      {% elif feedback.source_team %}
        <strong>{{ feedback.source_team.team.long_name }}</strong>
        ({{ feedback.source_team.get_result_display }})
      {% else %}
        unknown
      {% endif %}
    </div>
    {% for item in feedback.items %}
      {% if item.answer %}
        <div class="list-group-item">
          {% if item.question.answer_type == 'bc' or item.question.answer_type == 'bs' %}
            {% if item.answer %}
              <i data-feather="check" class="text-success"></i>
            {% else %}
              <i data-feather="x" class="text-danger"></i>
            {% endif %}
            <small title="{{ item.question.text }}" data-toggle="tooltip">
              {{ item.question.reference }}
            </small>
          {% elif item.question.answer_type == 'f' %}
            <small><strong>{{ item.question.text }}</strong></small>
            {{ item.answer|floatformat:"2" }}
          {% elif item.question.answer_type == 'tl' %}
            {{ item.answer }}
          {% else %}
            <small><strong>{{ item.question.text }}</strong></small>
            {{ item.answer }}
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
    <div class="list-group-item text-secondary small">
      <em>Submitted {{ feedback.timestamp|naturaltime }}</em>
    </div>

  </div>
</div>
