{% extends "tables/base_vue_table.html" %}
{% load debate_tags i18n %}

{% block page-subnav-sections %}
  <div class="btn-group flex-wrap">
    <a class="btn btn-outline-primary {% if feedback_overview_nav %}active disabled{% endif %}"
       href="{% tournamenturl 'adjfeedback-overview' %}">
      {% trans "Overview" %}
    </a>
    <a class="btn btn-outline-primary {% if feedback_latest_nav %}active disabled{% endif %}"
       href="{% tournamenturl 'adjfeedback-view-latest' %}">
      {% trans "Latest" %}
    </a>
    <a class="btn btn-outline-primary {% if feedback_progress_nav %}active disabled{% endif %}"
       href="{% tournamenturl 'adjfeedback-progress' %}">
      {% trans "Unsubmitted" %}
    </a>
    <a class="btn btn-outline-primary {% if feedback_important_nav %}active disabled{% endif %}"
       href="{% tournamenturl 'adjfeedback-view-important' %}">
      {% trans "Important" %}
    </a>
    <a class="btn btn-outline-primary {% if feedback_comments_nav %}active disabled{% endif %}"
       href="{% tournamenturl 'adjfeedback-view-comments' %}">
      {% trans "Comments" %}
    </a>
    <a class="btn btn-outline-primary {% if feedback_source_nav %}active disabled{% endif %}"
       href="{% tournamenturl 'adjfeedback-view-by-source' %}">
      {% trans "By Source" %}
    </a>
    <a class="btn btn-outline-primary {% if feedback_target_nav %}active disabled{% endif %}"
       href="{% tournamenturl 'adjfeedback-view-by-target' %}">
      {% trans "By Target" %}
    </a>
  </div>
{% endblock %}

{% block page-subnav-actions %}
  <a class="btn btn-outline-success" href="{% tournamenturl 'adjfeedback-update-scores-bulk' %}">
    {% trans "Bulk Update Scores" %}
  </a>
  <a class="btn btn-outline-success" href="{% tournamenturl 'adjfeedback-add-index' %}">
    {% trans "Add Feedback" %}
  </a>
{% endblock %}
