{% extends "feedback_base.html" %}
{% load debate_tags i18n static %}

{% block sub-title %}<span id="c_breaking">{{ c_breaking }}</span> marked as breaking{% endblock %}

{% block page-alerts %}

  {% tournamenturl 'options-tournament-section' section='feedback' as option_url %}
  {% if pref.feedback_paths == 'minimal' %}
    {% trans "only chairs can submit feedback (on their panellists and trainees)" as preference_description %}
  {% elif pref.feedback_paths == 'with-p-on-c' %}
    {% trans "both chairs and pannellists can can submit feedback on each other; and chairs can submit on trainees" as preference_description %}
  {% elif pref.feedback_paths == 'all-adjs' %}
    {% trans "all adjudicators (including trainees) can submit feedback on every other member of the panel (including trainees)" as preference_description %}
  {% endif %}
  {% blocktrans trimmed asvar p1 with preference=preference_description %}
    The current <a href="{{ option_url }}" class="alert-link">'feedback paths' configuration</a> means
    that {{ preference_description }}.
  {% endblocktrans %}
  {% include "components/explainer-card.html" with type="info" %}

{% endblock %}

{% block content %}

  <div class="row">
    {% include "overview_breakdowns.html" %}
  </div>

  {{ block.super }}

  {% include "overview_modals.html" %}

{% endblock %}

{% block js %}

  <script>
    var setBreakingURL = '{% tournamenturl 'adjfeedback-set-adj-breaking-status' %}';
  </script>
  {{ block.super }}
  <script>
    // Actions for the table elements
    $(document).ready(function(){
      $(".edit-test-score a").each( function() {
        $(this).click( function() {
          var adj_id = parseInt($(this).attr("data-target"));
          var adj_score = $(this, "span").text();
          $("#id_adj_id").val(adj_id); // Updating form ID reference
          $("#id_test_score").prop('placeholder', adj_score); // updating the form's table
          $('#edit-test-score').modal();
        });
      });
      $(".edit-note a").each( function() {
        $(this).click( function() {
          var adj_id = parseInt($(this).attr("data-target").split("===")[0]);
          var adj_note = $(this).attr("data-target").split("===")[1];
          $("#id_note").val(adj_note);
          $("#id_adj_id_note").val(adj_id);
          $('#edit-note').modal();
        });
      });
    });
  </script>

{% endblock js %}
