{% extends "feedback_base.html" %}
{% load debate_tags %}

{% block head-title %}Latest Feedback{% endblock %}
{% block page-title %}Latest Feedback{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">

      {% for feedback in feedbacks %}

        <div class="col-md-4">
          {% include 'feedback_card.html' %}
        </div>

        {% if forloop.counter|divisibleby:3 %}
          </div><div class="row">
        {% endif %}

      {% empty %}
      <div class="alert alert-info">
        <i data-feather="alert-circle"></i>No feedback has been submitted yet.
      </div>

    {% endfor %}

    </div>
  </div>
{% endblock content %}
