{% extends "feedback_base.html" %}
{% load debate_tags i18n static %}

{% block sub-title %}
  <span id="breaking_count">{{ breaking_count }}</span> marked as breaking;
  {{ c_trainees }} will trainee (score is < {{ pref.adj_min_voting_score }})
{% endblock %}

{% block page-alerts %}

  {% tournamenturl 'options-tournament-feedback' as option_url %}
  {% if pref.feedback_paths == 'minimal' %}
    {% trans "only chairs can submit feedback (on their panellists and trainees)" as preference_description %}
  {% elif pref.feedback_paths == 'with-p-on-c' %}
    {% trans "both chairs and pannellists can can submit feedback on each other; and chairs can submit on trainees" as preference_description %}
  {% elif pref.feedback_paths == 'all-adjs' %}
    {% trans "all adjudicators (including trainees) can submit feedback on every other member of the panel (including trainees)" as preference_description %}
  {% endif %}
  {% blocktrans trimmed asvar p1 with preference=preference_description %}
    The current <a href="{{ option_url }}" class="alert-link">'feedback paths' configuration</a> means
    that {{ preference_description }}.
  {% endblocktrans %}
  {% include "components/explainer-card.html" with type="info" %}

{% endblock %}

{% block content %}

  <div class="modal fade" id="edit-test-score" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <form id="testScoreForm" method="POST" action="{% tournamenturl 'adjfeedback-set-adj-test-score' %}">
          <div class="modal-body pb-0 pt-0">
            <div class="list-group list-group-flush">

              {% include "components/form-title.html" with title="Change Test Score" %}

              {% csrf_token %}

              <div class="list-group-item text-info py-3">
                The score range for adjudicators is between <strong>{{ pref.adj_min_score }}</strong> and
                <strong>{{ pref.adj_max_score }}</strong>. Decimals are permitted. This can be configured in
                <a href="{% tournamenturl 'options-tournament-feedback' %}">Feedback settings</a>.
              </div>
              <div class="list-group-item text-info py-3">
                The minimum score require to be allocated as a panellist or chair (when using the
                auto-allocator) is <strong>{{ pref.adj_min_voting_score }}</strong>. This can be configured in
                <a href="{% tournamenturl 'options-tournament-draw-rules' %}">Draw settings</a>.
              </div>
              <div class="list-group-item">
                <input id="id_adj_id" name="adj_id" type="hidden" />
                <div class="form-group pb-3">
                  <label>Test score</label>
                  <input id="id_test_score" class="form-control" name="test_score" placeholder="3.5"
                         min="{{ pref.adj_min_score }}" max="{{ pref.adj_max_score }}"
                         type="number" step="any"></input>
                </div>
              </div>

              {% include "components/form-submit.html" with title="Save Test Score" %}

              </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  {% if pref.enable_adj_notes > 0 %}
    <div class="modal fade" id="edit-note" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header  text-center">
            <h3>Edit Note</h3>
          </div>
          <div class="modal-body">
            <form id="adjNoteForm" method="POST" action="{% tournamenturl 'adjfeedback-set-adj-note' %}">
              {% csrf_token %}
              <input id="id_adj_id_note" name="adj_id" type="hidden" />
              <div class="form-group">
                <div class="col-sm-12">
                  <textarea id="id_note" name="note" placeholder="" rows="20"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <button type="submit" value="Save" class="btn btn-block btn-success">
                    Save
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {{ block.super }}

{% endblock %}

{% block js %}

  <script>
    var setBreakingURL = '{% tournamenturl 'adjfeedback-set-adj-breaking-status' %}';
  </script>
  {{ block.super }}
  <script>
    // Actions for the table elements
    $(document).ready(function(){
      $(".edit-test-score a").each( function() {
        $(this).click( function() {
          var adj_id = parseInt($(this).attr("data-target"));
          var adj_score = $(this, "span").text();
          $("#id_adj_id").val(adj_id); // Updating form ID reference
          $("#id_test_score").prop('placeholder', adj_score); // updating the form's table
          $('#edit-test-score').modal();
        });
      });
      $(".edit-note a").each( function() {
        $(this).click( function() {
          var adj_id = parseInt($(this).attr("data-target").split("===")[0]);
          var adj_note = $(this).attr("data-target").split("===")[1];
          $("#id_note").val(adj_note);
          $("#id_adj_id_note").val(adj_id);
          $('#edit-note').modal();
        });
      });
    });
  </script>

{% endblock js %}
