{% extends "tables/base_vue_table.html" %}
{% load debate_tags i18n %}

{% block page-title %}{% trans "Email Private Ballot URLs" %}{% endblock %}
{% block head-title %}{% trans "Email Private Ballot URLs" %}{% endblock %}

{% block page-subnav-sections %}
  {% include 'private_urls_nav.html' %}
{% endblock page-subnav-sections %}

{% block content %}

  {% if 'k' in tabbycat_version %}
    {% blocktrans trimmed asvar message %}
      Because you deployed the 'Tabbykitten' edition of Tabbycat your Heroku instance probably doesn't have the addon necessary to to send emails. You'll need to verify your Heroku account and install the <a href="https://elements.heroku.com/addons/sendgrid">SendGrid plugin manually.</a>
    {% endblocktrans %}
    {% include 'components/alert.html' with type='danger' %}
  {% endif %}

  {% blocktrans trimmed asvar p1 %}
    Review the list of adjudicators who are due to be sent an email with their private ballot URL, then click the button at the bottom of the page to send the emails.
  {% endblocktrans %}
  {% include 'components/explainer-card.html' with type='info' %}

  {% if adjudicators_no_email %}
    {% blocktrans trimmed with adjudicators_list=adjudicators_no_email|join:", " asvar message %}
      The following adjudicators have a URL key but don't have an e-mail address, so won't get e-mails:
      {{ adjudicators_list }}
    {% endblocktrans %}
    {% include 'components/alert.html' with type='warning' %}
  {% endif %}

  {% url 'admin:privateurls_privateurlsentmailrecord_changelist' as sent_mail_records_url %}

  {% if nadjudicators_already_sent %}
    {% blocktrans trimmed count nadjs=nadjudicators_already_sent asvar message %}
      {{ nadjs }} adjudicator who has already had their ballot URL sent to them is excluded from the below list.
      You can review the sent mail records in the <a href="{{ sent_mail_records_url }}">Edit Database area</a>.
    {% plural %}
      {{ nadjs }} adjudicators who have already had their ballot URLs sent to them are excluded from the below list. You can review the sent mail records in the <a href="{{ sent_mail_records_url }}">Edit Database area</a>.
    {% endblocktrans %}
    {% include 'components/alert.html' with type='info' %}
  {% endif %}

  {{ block.super }}

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{% trans "Email message" %}</h4>
    </div>
    <div class="list-group list-group-flush">
      <form action="{% tournamenturl 'privateurls-email-ballot-send' %}" method="POST" class="mb-3">
        {% csrf_token %}
        <div class="list-group-item">
          <div class="form-group">
            <label for="id_subject">{% trans "Subject line" %}</label>
            <input type="text" name="subject" id="id_subject" class="form-control" value="{% blocktrans trimmed %}Your personal ballot submission URL for {{ tournament }}{% endblocktrans %}">
          </div>
          <div class="form-group">
            <label for="id_message">{% trans "Message content" %}</label>
            <textarea id="id_message" name="message" cols="40" rows="10" class="form-control">
{% blocktrans %}Hi %name,

At {{ tournament }}, we are using an online ballot system. You can submit your ballots at the following URL. This URL is unique to you — do not share it with anyone, as anyone who knows it can submit ballots on your behalf. This URL will not change throughout this tournament, so we suggest bookmarking it.

Your personal private ballot submission URL is:
%url{% endblocktrans %}
            </textarea>
            <div class="text-center small text-muted">
              {% blocktrans trimmed %}Use '%name' and '%url' as placeholders for the judge's name and their private URL, respectively in the message body.{% endblocktrans %}
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <button class="btn btn-success btn-block" type="submit">
            {% trans "Send emails with private ballot URLs to adjudicators" %}
          </button>
        </div>
      </form>
    </div>
  </div>

{% endblock content %}
