{% extends "base_vue_table.html" %}
{% load debate_tags i18n %}

{% block page-title %}{% trans "Email Private Feedback URLs" %}{% endblock %}
{% block head-title %}{% trans "Email Private Feedback URLs" %}{% endblock %}

{% block page-subnav-sections %}
  {% include 'private_urls_nav.html' %}
{% endblock page-subnav-sections %}

{% block content %}

  {% blocktrans trimmed asvar p1 %}
    Review the list of speakers and adjudicators who are due to be sent an email with their private feedback URL, then click the button at the bottom of the page to send the emails.
  {% endblocktrans %}
  {% include 'components/explainer-card.html' with type='info' %}

  {% if speakers_no_email %}
    {% blocktrans trimmed with speakers_list=speakers_no_email|join:", " asvar message %}
      The following speakers have a URL key but don't have an e-mail address, so won't get e-mails:
      {{ speakers_list }}
    {% endblocktrans %}
    {% include 'components/alert.html' with type='warning' %}
  {% endif %}

  {% if adjudicators_no_email %}
    {% blocktrans trimmed with adjudicators_list=adjudicators_no_email|join:", " asvar message %}
      The following adjudicators have a URL key but don't have an e-mail address, so won't get e-mails:
      {{ adjudicators_list }}
    {% endblocktrans %}
    {% include 'components/alert.html' with type='warning' %}
  {% endif %}

  {% url 'admin:privateurls_privateurlsentmailrecord_changelist' as sent_mail_records_url %}

  {% if nspeakers_already_sent or nadjudicators_already_sent %}
    {% blocktrans trimmed count nspeakers=nspeakers_already_sent asvar speaker_phrase %}
      {{ nspeakers }} speaker
    {% plural %}
      {{ nspeakers }} speakers
    {% endblocktrans %}
    {% blocktrans trimmed count nadjs=nadjudicators_already_sent asvar adjudicator_phrase %}
      {{ nadjs }} adjudicator
    {% plural %}
      {{ nadjs }} adjudicators
    {% endblocktrans %}
    {% blocktrans trimmed asvar message %}
      {{ speaker_phrase }} and {{ adjudicator_phrase}} who have already had their feedback URLs sent to them are excluded from the below list. You can review the sent mail records in the <a href="{{ sent_mail_records_url }}">Edit Database area</a>.
    {% endblocktrans %}
    {% include 'components/alert.html' with type='info' %}
  {% endif %}

  {{ block.super }}

  <form action="{% tournamenturl 'privateurls-email-feedback-send' %}" method="POST" class="mb-3">
    {% csrf_token %}
    <button class="btn btn-success btn-block" type="submit">
      {% trans "Send emails with private feedback URLs to speakers and adjudicators" %}
    </button>
  </form>

{% endblock content %}
