{% load debate_tags i18n %}

{% if exists %}
  <a class="btn btn-outline-primary {% if private_urls_nav %}active{% endif %}"
     href="{% tournamenturl 'privateurls-list' %}">
    {% trans "View URLs" %}
  </a>
  <div class="btn-group">
    <div class="btn btn-outline-primary disabled">Print</div>
    <a class="btn btn-outline-primary"
       href="{% tournamenturl 'printing-feedback-urls' %}" target="_blank">
      {% trans "Feedback URLs" %}
    </a>
    <a class="btn btn-outline-primary"
       href="{% tournamenturl 'printing-ballot-urls' %}" target="_blank">
      {% trans "Ballot URLs" %}
    </a>
  </div>
  <div class="btn-group">
    <div class="btn btn-outline-primary disabled">Email</div>
    <a class="btn btn-outline-primary {% if email_feedback_nav %}active{% endif %}"
       href="{% tournamenturl 'privateurls-email-feedback' %}">
      {% trans "Feedback URLs" %}
    </a>
    <a class="btn btn-outline-primary {% if email_ballot_nav %}active{% endif %}"
       href="{% tournamenturl 'privateurls-email-ballot' %}">
      {% trans "Ballot URLs" %}
    </a>
  </div>
  {% if blank_exists %}
    <div class="btn-group">
      <form action="{% tournamenturl 'privateurls-generate' %}" method="POST">
      {% csrf_token %}
      <button class="btn btn-outline-success" id="generateRandomisedUrls" type="submit" data-toggle="tooltip" title="{% trans "This button only generates private URLs for participants who do not already have one." %}">
        {% trans "Generate URLs" %}
      </button>
      </form>
    </div>
  {% else %}
    <div class="btn-group">
      <button class="btn btn-outline-secondary" id="generateRandomisedUrls" data-toggle="tooltip" title="{% trans "All participants already have private URLs." %}">
        {% trans "Generate URLs" %}
      </button>
    </div>
  {% endif %}
{% endif %}
