{% extends "base.html" %}
{% load i18n debate_tags %}

{% block page-title %}{% trans "Private URL" %}{% endblock %}
{% block head-title %}{% trans "Private URL" %}{% endblock %}

{% block sub-title %}
  {% blocktrans trimmed with name=person.name %}for {{ name }}{% endblocktrans %}
  {% if person.speaker %}
    {% blocktrans trimmed with team=person.speaker.team.short_name %}({{ team }}){% endblocktrans %}
  {% endif %}
  {% if person.speaker %}

  {% endif %}
{% endblock %}

{% block page-alerts %}

  {% blocktrans trimmed with name=person.name asvar p1 %}
    The URL of this page is personalised to you, {{ name }}. <strong>Do not
    share it with anyone;</strong> anyone who knows this URL can submit results and/or
    feedback for your debates. You may bookmark this page and return here after each
    debate for the available actions.
  {% endblocktrans %}
  {% include "components/explainer-card.html" with type="info" %}

{% endblock %}

{% block content %}

  {% include "in_this_round.html" with grammatical_person="2" %}

  <div class="list-group mt-2">

    {% if pref.team_code_names != 'off' and person.speaker.team %}
      {% blocktrans trimmed asvar text with code_name=person.speaker.team.code_name %}
        Your team's code name is <strong>{{ code_name }}</strong>.
      {% endblocktrans %}
      {% include "components/item-info.html" with type="primary" %}
    {% endif %}

    {% if pref.public_checkins_submit %}
      <form action="{% tournamenturl 'checkins-public-submit' url_key %}" method="POST" id="checkInForm" class="list-group-item">
        {% csrf_token %}
        {% if event %}
          <input type="hidden" name="action" value="revoke" />
          {% blocktrans trimmed with check_time=event.time asvar text %}
            Revoke check-in from {{ check_time }}
          {% endblocktrans %}
        {% else %}
          <input type="hidden" name="action" value="checkin" />
          {% blocktrans trimmed asvar text %}
            Check in
          {% endblocktrans %}
        {% endif %}
        {% include "components/item-action.html" with id="triggerCheckInForm" url="" child=True %}
      </form>
    {% endif %}

    {% if person.adjudicator and pref.participant_ballots == 'private-urls' %}
      {% tournamenturl 'results-public-ballotset-new-randomised' url_key as url %}
      {% trans  "Submit Ballot" as text %}
      {% include "components/item-action.html" %}
    {% endif %}

    {% if person.adjudicator and pref.participant_feedback == 'private-urls' %}
      {% tournamenturl 'adjfeedback-public-add-from-adjudicator-randomised' url_key as url %}
      {% trans "Submit Feedback" as text %}
      {% include "components/item-action.html" %}
    {% endif %}

    {% if person.speaker and pref.participant_feedback == 'private-urls' %}
      {% tournamenturl 'adjfeedback-public-add-from-team-randomised' url_key as url %}
      {% trans "Submit Feedback" as text %}
      {% include "components/item-action.html" %}
    {% endif %}

  </div>

{% endblock %}


{% block js %}
  {{ block.super }}
  <script>
    $(document).ready( function() { // Use the fake submit buttons as real submissoin
      $("#triggerCheckInForm").click( function() {
        $("#checkInForm").submit();
        return false;
      });
    });
  </script>
{% endblock js %}