{% extends "base.html" %}
{% load debate_tags %}

{% block head-title %}Latest Feedback{% endblock %}
{% block page-title %}Latest Feedback{% endblock %}
{% block page-header %}{% endblock %}

{% block content %}

  <div class="row">
  {% for feedback in feedbacks %}

    <div class="col-md-4">

      {% include 'feedback_card.html' %}

    </div>

    {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}

  {% endfor %}
  </div>

{% endblock content %}

{% block extra-js %}

{% endblock extra-js %}