{% extends "base.html" %}
{% load debate_tags %}
{% load staticfiles %}

{% block head-title %}Adjudicator Feedback Summary{% endblock %}
{% block page-title %}Adjudicator Feedback Summary{% endblock %}
{% block page-header %}{% include "table_search.html" %}{% endblock %}

{% block header %}
  <div class="btn-group">
    <a class="btn btn-default" href="{% tournament_url add_feedback %}">Add Feedback</a>
  </div>
  <div class="btn-group">
    <a class="btn btn-default" href="{% tournament_url adj_latest_feedback %}">View Latest Feedback</a>
    <a class="btn btn-default" href="{% tournament_url adj_source_feedback %}">View Feedback By Source</a>
  </div>
  <div class="btn-group">
    <div class="btn btn-default">
      <span class="glyphicon glyphicon-star"></span>
      <span id="breaking_count">{{ breaking_count }}</span> set as breaking
    </div>
  </div>
  <div class="btn-group">
    <a class="btn btn-default" href="{% tournament_url randomised_urls %}">View Randomised URLs</a>
  </div>
{% endblock %}

{% block content %}

  <table id="dataTable" class="table table-hover table-striped adj-feedback" cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <th>Name</th>
        {% if show_institutions > 0 %}
          <th>Institution</th>
        {% endif %}
        <th><span data-toggle="tooltip" title="Overall Score">Score</span></th>
        <th><span data-toggle="tooltip" title="Test Score; click to edit">Test</span></th>
        <th>Feedback</th>
        <th>Trend</th>
        {% if show_unaccredited %}
          <th><span class="glyphicon glyphicon-warning-sign" data-toggle="tooltip" title="If the Adj is a Trainee" ></span></th>
        {% endif %}
        <th><span class="glyphicon glyphicon-question-sign"></span></th>
        {% if enable_adj_notes > 0 %}
          <th><span class="glyphicon glyphicon-list-alt"></span></th>
        {% endif %}
        <th><span class="glyphicon glyphicon-star" data-toggle="tooltip" title="Breaking Adjudicator"></span></th>
        <th><span class="glyphicon glyphicon-eye-open" data-toggle="tooltip" title="Debates Adjudicated"></span></th>
        <th><span class="glyphicon glyphicon-resize-full" data-toggle="tooltip" title="Average Margin"></span></th>
        <th><span class="glyphicon glyphicon-stats" data-toggle="tooltip" title="Average Score, including replies"></span></th>
      </tr>
    </thead>
    <tbody>
      {% for adj in adjudicators %}
        <tr id="adj_{{ adj.id }}">
          <td class="adj-name">
              <span>{{ adj.name }}</span>
          </td>
          {% if show_institutions > 0 %}
            <td>
              {{ adj.institution.code }}
            </td>
          {% endif %}
          <td>
            {{ adj.score|stringformat:".2f" }}
          </td>
          <td class="adj-current-test-score">
            <a data-toggle="modal" data-target="#edit-test-score" class="edit-test-score">{{ adj.test_score }}</a>
          </td>
          <td>{{ adj.feedback_score|stringformat:".2f" }}</td>
          <td>
            <div id="graph_{{ adj.id }}" style="width: 100%; min-width: 100px; height: 60px; margin: -13px;"></div>
          </td>
          {% if show_unaccredited %}
            <td>
              {% if adj.novice %}
                <span class="glyphicon glyphicon-ok"></span>
              {% endif %}
            </td>
          {% endif %}
          <td>
            <a data-toggle="modal" data-target="#adj-feedback" class="view-feedback">View Feedback</a>
          </td>
          {% if enable_adj_notes > 0 %}
            <td>
              <a data-toggle="modal" data-target="#edit-note" class="edit-note">Edit Note</a>
              <span class="adj-current-note hidden">{{ adj.notes }}</span>
            </td>
          {% endif %}
          <td>
            <span class="hidden adj_breaking_sort">{% if adj.breaking %}true{% endif %}</span>
            <input type="checkbox" {% if adj.breaking %}checked{% endif %} class="toggle_breaking_status">
          </td>
          <td>
            {{ adj.debates }}
          </td>
          <td>
            {{ adj.avg_margin|stringformat:".1f" }}
          </td>
          <td>
            {{ adj.avg_score|stringformat:".1f" }}
          </td>
        </tr>
      {% empty %}
        <tr id="">
          <td class="">No Feedback Yet.</td>
          {% if show_institutions > 0 %}
          <td></td>
          {% endif %}
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          {% if enable_adj_notes > 0 %}<td></td>{% endif %}
          <td></td>
          <td></td>
          <td></td>
        </tr>
      {% endfor %}
    </tbody>

  </table>

  <div class="modal fade" id="adj-feedback" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Feedback for <span id="modal-adj-name"></span></h3>
      </div>
      <div class="modal-body">
        <table id="modal-adj-table" class="table small">
          <thead>
            <th><span class="glyphicon glyphicon-time" data-toggle="tooltip" title="Round"></span></th>
            <th><span class="glyphicon glyphicon-tag" data-toggle="tooltip" title="Version"></span></th>
            <th><span class="glyphicon glyphicon-sort" data-toggle="tooltip" title="Bracket"></span></th>
            <th>Debate</th>
            <th>Source</th>
            <th>Score</th>
            {% for heading in feedback_headings %}
               <th>{{ heading }}</th>
            {% endfor %}
            <th><span class="glyphicon glyphicon-saved" data-toggle="tooltip" title="Confirmed"></span></th>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    </div>
  </div>

  <div class="modal fade" id="edit-test-score" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Change Test Score of <span id="modal-test-name"></span></h3>
      </div>
      <div class="modal-body">
        <form id="startTimeForm" method="POST" action="{% tournament_url set_adj_test_score  %}" class="form-horizontal">
          <input id="id_adj_test_id" name="adj_test_id" type="hidden" value="" />
          <div class="form-group">
            <label class="col-sm-3 control-label">
              Test score
            </label>
            <div class="col-sm-6">
              <input id="id_test_score" name="test_score" placeholder="3.5" type="number" step="any" class="form-control"></input>
            </div>
            <div class="col-sm-2">
              <span class="help-block"></span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-6">
              <button type="submit" value="Save" class="form-control btn btn-success">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    </div>
  </div>

  {% if enable_adj_notes > 0 %}
    <div class="modal fade" id="edit-note" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Edit Note of <span id="modal-note-name"></span></h3>
        </div>
        <div class="modal-body">
          <form id="startTimeForm" method="POST" action="{% tournament_url set_adj_note  %}" class="form-horizontal">
            <input id="id_adj_test_id_note" name="adj_test_id" type="hidden" value="" />
            <div class="form-group">
              <div class="col-sm-12">
                <textarea id="id_note" name="note" placeholder="" rows="20" class="form-control"></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-4">
                <button type="submit" value="Save" class="form-control btn btn-success">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      </div>
    </div>
  {% endif %}
{% endblock content %}

{% block extra-js %}
<script type="text/javascript" language="javascript" src="{% static 'js/jquery.flot.min.js' %}"></script>
<script type="text/javascript" charset="utf-8">

  $(document).ready( function() {

    var dTable = $('#dataTable').DataTable({
      'bPaginate': false,
      "aaSorting": [[ 2, "desc" ],[ 0, "asc" ]],
    });
    new $.fn.dataTable.FixedHeader( dTable, {alwaysCloneTop: true});
    $('#table-search').keyup(function(){
      dTable.search($(this).val()).draw();
    })

    var adjTable = $("#modal-adj-table").dataTable({
      // Grabbing the adj data into a datatable
      {% if adjudicators.all.count > 0 %}
      'ajax': '{% tournament_url get_adj_feedback %}?id={{ adjudicators.0.id }}',
      {% endif %}
      'bPaginate': false,
      'bFilter': false
    })

    function get_adj_information(element) {
      var adj_info = {}
      adj_info.adj_row = $(element).parent().parent() // the <tr> for this adjudicator in the table
      adj_info.adj_name = adj_info.adj_row.find(".adj-name").text()
      adj_info.adj_id = parseInt(adj_info.adj_row.attr('id').split('_')[1]) // the id of the adjudicator object
      adj_info.adj_note = adj_info.adj_row.find(".adj-current-note").text()
      adj_info.adj_score = parseFloat(adj_info.adj_row.find(".adj-current-test-score").text())
      return adj_info;
    }

    $(".view-feedback").each( function() {
      $(this).click( function() {
        // Remove previous data to prevent confusion during slow loads
        adjTable.api().clear().draw()
        var adj_info = get_adj_information(this);
        $("#modal-adj-name").text(adj_info.adj_name); // Updating header of the modal
        var newUrl = '{% tournament_url get_adj_feedback %}?id=' + adj_info.adj_id
        adjTable.api().ajax.url(newUrl).load();
      });
    });

    $(".edit-test-score").each( function() {
      $(this).click( function() {
        var adj_info = get_adj_information(this);
        $("#modal-test-name").text(adj_info.adj_name); // Updating header of the modal
        $("#id_adj_test_id").val(adj_info.adj_id); // Updating header of the modal
        $("#id_test_score").prop('placeholder', adj_info.adj_score); // updating the form table
      });
    });

    $(".edit-note").each( function() {
      $(this).click( function() {
        var adj_info = get_adj_information(this);
        $("#modal-note-name").text(adj_info.adj_name); // Updating header of the modal
        $("#id_adj_test_id_note").val(adj_info.adj_id); // Updating header of the modal
        $("#id_note").val(adj_info.adj_note); // updating the form with the note
      });
    });

    $(".toggle_breaking_status").each(function() {
      $(this).change( function() {
        var adj_info = get_adj_information(this);
        if (this.checked) {
          var breaking_status = true
          $("#breaking_count").html(parseInt($('#breaking_count').html(), 10)+1)
        } else {
          var breaking_status = false
          $("#breaking_count").html(parseInt($('#breaking_count').html(), 10)-1)
        }
        $.ajax({
          type: "POST",
          url: "{% tournament_url set_adj_breaking_status %}",
          data: {adj_id: adj_info.adj_id, adj_breaking_status: breaking_status},
          error: function(xhr, error, ex) {
            alert("error setting adj status");
          }
        });
        return false;
      });
    });

    $("<div id='tooltip'></div>").css({
      position: "absolute",
      display: "none",
      border: "1px solid #fdd",
      padding: "4px 8px 4px 16px",
      color: "#FFF",
      "background-color": "#000",
      opacity: 0.80
    }).appendTo("body");

    function formatter(val, axis) {
      return "";
    }

    {% for adj in adjudicators %}

      function drawPoints{{ adj.id_record }}(ctx, x, y, radius, shadow) {
        ctx.arc(x, y, radius, 0, null ? Math.PI : Math.PI * 2, false);
        ctx.fillStyle = "#000";
        ctx.strokeStyle = "#000";
        if (adj_{{ adj.id_record }}[drawPoints.calls]) {
          if (adj_{{ adj.id_record }}[drawPoints.calls][2] == "Chair") {
            ctx.fillStyle = "#5cb85c";
            ctx.strokeStyle = "#5cb85c";
          } else if (adj_{{ adj.id_record }}[drawPoints.calls][2] == "Panellist") {
            ctx.fillStyle = "#f0ad4e";
            ctx.strokeStyle = "#f0ad4e";
          } else if (adj_{{ adj.id_record }}[drawPoints.calls][2] == "Trainee") {
            ctx.fillStyle = "#d9534f";
            ctx.strokeStyle = "#d9534f";
          } else if (adj_{{ adj.id_record }}[drawPoints.calls][2] == "Test Score") {
            ctx.fillStyle = "#666";
            ctx.strokeStyle = "#666";
          }
        }
        drawPoints{{ adj.id_record }}.calls++;
      }
      drawPoints{{ adj.id_record }}.calls = 0;

      var adj_{{ adj.id_record }} = [[0,{{ adj.test_score }}, "Test Score"],{% for s in adj.rscores %}{% if s %}[{{ s.0 }},{{ s.1|floatformat:1 }},"{{ s.2 }}"],{% endif %}{% endfor %}]

      $.plot("#graph_{{ adj.id }}", [ adj_{{ adj.id_record }} ], {
        xaxis: {
          min: 0,
          max: {{ current_round.seq }},
          tickSize: 1,
          tickDecimals: 0,
          tickFormatter: formatter
        },
        yaxis: {
          min: {{ score_min }},
          max: {{ score_max }},
          tickSize: 1,
          tickDecimals: 0,
          tickFormatter: formatter
        },
        grid: {
          borderWidth: 0,
          hoverable: true,
        },
        series: {
          lines: { show: true },
          points: { show: true, symbol: drawPoints{{ adj.id_record }} },
          shadowSize: 0,
          color: "#428bca"
        },
      });

      $("#graph_{{ adj.id }}").bind("plothover", function (event, pos, item) {

        if (item) {
          var round = item.datapoint[0].toFixed(2),
              score = item.datapoint[1].toFixed(2),
              type = item.series.data[item.dataIndex][2];

          $("#tooltip").html("R" + parseInt(round) + " received " + score + " as " + type)
            .css({top: item.pageY+5, left: item.pageX+5})
            .fadeIn(100);
        } else {
          $("#tooltip").hide();
        }

      });



    {% endfor %}

  });

</script>
{% endblock extra-js %}