{% extends "base_vue_table.html" %}

{% block page-subnav-sections %}
  {% include "tables/table_search.html" %}
{% endblock %}

{% block content %}

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>{{ table_a_title }}</h4></div>
      <div class="panel-body" id="tableContainerA">
        <smart-table :data="gridData" :filter-key="searchQuery"></smart-table>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>{{ table_b_title }}</h4></div>
      <div class="panel-body" id="tableContainerB">
        <smart-table :data="gridData" :filter-key="searchQuery"></smart-table>
      </div>
    </div>
  </div>

{% endblock content %}

{% block extra-js %}
  {{ block.super }}
  {% include "vue/table.vue" %}
  <script>
    var fromTeamsTable = new Vue({
      el: '#tableContainerA',
      data: {
        searchQuery: '',
        gridData: {{ tableDataA|safe }},
      },
      ready: function() {
        var thisTable = this; // this in the next context is the element
        document.getElementById('table-search').onkeyup = function (e) {
          thisTable.$set('searchQuery', this.value);
        }
      },
    });
    var fromTeamsTable = new Vue({
      el: '#tableContainerB',
      data: {
        searchQuery: '',
        gridData: {{ tableDataB|safe }},
      },
      ready: function() {
        var thisTable = this; // this in the next context is the element
        document.getElementById('table-search').onkeyup = function (e) {
          thisTable.$set('searchQuery', this.value);
        }
      },
    });
  </script>
{% endblock extra-js %}