{% extends "base.html" %}
{% load static %}
{% load debate_tags %}

{% block head-title %}Breaking Adjudicators{% endblock %}
{% block page-title %}Breaking Adjudicators{% endblock %}
{% block body-class %}breakk breaking-adjs{% endblock %}

{% block header %}
    {% if adjs.all.count == 0 %}
        <p class="lead">The breaking adjudicators have not been released yet.
        <img src="{% static 'emoji/img/cry.png' %}" width="24" height="24" />
        </p>
    {% endif %}
    {% include "table_search.html" %}
{% endblock %}

{% block content %}
    {% if adjs.all.count > 0 %}
        <table id="dataTable" class="table table-hover table-bordered table-striped" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>Name</th>
                    {% if show_institutions > 0 %}
                        <th>Institution</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for adj in adjs %}
            <tr>
                <td>{{ adj.name }}</td>
                {% if show_institutions > 0 %}
                    <td>{{ adj.institution }}</td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock content %}

{% block extra-js %}
    {{ block.super }}
    <script type="text/javascript" charset="utf-8">
        $(document).ready( function() {
            var dTable = $("#dataTable").DataTable({
                "aaSorting": [[ 0, "asc" ]],
            });
            new $.fn.dataTable.FixedHeader( dTable, {alwaysCloneTop: true});
        });
    </script>
    <script type="text/javascript" language="javascript" src="{% static 'js/emoji.js' %}"></script>
{% endblock extra-js %}