{% extends "draw_rbase.html" %}

{% load debate_tags %}

{% block extra-head %}
   <script type="text/javascript" charset="utf-8">

        $(document).ready( function() {

            $("#allocateAdj").click( function() {
                $("#allocateAdjForm").submit();
                return false;
            } );
            var table = $('#dataTable').dataTable({
                'bPaginate': false,
                "aaSorting": [[ 0, "desc" ]],
            });
            new $.fn.dataTable.FixedHeader( table, {alwaysCloneTop: true});
            $("#release_draw").click( function() {
                $("#releaseForm").submit();
                return false;
            } );
            $("#unrelease_draw").click( function() {
                $("#unreleaseForm").submit();
                return false;
            } );

        } );

    </script>
{% endblock extra-head %}

{% block head-title %}
    Draw for {{ round.name }}
    <small>
    {% if round.draw_status = 10 %}
        (Debates Confirmed)
    {% elif round.draw_status = 99 %}
        (Debates Released)
    {% endif %}
    </small>
    {% if round.starts_at %}
        <small>debates start at {{ round.starts_at }}</small>
    {% endif %}
{% endblock %}
{% block page-title %}Draw for {{ round.name }}
    {% if round.draw_status = round.STATUS_CONFIRMED %}
        (Debates Confirmed)
    {% elif round.draw_status = round.STATUS_RELEASED %}
        (Debates Released)
    {% endif %}
{% endblock %}
{% block body-class %}draw{% endblock %}

{% block header %}
<div class="btn-group">
    <a class="btn btn-default form-control" href="{% round_url draw_venues_edit %}">Edit Venues</a>
    <a class="btn btn-default form-control" href="{% round_url draw_adjudicators_edit %}">Edit Adjs</a>
    <a class="btn btn-default form-control" href="{% round_url draw_with_standings %}">Draw Details</a>
    <a class="btn btn-default form-control" href="{% round_url draw_display_by_venue %}">Show by Venue</a>
    <a class="btn btn-default form-control" href="{% round_url draw_display_by_team %}">Show by Team</a>
    {% if round.draw_status = 10 %}
        <button class="btn btn-success form-control" id="release_draw">Release to Public</button>
    {% elif round.draw_status = 99 %}
        <button class="btn btn-danger form-control" id="unrelease_draw">Unrelease</button>
    {% endif %}
    <a class="btn btn-default form-control" data-toggle="modal" data-target="#start-time-form">Change Start Time</a>
</div>
{% endblock %}

{% block content %}

<form id="releaseForm" method="POST" action="{% round_url release_draw %}"></form>
<form id="unreleaseForm" method="POST" action="{% round_url unrelease_draw %}"></form>
<form id="allocateAdjForm" method="POST" action="{% round_url create_adj_allocation %}"></form>

{% if round.motion_set.all.count == 0 %}
<div class="alert alert-danger">
    There are currently no motions entered, which means results cannot be entered. <a href="{% round_url motions_edit current_round %}">Edit the motions</a> for this round.
</div>
{% endif %}
{% if active_adjs.count < rooms %}
    <div class="alert alert-danger alert-dismissable" id="savedVenues">
        There are currently fewer active adjudicators than there are rooms. <a href="{% round_url adjudicator_availability current_round %}">Check in some more adjudicators</a>.
    </div>
{% endif %}
{% if round.adjudicators_allocation_validity == 1 %}
    <div class="alert alert-danger alert-dismissable" id="savedVenues">
        One or more debates don't have a chair. <a class="alert-link" href="{% round_url draw_adjudicators_edit %}">Edit adjudicators</a>.
    </div>
{% elif round.adjudicators_allocation_validity == 2 %}
    <div class="alert alert-danger alert-dismissable" id="savedVenues">
        One or more debates have panels with an even number of adjudicators. <a  class="alert-link" href="{% round_url draw_adjudicators_edit %}">Edit adjudicators</a>.
    </div>
{% endif %}

<table id="dataTable" class="table table-hover table-bordered table-striped" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <th><span class="glyphicon glyphicon-sort" data-toggle="tooltip" title="Bracket"></span></th>
            <th><span class="glyphicon glyphicon-map-marker" data-toggle="tooltip"title="Venue"></span></th>
            {% if enable_venue_times %}
            <th><span class="glyphicon glyphicon-time" data-toggle="tooltip"title="Time"></span></th>
            {% endif %}
            <th>Aff<span class="hidden-xs">irmative</span></th>
            <th>Neg<span class="hidden-xs">ative</span></th>
            <th>Adj<span class="hidden-xs">udicator</span>s</th>
            <th>Conflict</th>
        </tr>
    </thead>
    <tbody>
    {% for debate in draw %}
    <tr class="{% if debate.all_conflicts or not debate.adjudicators.valid %}danger{% endif %}">
        <td>{{ debate.bracket }}</td>
        <td>
            {% if debate.venue.group %}{{ debate.venue.group }} {% endif %}{{ debate.venue.name }}
        </td>
        {% if enable_venue_times %}
        <td>
            {% if debate.venue.time %}
            <span class="hidden">{{ debate.venue.time|date:"d m o H:i" }}</span>
            {{ debate.venue.time|date:"D jS M h:i" }}
            {% endif %}
        </td>
        {% endif %}
        <td title="{% aff_count debate.aff_team round.prev %}">
            <span href="#" title="{{ debate.aff_team.speakers|join:', ' }}" data-toggle="tooltip">
                {{ debate.aff_team.short_name }}
            </span>
            <span class="hidden">
                {{ debate.aff_team.speakers|join:', ' }}
            </span>
        </td>
        <td title="{% neg_count debate.neg_team round.prev %}">
            <span href="#" title="{{ debate.neg_team.speakers|join:', ' }}" data-toggle="tooltip">
                {{ debate.neg_team.short_name }}
            </span>
            <span class="hidden">
                {{ debate.neg_team.speakers|join:', ' }}
            </span>
        </td>
        <td>
        {% for type, adj in debate.adjudicators %}
            {{ adj.name }}{% if type == 'C' and debate.adjudicators.is_panel %} Ⓒ{% elif type == 'T' %} Ⓣ{% endif %}{% if not forloop.last %},{% endif %}
        {% endfor %}
        </td>
        <td class="text-danger">{{ debate.all_conflicts|join:", " }}</td>
    </tr>
    {% endfor %}
</table>

<div class="modal fade" id="start-time-form" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Change Start Time</h3>
        </div>
        <div class="modal-body">
            <form id="startTimeForm" method="POST" action="{% round_url set_round_start_time %}" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-4 control-label">
                        Start at
                    </label>
                    <div class="col-sm-6">
                        <input placeholder="{{ round.starts_at|time:'H:i' }}" name="start_time" class="form-control"></input>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label"></label>
                    <div class="col-sm-6">
                        <button type="submit" value="Save" class="form-control btn btn-success">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>
</div>

{% endblock content %}


