{% extends "draw_rbase.html" %}

{% load debate_tags %}

{% block extra-head %}
    <script type="text/javascript" charset="utf-8">

        $(document).ready( function() {
            $("#createDraw").click( function() {
                $("#createForm").submit();

                return false;
            } );

        } );

    </script>
{% endblock extra-head %}

{% block head-title %}
No draw currently exists
{% endblock %}
{% block header %}
<div class="btn-group">
    <a class="btn btn-default" id="createDraw">Create Draw</a>
</div>
{% endblock %}

{% block content %}

<p>Draw to be created for the following {{ active_teams|length }} teams</p>
<form id="createForm" action="{% round_url create_draw %}" method="POST"></form>
<ul>
    {% for team in active_teams %}
    <li>{{ team.short_name }} ({{ team.institution.code }})</li>
    {% endfor %}
</ul>

{% endblock content %}


