<table id="dataTable" class="draw-with-standings table table-hover table-bordered table-striped" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <th><span class="glyphicon glyphicon-sort" data-toggle="tooltip" title="Bracket"></span></th>
            <th>Affirmative</th>
            <th>Negative</th>
            <th>AW</th>
            <th>NW</th>
            <th>ASR</th>
            <th>NSR</th>
            <th>ASP</th>
            <th>NSP</th>
            <th>AAffs</th>
            <th>NAffs</th>
            <th>Conflicts/Flags</th>
        </tr>
    </thead>
    <tbody>
    {% for debate in draw %}
    <tr class="{{ debate.draw_conflicts|yesno:'conflict,' }} {% ifchanged debate.bracket %}first-in-bracket{% endifchanged %}">
        <td>{{ debate.bracket }}</td>
        <td{% if debate.aff_team.pullup %} class="em"{% endif %}>
            {{ debate.aff_team }}
        </td>
        <td{% if debate.neg_team.pullup %} class="em"{% endif %}>
            {{ debate.neg_team }}
        </td>
        <td{% if debate.aff_team.pullup %} class="em"{% endif %}>
            {{ debate.aff_team.points }}
        </td>
        <td{% if debate.neg_team.pullup %} class="em"{% endif %}>
            {{ debate.neg_team.points }}
        </td>
        <td{% if debate.aff_team.pullup %} class="em"{% endif %}>
            {{ debate.aff_team.subrank }}
        </td>
        <td{% if debate.neg_team.pullup %} class="em"{% endif %}>
            {{ debate.neg_team.subrank }}
        </td>
        <td>{{ debate.aff_team.speaker_score|stringformat:".2f" }}</td>
        <td>{{ debate.neg_team.speaker_score|stringformat:".2f" }}</td>
        <td>{{ debate.aff_team.get_aff_count }}</td>
        <td>{{ debate.neg_team.get_aff_count }}</td>
        <td>{{ debate.draw_conflicts|add:debate.flags_all|join:"," }}</td>
    </tr>
    {% endfor %}
</table>