{% extends "draw_rbase.html" %}

{% load debate_tags %}

{% block extra-head %}
   <script type="text/javascript" charset="utf-8">

        $(document).ready( function() {

            $("#allocateAdj").click( function() {
                $("#allocateAdjForm").submit();
                return false;
            } );
            var table = $('#dataTable').dataTable({
                'bPaginate': false,
                "aaSorting": [[ 0, "desc" ]],
            });
            new $.fn.dataTable.FixedHeader( table, {alwaysCloneTop: true});
            $("#release_draw").click( function() {
                $("#releaseForm").submit();
                return false;
            } );
            $("#unrelease_draw").click( function() {
                $("#unreleaseForm").submit();
                return false;
            } );

        } );

    </script>
{% endblock extra-head %}

{% block head-title %}
    Draw for Round {{ round }}
    <small>
    {% if round.draw_status = 10 %}
        (Debates Confirmed)
    {% elif round.draw_status = 99 %}
        (Debates Released)
    {% endif %}
    </small>
{% endblock %}
{% block page-title %}Draw for Round {{ round }}
    {% if round.draw_status = round.STATUS_CONFIRMED %}
        (Debates Confirmed)
    {% elif round.draw_status = round.STATUS_RELEASED %}
        (Debates Released)
    {% endif %}{% endblock %}
    {% if round.starts_at %}
        (starts at {{ round.starts_at }})
    {% endif %}
{% block body-class %}draw{% endblock %}

{% block header %}
<div class="btn-group">
    <a class="btn btn-default form-control" href="{% round_url draw_venues_edit %}">Edit Venues</a>
    <a class="btn btn-default form-control" href="{% round_url draw_adjudicators_edit %}">Edit Adjs</a>
    <a class="btn btn-default form-control" href="{% round_url draw_with_standings %}">Display Details</a>
    <a class="btn btn-default form-control" href="{% round_url draw_display_by_venue %}">Display by Venue</a>
    <a class="btn btn-default form-control" href="{% round_url draw_display_by_team %}">Display by Team</a>
    {% if round.draw_status = 10 %}
        <button class="btn btn-success form-control" id="release_draw">Release to Public</button>
    {% elif round.draw_status = 99 %}
        <button class="btn btn-danger form-control" id="unrelease_draw">Unrelease to Public</button>
    {% endif %}
    <a class="btn btn-default form-control" data-toggle="modal" data-target="#start-time-form">Change Start Time</a>
</div>
{% endblock %}

{% block content %}

<form id="releaseForm" method="POST" action="{% round_url release_draw %}"></form>
<form id="unreleaseForm" method="POST" action="{% round_url unrelease_draw %}"></form>
<form id="allocateAdjForm" method="POST" action="{% round_url create_adj_allocation %}"></form>

{% if active_adjs.count < rooms %}
    <div class="alert alert-danger alert-dismissable" id="savedVenues">
        There are currently fewer active adjudicators than there are rooms. <a href="{% round_url adjudicator_availability current_round %}">Check in some more adjudicators</a>.
    </div>
{% endif %}
{% if round.adjudicators_allocation_validity == 1 %}
    <div class="alert alert-danger alert-dismissable" id="savedVenues">
        One or more debates don't have a chair. <a class="alert-link" href="{% round_url draw_adjudicators_edit %}">Edit adjudicators</a>.
    </div>
{% elif round.adjudicators_allocation_validity == 2 %}
    <div class="alert alert-danger alert-dismissable" id="savedVenues">
        One or more debates have panels with an even number of adjudicators. <a  class="alert-link" href="{% round_url draw_adjudicators_edit %}">Edit adjudicators</a>.
    </div>
{% endif %}

<table id="dataTable" class="table table-hover table-bordered table-striped" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
        <th><span class="glyphicon glyphicon-sort" data-toggle="tooltip" title="Bracket"></span></th>
        <th><span class="glyphicon glyphicon-map-marker" data-toggle="tooltip"title="Venue"></span></th>
        <th>Affirmative</th>
        <th>Negative</th>
        <th>Adjudicators</th>
        <th>Conflict</th>
        </tr>
    </thead>
    <tbody>
    {% for debate in draw %}
    <tr class="{% if debate.all_conflicts or not debate.adjudicators_display or not debate.adjudicators.valid %}danger{% endif %}">
        <td>{{ debate.bracket }}</td>
        <td>{{ debate.venue.name }}</td>
        <td title="{% aff_count debate.aff_team round.prev %}">
            <span href="#" title="{{ debate.aff_team.speakers|join:', ' }}" data-toggle="tooltip">
                {{ debate.aff_team.short_name }}
            </span>
            <span class="hidden">
                {{ debate.aff_team.speakers|join:', ' }}
            </span>
        </td>
        <td title="{% neg_count debate.neg_team round.prev %}">
            <span href="#" title="{{ debate.neg_team.speakers|join:', ' }}" data-toggle="tooltip">
                {{ debate.neg_team.short_name }}
            </span>
            <span class="hidden">
                {{ debate.neg_team.speakers|join:', ' }}
            </span>
        </td>
        <td>{{ debate.adjudicators_display }}</td>
        <td class="text-danger">{{ debate.all_conflicts|join:", " }}</td>
    </tr>
    {% endfor %}
</table>

<div class="modal fade" id="start-time-form" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Change Start Time</h3>
        </div>
        <div class="modal-body">
            <form id="startTimeForm" method="POST" action="{% round_url set_round_start_time %}" class="form-horizontal">

                <div class="form-group">
                    <label for="{{ field.id_for_label }}" class="col-sm-4 control-label">
                        Start At
                    </label>
                    <div class="col-sm-6">
                        <input text="{{ round.starts_at }}" name="start_time" type="datetime" placeholder="0:00" class="form-control"></input>
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ field.id_for_label }}" class="col-sm-4 control-label"></label>
                    <div class="col-sm-6">
                        <button type="submit" value="Save" class="form-control btn btn-success">Save</button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="{{ field.id_for_label }}" class="col-sm-4 control-label"></label>
                    <div class="col-sm-6">
                        <button type="button" value="Cancel" class="form-control btn btn-danger">Cancel</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
  </div>
</div>

{% endblock content %}


