{% extends "base.html" %}
{% load debate_tags %}
{% load staticfiles %}

{% block nav %}{% endblock %}

{% block body-class %}edit-adjs{% endblock %}
{% block head-title %}{% endblock %}
{% block page-title %}Edit Adjudicators for {{ round.name }}{% endblock %}
{% block page-header %}
  <div id="statusBar" class="btn-group">
    <div class="btn btn-default" href="#auto" id="auto_allocate">Auto Allocate</div>
    <div class="btn btn-default" data-loading-text="Saving..." href="" id="save">Save</div>
    <a class="btn btn-default" href="{% round_url draw %}">Quit</a>
  </div>
  <div id="statusBar" class="btn-group">
    <div class="btn btn-default" href="" id="toggle_venues">
      <span class="glyphicon glyphicon-eye-open"></span> Venues
    </div>
    <div class="btn btn-default" href="" id="toggle_wins">
      <span class="glyphicon glyphicon-eye-open"></span> Wins
    </div>
    <div class="btn btn-default" href="" id="toggle_gender">
      <span class="glyphicon glyphicon-eye-open"></span> Gender
    </div>
    <div class="btn btn-default" href="" id="toggle_region">
      <span class="glyphicon glyphicon-eye-open"></span> Region
    </div>
    <div class="btn btn-default" href="" id="toggle_breakcategory">
      <span class="glyphicon glyphicon-eye-open"></span> Category
    </div>
  </div>
  <div id="conflict_key" class="btn-group">
    <div class="btn btn-default btn-primary">Seen</div>
    <div class="btn btn-default btn-warning">Institution</div>
    <div class="btn btn-default btn-danger">Person</div>
    <div class="btn btn-default panel-incomplete">No Chair or Odd Panel</div>
    {% if show_unaccredited %}
    <div class="btn btn-default active is_unaccredited">Unaccredited</div>
    {% endif %}
  </div>
  <div id="gender_key" class="btn-group" style="display: none;">
    <div class="btn btn-default gender-display male">Male</div>
    <div class="btn btn-default gender-display female">Female</div>
  </div>
  <div id="region_key" class="btn-group" style="display: none;">
    {% for region, _ in regions %}
      <div class="btn btn-default region-display region-{{ region.id }}">{{ region.name }}</div>
    {% endfor %}
  </div>
  <div id="breakcategory_key" class="btn-group" style="display: none;">
    {% for category, _ in break_categories %}
      <div class="btn btn-default breakcategory-display breakcategory-{{ category.slug }}">{{ category.name }}</div>
    {% endfor %}
  </div>
{% endblock %}

{% block header %}{% endblock %}

{% block content %}

<div class="row">

  <div id="main" class="col-xs-10">

    <div id="alerts-holder"></div>
    <table id="allocationsTable" class="table extra-line-height" cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <th><span class="glyphicon glyphicon-sort" data-toggle="tooltip" title="Bracket"></span></th>
          <th><span>Importance Sort</span></th>
          <th><span class="glyphicon glyphicon-fire" data-toggle="tooltip" title="Importance"></span></th>
          <th><span class="glyphicon glyphicon-map-marker" data-toggle="tooltip" title="Venue"></span></th>
          <th><span data-toggle="tooltip" title="Aff wins">AW</span></th>
          <th><span class="glyphicon glyphicon-off " data-toggle="tooltip" title="Aff's % of Previous Male Adjudicators"></span></th>
          <th>Aff<span class="hidden-xs">irmative</span></th>
          <th><span data-toggle="tooltip" title="Neg wins">NW</span></th>
          <th><span class="glyphicon glyphicon-off " data-toggle="tooltip" title="Neg's % of Previous Male Adjudicators"></span></th>
          <th>Neg<span class="hidden-xs">ative</span></th>
          <th>Chair</th>
          <th>Panel</th>
          <th>Trainee</th>
        </tr>
      </thead>
      <tbody>
      {% for debate in draw %}
      <tr id="debate_{{ debate.id }}">
        <td>
          {{ debate.bracket }}
        </td>
        <td class="importance-recording">
          {{ debate.importance }}
        </td>
        <td class="importance">
          <select class="form-control">
            <option value="1" {% if debate.importance == 1 %}selected{% endif %}>
              1
            </option>
            <option value="2" {% if debate.importance == 2 %}selected{% endif %}>
              2
            </option>
            <option value="3" {% if debate.importance == 3 %}selected{% endif %}>
              3
            </option>
            <option value="4" {% if debate.importance == 4 %}selected{% endif %}>
              4
            </option>
            <option value="5" {% if debate.importance == 5 %}selected{% endif %}>
              5
            </option>
          </select>
        </td>
        <td>
          {{ debate.venue }}
        </td>
        <td>
          {{ debate.aff_team.wins_count }}
        </td>
        <td class="{% if debate.aff_team.male_adj_percent >= debate.neg_team.male_adj_percent %}gender-parity-{{ debate.gender_class }} gender-highlight{% endif %}">
          {{ debate.aff_team.male_adj_percent }}
        </td>
        <td id="team_{{ debate.aff_team.id }}" class="teaminfo {% team_status_classes debate.aff_team %}">
          <span class="team-speakers-hover" id="team_speakers_{{ debate.aff_team.id }}">
            {{ debate.aff_team.short_name }}
          </span>
        </td>
        <td>
          {{ debate.neg_team.wins_count }}
        </td>
        <td class="{% if debate.neg_team.male_adj_percent >= debate.aff_team.male_adj_percent %}gender-parity-{{ debate.gender_class }} gender-highlight{% endif %}">
          {{ debate.neg_team.male_adj_percent }}
        </td>
        <td id="team_{{ debate.neg_team.id }}" class="teaminfo {% team_status_classes debate.neg_team %}">
          <span class="team-speakers-hover" id="team_speakers_{{ debate.neg_team.id }}">
            {{ debate.neg_team.short_name }}
          </span>
        </td>
        <td id="chair_{{ debate.id }}" class="btn-holder adj-holder chair-holder">
        </td>
        <td id="panel_{{ debate.id }}" class="btn-holder adj-holder panel-holder">
        </td>
        <td id="trainees_{{ debate.id }}" class="btn-holder adj-holder trainee-holder">
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <div id="scratch" class="col-xs-2 fixed-right">
    <table id="unusedAdjTable" class="table" cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <th>Unused Adjudicators <span class="glyphicon glyphicon-save pull-right" id="toggle_unused_layout" data-toggle="tooltip" title="Toggle right/bottom alignment"></span></th>
          <th><span class="glyphicon glyphicon-sort"></span></th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>

  <div id="helper_holder"></div>

</div>


<div class="modal fade" id="adj-feedback" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header"><h3>Feedback for <span id="modal-adj-name"></span></h3></div>
    <div class="modal-body">
    <table id="modal-adj-table" class="table">
      <thead>
      <tr>
        <th><span class="glyphicon glyphicon-time" data-toggle="tooltip" title="Round"></span></th>
        <th><span class="glyphicon glyphicon-tag" data-toggle="tooltip" title="Version"></span></th>
        <th><span class="glyphicon glyphicon-sort" data-toggle="tooltip" title="Bracket"></span></th>
        <th>Debate</th>
        <th>Source</th>
        <th>Score</th>
        {% for heading in feedback_headings %}
           <th>{{ heading }}</th>
        {% endfor %}
        <th>Confirmed</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    </div>
  </div>
  </div>
</div>

<style style="text/css">

  {% for region, color in regions %}
    .region-display.region-{{ region.id }} {
      background: {{ color }};
      color: #fff;
    }
    .region-display.region-{{ region.id }} span a {
      color: #fff;
    }
  {% endfor %}

  {% for category, color in break_categories %}
    .breakcategory-display.breakcategory-{{ category.slug }} {
      background: {{ color }};
      color: #fff;
    }
    .breakcategory-display.breakcategory-{{ category.slug }} span a {
      color: #fff;
    }
  {% endfor %}

</style>

{% endblock content %}

{% block footer %}{% endblock footer %}

{% block extra-js %}
<script type="text/javascript" language="javascript" src="{% static 'js/jquery-ui-1.10.4.custom.min.js' %}"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready( function() {
  {% include 'js/draw_adjs_edit_allocation.js' %}
  {% include 'js/draw_adjs_edit_flags.js' %}
});
</script>
{% endblock extra-js %}