{% extends "draw_rbase.html" %}

{% load debate_tags %}

{% block extra-head %}
    <script type="text/javascript" charset="utf-8">

        $(document).ready( function() {
            $("#createDraw").click( function() {
                $("#createForm").submit();

                return false;
            } );

        } );

    </script>
{% endblock extra-head %}

{% block head-title %}
No draw currently exists
{% endblock %}

{% block header %}
    {% if active_teams.count == 0 %}
    <div class="alert alert-danger">
        The draw cannot be generated until some of the teams <a href="{% round_url team_availability current_round %}">have been checked in</a> for this round.
    </div>
    {% endif %}
    {% if active_venues.count < rooms %}
    <div class="alert alert-danger">
        The draw cannot be generated until there are more venues than team matchups. <a href="{% round_url venue_availability current_round %}">Check in some more venues</a>.
    </div>
    {% endif %}
    <div class="btn-group">
        {% if active_venues.count < rooms or active_teams.count == 0%}
            <a class="btn btn-success"  disabled="disabled" id="createDraw">Create draw for the following {{ active_teams|length }} teams</a>
        {% else %}
            <a class="btn btn-success" id="createDraw">Create draw for the following {{ active_teams|length }} teams</a>
        {% endif %}
    </div>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
        <form id="createForm" action="{% round_url create_draw %}" method="POST"></form>
        <ul>
            {% for team in active_teams %}
                <li>{{ team.short_name }} ({{ team.institution.code }})</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock content %}


