{% extends "base.html" %}
{% load staticfiles %}
{% load debate_tags %}

{% block nav %}{% endblock %}
{% block footer %}{% endblock %}

{% block body-class %}edit-venues{% endblock %}
{% block head-title %}Edit Venues for {{ round.name }}{% endblock %}
{% block page-title %}Edit Venues for {{ round.name }}{% endblock %}
{% block page-header %}{% include "table_search.html" %}{% endblock %}

{% block header %}
  <div class="col-md-9">
    <div id="statusBar" class="btn-group">
      <a class="btn btn-success form-control" href="" id="save">Save</a>
      <a class="btn btn-danger form-control" href="{% round_url draw %}">Quit</a>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="row">

    <div id="scratch" class="col-md-3">
      <div class="page-header">
        <h2>Unused</h2>
      </div>
      {% for venue in round.unused_venues %}
      <div id="venue_{{ venue.id }}" class="btn btn-default btn-block venue">
        <span>{{ venue.name }} {% if venue.time %}<em>{{ venue.time|date:"d/m" }}</em>{% endif %}</span>
      </div>
      {% endfor %}
    </div>

    <div id="main" class="col-md-9">

      <div id="alerts-holder" class=""></div>

      <table id="dataTable" class="table table-hover" cellpadding="0" cellspacing="0">
        <thead>
          <tr><th><span class="glyphicon glyphicon-sort" data-toggle="tooltip" title="Bracket"></span></th><th>Aff<span class="hidden-xs">irmative</span></th><th>Neg<span class="hidden-xs">ative</span></th><th>Adj<span class="hidden-xs">udicator</span>s</th><th>Venue</th></tr>
        </thead>
        <tbody>
        {% for debate in draw %}
        <tr class="{{ debate.draw_conflicts|yesno:'conflict,' }}">
          <td>{{ debate.bracket }}</td>
          <td>
            <span title="{{ debate.aff_team.speakers|join:'<br>' }}" data-toggle="tooltip">{{ debate.aff_team.short_name }}</span>
          </td>
          <td>
            <span title="{{ debate.neg_team.speakers|join:'<br>' }}" data-toggle="tooltip">{{ debate.neg_team.short_name }}</span>
          </td>
          <td>
          {% for type, adj in debate.adjudicators %}
            {{ adj.name }}{% if type == 'C' and debate.adjudicators.is_panel %} Ⓒ{% elif type == 'T' %} Ⓣ{% endif %}{% if not forloop.last %},{% endif %}
          {% endfor %}
          </td>
          <td id="debate_{{ debate.id }}" class="venue-holder btn-holder">
            {% if debate.venue %}
            <div id="venue_{{ debate.venue.id }}" class="btn btn-block btn-default venue">
              <span class="">{{ debate.venue.name }} {% if debate.venue.time %}<em>{{ debate.venue.time|date:"d/m" }}</em>{% endif %}</span>
            </div>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>

  </div>
{% endblock content %}

{% block extra-js %}
<script type="text/javascript" language="javascript" src="{% static 'js/jquery-ui-1.10.4.custom.min.js' %}"></script>
<script type="text/javascript" charset="utf-8">
  $(document).ready( function() {

    var debates = {};
    // add ID of the debate to parent TD of venue holder
    $("#dataTable .venue-holder").each( function() {
      debates[$(this).attr("id")] = $("div.venue", this).attr("id");
    } );

    // Triggers when a draggable element is placed
    function venueMoved(venue, oldDebate, newDebate) {
      var oldId = oldDebate.attr("id");
      if (oldId != undefined && oldId != "scratch") {
        debates[oldId] = 'none';
      }
      var newId = newDebate.attr("id");
      if (newId != undefined && newId != "scratch") {
        debates[newId] = venue.attr("id");
      }
    }

    $(".venue").draggable( {
      containment: "body", // bounds that limit dragging area
      revert: 'invalid' // revert to initial position if not dropped on a droppable element
    });

    $("#scratch").droppable( {
      accept: '.venue',
      hoverClass: 'bg-success',
      drop: function(event, ui) {
        var venue = ui.draggable; // the object being dragged
        var oldHolder = venue.parent("td");
        venue.appendTo($(this))
        venue.css({left:'0px', top:'0px'}) // reset position so it sits nicely
        venueMoved(venue, oldHolder, $(this));
      }
    });

    // Droppable elements are targets for draggable elements
    $(".venue-holder").droppable( {
      accept: '.venue',
      hoverClass: 'border-success',
      drop: function(event, ui) {
        var venue = ui.draggable;
        var oldHolder = venue.parent("td");

        var replacing = $(".venue", this); // if dragged onto a prexisting spot
        var newHomeOff;
        var curOff = venue.offset();
        if (replacing.length == 0) {
        //   // dropping onto a blank venue holder, construct a hidden node
        //   // to do position calculation
          replacing = $(document.createElement("div"));
          replacing.addClass("venue");
          replacing[0].style.visibility = "hidden";
          $(this).append(replacing);
          newHomeOff = replacing.offset();
          replacing.remove();
        } else {
          newHomeOff = replacing.offset();
          venueMoved(replacing, $(this), $("#scratch"));
          $("#scratch").append(replacing);
        }

        $(this).append(venue);
        venueMoved(venue, oldHolder, $(this));

        venue.css('top', curOff.top - newHomeOff.top);
        venue.css('left', curOff.left - newHomeOff.left);
        venue.animate({'top': '0', 'left': '0'}, 300);

      }

    });


    /* sorting function for venues */  // PDB - uneeded?
    // $.fn.dataTableExt.afnSortData['venue'] = function ( oSettings, iColumn) {
    //   var aData = [];
    //   $('.venue-holder', oSettings.oApi._fnGetTrNodes(oSettings)).each( function () {
    //     var name = $('span', this).html();
    //     if (name == null) name = '';
    //     aData.push(name);
    //   });
    //   return aData;
    // };

    ///* filter function for venues */ // PDB - uneeded?
    // $.fn.dataTableExt.ofnSearch['venue'] = function ( sData ) {
    //   var jo = $(sData);
    //   var f = $('span', jo).html();

    //   return f;
    // };

    $('#save').click( function() {
      $.ajax( {
        type: "POST",
        url: "{% round_url save_venues %}",
        data: debates,
        success: function(data, status) {
          $("#alerts-holder").html('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert">&times;</button>Saved successfully!</div>');
        },
        error: function(xhr, error, ex) {
          $("#alerts-holder").html('<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert">&times;</button>Save failed!</div>');
        }
      } );
      return false;
    });

    var dTable = $("#dataTable").DataTable({
      "aaSorting": [[0, 'desc']]
    });
    $('#table-search').keyup(function(){
      dTable.search($(this).val()).draw();
    })

    // remove the table cells without venues
    $("#dataTable div.empty").each( function() {
      var holder = $(this).parent("venue-holder");
      $(this).remove();
      //addPlaceholder(holder); NOTE: there's no function for this...?
    } );

  });

</script>
{% endblock extra-js %}