{% extends "base.html" %}
{% load debate_tags %}
{% load static %}

{% block extra-head %}
    <script type="text/javascript">
        $(document).ready( function() {
            var table = $('#draw').dataTable({
                'bPaginate': false,
                "aaSorting": [[ 0, "asc" ]],
                "aoColumnDefs": [
                  { "sType": "string", aTargets: [ '_all' ] }
                ]
            });
            new $.fn.dataTable.FixedHeader( table, {alwaysCloneTop: true});
        });
    </script>
    <script type="text/javascript" language="javascript" src="{% static 'js/emoji.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/scroller.js' %}"></script>
{% endblock extra-head %}

{% block body-class %}draw-public-display{% endblock %}

{% block head-title %}
    Draw for {{ round.name }}
    {% if round.starts_at %}
        <small>debates start at {{ round.starts_at }}</small>
    {% endif %}
{% endblock %}
{% block page-title %}Draw for {{ round.name }}{% endblock %}
{% block header %}
<div class="btn-group">
    <a class="btn btn-default" href="" id="scroll_draw1">Scroll Fast</a>
    <a class="btn btn-default" href="" id="scroll_draw2">Scroll <span class="hidden-md">Medium</span></a>
    <a class="btn btn-default" href="" id="scroll_draw3">Scroll Slow</a>
</div>
{% endblock %}

{% block content %}
<table id="draw" class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>Team</th>
            <th><span class="glyphicon glyphicon-map-marker" data-toggle="tooltip" title="Venue"></span></th>
            {% if show_emoji > 0 %}
                <th class="th-emoji"><img src="{% static 'emoji/img/grey_question.png' %}" /></th>
            {% endif %}
            <th>Aff<span class="hidden-xs">irmative</span></th>
            {% if show_emoji > 0 %}
                <th class="th-emoji"><img src="{% static 'emoji/img/grey_question.png' %}" /></th>
            {% endif %}
            <th>Neg<span class="hidden-xs">ative</span></th>
            <th>Adj<span class="hidden-xs">udicator</span>s</th>
        </tr>
    </thead>
    <tbody>
    {% for debate in draw %}
        <tr class="{{ debate.all_conflicts|yesno:'conflict,' }}">
            <td>
                <span title="{{ debate.aff_team.speakers|join:', ' }}" data-toggle="tooltip">
                    {{ debate.aff_team.short_name }}
                </span>
                <span class="hidden">
                   {{ debate.aff_team.speakers|join:', ' }}
                </span>
            </td>
            <td class="venue-name">
                {{ debate.venue.name }}
            </td>
            {% if show_emoji > 0 %}
                <td class="team-emoji team-{{ debate.aff_team.id }}" id=""></td>
            {% endif %}
            <td class="team-name" id="">
                <span title="{{ debate.aff_team.speakers|join:', ' }}" data-toggle="tooltip">
                    {{ debate.aff_team.short_name }}
                </span>
            </td>
            {% if show_emoji > 0 %}
                <td class="team-emoji team-{{ debate.neg_team.id }}" id=""></td>
            {% endif %}
            <td class="team-name">
                <span title="{{ debate.neg_team.speakers|join:', ' }}" data-toggle="tooltip">
                    {{ debate.neg_team.short_name }}
                </span>
            </td>
            <td class="adj-names">
                <ul class="">
                {% for type, adj in debate.adjudicators %}
                    {% if type == 'C' and debate.adjudicators.is_panel %}
                        <li class=""><span class="adj-chair">{{ adj.name }}</span> Ⓒ</li>
                    {% elif type == 'T' %}
                        <li class=""><span class="adj-trainee">{{ adj.name }}</span> Ⓣ</li>
                    {% else %}
                        <li class=""><span class="adj-normal">{{ adj.name }}</span></li>
                    {% endif %}
                {% endfor %}
                </ul>
            </td>
    {% endfor %}
    {% for debate in draw %}
        <tr class="{{ debate.all_conflicts|yesno:'conflict,' }}">
            <td>
                <span title="{{ debate.neg_team.speakers|join:', ' }}" data-toggle="tooltip">
                    {{ debate.neg_team.short_name }}
                </span>
                <span class="hidden">
                   {{ debate.neg_team.speakers|join:', ' }}
                </span>
            </td>
            <td class="venue-name">
                {{ debate.venue.name }}
            </td>
            <td class="team-emoji team-{{ debate.aff_team.id }}" id=""></td>
            <td class="team-name">
                <span title="{{ debate.aff_team.speakers|join:', ' }}" data-toggle="tooltip">
                    {{ debate.aff_team.short_name }}
                </span>
                <span class="hidden">
                   {{ debate.aff_team.speakers|join:', ' }}
                </span>
            </td>
            <td class="team-emoji team-{{ debate.neg_team.id }}" id=""></td>
            <td class="team-name">
                <span title="{{ debate.neg_team.speakers|join:', ' }}" data-toggle="tooltip">
                    {{ debate.neg_team.short_name }}
                </span>
                <span class="hidden">
                   {{ debate.neg_team.speakers|join:', ' }}
                </span>
            </td>
            <td class="adj-names">
                <ul class="">
                {% for type, adj in debate.adjudicators %}
                    {% if type == 'C' and debate.adjudicators.is_panel %}
                        <li class=""><span class="adj-chair">{{ adj.name }}</span> Ⓒ</li>
                    {% elif type == 'T' %}
                        <li class=""><span class="adj-trainee">{{ adj.name }}</span> Ⓣ</li>
                    {% else %}
                        <li class=""><span class="adj-normal">{{ adj.name }}</span></li>
                    {% endif %}
                {% endfor %}
                </ul>
            </td>
    {% endfor %}
    </tbody>
</table>

{% endblock content %}