{% load debate_tags %}

<table id="dataTable" class="draw-with-standings table table-hover table-bordered table-striped" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            {% if enable_divisions %}
                <th><span class="glyphicon glyphicon-th-list" data-toggle="tooltip" title="" data-original-title="Division"></span></th>
            {% else %}
                <th><span class="glyphicon glyphicon-sort" data-toggle="tooltip" title="Bracket"></span></th>
            {% endif %}
            <th>Aff<span class="hidden-xs">irmative</span></th>
            <th>Neg<span class="hidden-xs">ative</span></th>
            <th><span data-toggle="tooltip" title="Wins (aff)">AW</span></th>
            <th><span data-toggle="tooltip" title="Wins (neg)">NW</span></th>
            <th><span data-toggle="tooltip" title="Subrank (rank within bracket) (aff)">ASR</span></th>
            <th><span data-toggle="tooltip" title="Subrank (rank within bracket) (neg)">NSR</span></th>
            <th><span data-toggle="tooltip" title="Total speaker score (aff)">ATS</span></th>
            <th><span data-toggle="tooltip" title="Total speaker score (neg)">NTS</span></th>
            {% if show_draw_strength %}
            <th><span data-toggle="tooltip" title="Draw strength (aff)">ADS</span></th>
            <th><span data-toggle="tooltip" title="Draw strength (neg)">NDS</span></th>
            {% endif %}
            <th><span data-toggle="tooltip" title="Debates on aff before this round (aff)">AAffs</span></th>
            <th><span data-toggle="tooltip" title="Debates on aff before this round (neg)">NAffs</span></th>
            <th>Conflicts/Flags</th>
        </tr>
    </thead>
    <tbody>
    {% for debate in draw %}
    <tr class="{{ debate.draw_conflicts|yesno:'conflict,' }} {% ifchanged debate.bracket %}first-in-bracket{% endifchanged %}">
        <td>{{ debate.bracket }}</td>
        <td{% if debate.aff_team.pullup %} class="em"{% endif %}>
            <span title="{{ debate.aff_team.speakers|join:'<br>' }}" data-toggle="tooltip">
            {{ debate.aff_team.short_name }}
            </span>
        </td>
        <td{% if debate.neg_team.pullup %} class="em"{% endif %}>
            <span title="{{ debate.neg_team.speakers|join:'<br>' }}" data-toggle="tooltip">
            {{ debate.neg_team.short_name }}
            </span>
        </td>
        <td{% if debate.aff_team.pullup %} class="em"{% endif %}>
            {{ debate.aff_team.points }}
        </td>
        <td{% if debate.neg_team.pullup %} class="em"{% endif %}>
            {{ debate.neg_team.points }}
        </td>
        <td{% if debate.aff_team.pullup %} class="em"{% endif %}>
            {{ debate.aff_team.subrank }}
        </td>
        <td{% if debate.neg_team.pullup %} class="em"{% endif %}>
            {{ debate.neg_team.subrank }}
        </td>
        <td>{{ debate.aff_team.speaker_score|stringformat:".2f" }}</td>
        <td>{{ debate.neg_team.speaker_score|stringformat:".2f" }}</td>
        {% if show_draw_strength %}
        <td>{{ debate.aff_team.draw_strength }}</td>
        <td>{{ debate.neg_team.draw_strength }}</td>
        {% endif %}
        <td>{% aff_count debate.aff_team debate.round.prev %}</td>
        <td>{% aff_count debate.neg_team debate.round.prev %}</td>
        <td>{{ debate.draw_conflicts|add:debate.flags_all|join:", " }}</td>
    </tr>
    {% endfor %}
</table>