{% load debate_tags %}


<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container-fluid">

    {% if tournament and pref.enable_divisions == 0 %}
      <div class="navbar-header">
        <span class="navbar-brand font-size-reset small font-weight-reset">
            {{ tournament }} runs on
            <a href="https://github.com/czlee/tabbycat/" target="_new">
              <i class="emoji">😸</i>Tabby Cat v0.8.0,
            </a>
            as developed by Qi-Shan,
            <a href="https://twitter.com/czlee11" target="_new">Chuan-Zheng</a>, &
            <a href="https://twitter.com/philipbelesky" target="_new">Philip</a>.
            Check out <a href="https://play.google.com/store/apps/details?id=net.czlee.debatekeeper" target="_new">
            Debatekeeper</a> (Android) & <a href="http://timekept.com" target="_new">Timekept</a> (iOS).
        </span>
      </div>
    {% endif %}

    <ul class="nav navbar-nav navbar-right font-size-reset small">
      <li>
        <a href="/">
          <i class="emoji">🏠</i>Home
        </a>
      </li>
      <li>
        <a href="http://tabbycat.readthedocs.org/" target="_blank">
          <i class="emoji">❓</i>Help
        </a>
      </li>
    </ul>

  </div><!-- /.container-fluid -->
</nav><!-- /.navbar -->
