{% extends "base.html" %}

{% block head-title %}
    {% if tournaments.count > 0 %}
    Which tournament are you after?
    {% else %}
    Sorry, there are no configured tournaments
    {% endif %}
{% endblock %}
{% block page-title %}Home{% endblock %}

{% block nav %}{% endblock %}

{% block content %}

<ul class="list-group">
    {% for tournament in tournaments %}
    <li class="list-group-item"><a href="{{ tournament.get_absolute_url }}">{{ tournament }}</a></li>
    {% endfor %}
</ul>

{% endblock content %}
