{% extends "base.html" %}
{% load debate_tags %}

{% block head-title %}
    Debates at {{ base_venue_group.short_name }}
    <small>
    {{ round.name }},
    {% if all_debates.0.venue == 0 %}
        {{ all_debates.0.venue.time|date:"D jS F" }}
    {% else %}
        {{ all_debates.1.venue.time|date:"D jS F" }}
    {% endif %}
    </small>
{% endblock %}
{% block page-title %}Debates at {{ venue_group.short_name }}{% endblock %}
{% block body-class %}master-sheet-print{% endblock %}

{% block header %}{% endblock %}

{% block content %}

{% regroup all_debates by round.tournament as tournament_debates %}

{% for debate in tournament_debates %}


    <table id="" class="table table-bordered">
        <caption><h3>{{ debate.grouper }}</h3></caption>
        <thead>
            <tr class="h5 table-division">
                <th>Div</th>
                <th>Affirmative</th>
                <th>Negative</th>
                <th>Winner of the Debate</th>
                <th>Aff Score</th>
                <th>Neg Score</th>
            </tr>
        </thead>
        <tbody>
            {% for debate in debate.list %}
                <tr class="{% ifchanged debate.division.name %}table-division-top{% endifchanged %}">
                    <td>{{ debate.division.name }}</td>
                    <td>{{ debate.aff_team.short_name }}</td>
                    <td>{{ debate.neg_team.short_name }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endfor %}


<table id="" class="table table-bordered">
    <thead>
        <tr class="h4 table-division">
            <th>Additional Comments from the Head Ajudicator</th>
        </tr>
    </thead>
    <tbody>
        <tr><td><p>&nbsp;</p></td></tr>
        <tr><td><p>&nbsp;</p></td></tr>
        <tr><td><p>&nbsp;</p></td></tr>
        <tr><td><p>&nbsp;</p></td></tr>
        <tr><td><p>&nbsp;</p></td></tr>
        <tr><td><p>&nbsp;</p></td></tr>
        <tr><td><p>&nbsp;</p></td></tr>
        <tr><td><p>&nbsp;</p></td></tr>
        <tr><td><p>&nbsp;</p></td></tr>
    </tbody>
</table>

{% endblock content %}