{% extends "draw_rbase.html" %}
{% load add_field_css %}
{% load debate_tags %}

{% block extra-head %}
    <script type="text/javascript" charset="utf-8">

        $(document).ready( function() {
            $(window).keydown( function(e){
                if(e.keyCode == 13) {
                    e.preventDefault();
                    return false;
                }
            } );
        } );

    </script>
{% endblock extra-head %}

{% block head-title %}Assign Motions for {{ round.name }}{% endblock %}
{% block page-title %}Assign Motions for {{ round.name }}{% endblock %}

{% block header %}{% endblock %}

{% block content %}

<form method="post" action="" class="form-horizontal col-md-12">

    {{ formset.management_form }}

    <div class="row">

        {% for form in formset %}
            {{ form.id }}
            <ul class="list-group col-sm-4">
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">{{ form.instance.reference }}</h4>
                    <p class="list-group-item-text">{{ form.instance.text }}</p>
                </li>
                {% if form.errors %}
                    <li class="list-group-item">
                        <div class="error">{{ form.errors }}</div>
                    </li>
                {% endif %}
                {% for d in form.divisions %}
                    <li class="list-group-item ">
                        {{ d }}
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-sm-2">
            <input class="btn btn-success form-control" type="submit" name="submit" value="Save All" />
        </div>
        <div class="col-sm-2">
            <a class="btn btn-danger form-control" href="{% round_url motions %}">Cancel</a>
        </div>
    </div>

</form>

{% endblock content %}