{% extends "draw_base.html" %}

{% load debate_tags %}

{% block extra-head %}
    <script type="text/javascript" charset="utf-8">

        $(document).ready( function() {
            var table = $("#dataTable").dataTable( {
                "aaSorting": [[0, 'desc']],
            });
            new $.fn.dataTable.FixedHeader( table );

        } );

    </script>
{% endblock extra-head %}

{% block body-class %}display-motions{% endblock %}

{% block head-title %}Motions{% endblock %}
{% block page-title %}Motions{% endblock %}

{% block header %}
<a href="{% round_url motions_edit %}" class="btn btn-default">
    Edit motions for Round {{ round }}
</a>
{% endblock %}

{% block content %}
<table id="dataTable" class="table table-hover table-bordered table-striped" cellpadding="0" cellspacing="0">
    <thead>
    <tr>
        <th>Round</th>
        <th>Motion</th>
        <th>Chosen</th>
        <th>Aff wins</th>
        <th>Neg wins</th>
        <th>Aff win%</th>
        <th>Neg win%</th>
    </tr>
    </thead>
    <tbody>
    {% for motion in motions %}
    <tr>
        <td>R{{ motion.round }}</td>
        <td>{{ motion.text }}</td>
        <td>{{ motion.chosen_in }}</td>
        <td>{{ motion.aff_wins }}</td>
        <td>{{ motion.neg_wins }}</td>
        <td>{{ motion.aff_wins_percent }}%</td>
        <td>{{ motion.neg_wins_percent }}%</td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}