{% extends "draw_base.html" %}

{% load debate_tags %}

{% block extra-head %}
    <script type="text/javascript" charset="utf-8">

        $(document).ready( function() {
            var table = $("#dataTable").dataTable( {
                "aaSorting": [[0, 'desc']],
                "sDom":
                "<'row'<'col-md-12'l>r>"+ // f = the filter
                "t"+
                "<'row'<'form'><'col-xs-6'p>>"
            });
            new $.fn.dataTable.FixedHeader( table );

        } );

    </script>
{% endblock extra-head %}

{% block body-class %}display-motions{% endblock %}

{% block head-title %}Motions{% endblock %}
{% block page-title %}Motions{% endblock %}

{% block header %}
<a href="{% round_url motions_edit %}" class="btn btn-default col-sm-offset-1">
    Edit motions for Round {{ round }}
</a>
{% endblock %}

{% block content %}

<table id="dataTable" class="table table-hover table-bordered table-striped" cellpadding="0" cellspacing="0">
    <thead>
    <tr>
        <th>Round</th>
        <th>Reference</th>
        <th>Motion</th>
        <th>Chosen in</th>
        <th>Affs won%</th>
        <th>Negs won%</th>
    </tr>
    </thead>
    <tbody>
    {% for motion in motions %}
    <tr>
        <td>{{ motion.round }}</td>
        <td>{{ motion.reference }}</td>
        <td>{{ motion.text }}</td>
        <td>{{ motion.chosen_in }}</td>
        <td>{{ motion.aff_wins_percent }}</td>
        <td>{{ motion.neg_wins_percent }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}