{% load add_field_css %}
{% load debate_tags %}

    {% if ballots.confirmed %}
        <div class="alert alert-success">This ballot set is <strong>confirmed</strong>.</div>
    {% endif %}
    {% if ballots.discarded %}
        <div class="alert alert-warning">This ballot set is <strong>discarded</strong>.</div>
    {% endif %}

    {% if ballot_is_singleton %}
    <div class="panel panel-warning">
        <div class="panel-heading">
        {% if not new %}
            <h3 class="panel-title">
            There is more than one ballot set for this debate:
            </h3>
        {% else %}
            <h3 class="panel-title">
            {% if all_ballot_sets.count > 1 %}
                There are existing ballot sets for this debate:
            {% else %}
                There is an existing ballot set for this debate:
            {% endif %}
            </h3>
        {% endif %}
        </div>
    </div>

    <ul class="panel-body list-group">
        {% for other_ballots in all_ballot_sets %}
            {% if other_ballots != ballots %}
            <a href="{% tournament_url edit_ballots other_ballots.id %}">
            {% endif %}
            <li class="list-group-item">
                {% if other_ballots == ballots %}
                    <span class="badge">CURRENT</span>
                {% endif %}
                {% if other_ballots.submitter_type == ballots.SUBMITTER_TABROOM %}
                    Version {{ other_ballots.version }}, entered by <strong>{{ other_ballots.user }}</strong>
                    at {{ other_ballots.timestamp_str }}
                {% elif other_ballots.submitter_type == ballots.SUBMITTER_PUBLIC %}
                    Version {{ other_ballots.version }}, submitted from the public form
                    at {{ other_ballots.timestamp_str }}
                {% endif %}
                {% if other_ballots.discarded %}
                    (discarded)
                {% endif %}
                {% if other_ballots.confirmed %}
                    (confirmed)
                {% endif %}
            </li>
            {% if other_ballots != ballots %}
            </a>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}