{% extends "base.html" %}
{% load debate_tags %}
{% load static %}

{% block head-title %}
  Printable Scoresheets Forms <small>(use your browser's print function to save to PDF, turn off header/footer and turn on background graphics</small>
{% endblock %}
{% block page-title %}Printable Scoresheets Forms for {{ round.name }}{% endblock %}
{% block body-class %}print-scoresheet{% endblock %}


{% block content %}

  {{ config.reply_scores_enabled }} /
  {{ config.score_max }} /
  {{ config.reply_score_max }} /

  {% for debate in draw %}

    {% for type, adj in debate.adjudicators %}
      {% if type == 'C' and debate.adjudicators.is_panel %}
        {% with source=adj source_type="trainee" %}
          {% include "print/print_score_ballot.html" %}
        {% endwith %}
      {% endif %}
      {% if type == 'P' and debate.adjudicators.is_panel %}
        {% with source=adj source_type="trainee" %}
          {% include "print/print_score_ballot.html" %}
        {% endwith %}
      {% endif %}
      {% if type == 'T' and debate.adjudicators.is_panel %}
        {% with source=adj source_type="trainee" %}
          {% include "print/print_score_ballot.html" %}
        {% endwith %}
      {% endif %}
    {% endfor %}

  {% endfor %}


{% endblock content %}