{% extends "base.html" %}
{% load debate_tags %}

{% block head-title %}Randomised URLs{% endblock %}
{% block page-title %}Randomised URLs{% endblock %}
{% block body-class %}randomised-urls{% endblock %}

{% block content %}
<p>
  {% if exists %}
    The randomised URLs for public ballot and/or feedback submission are given below.
  {% else %}
    Randomised URLs are used for public ballot and/or feedback submission. You
    should use them if you have a means of distributing crazy-looking URLs to
    participants, and are too worried about fraud to use a publicly accessible
    page where <em>anyone</em> can enter <em>any</em> submission. The URLs
    will look something like this: <b>{% tournament_absurl public_enter_feedback_team_key "9dnFlP3Z" %}</b>.
  {% endif %}
</p>
<p>
  Anyone with the URLs can access the relevant data entry page. The idea is that
  it's hard to guess another key (the random-looking string), so you should
  make each URL accessible only to the team or adjudicator in question,
  <i>e.g.</i> by e-mailing it to them. It's not a perfect security solution.
  It's meant to discourage fraud, not prevent it.
</p>

<p>
  If you're not fussed at all about security or data entry fraud, it's easier
  for everyone if you just enable the normal public ballots and feedback pages
  instead, on the <a href="{% tournament_url tournament_config %}">tournament
  configuration page</a>.
</p>

{% if exists %}
  <p>
    If you want to delete these, run this command in a shell on your server:
    <code>python manage.py randomised_urls delete {{ tournament_slug }}</code>.
  </p>

  {% if not ballot_randomised_urls_enabled and not feedback_randomised_urls_enabled %}
    <div class="alert alert-danger">
      The <strong>public ballots randomised</strong> and <strong>public feedback
      randomised</strong> configuration settings are both disabled. These URLs
      will not work unless you enable them on the
      <a href="{% tournament_url tournament_config %}">tournament
      configuration page</a>.
    </div>
  {% endif %}

  {% if ballot_normal_urls_enabled and ballot_randomised_urls_enabled %}
    <div class="alert alert-danger">
      The <strong>public ballots</strong> (non-randomised) configuration setting
      is enabled, which means that the <a href="{% tournament_url
      public_ballot_submit %}">page in the public interface from which anyone
      can enter any ballot</a>, without knowing any special URLs, is enabled.
      This defeats the purpose of the <strong>public ballots randomised</strong>
      setting. You may wish to consider disabling the non-randomised setting on
      the <a href="{% tournament_url tournament_config %}">tournament
      configuration page</a>.
    </div>
  {% endif %}

  {% if feedback_normal_urls_enabled and feedback_randomised_urls_enabled %}
    <div class="alert alert-danger">
      The <strong>public feedback</strong> (non-randomised) configuration
      setting is enabled, which means that the <a href="{% tournament_url
      public_feedback_submit %}">page in the public interface from which anyone
      can enter any feedback</a>, without knowing any special URLs, is enabled.
      This defeats the purpose of the <strong>public feedback
      randomised</strong> setting. You may wish to consider disabling the non-
      randomised settings on the <a href="{% tournament_url tournament_config
      %}">tournament configuration page</a>.
    </div>
  {% endif %}

  <table id="dataTable" class="table table-hover table-striped" cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <th>Team or Adjudicator</th>
        <th>Feedback URL</th>
        <th>Ballot URL</th>
      </tr>
    </thead>
    <tbody>
      {% for team in teams %}
      <tr>
        <td><span class="team-speakers-hover" id="team_speakers_{{ team.id }}">{{ team.short_name }}</span></td>
        <td>
          {% if team.url_key %}
            {% tournament_absurl public_enter_feedback_team_key team.url_key %}
          {% else %}
            no URL
          {% endif %}
        </td>
        <td>N/A</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="3">No teams have randomised URLs.</td>
      </tr>
      {% endfor %}
      {% for adj in adjs %}
      <tr>
        <td>{{ adj.name }}</td>
          {% if adj.url_key %}
          <td>
            {% tournament_absurl public_enter_feedback_adjudicator_key adj.url_key %}
          </td>
          <td>
            {% tournament_absurl public_new_ballotset_key adj.url_key %}
          </td>
          {% else %}
          <td>no URL</td><td>no URL</td>
          {% endif %}
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="3">No adjudicators have randomised URLs.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>
    <strong>There aren't any randomised URLs in the database.</strong>
    Would you like to generate them?
  </p>
  <p>
    <form action="{% tournament_url generate_randomised_urls %}" method="POST">
      <button class="btn btn-default" id="generateRandomisedUrls" type="submit">
        Generate randomised URLs for ballot and feedback submission
      </button>
    </form>
  </p>
  <p>
    Note: You also need to enable <b>public feedback randomised</b> and/or
    <b>public ballots randomised</b> on the <a href="{% tournament_url tournament_config %}">
    tournament configuration page</a> for this to work. (You don't need to
    enable both, just whichever ones you want to work.)
  </p>
{% endif %}
{% endblock content %}