{% extends "draw_rbase.html" %}

{% load debate_tags %}

{% block extra-head %}
    <script type="text/javascript" charset="utf-8">

        $(document).ready( function() {
            var table = $("#dataTable").dataTable();
            new $.fn.dataTable.FixedHeader( table );

        } );

    </script>
{% endblock extra-head %}

{% block head-title %}Reply Standings <small>after Round {{ round }}</small>{% endblock %}
{% block page-title %}Reply Standings after Round {{ round }}{% endblock %}

{% block content %}

<table id="dataTable" class="table table-hover table-bordered table-striped" cellspacing="0" cellpadding="0">
    <thead>
        <tr><th>Rank</th><th>Name</th><th>Team</th>
            {% for round in rounds %}
            <th>{{ round }}</th>
            {% endfor %}
            <th>Average</th>
            <th>Replies</th>
        </tr>
    </thead>
    <tbody>
    {% for speaker in speakers %}
    <tr class="{% if not speaker.results_in %}danger{% endif%}">
        <td>{{ speaker.rank }}</td>
        <td>{{ speaker.name }}</td>
        <td>{{ speaker.team.short_name }}</td>
        {% for score in speaker.scores %}
            <td>{{ score|stringformat:".2f" }}</td>
        {% endfor %}
        <td>{{ speaker.average|stringformat:".2f" }}</td>
        <td>{{ speaker.replies }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}


