{% extends "draw_rbase.html" %}
{% load debate_tags %}
{% load static %}

{% block extra-head %}
    <script type="text/javascript" charset="utf-8">

        $(document).ready( function() {
            var table = $("#dataTable").dataTable();
            new $.fn.dataTable.FixedHeader( table, {alwaysCloneTop: true});

        } );

    </script>
    <script type="text/javascript" language="javascript" src="{% static 'js/emoji.js' %}"></script>
{% endblock extra-head %}

{% block head-title %}Reply Standings <small>after {{ round.name }}</small>{% endblock %}
{% block page-title %}Reply Standings after {{ round.name }}{% endblock %}

{% block content %}

<table id="dataTable" class="table table-hover table-bordered table-striped" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            {% if for_print %}
                <th>
                    Rank
                </th>
            {% else %}
                <th>
                    <span data-toggle="tooltip" title="Ranking" class="glyphicon glyphicon-signal"></span>
                </th>
            {% endif %}
            <th>
                Name
            </th>
            {% if show_emoji > 0 and not for_print %}
                <th class="th-emoji">
                    <img src="{% static 'emoji/img/grey_question.png' %}" />
                </th>
            {% endif %}
            <th>
                Team
            </th>
            {% for round in rounds %}
            <th>
                {{ round.abbreviation }}
            </th>
            {% endfor %}
            <th>
                Av<span class="hidden-xs">erage</span>
            </th>
            <th>
                Replies
            </th>
        </tr>
    </thead>
    <tbody>
    {% for speaker in speakers %}
    <tr class="{% if not speaker.results_in %}danger{% endif%}">
        <td>
            {{ speaker.rank }}
        </td>
        <td>
            {{ speaker.name }}
        </td>
        {% if show_emoji > 0 and not for_print %}
            <td class="team-emoji team-{{ speaker.team.id }}">
            </td>
        {% endif %}
        <td title="<h5>{{ speaker.team.long_name }}</h5>{{ speaker.team.speakers|join:'<br>' }}" data-toggle="tooltip">
            {{ speaker.team.short_name }}
        </td>
        {% for score in speaker.scores %}
            <td>
                {{ score|stringformat:".2f" }}
            </td>
        {% endfor %}
        <td>
            {{ speaker.average|stringformat:".2f" }}
        </td>
        <td>
            {{ speaker.replies }}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}


