{% extends "base.html" %}
{% load debate_tags %}

{% block body-class %}{% endblock %}
{% block head-title %}Confirm Round Advance{% endblock %}
{% block page-title %}Confirm Round Advance{% endblock %}
{% block header %}{% endblock %}

{% block content %}

  {% if increment_ok %}
    <div class="alert alert-success">
      It looks like all the ballots from {{ round.name }} are confirmed, you should be good to go.
    </div>
  {% else %}
    <div class="alert alert-danger">
      There are still {{ num_unconfirmed }}
      ballots that are not confirmed. You should <strong>not</strong>
      proceed to the next round until all ballots are confirmed.
    </div>
  {% endif %}

  <form action="{% round_url round_increment %}" method="POST">
    <button class="btn {{increment_ok|yesno:"btn-success,btn-warning"}}" id="createDraw" type="submit">
      {% if increment_ok %}
        Advance to Next Round
      {% else %}
        That's fine, I want to advance to the next round anyway
      {% endif %}
    </button>
  </form>

{% endblock %}