{% extends "base.html" %}

{% load debate_tags %}


{% block body-class %}{% endblock %}

{% block head-title %}Move to Next Round{% endblock %}
{% block page-title %}Move to Next Round{% endblock %}

{% block header %}

<div class="btn-group">
    <button class="btn btn-default btn-danger"><span class="label none">{{ stats.none }} No Ballots <span class="glyphicon glyphicon-remove"></span></span></button>
    <button class="btn btn-default btn-warning"><span class="label ballotin">{{ stats.ballot_in }} Ballots in <span class="glyphicon glyphicon-inbox"></span></span></button>
    <button class="btn btn-default btn-info"><span class="label unconfirmed">{{ stats.draft }} Unconfirmed <span class="glyphicon glyphicon-adjust"></span></span></button>
    <button class="btn btn-default btn-success"><span class="label confirmed">{{ stats.confirmed }} Confirmed <span class="glyphicon glyphicon-ok"></span></span></button>
</div>

{% endblock %}

{% block content %}

{% if stats.none|add:stats.ballot_in|add:stats.draft > 0 %}
    <div class="alert alert-danger">
        There are still {{ stats.none|add:stats.ballot_in|add:stats.draft }}
        ballots that are not confirmed. You should <strong>not</strong>
        proceed to the next round until all ballots are confirmed.
    </div>
{% endif %}

Todo: check if next round exists
<form action="{% round_url increment_round %}" method="POST">

</form>


{% endblock %}