{% extends "base.html" %}

{% load debate_tags %}


{% block body-class %}{% endblock %}

{% block head-title %}Confirm Round Advance{% endblock %}
{% block page-title %}Confirm Round Advance{% endblock %}

{% block header %}

{% endblock %}

{% block content %}

{% if stats.none|add:stats.ballot_in|add:stats.draft > 0 %}
    <div class="alert alert-danger">
        There are still {{ stats.none|add:stats.ballot_in|add:stats.draft }}
        ballots that are not confirmed. You should <strong>not</strong>
        proceed to the next round until all ballots are confirmed.
    </div>
{% else %}
    <div class="alert alert-success">
        It looks like all the ballots from {{ round }} are confirmed, you should be good to go.
    </div>
{% endif %}

<form action="{% round_url round_increment %}" method="POST">
    <button class="btn btn-success" id="createDraw" type="submit">Advance to Round {{ round.seq|add:"1" }}</button>
</form>


{% endblock %}