{% extends "draw_rbase.html" %}

{% load debate_tags %}

{% block extra-head %}
    <script type="text/javascript" charset="utf-8">

        $(document).ready( function() {
            var table = $("#dataTable").dataTable();
            new $.fn.dataTable.FixedHeader( table );
        } );

    </script>
{% endblock extra-head %}

{% block head-title %}Speaker Standings <small>after Round {{ round }}</small>{% endblock %}
{% block page-title %}Speaker Standings after Round {{ round }}{% endblock %}
{% block body-class %}speaker-standings{% endblock %}

{% block content %}


<table id="dataTable" class="table table-hover table-bordered table-striped" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th><span data-toggle="tooltip" title="" class="glyphicon glyphicon-signal" data-original-title="Rank"></span></th>
            <th>Name</th>
            <th>Team</th>
            {% if show_institutions > 0 %}
                <th>Institution</th>
            {% endif %}
            {% for round in rounds %}
            <th>{{ round }}</th>
            {% endfor %}
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
    {% for speaker in speakers %}
    <tr class="
        {% if not speaker.results_in %}danger{% endif%}">
        <td>{{ speaker.rank }}</td>
        <td>{{ speaker.name }}</td>
        <td>{{ speaker.team.short_name }}</td>
        {% if show_institutions > 0 %}
            <td>{{ speaker.team.institution }}</td>
        {% endif %}
        {% for score in speaker.scores %}
        <td>{{ score|stringformat:".2f" }}</td>
        {% endfor %}
        <td>{{ speaker.total|stringformat:".2f" }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}


