{% extends "base_availability.html" %}
{% load debate_tags %}

{% block update-url %}{% round_url update_team_availability %}{% endblock %}
{% block draw-url %}{% round_url draw round %}{% endblock %}
{% block page-title %}Team Availability for {{ round.name }}{% endblock %}
{% block head-title %}Team Availability <small>for {{ round.name }}</small>{% endblock %}
{% block table-contents %}
    <thead>
        <tr>
            <th>Team</th>
            {% if enable_divisions %}
                <th><span class="glyphicon glyphicon-th-list" data-toggle="tooltip" title="" data-original-title="Division"></span></th>
            {% endif %}
            {% if show_institutions > 0 %}
                <th>Institution</th>
            {% endif %}
            <th>Active</th>
        </tr>
    </thead>
    <tbody>
        {% for team in teams %}
        <tr>
            <td>
               <span title="<h5>{{ team.long_name }}</h5>{% if show_speakers_in_draw %}{{ team.speakers|join:'<br>' }}{% endif %}" data-toggle="tooltip">
                   {{ team.long_name }}
               </span>
               {% if show_speakers_in_draw %}
               <span class="hidden">
                   {{ team.speakers|join:', ' }}
               </span>
               {% endif %}
            </td>
            {% if enable_divisions %}
                <td>{{ team.division.name }}</td>
            {% endif %}
            {% if show_institutions > 0 %}
                <td>{{ team.institution.code }}</td>
            {% endif %}
            <td class="check_target">
                <input type="checkbox" {{ team.is_active|yesno:'checked="yes",'  }} name="check_{{ team.id }}" value="{{ team.id }}" />
            </td>
        </tr>
        {% endfor %}
    </tbody>
{% endblock table-contents %}
