{% extends "draw_rbase.html" %}
{% load static %}
{% load debate_tags %}

{% block head-title %}Team Standings <small>after {{ round.name }}</small>{% endblock %}
{% block page-title %}Team Standings after {{ round.name }}{% endblock %}
{% block page-header %}{% include "table_search.html" %}{% endblock %}
{% block body-class %}team-standings{% endblock %}

{% block content %}
  <table id="dataTable" class="team-tab table table-hover table-striped" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th class="hidden"></th>
        {% if for_print %}
          <th class="rank">Rank</th>
        {% else %}
          <th><span data-toggle="tooltip" title="Ranking" class="glyphicon glyphicon-signal"></span></th>
        {% endif %}
        {% if show_team_points %}
          <th>Points</th>
        {% endif %}
        {% if show_avg_margin %}
          <th><span data-toggle="tooltip" title="Average Winning Margin">AWM</span></th>
        {% endif %}
        {% if enable_divisions %}
          <th><span class="glyphicon glyphicon-th-list" data-toggle="tooltip" title="" data-original-title="Division"></span></th>
        {% endif %}
        {% if show_emoji > 0 and not for_print %}
          <th class="team-emoji"></th>
        {% endif %}
        <th>Team</th>
        {% if show_institutions > 0 %}
          <th>Inst<span class="hidden-xs">itution</span></th>
        {% endif %}
        <th>Wins</th>
        <th>Affs</th>
        {% for round in rounds %}
          <th>{{ round.abbreviation }}</th>
          <th>{{ round.abbreviation }}</th>
        {% endfor %}
          <th>Total</th>
        {% if show_draw_strength %}
          <th><span data-toggle="tooltip" title="Draw strength">DS</span></th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
    {% for team in teams %}
      {% with teams|next_value:forloop.counter0 as next_value %}
      {% with teams|prev_value:forloop.counter0 as prev_value %}
      <tr class="{% if not team.results_in %}danger{% endif %}">
        <td class="hidden">
          {% if team.rank != 0 %}
            {{ team.rank }}
          {% else %}
            <span class="hidden">999</span>
          {% endif %}
        </td>
        <td class="rank">
          <strong>
            {% if team.rank != 0 %}
              {{ team.rank }}{% if next_value.rank == team.rank or prev_value.rank == team.rank %}<span class="text-muted">=</span>{% endif %}
            {% endif %}
          </strong>
        </td>
        {% if show_team_points %}
          <td>{{ team.points }}</td>
        {% endif %}
        {% if show_avg_margin %}
          <td>{{ team.avg_margin|stringformat:".2f" }}</td>
        {% endif %}
        {% if enable_divisions %}
          <td>{{ team.division.name }}</td>
        {% endif %}
        {% if show_emoji > 0 and not for_print %}
          <td class="team-emoji">{% team_emoji team %}</td>
        {% endif %}
        <td>
          <span title="<h5>{{ team.long_name }}</h5>{% if show_speakers_in_draw %}{{ team.speakers|join:"<br>" }}{% endif %}" data-toggle="tooltip" id="team_{{ team.id }}" class="team" href="#">
            {{ team.short_name }}
            {% if team.type == 'E' %}
              <span class="esl">(esl)</span>
            {% endif %}
          </span>
        </td>
        {% if show_institutions > 0 %}
          <td>
            <span class="hidden-xs">{{ team.institution }}</span>
            <span class="visible-xs">{{ team.institution.code }}</span>
          </td>
        {% endif %}
        <td>{{ team.wins }}</td>
        <td>{% aff_count team round %}</td>
        {% for round_results in team.round_results %}
          {% if round_results.win >= 0 %}
            {% if for_print %}
              <td>{{ round_results.win|yesno:"win,loss" }}</td>
            {% else %}
              <td>
                {% if round_results.score == 0 %}
                  {% with status=round_results.win|yesno:"Won (via forfeit),Forfeitted" icon=round_results.win|yesno:"glyphicon-share-alt text-success,glyphicon-eye-close text-danger" %}
                  <span title="{{ status }} against {{ round_results.opposition.short_name }} ({% if show_speakers_in_draw %}{{ team.speakers|join:"<br>" }}{% endif %})" data-toggle="tooltip">
                    <span class="glyphicon {{ icon }}"></span>
                  {% endwith %}
                {% else %}
                  {% with status=round_results.win|yesno:"Won,Lost" icon=round_results.win|yesno:"glyphicon-arrow-up text-success,glyphicon-arrow-down text-danger" %}
                  <span title="{{ status }} against {{ round_results.opposition.short_name }} ({% if show_speakers_in_draw %}{{ team.speakers|join:"<br>" }}{% endif %})" data-toggle="tooltip">
                    <span class="glyphicon {{ icon }}"></span>
                  {% endwith %}
                {% endif %}
                    vs
                    {% if show_emoji > 0 %}
                      <span>{% team_emoji round_results.opposition %}</span>
                    {% else %}
                      {{ round_results.opposition.short_reference|slice:"5"}}&hellip;
                    {% endif %}
                  </span>
              </td>
            {% endif %}
          {% else %}
            <td></td>
          {% endif %}
          {% if round_results.win >= 0 %}
            {% if show_ballots and round_results.oppositon %}
              <td>
                <a class="team-score" href="{% tournament_url public_ballots_view round_results.opposition %}">
                  {{ round_results.get_score|stringformat:".2f" }}
                </a>
              </td>
            {% else %}
              <td>{{ round_results.get_score|stringformat:".2f" }}</td>
            {% endif %}
          {% else %}
            <td></td>
          {% endif %}
        {% endfor %}
        <td>
          {{ team.speaker_score|stringformat:".2f" }}
        </td>
        {% if show_draw_strength %}
          <td>{{ team.draw_strength }}</td>
        {% endif %}
      </tr>
      {% endwith %}
      {% endwith %}
    {% endfor %}
    </tbody>
  </table>
{% endblock content %}

{% block extra-js %}
  {{ block.super }}
   <script type="text/javascript" charset="utf-8">
    $(document).ready( function() {
      var dTable = $("#dataTable").DataTable({
        {% if enable_divisions %}
          "aaSorting": [[ 1, "asc" ], [ 2, "asc" ]],
        {% else %}
          "aaSorting": [[ 1, "asc" ]],
        {% endif %}
        "aoColumnDefs": [
          {"iDataSort": 0, "aTargets": [1] }, //sort based on a hidden column when another column is clicked
          { "bVisible": false, "aTargets": [0] }, //set column visibility
        ]
      });
      new $.fn.dataTable.FixedHeader( dTable, {alwaysCloneTop: true});
      $('#table-search').keyup(function(){
        dTable.search($(this).val()).draw();
      })
    } );
  </script>
{% endblock extra-js %}