{% extends "base.html" %}

{% block head-title %}Dashboard <small>Round {{ round }} is
    {% if round.draw_status == 0 %}None
    {% elif round.draw_status == 1 %}Draft
    {% elif round.draw_status == 10 %}Confirmed
    {% elif round.draw_status == 99 %}Released
</small>{% endif %}

{% endblock %}
{% block page-title %}Dashboard{% endblock %}
{% block body-class %}dash{% endblock %}
{% block extra-head %}
<script type="text/javascript" charset="utf-8">
    function reload() {
        location.reload();
    }
    setTimeout('reload()', 10000);
</script>
{% endblock %}
{% block header %}{% endblock %}

{% block content %}

<div class="col-sm-3">
    <h4>{{ stats.pc }}% of Ballots are In</h4>
    <img class="img-responsive" src="http://chart.apis.google.com/chart?cht=p&chs=500x500&chd=t:{{ stats.none }},{{ stats.draft }}{{ stats.confirmed }}&chco=d9534f,f0ad4e,5cb85c" />
    {{ stats.none }}
    {{ stats.draft }}
    {{ stats.confirmed }}

</div>
<div class="col-sm-3 col-sm-offset-1">
    <h4>Average Speaks</h4>
</div>
<div class="col-sm-3 col-sm-offset-1">
    <h4>Motion Selections</h4>
</div>


{% endblock content %}