{% extends "base.html" %}

{% load add_field_css %}

{% block head-title %}Configuration{% endblock %}
{% block page-title %}Configuration{% endblock %}
{% block body-class %}config{% endblock %}

{% block header %}

{% if updated %}
<div class="alert alert-success updated alert-dismissable" id="savedVenues">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    Saved succesfully!
</div>
{% endif %}

{% if form.errors %}
    <div class="alert alert-danger alert-dismissable" id="savedVenues">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Please correct the errors below {{ form.errors }}
    </div>
{% endif %}

{% endblock %}

{% block content %}

<form id="configForm" action="." method="POST" class="form-horizontal">
    {% for field in form %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}" class="col-sm-3 control-label">{{ field.label }}</label>
        <div class="col-sm-2">
            {{field|addcss:"form-control"}}
        </div>
        <div class="col-sm-5">
            <span class="help-block">({{ field.help_text }})</span>
        </div>
        {% if field.errors %}
            {{ field.errors }}
        {% endif %}
    </div>
    {% endfor %}
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-10">
            <button type="submit" class="btn btn-success ">Save</button>
        </div>
    </div>
</form>

{% endblock content %}
