{% extends "base_availability.html" %}

{% load debate_tags %}
{% block update-url %}{% round_url update_venue_availability %}{% endblock %}

{% block head-title %}Venue Availability <small>for {{ round.name }}</small>{% endblock %}
{% block page-title %}Venue Availability for {{ round.name }}{% endblock %}

{% block table-contents %}
    <thead>
        <tr>
            <th>Name</th>
            <th>Priority</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody>
        {% for venue in venues %}
        <tr>
            <td>{{ venue.name }}</td>
            <td>{{ venue.priority }}</td>
            <td><input type="checkbox" {{ venue.is_active|yesno:'checked="yes",'  }} name="check_{{ venue.id }}"  value="{{ venue.id }}" /></td>
        </tr>
        {% endfor %}
    </tbody>

{% endblock table-contents %}