// Note these take precedences over bootstrap as they are not set as default
// Custom Typography
$font-family-sans-serif: "LatoLatinWeb", Helvetica, Arial, sans-serif;
$headings-font-family: Helvetica, Arial, sans-serif;
$headings-font-weight: bold;
// Custom Colors
$brand-primary: #3498DB;
$brand-success: #43ca75;
$brand-info: #3b9ad8;
$brand-warning: #f0c230;
$brand-danger: #e34e42;
// Layout Colors
$table-bg-hover: $brand-primary;
$sidebar-bg: #30404f;
$sidebar-bg-highlight: darken($sidebar-bg, 3);
$sidebar-muted-text: #ADB6BF;
// Override Path
$icon-font-path: 'static(/fonts/vendor/bootstrap/)';
// Layout
$sidebar-width: 155px;
$adj-button-width: 180px;
