
.position-display { // For feedback graph
  color: #fff;
  &.chair {
    background-color: #b10095; // Purpleish
    fill: #b10095;
  }
  &.panellist {
    background-color: $male;
    fill: $male;
  }
  &.trainee {
    background-color: $female;
    fill: $female;
  }
  &.test {
    background-color: $unknown;
    fill: $unknown;
  }
}
// For diversity graphs and allocation
.gender-display {
  color: #fff;
  &.male {
    background-color: $male;
    fill: $male;
  }
  &.female, &.nm {
    background-color: $female;
    fill: $female;
  }
  &.other {
    background-color: $other;
    fill: $other;
  }
  &.unknown {
    background-color: $unknown;
    fill: $unknown;
  }
}
.gender-text {
  &.male {
    color: $male;
  }
  &.female, &.nm {
    color: $female;
  }
  &.other {
    color: $other;
  }
  &.unknown {
    color: $unknown;
  }
}
// For diversity graphs and allocation
.region-display {
  color: #fff;
  span a {
    color: #fff;
  }
  &.region-1 {
    background-color: #C70062;
    fill: #C70062;
  }
  &.region-2 {
    background-color: #00C79B;
    fill: #00C79B;
  }
  &.region-3 {
    background-color: #B1E001;
    fill: #B1E001;
  }
  &.region-4 {
    background-color: #476C5E;
    fill: #476C5E;
  }
  &.region-5 {
    background-color: #FF2983;
    fill: #FF2983;
  }
  &.region-6 {
    background-color: #6A268C;
    fill: #6A268C;
  }
  &.region-7 {
    background-color: #00C0CF;
    fill: #00C0CF;
  }
  &.region-8 {
    background-color: #0051CF;
    fill: #0051CF;
  }
  &.region-9 {
    background-color: #777;
    fill: #777;
  }
}
