//------------------------------------------------------------------------------
// Flexbox Utility Classes
//------------------------------------------------------------------------------

.flex-horizontal {
  display: flex;
  flex-direction: row;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.flex-vertical-center {
  align-items: center;
  display: flex;
}

.flex-horizontal-center {
  justify-content: center;
  display: flex;
}

.flex-inline {
  display: inline-flex;
}

.flex-justify {
  justify-content: space-between;
}

.flex-stretch {
  align-items: stretch;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 4;
}

.flex-6 {
  flex: 6;
}

.flex-8 {
  flex: 8;
}

.flex-12 {
  flex: 12;
}

.flex-24 {
  flex: 24;
}

.flex-36 {
  flex: 36;
}