//------------------------------------------------------------------------------
// Flexbox Utility Classes
//------------------------------------------------------------------------------

.flex-horizontal {
  display: flex;
  flex-direction: row;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.flex-vertical-center {
  align-items: center;
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-6 {
  flex: 6;
}
