//------------------------------------------------------------------------------
// Footer Layout Changes
//------------------------------------------------------------------------------

// As per http://v4-alpha.getbootstrap.com/examples/sticky-footer-navbar/

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: $footer-height;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;

  a {
    border-bottom: 1px solid $gray-600;
    color: theme-color("dark");
  }

  .nav a.nav-link {
    display: inline-block; // Need to move up inline with icons
    padding-left: 0;
    padding-right: 0;
    margin-right: 20px;
  }

}

//------------------------------------------------------------------------------
// Responsive tweaks
//------------------------------------------------------------------------------

@include media-breakpoint-up(xs) {
  // Applies just to phones
  .footer {
    height: $footer-height * 0.9;
  }
}

@include media-breakpoint-up(sm) {
  // Applies just to tablets
  .footer {
    height: $footer-height * 0.95;
  }
}

@include media-breakpoint-up(lg) {
  // Applies just to laptops/desktops
  .footer {
    height: $footer-height;
  }
}

// For Desktops
@media (min-width: breakpoint-min(sm, $grid-breakpoints)) {

  .footer a.nav-link {
    padding: 0; // Override bootstrap defaults for spacing
  }
}

// For Phones
@media (max-width: breakpoint-min(sm, $grid-breakpoints)) {

  .footer .nav-item {
    margin-left: 15px; // Override bootstrap defaults for spacing

    a.nav-link {
      padding-left: 0;
    }
  }
}
