//------------------------------------------------------------------------------
// Footer Layout Changes
//------------------------------------------------------------------------------

.tabbycat-footer {

  .navbar {
    padding-top: 10px;
    margin-bottom: 0;
  }

  a, a.nav-link {
    color: $text-primary;
    opacity: 1;
    border-bottom: 1px solid #CCC;

    &:hover {
      color: $navbar-default-link-hover-color;
      text-decoration: none;
    }
  }
  a.nav-link {
    line-height: 16px;
    margin: 5px 20px 20px 0;
  }
}

//------------------------------------------------------------------------------
// Responsive Considerations
//------------------------------------------------------------------------------

// For Desktops
@media (min-width: $screen-sm-min) {
  .tabbycat-footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    a.nav-link {
      padding: 0; // Override bootstrap defaults for spacing
    }
  }
  .accommodate-footer {
    min-height: 100vh; // Push the footer down
    padding-bottom: 160px; // Leave room for the footer
  }
}

// For Phones
@media (max-width: $screen-sm-min) {
  .tabbycat-footer {
    position: relative;
    margin-top: 20px;
  }
}
