//------------------------------------------------------------------------------
// Emoji
//------------------------------------------------------------------------------

// Special font for colorfull windows emoji; system for others
.emoji {
  font-family: "Segoe UI Emoji", sans-serif;
  font-style: normal;
  font-weight: normal;
}

span.emoji {
  // Allows us to use <i> and other elements where layout requirements are loose
  display: inline-block;
  margin-right: 1px;
  min-width: 14px;
}

.small .emoji {
  min-width: 13px;
}

//------------------------------------------------------------------------------
// Icon Styles
//------------------------------------------------------------------------------

// Fixing old
.glyphicon {
  height: 12px;
  width: 12px;
  background: red;
}

.feather {
  height: 12px;
  width: 12px;
}

// Icons should have brighter colors (using text-success is too dull)
.feather {

  &.text-success {
    color: $brand-success;
  }

  &.text-danger {
    color: $brand-danger;
  }

  &.text-warning {
    color: $brand-warning;
  }

  &.text-info {
    color: $brand-info;
  }

  &.text-primary {
    color: $brand-primary;
  }
}
