//------------------------------------------------------------------------------
// Hover Items
//------------------------------------------------------------------------------

[data-toggle='tooltip'], [data-toggle="popover"] {
  &:hover {
    cursor: help; // for tooltips
    span {
      border-color: $brand-primary;
    }
  }
  span {
    border-bottom: 2px dotted #ccc;
  }
}

.popover {
  max-width: 350px;
}
.popover-content {
  // For popovers we use list-groups which need to remove the original padding
  padding: 0px;
  .list-group-item:first-child {
    border-top: 0;
  }
  .list-group-item {
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
  }
}
// Sometimes we need an anchor that covers the entire div so that the popovers
// target/origin doesn't shift as it gets picked up by sub elements
.popover-parent {
  position: relative; // Contain the popover's absolute position
}
.popover-anchor {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

// For Division Drag and Drops
.slideover-info {
  width: auto;
  position: fixed;
  height: auto;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 1040;
  .list-group-item {
    border-radius: 0px;
    background: rgba(255,255,255,0.95);
  }
  .list-group-item:last-child {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.05);
  }
}
.slideover-top {
  bottom: auto;
  top: 0px;
}

// For motions page; probably feedback also
.modal-xl {
  width: 95%;
  height: 92%;
  .modal-content {
    height: 100%;
    padding: 40px;
  }
}

//------------------------------------------------------------------------------
// Animated Items
//------------------------------------------------------------------------------

.glyphicon.spinning {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}
@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}
@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

// Used in the divisions allocations page for the slide-in-bottom element
.expand-transition {
  transition: all .3s ease;
  height: default;
}
.expand-enter, .expand-leave {
  height: 0;
  opacity: 0;
}
