//------------------------------------------------------------------------------
// Hover Items
//------------------------------------------------------------------------------

[data-toggle='tooltip'],
[data-toggle="popover"] {
  &:hover {
    cursor: help; // for tooltips
    span {
      border-color: $brand-primary;
    }
  }

  span {
    border-bottom: 2px dotted #ccc;
  }
}

.popover {
  max-width: 350px;
}

.popover-content {
  // For popovers we use list-groups which need to remove the original padding
  padding: 0;

  .list-group-item:first-child {
    border-top: 0;
  }

  .list-group-item {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
  }
}

// Sometimes we need an anchor that covers the entire div so that the popovers
// target/origin doesn't shift as it gets picked up by sub elements
.popover-parent {
  position: relative; // Contain the popover's absolute position
}

.popover-anchor {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

//------------------------------------------------------------------------------
// For Division Drag and Drops
//------------------------------------------------------------------------------

.slideover-info {
  bottom: 0;
  height: auto;
  left: 0;
  position: fixed;
  right: 0;
  width: auto;
  z-index: $z_2;

  .list-group {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 0; // override default
  }

  .list-group-item:last-child {
    border-radius: 0;
  }
}

.slideover-top {
  bottom: auto;
  top: 0;
  z-index: $z_2;
}

//------------------------------------------------------------------------------
// Modals
//------------------------------------------------------------------------------

.modal {
  z-index: $z_1;
}

.modal-xl { // For motions page; probably feedback also (want super big modals)
  height: 92%;
  width: 95%;

  .modal-content {
    height: 100%;
    padding: 10px 30px;
  }
}

//------------------------------------------------------------------------------
// Animated Items
//------------------------------------------------------------------------------

.glyphicon.spinning {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

// Used in the divisions allocations page for the slide-in-bottom element
.expand-transition {
  height: default;
  transition: all .3s ease;
}

.expand-enter,
.expand-leave {
  height: 0;
  opacity: 0;
  display: none;
}
