//------------------------------------------------------------------------------
// General Utilities
//------------------------------------------------------------------------------

.no-top-margin {
  margin-top: 0;
}

.no-bottom-padding {
  padding-bottom: 0; // Mostly for card-body elements
}

.no-bottom-margin {
  margin-bottom: 0; // Used by infographics
}

.no-side-padding {
  padding-left: 0;
  padding-right: 0;
}

#messages-container .alert:last-child {
  @extend .mb-4;
}

//------------------------------------------------------------------------------
// Lists
//------------------------------------------------------------------------------

// Prominent call to actions to do stuff
.list-group-call {

  @extend .bg-success;
  @extend .text-white;
  @extend .strong;

  .feather {
    margin-right: 0px;
  }
}

// Override some boostrap color defaults and automatically add color variations
@each $color, $value in $theme-colors {
  .alert-#{$color},
  .text-#{$color} {
    a {
      @include alert-variant(theme-color-level($color, -10), theme-color-level($color, -9), theme-color-level($color, 6));
      text-decoration: underline;
      background: none;
      font-weight: bold;
    }
  }
}

//------------------------------------------------------------------------------
// Page Sub Navs
//------------------------------------------------------------------------------

.page-navs .btn {
  @extend .mb-4; // Need to do here so they don't blow out on button-less pages
}