//------------------------------------------------------------------------------
// General Utilities
//------------------------------------------------------------------------------

.vertical-spacing {
  margin-bottom: $line-height-computed;
}
.no-bottom-padding {
  padding-bottom: 0px; // Mostly for panel-body elements
}
.no-bottom-margin {
  margin-bottom: 0px; // Used by infographics
}
.no-side-padding {
  padding-left: 0px;
  padding-right: 0px;
}
.no-top-padding {
  margin-top: 0px;
}

//------------------------------------------------------------------------------
// Headers
//------------------------------------------------------------------------------

.head-title {
  padding: 0 0 16px 5px;
  small {
    line-height: $font-size-h3 * $headings-line-height * 1.2;
  }
}
// For the admin area
.white-bg {
  background: #fff;
}

//------------------------------------------------------------------------------
// Page Sub Navs
//------------------------------------------------------------------------------

.page-sub-nav {
  .navbar-left .btn, .navbar-left .input-group {
    margin-bottom: $line-height-computed;
  }
  .navbar-right {
    padding-right: 15px; // compensate for the pull-rights negative margin
  }
  .btn-group-input {
    // For the quick search; needs to fit within the row
    display: inline-block;
    max-width: 148px;
    float: right; // Needed to fix spacing
    margin-left: 3px; // Isn't receiving the left margin
    .form-control {
      height: 41px;
      border-width: 1px;
    }
  }
  .dropdown, form {
    display: inline-block; // Need this to bring their alignment up
  }
}

