//------------------------------------------------------------------------------
// General Utilities
//------------------------------------------------------------------------------

.no-top-margin {
  margin-top: 0;
}

.no-bottom-padding {
  padding-bottom: 0; // Mostly for card-body elements
}

.no-bottom-margin {
  margin-bottom: 0; // Used by infographics
}

.no-side-padding {
  padding-left: 0;
  padding-right: 0;
}

// Prominent call to actions to do stuff
.list-group-call {
  @extend .bg-success;
  @extend .text-white;
  @extend .strong
}

// Chevrons used to indicate advance staes
.advance {
  float: right;
  margin-top: 3px;
}

//------------------------------------------------------------------------------
// Page Sub Navs
//------------------------------------------------------------------------------

.page-sub-nav {

  .btn,
  .input-group {
    margin-bottom: $line-height-base;
  }

  .navbar-right {
    padding-right: 15px; // compensate for the pull-rights negative margin
  }

  .dropdown,
  form {
    display: inline-block; // Need this to bring their alignment up
  }
}

