//------------------------------------------------------------------------------
// Admin Sidebar Customisation
//------------------------------------------------------------------------------

// Used to take the full height appearnce
.fake-sidebar {
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;

  .list-group-item {
    width: 100%;
    background: $sidebar-bg;
    height: 100%;
    z-index: 0;
    border-radius: 0;
  }
}

#sidebar .list-group-item {
  background: $sidebar-bg;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  color: $sidebar-muted-text;

  &.active, &[aria-expanded="true"] {
    background: darken($sidebar-bg, 5%);
    border-color: darken($sidebar-bg, 10%);
    color: #fff;
  }

  &[aria-expanded="true"] .feather-chevron-down {
    display: none !important; // Need to override d-none for mobile
  }
  &[aria-expanded="false"] .feather-chevron-up {
    display: none !important; // Need to override d-none for mobile
  }
}

// Sub menu items
#sidebar .collapse .list-group-item,
#sidebar .collapsing .list-group-item {
  background: darken($sidebar-bg, 5%);
  border: none;
  @extend .small;
  .feather {
    margin-right: 0.4rem;
  }
}

#sidebar .list-group-item.tournament-title {
  text-transform: uppercase;
  float: left;
}

.sidebar-expand {
  float: right;
  display: inline;
}

//------------------------------------------------------------------------------
// From https://www.codeply.com/go/GQ1Mz8RqZB
//------------------------------------------------------------------------------

#sidebar .list-group-item {
  white-space: nowrap;
}

//------------------------------------------------------------------------------
// Responsive tweaks
//------------------------------------------------------------------------------

@include media-breakpoint-up(xs) {
  // Applies just to phones

  #sidebar .list-group-item {
    font-size: 12px;
    padding: 0.75rem 0.5rem;
  }
}

@include media-breakpoint-up(sm) {

  // Applies just to tablets
  #sidebar .list-group-item {
    font-size: 12px;
    padding: 0.5rem 0.75rem;

    .feather {
      width: 12px;
      height: 12px;
      margin-right: 4px;
    }
    .feather-chevron-down,
    .feather-chevron-up {
      margin-top: 2px;
      margin-right: 0px;
    }
  }

  #sidebar .collapse .list-group-item,
  #sidebar .collapsing .list-group-item  {
    font-size: 10px;
  }
}

@include media-breakpoint-up(lg) {

  // Applies just to screens
  #sidebar .list-group-item {
    font-size: $font-size-sm;
    padding: 0.5rem 1rem;

    .feather {
      width: 14px;
      height: 14px;
      margin-right: 8px;
    }
    .feather-chevron-down,
    .feather-chevron-up {
      margin-top: 2px;
      margin-right: 0px;
    }
  }

  #sidebar .collapse .list-group-item,
  #sidebar .collapsing .list-group-item {
    font-size: 12px;

    .feather {
      margin-right: 12px; // Align sub text with main text
    }
  }
}

@include media-breakpoint-down(sm) {

  /* overlay sub levels on small screens */
  #sidebar .list-group .collapse.in,
  #sidebar .list-group .collapse.show {
    z-index: 1;
    width: 190px;
    background: red;
    text-align: left;

    .feather {
      margin-right: 12px;
    }
  }

}

/* change transition animation to width when entire sidebar is toggled */
#sidebar.collapse {
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

#sidebar.collapsing {
  opacity: 0.8;
  width: 0;
  -webkit-transition-timing-function: ease-in;
       -o-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition-property: width;
       -o-transition-property: width;
          transition-property: width;
}