//------------------------------------------------------------------------------
// Overall Layout
//------------------------------------------------------------------------------

.panel-body .table {
  margin-bottom: 0; // Panel body has its own bottom padding
  > tr:nth-of-type(odd) {
    background-color: $table-bg-accent; // Force .table-striped style
  }
  > tbody > tr:hover td {
    background-color: $table-bg-hover;
  }
  > tbody > tr.clickable:hover {
    cursor: pointer;
  }
}

thead {
  background: #fff; // Fixed header needs a background while scrolling
  text-transform: uppercase;
  font-size: $font-size-h6;
  line-height: 18px; // Otherwise the border is too clone to the text
  .glyphicon {
    line-height: 18px; // Otherwise the border is too clone to the text
  }
}

.dataTables_filter {
  display: none; // Hide the default search box
}

//------------------------------------------------------------------------------
// Sorting
//------------------------------------------------------------------------------

.table > thead > tr > th {

  &.sorting,
  &.sorting_asc,
  &.sorting_desc,
  &.sorting_asc_disabled,
  &.sorting_desc_disabled {
    cursor: pointer;
    padding-right: 22px; // Leave space for the icon
    position: relative;
  }
}

.sorting {
  &::after {
    content: '\e150';
  }

  &:hover {
    color: $brand-success;
  }
}

.vue-sortable {
  &:hover {
    color: $brand-success;
    cursor: pointer;
  }
}

.sorting_asc,
.sorting_desc,
.vue-sort-active {
  color: $brand-success;
}

.sorting_asc {
  &::after {
    content: '\e155';
  }
}

.sorting_desc {
  &::after {
    content: '\e156';
  }
}

table thead .sorting:after,
table thead .sorting_asc:after,
table thead .sorting_desc:after,
table thead .sorting_asc_disabled:after,
table thead .sorting_desc_disabled:after {
  bottom: 8px;
  display: block;
  font-family: 'Glyphicons Halflings';
  position: absolute;
  right: 8px;
}

//------------------------------------------------------------------------------
// CELL STYLES
//------------------------------------------------------------------------------

.table > tbody > tr > th,
.table > tbody > tr > td {
  border-left: 0;
  border-right: 0;
}

//------------------------------------------------------------------------------
// SPECIFIC DECORATORS
//------------------------------------------------------------------------------

.draw-with-standings .em {
  font-weight: bold;
  color: chocolate;
  font-style: normal;
}

.draw-with-standings .first-in-bracket {
  border-top: 3px solid chocolate;
}

.no-overflow {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
