//------------------------------------------------------------------------------
// Overall Layout
//------------------------------------------------------------------------------

.panel-body .table {
  margin-bottom: 0; // Panel body has its own bottom padding
  > tbody > tr:hover td {
    background-color: $table-bg-hover;
    .hide-underline {
      border-bottom-color: $table-bg-hover;
    }
  }
}

//------------------------------------------------------------------------------
// HEADER STYLES
//------------------------------------------------------------------------------

thead {
  background: #fff; // Fixed header needs a background while scrolling
  text-transform: uppercase;
  font-size: $font-size-h6;
  line-height: 18px; // Otherwise the border is too clone to the text
  .glyphicon {
    line-height: 18px; // Otherwise the border is too clone to the text
  }
}

.vue-sortable {
  &:hover, &:hover .glyphicon {
    color: $brand-success;
    cursor: pointer;
  }
}

//------------------------------------------------------------------------------
// CELL STYLES
//------------------------------------------------------------------------------

.table > tbody > tr > th,
.table > tbody > tr > td {
  &.unpadded-cell {
    padding: 0px;
  }
  &.double-height {
    line-height: 40px;
  }
  // For highlighting bracket boundaries
  &.highlight-row {
    border-top: 3px solid $brand-info;
  }
}
