//------------------------------------------------------------------------------
// Web Fonts
//------------------------------------------------------------------------------

// Primary Typeface
@font-face {
  font-family: 'Interface-Regular';
  src: url('/static/fonts/Interface-Regular.woff2') format('woff2'), url('/static/fonts/Interface-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

h6, .h6 {
  font-size: $small-font-size;
  text-transform: uppercase;
}

//------------------------------------------------------------------------------
// Text Utilities
//------------------------------------------------------------------------------

// Override option for headings
.text-body {
  font-family: $font-family-sans-serif;
}

// Mostly for hiding it in extra lines on table cells
.hide-underline {
  border-bottom: 2px solid #fff;
}

.subtitle {
  text-transform: uppercase;
  font-size: $h6-font-size;
  font-weight: normal;
}

.strong {
  font-weight: bold;
}

// Otherwise alert links are too dull
.alert-link {
  text-decoration: underline;
}
