.db-align-vertical-center {
  display: flex;
  align-items: center;
}

.db-align-vertical-start {
  display: flex;
  align-items: flex-start;
}

.db-align-vertical-end {
  display: flex;
  align-items: flex-end;
}

.db-align-horizontal-end {
  display: flex;
  justify-content: flex-end;
}

.db-align-horizontal-center {
  display: flex;
  justify-content: center;
}

.db-flex-column {
  display: flex;
  flex-direction: column;
}

.db-flex-row {
  display: flex;
  flex-direction: row;
}
