{% extends "tables/base_vue_table.html" %}
{% load debate_tags i18n %}

{% block page-subnav-sections %}
  <div class="btn-group flex-wrap">
    <a class="btn btn-outline-primary" href="{% tournamenturl 'notifications-status' %}">
      {% trans "Email Statuses" %}
    </a>
  </div>
{% endblock %}

{% block page-subnav-actions %}
  <div class="btn-group flex-wrap">
    <a class="btn btn-outline-success" href="{% url 'notifications-test-email' %}">
      {% trans "Send Test Email" %}
    </a>
    <a class="btn btn-outline-success" href="{% tournamenturl 'notifications-email' %}">
      {% trans "Send Custom Email" %}
    </a>
  </div>
{% endblock %}
