{% load debate_tags i18n %}

<div class="btn-group flex-wrap">
  <a class="btn btn-outline-primary" href="{% tournamenturl 'notifications-status' %}">
    {% translate "Email Statuses" %}
  </a>
</div>

<div class="btn-group flex-wrap">
  <a class="btn btn-outline-primary" href="{% url 'notifications-test-email' %}">
    {% translate "Send Test Email" %}
  </a>
  <a class="btn btn-outline-primary" href="{% tournamenturl 'notifications-email' %}">
    {% translate "Send Custom Email" %}
  </a>
</div>
