{% extends "base.html" %}
{% load debate_tags %}

{% block extra-head %}
{{ block.super }}
<script type="text/javascript" charset="utf-8">
    $(document).ready( function() {
        var table = $("#dataTable").dataTable( {
            "aaSorting": [[ 0, "asc" ]],
        });
        new $.fn.dataTable.FixedHeader( table );
    } );
</script>
{% endblock extra-head %}

{% block head-title %}Add Ballot{% endblock %}
{% block page-title %}Add Ballot{% endblock %}
{% block body-class %}public-add-ballot{% endblock %}

{% block nav %}{% include "public/nav.html" %}{% endblock %}{% block footer %}{% include "public/footer.html" %}{% endblock %}

{% block content %}

<!-- TODO fix this CSS -->
<div class="lead">Find your name on this list. It's a personal link for you, so you can bookmark it and come straight back to it after each round.</div>

<table id="dataTable" class="table table-hover table-bordered table-striped" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <th>Adjudicator</th>
            <th><span class="glyphicon glyphicon-map-marker" data-toggle="tooltip"title="Venue"></span></th>
            <th>Affirmative</th>
            <th>Negative</th>
        </tr>
    </thead>
    <tbody>
        {% for da in das %}
        <tr>
        <td>
            <a href="{% tournament_url public_new_ballots da.adjudicator.id %}">{{ da.adjudicator.name }}</a>
        </td>
        <td>{{ da.debate.venue.name }}</td>
        <td>
            <span href="#" title="{{ da.debate.aff_team.speakers|join:', ' }}">{{ da.debate.aff_team.short_name }}<span>
        </td>
        <td>
            <span href="#" title="{{ da.debate.neg_team.speakers|join:', ' }}">{{ da.debate.neg_team.short_name }}</span>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
