{% extends "monkey/results.html" %}
{% load debate_tags %}

{% block head-title %}Add Ballot{% endblock %}
{% block page-title %}Add Ballot{% endblock %}
{% block body-class %}public-add-ballot{% endblock %}

{% block nav %}{% include "public/nav.html" %}{% endblock %}{% block footer %}{% include "public/footer.html" %}{% endblock %}

{% block content %}

<table id="dataTable" class="table table-hover table-bordered table-striped" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <th>Ballots</th>
            <th><span class="glyphicon glyphicon-map-marker" data-toggle="tooltip"title="Venue"></span></th>
            <th>Affirmative</th>
            <th>Negative</th>
            <th>Adjudicators</th>
        </tr>
    </thead>
    <tbody>
        {% for debate in draw %}
        <tr>
        <td>
            <a href="{% tournament_url public_new_ballots debate.id %}" title="Create New Ballot">Enter this ballot</a>
        </td>
        <td>{{ debate.venue.name }}</td>
        <td>
            <span href="#" title="{{ debate.aff_team.speakers|join:', ' }}">{{ debate.aff_team.short_name }}<span>
        </td>
        <td>
            <span href="#" title="{{ debate.neg_team.speakers|join:', ' }}">{{ debate.neg_team.short_name }}</span>
        </td>
        <td>{{ debate.adjudicators_display }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
