{% extends "base.html" %}
{% load debate_tags %}
{% load static %}

{% block nav %}{% include "public/nav.html" %}{% endblock %}

{% block header %}{% endblock %}

{% block head-title %}Add Ballot{% endblock %}
{% block page-title %}Add Ballot{% endblock %}
{% block body-class %}public-add-ballot{% endblock %}

{% block content %}
<p class="lead">The draw and/or motions for {{ round.name }} have yet to be released.
<img src="{% static 'emoji/img/scream.png' %}" width="24" height="24" />
</p>
{% endblock %}

