{% extends "base.html" %}
{% load debate_tags %}
{% load static %}

{% block nav %}{% include "public/nav.html" %}{% endblock %}
{% block footer %}{% include "public/footer.html" %}{% endblock %}
{% block header %}{% endblock %}

{% block head-title %}Round {{ round }} Draw{% endblock %}
{% block page-title %}Round {{ round }} Draw{% endblock %}

{% block content %}
<p class="lead">The draw for Round {{ round }} has yet to be released
<img src="{% static 'emoji/img/scream.png' %}" width="24" height="24" />
</p>
{% endblock %}

