{% extends "base.html" %}
{% load debate_tags %}
{% load static %}

{% block nav %}{% include "public/nav.html" %}{% endblock %}
{% block header %}{% endblock %}

{% block head-title %}{{ round.name }} Draw{% endblock %}
{% block page-title %}{{ round.name }} Draw{% endblock %}
{% block body-class %}public-draw{% endblock %}

{% block content %}
<p class="lead">The draw for {{ round.name }} has yet to be released.
<img src="{% static 'emoji/img/scream.png' %}" width="24" height="24" />
</p>
{% endblock %}

