<div id="footer" class="clearfix">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <p class="navbar-brand text-muted">
                {{ tournament }} runs on <a href="https://github.com/czlee/tabbycat/" target="_new">Tabby Cat</a>,
                as developed by Qi-Shan,
                <a href="https://twitter.com/czlee11" target="_new">Chuan-Zheng</a>,
                and <a href="https://twitter.com/philipbelesky" target="_new">Philip</a>.
                Check out <a href="https://play.google.com/store/apps/details?id=net.czlee.debatekeeper" target="_new">Debatekeeper</a> (Android) and
                 <a href="http://timekept.com" target="_new">Timekept</a> (iOS).
            </p>
            <p class="navbar-brand text-muted pull-right hidden-xs">
                <a href="/accounts/login/" title="Log in">Log in</a>
            </p>
        </div>
    </nav>
</div>