<div id="footer" class="clearfix">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-left">
                <p class="navbar-brand text-muted">{{ tournament }} runs on <a href="https://github.com/czlee/tabbycat/">Tabbycat</a>, as developed by Qi-Shan, <a href="https://twitter.com/czlee11" target="_new">Chuan-Zheng</a>, and <a href="https://twitter.com/philipbelesky" target="_new">Philip</a></p>
            </ul>
        </div>
    </nav>
</div>