{% extends "base.html" %}
{% load debate_tags %}
{% load static %}

{% block extra-head %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready( function() {
            var table = $("#dataTable").dataTable( {
                "aaSorting": [[0, 'desc']],
            });
            new $.fn.dataTable.FixedHeader( table, {alwaysCloneTop: true});
        } );
    </script>
{% endblock extra-head %}

{% block head-title %}Motions{% endblock %}
{% block page-title %}Motions{% endblock %}
{% block body-class %}public-motions{% endblock %}

{% block nav %}{% include "public/nav.html" %}{% endblock %}
{% block footer %}{% include "public/footer.html" %}{% endblock %}

{% block content %}


<table id="dataTable" class="table table-hover table-bordered table-striped" cellpadding="0" cellspacing="0">
    <thead>
    <tr>
        <th><span data-toggle="tooltip" title="Round">R</span></th>
        <th>M<span class="hidden-xs">otion</span></th>
    </tr>
    </thead>
    <tbody>
    {% for round in rounds %}
        {% for motion in round.motion_set.all %}
        <tr>
            <td>R{{ round.seq }}</td>
            <td>{{ motion.text }}</td>
        </tr>
        {% endfor %}
        {% empty %}
            <tr>
                <td><img src="{% static 'emoji/img/unamused.png' %}" width="24" height="24" />
</td>
                <td>There haven't been any motions released yet.</td>
            </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content %}