{% extends "base.html" %}
{% load debate_tags %}
{% load static %}

{% block extra-head %}{% endblock extra-head %}

{% block head-title %}Motions{% endblock %}
{% block page-title %}Motions{% endblock %}
{% block body-class %}public-motions{% endblock %}

{% block nav %}{% include "public/nav.html" %}{% endblock %}
{% block footer %}{% include "public/footer.html" %}{% endblock %}

{% block content %}

    {% for round in rounds %}

        <h3 class="lead">Round {{ round.seq }}</h3>
        <ul class="list-group">
        {% for motion in round.motions %}
            <li class="list-group-item">{{ motion.text }}</li>
        {% endfor %}
        {% empty %}
            <li class="list-group-item">There haven't been any motions released yet <img src="{% static 'emoji/img/unamused.png' %}" width="24" height="24" /></li>
        </ul>

    {% endfor %}


{% endblock content %}