{% load debate_tags %}

<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        <a class="navbar-brand" href="{% tournament_url public_index %}">{{ tournament }}</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul id="nav" class="nav navbar-nav navbar-left">
                 {% if tab_released > 0 %}
                <li><a class="public-feedback-nav" href="{% tournament_url public_team_tab %}">
                    Team Tab
                </a></li>
                <li><a class="public-speaker-tab" href="{% tournament_url public_speaker_tab %}">
                    Speaker Tab
                </a></li>
                <li><a class="public-replies-tab" href="{% tournament_url public_replies_tab %}">
                    Replies Tab
                </a></li>
                <li><a class="public-motions-tab" href="{% tournament_url public_motions_tab %}">
                    Motions Tab
                </a></li>
                <li><a class="public-feedback-tab" href="{% tournament_url public_feedback_tab %}">
                    Feedback Tab
                </a></li>
                {% endif %}
                {% if public_draw > 0 %}
                <li><a class="public-draw-nav" href="{% tournament_url public_draw %}">
                    Draw for Round {{ current_round }}
                </a></li>
                {% endif %}
                {% if public_participants > 0 %}
                <li><a class="public-participants-nav" href="{% tournament_url public_participants %}">
                    Participants
                </a></li>
                {% endif %}
                {% if feedback_progress > 0 %}
                <li><a class="public-feedback-nav" href="{% tournament_url public_feedback_progress %}">
                    Feedback Progress
                </a></li>
                {% endif %}
                {% if public_ballots > 0 %}
                <li><a class="public-add-ballot-nav" href="{% tournament_url public_ballot_submit %}">
                    Enter Ballot
                </a></li>
                {% endif %}
                {% if public_feedback > 0 %}
                <li><a class="public-add-feedback-nav" href="{% tournament_url public_feedback_submit %}">
                    Enter Feedback
                </a></li>
                {% endif %}
            </ul>
            <ul id="nav" class="nav navbar-nav navbar-right">
                <li id="nav-logout"><a href="/accounts/login/">Log in</a></li>
            </ul>
        </div>
    </div>
</nav>