{% extends "base.html" %}
{% load debate_tags %}
{% load static %}

{% block head-title %}Participants{% endblock %}
{% block page-title %}Participants{% endblock %}
{% block page-header %}{% include "table_search.html" %}{% endblock %}
{% block body-class %}public-participants{% endblock %}

{% block content %}

<div class="col-md-12 table-container">
  <table id="speakersList" class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Name</th>
        {% if show_novices > 0 %}
          <th><span class="glyphicon glyphicon-leaf" data-toggle="tooltip" title="Speaker's Novice Status"></span></th>
        {% endif %}
        {% if show_emoji > 0 %}
          <th class="team-emoji"></th>
        {% endif %}
        <th>Team</th>
        {% if show_institutions > 0 %}
          <th>Institution</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
    {% for person in speakers %}
      <tr>
        <td>{{ person.name }}</td>
        {% if show_novices > 0 %}
          <td>
            {% if person.novice %}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{% else %}<span></span>{% endif %}
          </td>
        {% endif %}
        {% if show_emoji > 0 %}
          <td class="team-emoji">{% team_emoji person.team %}</td>
        {% endif %}
        <td class="team-name">
          <span title="{% if show_speakers_in_draw %}{{ person.team.speakers|join:'<br>' }}{% endif %}" data-toggle="tooltip">
            {{ person.team.long_name }}
          </span>
        </td>
        {% if show_institutions > 0 %}
          <td>{{ person.team.institution.name }}</td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>


<div class="row page-header">
  <div class="col-md-12">
    <h1 class="h2 pull-left">Adjudicators</h1>
    <div id="table-search-group" class="btn-group pull-right col-sm-3">
    <div class="input-group">
      <span class="input-group-btn">
      <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
      </span>
        <input id="table-search" type="search" class="form-control" aria-controls="dataTable" placeholder="Quick Search">
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 table-container">
  <table id="adjudicatorsList" class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Name</th>
        {% if show_institutions > 0 %}
        <th>Institution</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
    {% for person in adjs %}
      <tr class="{{ debate.all_conflicts|yesno:'conflict,' }}">
        <td>{{ person.name }}</td>
        {% if show_institutions > 0 %}
          <td>
            {{ person.institution.name }}
            {% if person.independent %}
              (Independent)
            {% endif %}
            {% if person.adj_core %}
              (Adj Core)
            {% endif %}
          </td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}

{% block extra-js %}
   <script type="text/javascript" charset="utf-8">
    $(document).ready( function() {
      var dTable1 = $("#speakersList").DataTable({
        "aaSorting": [[ 0, "asc" ]],
      });
      var dTable2 = $("#adjudicatorsList").DataTable({
        "aaSorting": [[ 0, "asc" ]],
      });
      new $.fn.dataTable.FixedHeader( dTable1, {alwaysCloneTop: true});
      new $.fn.dataTable.FixedHeader( dTable2, {alwaysCloneTop: true});
      $('#table-search').keyup(function(){
        dTable1.search($(this).val()).draw();
      })
      $('#table-search').keyup(function(){
        dTable.search($(this).val()).draw();
      })
    } );
  </script>
{% endblock extra-js %}