{% extends "enter_feedback.html" %}
{% load add_field_css %}

{% block body-class %}public-enter-feedback{% endblock %}

{% block content %}
  <div class="alert alert-info">This page is specific to you, {{ source_name }}.
  The URL doesn't change, so if you bookmark it, you can easily return here after each debate.</div>

  {% if source_type == "team" %}
    <div class="alert alert-warning">
      Remember, if you had a panel, you give feedback <strong>only</strong> on
      the adjudicator who <strong>gave the oral adjudication</strong>.
    </div>
  {% endif %}

  {{ block.super }}
{% endblock %}

{% block extra-js %}{% endblock %}