{% extends "breaking_teams.html" %}
{% load static %}
{% load debate_tags %}

{% block body-class %}public-breakk public-breaking-teams-{{ category }}{% endblock %}

{% block head-title %}{{ category.name }} Break{% endblock %}

{% block header %}{% endblock %}

{% block content %}
  {% if generated %}
    <table id="dataTable" class="table table-hover table-striped" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Break</th>
          {% if show_emoji > 0 %}
            <th class="team-emoji"></th>
          {% endif %}
          <th>Team</th>
          {% if show_institutions > 0 %}
            <th>Inst<span class="hidden-xs">itution</span></th>
          {% endif %}
          <th>Wins</th>
          <th>Total speaker score</th>
        </tr>
      </thead>
      <tbody>
        {% for team in teams %}
        <tr>
          <td>{{ team.rank }}</td>
          <td>{{ team.break_rank|default_if_none:"&ndash;" }}</td>
          {% if show_emoji > 0 %}
            <td class="team-emoji">{% team_emoji team %}</td>
          {% endif %}
          <td>
            <span {% if show_speakers_in_draw %}class="team-speakers-hover" id="team_speakers_{{ team.id }}"{% endif %}>
              {{ team.long_name }}
              {{ team.categories_for_display }}
            </span>
          </td>
          {% if show_institutions > 0 %}
            <td><span class="hidden-xs">{{ team.institution }}</span><span class="visible-xs">{{ team.institution.code }}</span></td>
          {% endif %}
          <td>
            {{ team.points }}
          </td>
          <td>
            {{ team.speaker_score|stringformat:".2f" }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  {% else %}
    <p class="lead">The break has yet to be released.</p>

  {% endif %}

{% endblock %}