{% extends "base.html" %}
{% load debate_tags %}

{% block head-title %}Welcome to {{ tournament }}{% endblock %}
{% block page-title %}Welcome to {{ tournament }}{% endblock %}

{% block header %}
    {{ tournament.welcome_msg|safe|linebreaks }}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <ul class="list-group">
            {% if tab_released > 0 %}
                <li class="list-group-item"><a class="public-feedback-nav" href="{% tournament_url public_team_tab %}">
                    Team Tab
                </a></li>
                <li class="list-group-item"><a class="public-speaker-tab" href="{% tournament_url public_speaker_tab %}">
                    Speaker Tab
                </a></li>
                {% if reply_scores_enabled %}
                <li class="list-group-item"><a class="public-replies-tab" href="{% tournament_url public_replies_tab %}">
                    Replies Tab
                </a></li>
                {% endif %}
            {% endif %}
            {% if motion_tab_released > 0 %}
                <li class="list-group-item"><a class="public-motions-tab" href="{% tournament_url public_motions_tab %}">
                    Motions Tab
                </a></li>
            {% endif %}
            {% if public_draw > 0  and tab_released == 0 %}
                <li class="list-group-item"><a class="public-draw-nav" href="{% tournament_url public_draw %}">
                    Draw for {{ current_round.name }}
                </a></li>
            {% endif %}
            {% if public_results > 0 and current_round.prev %}
                <li class="list-group-item"><a class="public-results-nav" href="{% tournament_url public_results_index %}">
                    Results
                </a></li>
            {% endif %}
            {% if public_divisions > 0 %}
                <li class="list-group-item"><a href="{% tournament_url public_divisions %}">
                    Divisions
                </a></li>
            {% endif %}
            {% if public_motions > 0 %}
                <li class="list-group-item"><a class="public-motions-nav" href="{% tournament_url public_motions %}">
                    Motions
                </a></li>
            {% endif %}
            {% if public_motions > 0 and motion_tab_released == 0 %}
                <li class="list-group-item"><a class="public-side-allocations-nav" href="{% tournament_url public_side_allocations %}">
                    Sides
                </a></li>
            {% endif %}
            {% if public_team_standings > 0 and current_round.prev and tab_released == 0 %}
                <li class="list-group-item"><a class="public-team-standings-nav" href="{% tournament_url public_team_standings %}">
                    Team Standings
                </a></li>
            {% endif %}
            {% if public_breaking_teams > 0 %}
                <li class="list-group-item"><a class="public-breakk-nav" href="{% tournament_url public_break_index %}">
                    Break
                </a></li>
            {% endif %}
            {% if public_participants > 0 %}
                <li class="list-group-item"><a class="public-participants-nav" href="{% tournament_url public_participants %}">
                    Participants
                </a></li>
            {% endif %}
            {% if feedback_progress > 0 %}
                <li class="list-group-item"><a class="public-feedback-nav" href="{% tournament_url public_feedback_progress %}">
                    Feedback Progress
                </a></li>
            {% endif %}
            {% if public_ballots > 0 %}
                <li class="list-group-item"><a class="public-add-ballot-nav" href="{% tournament_url public_ballot_submit %}">
                    Enter Ballot
                </a></li>
            {% endif %}
            {% if public_feedback > 0 %}
                <li class="list-group-item"><a class="public-add-feedback-nav" href="{% tournament_url public_feedback_submit %}">
                    Enter Feedback
                </a></li>
            {% endif %}
        </ul>
    </div>
</div>

{% endblock content %}