//------------------------------------------------------------------------------
// Relating to particular states from hover/panels
//------------------------------------------------------------------------------

// The parent element needed to override team/adj specific default borders
// Teams we want to have no border to reduce clutter; adjs we want so they
// appear like draggable buttons/elements
.conflictable {

  &.hover-histories-1-ago {
    @include hover-highlights(darken($conflict-history-base, 20%));
  }

  &.hover-histories-2-ago {
    @include hover-highlights(lighten($conflict-history-base, 0%));
  }

  &.hover-histories-3-ago {
    @include hover-highlights(lighten($conflict-history-base, 15%));
  }

  &.hover-histories-4-ago {
    @include hover-highlights(lighten($conflict-history-base, 30%));
  }

  &.hover-histories-5-ago {
    @include hover-highlights(lighten($conflict-history-base, 34%), theme-color("primary"));
  }

  &.hover-histories-6-ago {
    @include hover-highlights(lighten($conflict-history-base, 36%), theme-color("primary"));
  }

  &.hover-histories-7-ago {
    @include hover-highlights(lighten($conflict-history-base, 40%), theme-color("primary"));
  }

  &.hover-histories-8-ago {
    @include hover-highlights(lighten($conflict-history-base, 44%), theme-color("primary"));
  }

  &.hover-histories-9-ago {
    @include hover-highlights(lighten($conflict-history-base, 48%), theme-color("primary"));
  }

  // Must be below histories (to take precedence)
  &.hover-institution {
    @include hover-highlights($conflict-institution);
  }

  // Must be below histories + institutions (ie to take precedence)
  &.hover-adjudicator,
  &.hover-team {
    @include hover-highlights($conflict-clash);
  }

  &.panel-histories-1-ago {
    border-color: darken($conflict-history-base, 20%);
  }

  &.panel-histories-2-ago {
    border-color: lighten($conflict-history-base, 0%);
  }

  &.panel-histories-3-ago {
    border-color: lighten($conflict-history-base, 15%);
  }

  &.panel-histories-4-ago {
    border-color: lighten($conflict-history-base, 30%);
  }

  &.panel-histories-5-ago {
    border-color: lighten($conflict-history-base, 34%);
  }

  &.panel-histories-6-ago {
    border-color: lighten($conflict-history-base, 36%);
  }

  &.panel-histories-7-ago {
    border-color: lighten($conflict-history-base, 40%);
  }

  &.panel-histories-8-ago {
    border-color: lighten($conflict-history-base, 44%);
  }

  &.panel-histories-9-ago {
    border-color: lighten($conflict-history-base, 48%);
  }

  // Must appear after seens
  &.panel-institution {
    border-color: darken($conflict-institution, 10%);
  }

  // Must appear after seens and after institutionals
  &.panel-adjudicator,
  &.panel-team, {
    border-color: darken($conflict-clash, 10%);
  }
}
