//------------------------------------------------------------------------------
// Relating to particular states from hover/panels
//------------------------------------------------------------------------------

// The parent element needed to override team/adj specific default borders
// Teams we want to have no border to reduce clutter; adjs we want so they
// appear like draggable buttons/elements
.conflictable {

  &.hover-histories-1-ago {
    background: darken($brand-primary, 20%);
  }

  &.hover-histories-2-ago {
    background: lighten($brand-primary, 0%);
  }

  &.hover-histories-3-ago {
    background: lighten($brand-primary, 15%);
  }

  &.hover-histories-4-ago {
    background: lighten($brand-primary, 30%);
  }

  &.hover-histories-5-ago {
    background: lighten($brand-primary, 34%);
  }

  &.hover-histories-6-ago {
    background: lighten($brand-primary, 36%);
  }

  &.hover-histories-7-ago {
    background: lighten($brand-primary, 40%);
  }

  &.hover-histories-8-ago {
    background: lighten($brand-primary, 44%);
  }

  &.hover-histories-9-ago {
    background: lighten($brand-primary, 48%);
  }

  // Must be below histories (to take precedence)
  &.hover-institution {
    background: $brand-warning;
  }

  // Must be below histories + institutions (ie to take precedence)
  &.hover-adjudicator,
  &.hover-team {
    background: $brand-danger;
  }

  &.panel-1-ago {
    border-color: darken($brand-primary, 20%);
  }

  &.panel-2-ago {
    border-color: lighten($brand-primary, 0%);
  }

  &.panel-3-ago {
    border-color: lighten($brand-primary, 15%);
  }

  &.panel-4-ago {
    border-color: lighten($brand-primary, 30%);
  }

  &.panel-5-ago {
    border-color: lighten($brand-primary, 34%);
  }

  &.panel-6-ago {
    border-color: lighten($brand-primary, 36%);
  }

  &.panel-7-ago {
    border-color: lighten($brand-primary, 40%);
  }

  &.panel-8-ago {
    border-color: lighten($brand-primary, 44%);
  }

  &.panel-9-ago {
    border-color: lighten($brand-primary, 48%);
  }

  // Must appear after seens
  &.panel-institutional {
    border-color: darken($brand-warning, 10%);
  }

  // Must appear after seens and after institutionals
  &.panel-adjudicator,
  &.panel-team, {
    border-color: darken($brand-danger, 10%);
  }
}

// Ensure text is treated nicely when a conflict state is active
.hover-adjudicator,
.hover-team,
.hover-institution,
.hover-histories-1-ago,
.hover-histories-2-ago,
.hover-histories-3-ago {
  color: #fff;

  span,
  span a,
  .text-muted {
    color: #fff;
  }
}
