
#body-edit-allocation {
  padding-top: 55px; // Need to compensate for the fixed header
}

// Dim the subheadings appropriately when highlighted
.conflicts-display, .histories-display, .position-display, .region-display, .gender-display, .break-display {
  .text-muted {
    color: #fff;
    opacity: 0.66;
  }
}

// Within a Panel

.positions-parent > div {
  border-left: 1px solid $table-border-color;
  &:first-child {
    border-left: 0;
  }
}

// Unallocated Area

.unallocated-adjs {
  min-height: 100px;
}

// Adjudicator Draggable Element

.adj-draggable {
  text-align: left;
  div {
    float: left;
  }
  .h4 {
    margin: 0;
    padding: 3px 6px 3px 2px; // Center the Score
  }
  span {
    border-bottom: none;
  }
  .small {
    text-transform: uppercase;
    font-size: 70%;
    display: block;
    line-height: 3px;
  }
}