//------------------------------------------------------------------------------
// General Layout
//------------------------------------------------------------------------------

.allocation-container {
  padding-top: 105px; // Need to compensate for the fixed header
  padding-bottom: 450px; // Need to offset the adjs panel
  background: #fff;
}

.unallocated-adjs {
  min-height: 48px;
  max-height: 450px;
}

.thead {
  border-bottom: 2px solid $table-border-color;
  padding-bottom: $table-cell-padding;
  .glyphicon {
    line-height: 15px;
  }
}

.flex-cell {
  padding-left: $table-cell-padding;
  padding-right: $table-cell-padding;
  min-width: 40px;
}

.bordered-bottom {
  border-bottom: 1px solid $table-border-color;
}

.importance-container {
  width: 100px;
}

// For showing inline time since history conflict
.history-tooltip {
  opacity: 1;
  line-height: 10px;
  font-size: 10px;

  .tooltip-inner {
    padding: 0;
  }

  &.right {
    margin-left: -33px;
    margin-top: 7px;
  }

  &.top {
    margin-top: -9px;
    margin-left: 0;
  }
}

.panel-incomplete {
  background: $brand-danger-alt;
  border: 1px solid darken($brand-danger-alt, 10%);
  color: #fff;
}
.panel-incomplete.vue-is-drag-enter {
  background: $state-success-bg;
}

//------------------------------------------------------------------------------
// Debate Layout
//------------------------------------------------------------------------------

.panel-debate {
  // Overwrite .panel defaults
  box-shadow: 0;
  margin-bottom: 0;
}
.positions-parent > div {
  border-left: 2px solid $table-border-color;
  min-height: 50px; // Dont let it collapse when no adjs are present
  &:first-child {
    border-left: 0;
  }
}

//------------------------------------------------------------------------------
// Debate Teams
//------------------------------------------------------------------------------

.debate-team {
  width: 120px;
  &:hover {
    cursor: help;
    background-color: darken($btn-default-bg, 10%);
  }
  // Truncate Long Team Names
  .debate-team-title {
    max-height: 40px;
    overflow-y: hidden;
  }
}

//------------------------------------------------------------------------------
// Adjudicators
//------------------------------------------------------------------------------

.adj-draggable {
  text-align: left;
  height: 42px;
  padding-top: 4px; // Center the Score
  .adj-info, .adj-score {
    float: left;
  }
  .h4 {
    min-width: 30px;
    margin: 0;
    padding-top: 4px; // Center the Score
  }
  span {
    border-bottom: none;
  }
  .small {
    font-weight: bold;
    font-size: 70%;
    display: block;
    line-height: 3px;
  }
}