//------------------------------------------------------------------------------
// Bootstrap overrides and custom variables
// Note these take precedences over bootstrap as they are not set as default
//------------------------------------------------------------------------------

//------------------------------------------------------------------------------
// Boostrap Type
//------------------------------------------------------------------------------

// Family
$font-family-sans-serif:  "Inter-UI-Regular", -apple-system,
  BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol" !default;
$headings-font-family:    -apple-system, BlinkMacSystemFont, "Helvetica Neue",
  Arial, sans-serif;

// Sizing
$font-size-base:          1rem; // Usually 16px;
$line-height-base:        1.375; // Usually 1.5; this maps to 16px > 22px
$headings-font-weight:    700;

//------------------------------------------------------------------------------
// Bootstrap Color Overrides
//------------------------------------------------------------------------------

// Theme colors
$purple:                  #663da0; // Primary
$green:                   #00bf8a; // Success
$blue:                    #17a2b8; // Info
$orange:                  #fd681d; // Warning
$red:                     #d1185e; // Danger

// Bootstrap defaults; just copied here so they can be referred to
$gray-100: #f8f9fa !default;
// $gray-200: #e9ecef !default;
// $gray-300: #dee2e6 !default;
// $gray-400: #ced4da !default;
// $gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
// $gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

// Key Colors
$body-bg:                 #f8fafc;
$body-color:              $gray-900; // Gray-900 equivalent; for body text

$theme-colors: (
  primary: $purple,
  secondary: $gray-600,
  success: $green,
  info: $blue,
  warning: $orange,
  danger: $red,
  light: $gray-100,
  dark: $gray-800
);

//------------------------------------------------------------------------------
// Bootstrap Layout Details Overrides
//------------------------------------------------------------------------------

$border-radius:             0.25rem !default;
$border-radius-lg:          0.3rem !default;
$border-radius-sm:          0.2rem !default;

$navbar-light-hover-color:  $purple;
