// For feedback graph
.break-display {
  &.break-1 {
    background: #C70062;
  }
  &.break-2 {
    background: #00C79B;
  }
}
.position-display {
  &.chair {
    background-color: #b10095; // Purpleish
    fill: #b10095;
    color: #fff;
  }
  &.panellist {
    background-color: $male;
    fill: $male;
    color: #fff;
  }
  &.trainee {
    background-color: $female;
    fill: $female;
    color: #fff;
  }
}
// For diversity graphs and allocation
.gender-display {
  &.male {
    background-color: $male;
    fill: $male;
    color: #fff;
  }
  &.female, &.nm {
    background-color: $female;
    fill: $female;
    color: #fff;
  }
  &.other {
    background-color: $other;
    fill: $other;
    color: #fff;
  }
  &.unknown {
    background-color: $unknown;
    fill: $unknown;
    color: #fff;
  }
  .text-muted {
    color: #fff;
    opacity: 0.5;
  }
}
.gender-text {
  &.male {
    color: $male;
  }
  &.female, &.nm {
    color: $female;
  }
  &.other {
    color: $other;
  }
  &.unknown {
    color: $unknown;
  }
}
// For diversity graphs and allocation
.region-display {
  span a {
    color: #fff;
  }
  &.region-1 {
    background-color: #C70062;
    fill: #C70062;
    color: #fff;
  }
  &.region-2 {
    background-color: #00C79B;
    fill: #00C79B;
    color: #fff;
  }
  &.region-3 {
    background-color: #B1E001;
    fill: #B1E001;
    color: #fff;
  }
  &.region-4 {
    background-color: #476C5E;
    fill: #476C5E;
    color: #fff;
  }
  &.region-5 {
    background-color: #FF2983;
    fill: #FF2983;
    color: #fff;
  }
  &.region-6 {
    background-color: #6A268C;
    fill: #6A268C;
    color: #fff;
  }
  &.region-7 {
    background-color: #00C0CF;
    fill: #00C0CF;
    color: #fff;
  }
  &.region-8 {
    background-color: #0051CF;
    fill: #0051CF;
    color: #fff;
  }
  &.region-9 {
    background-color: #777;
    fill: #777;
    color: #fff;
  }
}

.region-display, .gender-display {
  .text-muted {
    color: #fff;
    opacity: 0.66;
  }
}