//------------------------------------------------------------------------------
// Highlights for Allocation Pages
//------------------------------------------------------------------------------

.region-display.has-region,
.gender-display.has-gender,
.category-display.has-category {
  span a,
  .text-muted {
    color: #fff;
  }
}

.conflicts-toolbar:hover {
  color: #fff; // Needed to keep consistent with other bars
}

.category-display {
  &.category-1 {
    @include button-variant(#fff, $break-cat-1, darken($break-cat-1, 10%));
  }
  &.category-2 {
    @include button-variant(#fff, $break-cat-2, darken($break-cat-2, 10%));
  }
  &.category-3 {
    @include button-variant(#fff, $break-cat-3, darken($break-cat-3, 10%));
  }
}

.gender-display {
  &.gender-male,
  &.gender-m,
  &.gender-M  {
    @include button-variant(#fff, $male, darken($male, 10%));
    fill: $male;
  }
  &.gender-female,
  &.gender-f,
  &.gender-F,
  &.gender-nm {
    @include button-variant(#fff, $female, darken($female, 10%));
    fill: $female;
  }
  &.gender-other,
  &.gender-o,
  &.gender-O {
    @include button-variant(#fff, $other, darken($other, 10%));
    fill: $other;
  }
  &.gender-unknown,
  &.gender-u,
  &.gender-U {
    @include button-variant(#fff, $unknown, darken($unknown, 10%));
    fill: $unknown;
  }
  // For Teams
  &.gender-men-2 {
    @include button-variant(#fff, lighten($male, 5%), $male);
  }
  &.gender-notmen-2 {
    @include button-variant(#fff, lighten($female, 5%), $female);
  }
  &.gender-men-3 {
    @include button-variant(#fff, darken($male, 15%), darken($male, 25%));
  }
  &.gender-notmen-3 {
    @include button-variant(#fff, darken($female, 15%), darken($female, 25%));
  }
}

.gender-text {
  &.gender-male {
    color: $male;
  }
  &.gender-female, &.gender-nm {
    color: $female;
  }
  &.gender-other {
    color: $other;
  }
  &.gender-unknown {
    color: $unknown;
  }
}

// For diversity graphs and allocation
.region-display {

  &.region-1 {
    @include button-variant(#fff, #C70062, darken(#C70062, 10%));
    fill: #C70062;
  }
  &.region-2 {
    @include button-variant(#fff, #00C79B, darken(#00C79B, 10%));
    fill: #00C79B;
  }
  &.region-3 {
    @include button-variant(#fff, #B1E001, darken(#B1E001, 10%));
    fill: #B1E001;
  }
  &.region-4 {
    @include button-variant(#fff, #476C5E, darken(#476C5E, 10%));
    fill: #476C5E;
  }
  &.region-5 {
    @include button-variant(#fff, #FF2983, darken(#FF2983, 10%));
    fill: #FF2983;
  }
  &.region-6 {
    @include button-variant(#fff, #6A268C, darken(#6A268C, 10%));
    fill: #6A268C;
  }
  &.region-7 {
    @include button-variant(#fff, #00C0CF, darken(#00C0CF, 10%));
    fill: #00C0CF;
  }
  &.region-8 {
    @include button-variant(#fff, #0051CF, darken(#0051CF, 10%));
    fill: #0051CF;
  }
  &.region-9 {
    @include button-variant(#fff, #777, darken(#777, 10%));
    fill: #777;
  }
}
