.vue-draggable {
  // Don't let text selections get in the way of dragging
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  display: inline-block;
  border: 1px solid #ccc;
  // border-radius: 5px;
  padding: 3px 6px 3px 0;
  margin: 2px;
  text-align: left;
  // background: #fff;
  // height: 32px;
  // line-height: 32px;
  // position: relative;
  span {
    padding: 6px 0 0 6px;
  }
  &:hover {
    cursor: move;
  }
}

.vue-is-dragging {
  opacity: 0.5 !important;
  cursor: move;
}

.vue-is-drag-enter {
  // text-decoration: underline;
  background: $state-success-bg;
}