//------------------------------------------------------------------------------
// Draggables
//------------------------------------------------------------------------------

.vue-draggable {
  // Don't let text selections get in the way of dragging
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  &:hover {
    cursor: move;
  }
  margin: 0 4px 4px 0;
  padding: 6px;
}
.vue-is-dragging {
  opacity: 0.5 !important;
  cursor: move;
}

//------------------------------------------------------------------------------
// Droppables
//------------------------------------------------------------------------------

.vue-droppable {
  background: $gray-lighter;
  padding: 4px 0 0 4px;
  min-height: 0;
}
.division-droppable {
  min-height: 66px;
}
.vue-is-drag-enter {
  // text-decoration: underline;
  background: $state-success-bg;
}

