
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * General page setup
 */
#debate {
	font: 80%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #fff;
}

#debate #jsWarn {
    font-weight: bold;
    background-color: #f00;
    color: #ff0;
    padding: 5px;
}


#debate #container {
	width: 800px;
	margin: 30px auto;
	padding: 0;
}


#debate #footer {
	margin: 50px auto 0 auto;
	padding: 0;
}

#debate #demo {
	margin: 30px auto 0 auto;
}

#debate .demo_jui {
	margin: 30px auto 0 auto;
}

#debate .big {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.6em;
	color: #4E6CA3;
}

#debate .spacer {
	height: 20px;
	clear: both;
}

#debate .clear {
	clear: both;
}

#debate pre {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

#debate h1 {
	margin-top: 2em;
	font-size: 1.3em;
	font-weight: normal;
	line-height: 1.6em;
	color: #4E6CA3;
	border-bottom: 1px solid #B0BED9;
	clear: both;
}

#debate h2 {
	font-size: 1.2em;
	font-weight: normal;
	line-height: 1.6em;
	color: #4E6CA3;
	clear: both;
}

#debate a {
	color: #0063DC;
	text-decoration: none;
}

#debate a:hover {
	text-decoration: underline;
}

#debate ul {
	color: #B0BED9;
}

.css_right {
	float: right;
}

.css_left {
	float: left;
}
