@import url(datatables/dataTables.bootstrap.css);
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .draw-public-display #draw.dataTable td, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit; }
  h1 small,
  h1 .small, h2 small,
  h2 .small, h3 small,
  h3 .small, h4 small,
  h4 .small, h5 small,
  h5 .small, h6 small,
  h6 .small,
  .h1 small,
  .h1 .small, .h2 small,
  .h2 .small, .h3 small, .draw-public-display #draw.dataTable td small,
  .h3 .small,
  .draw-public-display #draw.dataTable td .small, .h4 small,
  .h4 .small, .h5 small,
  .h5 .small, .h6 small,
  .h6 .small {
    font-weight: normal;
    line-height: 1;
    color: #999999; }

h1, .h1,
h2, .h2,
h3, .h3, .draw-public-display #draw.dataTable td {
  margin-top: 20px;
  margin-bottom: 10px; }
  h1 small,
  h1 .small, .h1 small,
  .h1 .small,
  h2 small,
  h2 .small, .h2 small,
  .h2 .small,
  h3 small,
  h3 .small, .h3 small, .draw-public-display #draw.dataTable td small,
  .h3 .small,
  .draw-public-display #draw.dataTable td .small {
    font-size: 65%; }

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 10px;
  margin-bottom: 10px; }
  h4 small,
  h4 .small, .h4 small,
  .h4 .small,
  h5 small,
  h5 .small, .h5 small,
  .h5 .small,
  h6 small,
  h6 .small, .h6 small,
  .h6 .small {
    font-size: 75%; }

h1, .h1 {
  font-size: 36px; }

h2, .h2 {
  font-size: 30px; }

h3, .h3, .draw-public-display #draw.dataTable td {
  font-size: 24px; }

h4, .h4 {
  font-size: 18px; }

h5, .h5 {
  font-size: 14px; }

h6, .h6 {
  font-size: 12px; }

p {
  margin: 0 0 10px; }

.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4; }
  @media (min-width: 768px) {
    .lead {
      font-size: 21px; } }

small,
.small {
  font-size: 85%; }

cite {
  font-style: normal; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-muted {
  color: #999999; }

.text-primary {
  color: #428bca; }

a.text-primary:hover {
  color: #3071a9; }

.text-success {
  color: #3c763d; }

a.text-success:hover {
  color: #2b542c; }

.text-info {
  color: #d5e615; }

a.text-info:hover {
  color: #aab711; }

.text-warning {
  color: #8a6d3b; }

a.text-warning:hover {
  color: #66512c; }

.text-danger {
  color: #a94442; }

a.text-danger:hover {
  color: #843534; }

.bg-primary {
  color: #fff; }

.bg-primary {
  background-color: #428bca; }

a.bg-primary:hover {
  background-color: #3071a9; }

.bg-success {
  background-color: #dff0d8; }

a.bg-success:hover {
  background-color: #c1e2b3; }

.bg-info {
  background-color: #fcf5e3; }

a.bg-info:hover {
  background-color: #f7e5b5; }

.bg-warning {
  background-color: #fcede3; }

a.bg-warning:hover {
  background-color: #f7cfb5; }

.bg-danger {
  background-color: #f2dede; }

a.bg-danger:hover {
  background-color: #e4b9b9; }

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee; }

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px; }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-bottom: 0; }

.list-unstyled, .list-inline {
  padding-left: 0;
  list-style: none; }

.list-inline {
  margin-left: -5px; }
  .list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px; }

dl {
  margin-top: 0;
  margin-bottom: 20px; }

dt,
dd {
  line-height: 1.42857; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .dl-horizontal dd {
    margin-left: 180px; }
    .dl-horizontal dd:before, .dl-horizontal dd:after {
      content: " ";
      display: table; }
    .dl-horizontal dd:after {
      clear: both; } }
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999999; }

.initialism {
  font-size: 90%;
  text-transform: uppercase; }

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eeeeee; }
  blockquote p:last-child,
  blockquote ul:last-child,
  blockquote ol:last-child {
    margin-bottom: 0; }
  blockquote footer,
  blockquote small,
  blockquote .small {
    display: block;
    font-size: 80%;
    line-height: 1.42857;
    color: #999999; }
    blockquote footer:before,
    blockquote small:before,
    blockquote .small:before {
      content: '\2014 \00A0'; }

.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
  text-align: right; }
  .blockquote-reverse footer:before,
  .blockquote-reverse small:before,
  .blockquote-reverse .small:before,
  blockquote.pull-right footer:before,
  blockquote.pull-right small:before,
  blockquote.pull-right .small:before {
    content: ''; }
  .blockquote-reverse footer:after,
  .blockquote-reverse small:after,
  .blockquote-reverse .small:after,
  blockquote.pull-right footer:after,
  blockquote.pull-right small:after,
  blockquote.pull-right .small:after {
    content: '\00A0 \2014'; }

blockquote:before,
blockquote:after {
  content: ""; }

address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857; }

.text-success {
  color: #5cb85c; }

a.text-success:hover {
  color: #449d44; }

.text-info {
  color: #d5e615; }

a.text-info:hover {
  color: #aab711; }

.text-warning {
  color: #f0ad4e; }

a.text-warning:hover {
  color: #ec971f; }

.text-danger {
  color: #d9534f; }

a.text-danger:hover {
  color: #c9302c; }

.btn-group {
  padding: 0 0 10px 0; }

.dataTable thead > tr > th {
  padding-right: 0 !important; }

#dataTable_filter label, #draw_filter label, #draw label {
  float: left; }

.dataTables_info {
  display: none; }

.modal-lg {
  width: 90%; }

.team-name {
  background-position: 4px 4px;
  background-repeat: no-repeat;
  background-size: 28px 28px;
  padding-left: 40px !important; }

.adj-chair {
  text-decoration: underline; }

.adj-trainee {
  font-style: italic; }

.draw-public-display .nav {
  display: none; }
.draw-public-display #draw.dataTable p {
  margin: 0; }
.draw-public-display #draw.dataTable .adj-names ul {
  padding-left: 0px;
  margin-left: 0;
  list-style-type: none; }
.draw-public-display #draw.dataTable .adj-names li span {
  margin-left: -5px; }
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  .draw-public-display #draw.dataTable {
    margin-left: -15px; }
    .draw-public-display #draw.dataTable .team-name {
      background-position: bottom right;
      background-repeat: no-repeat;
      padding-left: 8px !important; }
    .draw-public-display #draw.dataTable .adj-names ul {
      padding-left: 0px; }
    .draw-public-display #draw.dataTable .adj-names li {
      display: block;
      list-style-type: none;
      margin-left: 0px;
      padding-left: 0px; }
    .draw-public-display #draw.dataTable .adj-names li span {
      margin-left: 0px; } }

.edit-venues .nav, .edit-adjs .nav {
  display: none; }
.edit-venues #main, .edit-adjs #main {
  width: 79%; }
.edit-venues #scratch, .edit-adjs #scratch {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #cff;
  width: 20%;
  height: 800px; }

.edit-venues .venue-holder {
  padding: 0px; }
.edit-venues .venue {
  cursor: move; }

.edit-adjs .nav {
  display: none; }
.edit-adjs .adj.trainee {
  background-color: #ffb; }
.edit-adjs .adj.trainee:hover {
  background-color: #ffe; }
.edit-adjs .adj.history-conflict {
  color: #f80; }
.edit-adjs .adj.conflict {
  color: red; }
