// Core variables and mixins
@import "../bootstrap/stylesheets/bootstrap/variables";
@import "../bootstrap/stylesheets/bootstrap/mixins";
@import "../bootstrap/stylesheets/bootstrap/type";
@import "datatables/dataTables.bootstrap.css";

@include text-emphasis-variant('.text-success', $brand-success);

@include text-emphasis-variant('.text-info', $brand-info);

@include text-emphasis-variant('.text-warning', $brand-warning);

@include text-emphasis-variant('.text-danger', $brand-danger);


// Navigation Highlights

.public-draw a.public-draw-nav,
.public-feedback a.public-feedback-nav,
.public-add-ballot a.public-add-ballot-nav,
.public-add-feedback a.public-add-feedback-nav,
.monkey-enter-result a.monkey-enter-result-nav,
.monkey-enter-feedback a.monkey-enter-feedback-nav,
.dash a.dash-nav,
.draw a.draw-nav,
.results a.results-nav,
.team-standings a.team-standings-nav,
.speaker-standings a.speaker-standings-nav,
.adj-feedback a.adj-feedback-nav,
.config a.config-nav {
    font-weight: bold;
}

// Universal Style overrides

.page-header h1 {
    margin-top: 0; // fixes button alignment easily
}

// Tables

.dataTable thead {
    background-color: #FFF; // hovering opacity
}
.dataTable thead > tr > th {
    padding-right: 0 !important;
}
#dataTable_filter, #draw_filter, #draw, div.dataTables_filter {
    label {
        float: left;
    }
}
#modal-adj-table_wrapper, .display-motions {
    div.dataTables_filter {
        display: none;
    }
}
.dataTables_info {
    display: none;
}

.modal-lg {
    width: 90%;
}
.team-name {
    background-position: 4px 4px;
    background-repeat: no-repeat;
    background-size:28px 28px;
    padding-left: 40px !important;
}
.venue-name {

}
.adj-chair {
    text-decoration: underline;
}
.adj-trainee {
    font-style: italic;
}

// Draw display

.draw-public-display {

    #draw.dataTable {
        tbody > tr > td {

        }
        thead > tr > th {
            //padding-right: 0 !important;
        }
        p {
            margin: 0;
        }
        td {
            @extend .h3;
        }
        .adj-names {
            ul {
                padding-left: 0px;
                margin-left: 0;
                list-style-type: none;
            }

        }
    }
    @media
    only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px)  {

        #draw.dataTable {


            margin-left: -15px;

            .team-name {
                background-position: bottom right;
                background-repeat: no-repeat;
                padding-left: 8px !important;
            }
            .adj-names {
                ul {
                    padding-left: 0px;
                }
                li {
                    display: block;
                    list-style-type: none;
                    margin-left: 0px;
                    padding-left: 0px;
                }
                li span {
                    margin-left: 0px;
                }
            }
        }

    }
}

// General Draw

.edit-venues, .edit-adjs {

    .btn-default.text-left {
        padding-left: 6px;
    }
    .nav {
        display: none;
    }
    #main {
        width: 79%;
    }
    #scratch {
        position: fixed;
        top: 0;
        right: 0;
        background-color: #cff;
        width: 20%;
        height: 800px;
    }
}

// Draw Editing Venues

.edit-venues {
    .venue-holder {
        padding: 0px;
    }
    .venue {
        cursor: move;
    }

}

// Draw Editing Adj's

.edit-adjs {

    .nav {
        display: none;
    }

    // .adj { display: block; background-color: #eee; white-space: nowrap; margin-right: 1em; cursor: move;}
    .adj.trainee { background-color: #ffb; }
    // .adj:hover {background-color: #fafafa; }
    .adj.trainee:hover { background-color: #ffe; }
    // .panel-holder .adj { margin: 1px 0;}
    // .adj span.info { margin: 0 5px; color: #44f;  }

    .adj.history-conflict { color: #f80; }
    .adj.conflict { color: red; }

    // #scratch {
    //     position: fixed;
    //     top: 0;
    //     right: 0;
    //     background-color: #fea;
    //     width: 300px;
    //     height: 100%;
    //     overflow-y: auto;
    //     overflow-x: hidden;
    // }
    // #scratch.hover { background-color: #ff8; }
    // .hover #unusedTable tbody td { background-color: #ffa; }
    // #main {
    //     width: 74%;
    // }
    // @media print {
    //     #scratch { display:none; }
    // }
    // #scratch .adj { white-space: none; }
    // #scratch .adj .info { display: none; }

    // #unusedTable { width: 100%; }

    // .incomplete { border: 1px solid #f84; }
    // #dataTable .history-with-active { color: #f80; }
    // #dataTable .conflict-with-active { color: red; }

    // #loading {vertical-align: middle; position: fixed; left: 0; top: 0; width:100%; height:100%;
    //     background-image:url("/static/images/80.png"); z-index: 100000; text-align: center;}
    // #loading div {position: absolute; margin-left: 48%; top: 50%; width: 100px; background: #fff; padding: 20px;}

}

// To sort from the old debate.css

#jsWarn {
    font-weight: bold;
    background-color: #f00;
    color: #ff0;
    padding: 5px;
}
.winner {
    font-weight: bold;
}
ul.errorlist { color: red; }
div.errors { color: red; }
p.warning { color: red; font-weight: bold; }
.scoresheet .errorlist {
    list-style: none;
    margin: 5px;
    padding: 0;
    width: 150px;
}
.scoresheet .error {
    background-color: #fee;
    color: #811;
}
.scoresheet input.save {
    background-color: #fff;
    border: 1px solid #888;
    font-size: 110%;
    padding: 0 0.3em;
    width: 4em;
    cursor: pointer;
}
.scoresheet label.error { color: red; }
.scoresheet input.save:hover {
    background-color: #fafafa;
}
.scoresheet input.win { border: 1px solid #0f0; background-color: #efe;}
.scoresheet input.lose { border: 1px solid #f00; background-color: #fee; }

.ballot-checkin-form .message {
    padding: 10px 10px;
    font-weight: bold;
    background-color: #fc9;
    color: #804000;
}
.ballot-checkin-form #success { padding: 10px 10px; }
.ballot-checkin-form .error { background-color: #fcc; color: #800000; }
.ballot-checkin-form .success { background-color: #cfc; color: #008000; }

#configForm label.name { width: 14em; display: block; float: left;}
#configForm label.help { padding-left: 0.5em; color: #aaa; }
#configForm .error, #configForm .errorlist { color: red; }
#configForm div.updated { font-size: 120%; padding: 0.5em; border: 1px solid #00f; }

table.warningbox { background-color: #F5BCA9; border: 1px solid red; padding: 10px 10px; width: 100%; }
table.warningbox p { margin: 0px 0px }

// From monkey/enter result
#incorrect {
    background-color: red;
    color: white;
}
#correct{
    background-color: green;
    color: white;
}
#resultsForm select { color: black; }
