// Core variables and mixins
@import "../bootstrap/stylesheets/bootstrap/variables";
@import "../bootstrap/stylesheets/bootstrap/mixins";
@import "../bootstrap/stylesheets/bootstrap/type";
//@import "datatables/jquery.dataTables.css";
@import "datatables/dataTables.bootstrap.css";

@include text-emphasis-variant('.text-success', $brand-success);

@include text-emphasis-variant('.text-info', $brand-info);

@include text-emphasis-variant('.text-warning', $brand-warning);

@include text-emphasis-variant('.text-danger', $brand-danger);

.btn-group {
    padding: 0 0 $padding-large-vertical 0;
}


// Tables

.dataTable thead > tr > th {
    padding-right: 0 !important;
}
#dataTable_filter, #draw_filter, #draw {
    label {
        float: left;
    }
}
.dataTables_info {
    display: none;
}

.modal-lg {
    width: 90%;
}
.team-name {
    background-position: 4px 4px;
    background-repeat: no-repeat;
    background-size:28px 28px;
    padding-left: 40px !important;
}
.venue-name {

}
.adj-chair {
    text-decoration: underline;
}
.adj-trainee {
    font-style: italic;
}

// Draw display:

.draw-public-display {
    .nav {
        display: none;
    }
    #draw.dataTable {
        tbody > tr > td {

        }
        thead > tr > th {
            //padding-right: 0 !important;
        }
        p {
            margin: 0;
        }
        td {
            @extend .h3;
        }
        .adj-names {
            ul {
                padding-left: 0px;
                margin-left: 0;
                list-style-type: none;
            }

        }
    }
    @media
    only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px)  {

        #draw.dataTable {


            margin-left: -15px;

            .team-name {
                background-position: bottom right;
                background-repeat: no-repeat;
                padding-left: 8px !important;
            }
            .adj-names {
                ul {
                    padding-left: 0px;
                }
                li {
                    display: block;
                    list-style-type: none;
                    margin-left: 0px;
                    padding-left: 0px;
                }
                li span {
                    margin-left: 0px;
                }
            }
        }

    }
}

.edit-venues, .edit-adjs {

    .btn-default.text-left {
        padding-left: 6px;
    }
    .nav {
        display: none;
    }
    #main {
        width: 79%;
    }
    #scratch {
        position: fixed;
        top: 0;
        right: 0;
        background-color: #cff;
        width: 20%;
        height: 800px;
    }
}

// Draw Editing Venues

.edit-venues {
    .venue-holder {
        padding: 0px;
    }
    .venue {
        cursor: move;
    }

}

// Draw Editing Adj's

.edit-adjs {

    .nav {
        display: none;
    }

    // .adj { display: block; background-color: #eee; white-space: nowrap; margin-right: 1em; cursor: move;}
    .adj.trainee { background-color: #ffb; }
    // .adj:hover {background-color: #fafafa; }
    .adj.trainee:hover { background-color: #ffe; }
    // .panel-holder .adj { margin: 1px 0;}
    // .adj span.info { margin: 0 5px; color: #44f;  }

    .adj.history-conflict { color: #f80; }
    .adj.conflict { color: red; }

    // #scratch {
    //     position: fixed;
    //     top: 0;
    //     right: 0;
    //     background-color: #fea;
    //     width: 300px;
    //     height: 100%;
    //     overflow-y: auto;
    //     overflow-x: hidden;
    // }
    // #scratch.hover { background-color: #ff8; }
    // .hover #unusedTable tbody td { background-color: #ffa; }
    // #main {
    //     width: 74%;
    // }
    // @media print {
    //     #scratch { display:none; }
    // }
    // #scratch .adj { white-space: none; }
    // #scratch .adj .info { display: none; }

    // #unusedTable { width: 100%; }

    // .incomplete { border: 1px solid #f84; }
    // #dataTable .history-with-active { color: #f80; }
    // #dataTable .conflict-with-active { color: red; }

    // #loading {vertical-align: middle; position: fixed; left: 0; top: 0; width:100%; height:100%;
    //     background-image:url("/static/images/80.png"); z-index: 100000; text-align: center;}
    // #loading div {position: absolute; margin-left: 48%; top: 50%; width: 100px; background: #fff; padding: 20px;}

}