@import url(datatables/dataTables.bootstrap.css);
.text-success {
  color: #5cb85c; }

a.text-success:hover {
  color: #449d44; }

.text-info {
  color: #d5e615; }

a.text-info:hover {
  color: #aab711; }

.text-warning {
  color: #f0ad4e; }

a.text-warning:hover {
  color: #ec971f; }

.text-danger {
  color: #d9534f; }

a.text-danger:hover {
  color: #c9302c; }

.btn-group {
  padding: 0 0 10px 0; }

#dataTable_filter, #draw_filter {
  margin-top: -68px; }

.dataTables_info {
  display: none; }

.modal-lg {
  width: 90%; }

.team-name {
  background-position: 4px 4px;
  background-repeat: no-repeat;
  background-size: 28px 28px;
  padding-left: 40px !important; }

.draw-public-display .nav {
  display: none; }
.draw-public-display #draw.dataTable tbody > tr > td {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-right: 0 !important; }
.draw-public-display #draw.dataTable thead > tr > th {
  padding-right: 0 !important; }
.draw-public-display #draw.dataTable p {
  margin: 0; }

.edit-venues .nav {
  display: none; }
.edit-venues .venue-holder {
  padding: 0px; }
.edit-venues .venue {
  cursor: move; }
.edit-venues #scratch {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #cff;
  width: 20%;
  height: 800px; }
.edit-venues #scratch.hover {
  background-color: #ff8; }
.edit-venues #main {
  width: 79%; }

.edit-adjs .nav {
  display: none; }
.edit-adjs .adj {
  display: block;
  background-color: #eee;
  white-space: nowrap;
  margin-right: 1em;
  cursor: move; }
.edit-adjs .adj.trainee {
  background-color: #ffb; }
.edit-adjs .adj:hover {
  background-color: #fafafa; }
.edit-adjs .adj.trainee:hover {
  background-color: #ffe; }
.edit-adjs .panel-holder .adj {
  margin: 1px 0; }
.edit-adjs .adj span.info {
  margin: 0 5px;
  color: #44f; }
.edit-adjs .adj.history-conflict {
  color: #f80; }
.edit-adjs .adj.conflict {
  color: red; }
.edit-adjs #scratch {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fea;
  width: 300px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden; }
.edit-adjs #scratch.hover {
  background-color: #ff8; }
.edit-adjs .hover #unusedTable tbody td {
  background-color: #ffa; }
.edit-adjs #main {
  width: 74%; }
@media print {
  .edit-adjs #scratch {
    display: none; } }
.edit-adjs #scratch .adj {
  white-space: none; }
.edit-adjs #scratch .adj .info {
  display: none; }
.edit-adjs #unusedTable {
  width: 100%; }
.edit-adjs .incomplete {
  border: 1px solid #f84; }
.edit-adjs #dataTable .history-with-active {
  color: #f80; }
.edit-adjs #dataTable .conflict-with-active {
  color: red; }
.edit-adjs #loading {
  vertical-align: middle;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("/static/images/80.png");
  z-index: 100000;
  text-align: center; }
.edit-adjs #loading div {
  position: absolute;
  margin-left: 48%;
  top: 50%;
  width: 100px;
  background: #fff;
  padding: 20px; }
