{% load add_field_css %}

<div class="form-group {% if hide_label %}pt-2{% endif %}
            {% if double %}col-lg-6{% endif %}
            {% if triple %}col-lg-4{% endif %}
            {% if quadruple %}col-lg-3{% endif %}">

  {% if not field.is_hidden and not hide_label %}
    <label for="{{ field.id_for_label }}">
      {{ field.label }}
    </label>
  {% endif %}

  {{ field|addcss:"form-control" }}

  {% if field.help_text  %}
    <small class="form-text text-muted">{{ field.help_text }}</small>
  {% endif %}

  {% if field.errors %}
    {{ field.errors }}
  {% endif %}

</div>
