{% if alone == True %}<div class="list-item-group">{% endif %}

<a href="{{ url }}" class="list-group-item list-group-item-action
   {% if success %}bg-success text-white{% endif %}
   {% if type %}list-group-item-{{ type }}{% endif %}">

  <div class="row align-items-center">

    <div class="col-auto pr-1">
      {% if success %}
        <i data-feather="circle"></i>
      {% else %}
        {% if icon %}<i data-feather="{{ icon }}"></i>{% endif %}
        {% if emoji %}<span class="emoji">{{ emoji }}</span>{% endif %}
      {% endif %}
    </div>

    <div class="col pl-0 pr-0">

      {% if extra %}
        <h5>{{ text|safe }}</h5>
        {{ extra }}
      {% else %}
        {{ text|safe }}
      {% endif %}
      {% if subtext %}
        <span class="text-muted">{{ subtext }}</span>
      {% endif %}

    </div>

    <div class="col-auto"><i data-feather="chevron-right"></i></div>

  </div>

</a>

{% if alone == True %}</div>{% endif %}