<a href="{{ url }}" class="list-group-item list-group-item-action
   {% if success %}bg-success text-white strong{% endif %}">

  <div class="row align-items-center">

    <div class="col-auto">
      {% if success %}
        <i data-feather="circle"></i>
      {% else %}
        {% if icon %}<i data-feather="{{ icon }}"></i>{% endif %}
        {% if emoji %}<span class="emoji">🎪</span>{% endif %}
      {% endif %}
    </div>

    <div class="col pl-0 pr-0">{{ text|safe }}</div>

    <div class="col-auto"><i data-feather="chevron-right"></i></div>

  </div>

</a>

