
div[class^='highlight'] pre.literal-block, .literal-block {
  /* Adding back in at the pre level */
  padding: 12px 12px !important;
}
.literal-block {
  /* Non-!important overrides */
  font-size: 12px;
  line-height: 1.5;
  color: #404040;
  white-space: pre;
  font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
}