
pre.literal-block, .rst-content .literal-block, .rst-content pre.literal-block {
  /* The theme rule-set applies with this specificity */
  padding: 12px 12px;
}
.literal-block {
  /* Non-!important overrides */
  font-size: 12px;
  line-height: 1.5;
  color: #404040;
  white-space: pre;
  font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
}
.wy-table-responsive table td, .wy-table-responsive table th {
  white-space: normal;
}
.rst-content table.docutils p {
  font-size: 100%;
  margin-bottom: 12px;
}
