@import "../vendor/bootstrap/variables";

// ADMIN SIDEBAR STRUCTURE

.nav-sidebar-offset {
  padding-left: 220px;
}
.nav-sidebar {
  width: 210px;
  position:fixed;
  height:100%;
  z-index: 100;
  padding-left: 0px;
  padding-top: 0px; // So the pill hover isn't flush

  .overflow-scroll-wrapper {
    overflow-y: scroll;
    height: 100%;
  }

  // Title
  #tournament_select {
    padding: 16px 16px 16px 21px;
    margin-left: 0px;
    border-radius: 0px;
    text-transform: uppercase;
    color: $headings-color;

    .emoji {
      padding-right: 10px;
    }
  }
  .dropdown-menu {
    width: 100%;
  }

  // Nav Links
  .nav > li > a {
    margin-left: 10px;
  }
  .nav > li > a {
    padding-top: 6px; // Tighten up the nav element placement
    padding-bottom: 6px;
    .caret {
      margin-top: 7px;
    }
  }

}


// Elements

.progress-line {
  position: absolute;
  width: 10px;
  height: 100%;
  margin: 10px 0 0 25px;
  &.setup-line {
    background: $gray-lighter;
  }
  &.standard-line {
    background: $gray;
  }
}
.circle-icon {
  background: #fff;
  border: 3px solid #444;
  width: 26px;
  height: 26px;
  border-radius: 21.5px;
  display: inline-block;
  float: left;
  margin: -4px 10px -3px -8px;

  .emoji {
    padding-left: 3px;
    line-height: 24px;
  }
  &.btn-success {
    background: $btn-success-bg;
  }
  &.btn-info {
    background: $btn-info-bg;
  }
  &.btn-inactive {
    background: darken($gray-lighter, 3);
  }
  &.icon-container {
    border-color: #fff;
    color: $gray;
    text-align: center;
  }
}
.sub-nav {
  background-color: lighten($gray-lighter, 2);
  .circle-icon {
    width: 22px;
    height: 22px;
    margin: -2px 12px -3px -6px;
  }
  .progress-line {
    width: 6px;
    margin-left: 27px;
  }
}


// FOOTER UI

body {
  padding-bottom: 70px; // To fix to the screen bottom body needs padding
}





// TO REFACTOR:

// // BELOW: possibly refactor

// // Override for topmost bar
// .overall-header .nav {

//   > li {
//     > a {
//       padding: 15px 10px; // Special padding for backgrounds
//     }
//   }

//   > li.round-nav {
//     margin-left: 0px;
//     background-image: linear-gradient(
//         to bottom,
//         rgba(255,255,255, 0)  40%,
//         #666 40%,
//         #666 60%,
//         rgba(255,255,255, 0) 60%
//       );

//     > a {
//       padding: 5px 7px;
//       margin: 10px 10px 10px -1px;
//       background-color: #666;
//       color: #fff;
//       border-radius: 15px;
//       border-color: #666;

//       .caret {
//         margin-left: -3px;
//       }
//     }

//     a.current-round {
//       font-weight: bold;
//     }
//   }

//   > li.round-nav:last-child {
//     background-image: none; // Don't show a line to nowhere
//   }

//   > li.round-nav.active {
//     > a {
//       background-color: #fff;
//       color: #000;
//     }
//   }


// }

// .navbar-transparent {
//   border: none;
//   background: none;
// }

// // For sub nav


