@import "../vendor/bootstrap/variables";
// ADMIN SIDEBAR STRUCTURE
.nav-sidebar-offset {
  padding-left: 235px; // Offset the sidebar
  min-height: 800px; // Push the footer down
  padding-bottom: 70px; // Leave room for the footer
  .navbar-fixed-bottom {
    // Don't want the footer stretching into the menu; present it alert style
    margin: 0 15px 20px 235px;
    border-width: 1px;
    border-radius: 4px;
    position: absolute;
  }
}
.nav-sidebar {
  background: #293541;
  width: 225px;
  position: fixed;
  height: 100%;
  z-index: 100;
  padding-left: 0;
  padding-top: 0; // So the pill hover isn't flush
  .overflow-scroll-wrapper {
    overflow-y: scroll;
    height: 100%;
  }
  // Title
  #tournament_select {
    padding: 16px 16px 16px 21px;
    margin-left: 0;
    border-radius: 0;
    text-transform: uppercase;
    color: #757c82;
    .emoji {
      margin-right: 8px; // Align the the other icons
      margin-left: 1px;
    }
  }
  .dropdown-menu {
    width: 100%;
  }

}
// Navigation Elements
.nav-accordion {
  padding: 5px 10px;
  font-size: 13px;
  // MAIN NAVS
  li.panel {
    margin-bottom: 0px;
    background: none;
    &.active {
      background: $brand-primary;
      > a {
        color: #fff;
      }
    }
    &:hover {
      background: rgba(117,146,174,0.15);
    }
  }
  li.panel a {
    padding: 6px 6px 6px 12px;
    display: block;
    color: #ADB6BF;
    text-transform: uppercase;
    .caret {
      margin-top: 7px;
    }
    &:hover {
      background: none;
      color: #fff;
      text-decoration: none;
      .circle-icon {
        border-color: #888;
      }
    }
    &:focus {
      text-decoration: none;
    }

  }
  // SUB PANELS
  li.panel .nav {
    background: rgba(117,146,174,0.15);
    a {
      text-transform: none;
    }
  }
}

// Elements
.progress-line {
  position: absolute;
  width: 8px;
  height: 100%;
  margin: 20px 0 0 11px;
  z-index: -10;
  &.standard-line {
    background: $gray;
  }
}
.circle-icon {
  background: #fff;
  border: 3px solid #444;
  width: 22px;
  height: 22px;
  border-radius: 21.5px;
  display: inline-block;
  float: left;
  margin: -1px 10px 0px -8px;
  .emoji {
    margin-left: 3px;
    margin-top: 3px;
  }
  &.btn-success {
    background: $btn-success-bg;
  }
  &.btn-info {
    background: $btn-info-bg;
  }
  &.btn-inactive {
    background: darken($gray-lighter, 3);
  }
  &.icon-container {
    color: $gray;
    text-align: center;
  }
}
.sub-nav {
  .circle-icon {
    width: 18px;
    height: 18px;
    margin: -2px 12px -3px -6px;
  }
  .progress-line {
    width: 6px;
    margin-left: 27px;
  }
}
// FOOTER UI
body.accommodate-footer {
  padding-bottom: 70px; // To fix to the screen bottom body needs padding
}
