
@media print {
  .printable-page-break {
    page-break-after: always;
  }
  .printable-feedback-sheet,
  .printable-score-sheet {
    font-size: 75%;
  }
  .printable-mastersheet {
    page-break-inside: avoid;
  }
  // Old
  .fixedHeader {
    display: none;
  }
  .page-header {
    .col-md-12 {
      padding-left: 0;
    }
  }
  .print-hide {
    display: none;
  }
  table {
    page-break-inside: avoid; // Don't split a table across multiple pages
    tr {
      page-break-inside: avoid;
      page-break-after: auto;
    }
  }
  table.h4 {
    font-size: 75%;
    font-weight: normal;
  }
  #djDebug {
    display: none !important;
  }
}
