{% extends "base.html" %}
{% load debate_tags %}

{% block head-title %}{{ tournament }} Draw for Round {{ current_round }}{% endblock %}
{% block page-title %}{{ tournament }} Draw for Round {{ current_round }}{% endblock %}
{% block body-class %}public-draw{% endblock %}

{% block nav %}{% include "public/nav.html" %}{% endblock %}

{% block content %}

Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab LIPSUM

{% endblock content %}