// OVERALL
.db-page-holder {
  display: flex; // Needed for contents
  align-items: center;
  justify-content: center;
}
.db-page-portrait, {
  height: 255mm;
  width: 210mm;
}
.db-page-landscape {
  width: 280mm;
  height: 175mm;
}
// PADDING
.db-padding-horizontal {
  margin: 0 0 0 10px;
}
.db-margins-m {
  margin: 0px 15px 15px 15px;
}
.db-page-double .db-margins-m {
  margin: 0px 10px 10px 10px;
}
.db-item-gutter {
  flex: 0 0 30px;
}
.db-page-double .db-item-gutter {
  flex: 0 0 10px;
}
// ELEMENTS
.db-flex-item {
  flex: auto;
  // border: 1px solid #ccc;
}
.db-flex-item-1 {
  flex: 1;
}
.db-flex-item-2 {
  flex: 2;
}
.db-flex-item-3 {
  flex: 3;
}
.db-flex-item-4 {
  flex: 4;
}
.db-flex-item-5 {
  flex: 5;
}
.db-flex-item-6 {
  flex: 6;
}
.db-flex-item-7 {
  flex: 7;
}
.db-flex-item-8 {
  flex: 10;
}
.db-flex-item-10 {
  flex: 10;
}
.db-flex-item-20 {
  flex: 20;
}
.db-flex-item-half {
  flex: 50%;
  // border: 1px solid #ccc;
}
.db-flex-static {
  flex-grow: 0;
  flex-shrink: 0;
}
.db-flex-item-fws {
  flex: 0 0 20px;
}
.db-flex-item-fwm {
  flex: 0 0 35px;
}
.db-flex-item-fwl {
  flex: 0 0 60px;
}
.db-flex-item-fwxl {
  flex: 0 0 80px;
}
.db-flex-item-fwxxl {
  flex: 0 0 200px;
}
.db-flex-item-fhs {
  flex: 0 0 40px;
}
.db-flex-item-fhm {
  flex: 0 0 60px;
}
.db-flex-item-fhl {
  flex: 0 0 80px;
}
