@media print {
  body, html {
    margin: 0;
    padding: 0;
    background: #fff;
  }
  html {
    height: auto;
  }
  .db-page-holder {
    page-break-inside: avoid; // Needed
    page-break-after: always; // Needed
  }
  .db-page {
    transform: none;
    border: none;
    background: none;
    box-shadow: none;
    width: 100%;
    height: 100%;
  }
  .db-hide {
    display: none;
  }
  // TabbyCat
  .head-title {
    display: none;
  }
}
