
.db-page-portrait {
  transform: scale(0.5);
  @media (min-height: 700px) {
    transform: scale(0.58);
  }
  @media (min-height: 800px) {
    transform: scale(0.68);
  }
  @media (min-height: 850px) {
    transform: scale(0.71);
  }
  @media (min-height: 900px) {
    transform: scale(0.75);
  }
  @media (min-height: 1000px) {
    transform: scale(0.83);
  }
  @media (min-height: 1100px) {
    transform: scale(0.91);
  }
  @media (min-height: 1200px) {
    transform: scale(1.00);
  }
}
.db-page-landscape {
  transform: scale(0.5);
  @media (min-width: 1000px) and (min-height: 470px) {
    transform: scale(0.50);
  }
  @media (min-width: 1100px) and (min-height: 530px) {
    transform: scale(0.60);
  }
  @media (min-width: 1200px) and (min-height: 620px) {
    transform: scale(0.68);
  }
  @media (min-width: 1300px) and (min-height: 700px) {
    transform: scale(0.78);
  }
  @media (min-width: 1400px) and (min-height: 740px) {
    transform: scale(0.85);
  }
  @media (min-width: 1500px) and (min-height: 820px) {
    transform: scale(0.92);
  }
  @media (min-width: 1600px) and (min-height: 900px) {
    transform: scale(1);
  }
  @media (min-width: 1800px) and (min-height: 1000px) {
    transform: scale(1.15);
  }
  @media (min-width: 2000px) and (min-height: 1130px) {
    transform: scale(1.3);
  }
  @media (min-width: 2200px) and (min-height: 1200px) {
    transform: scale(1.4);
  }
  @media (min-width: 2500px) and (min-height: 1300px) {
    transform: scale(1.5);
  }
}
