.dbui-sidebar {

  input, button, textarea {
    background: #fff;
    border: 1px solid rgb(200,200,200);
    border-radius: 4px;
    display: inline-block;
    padding: 3px 10px;
    line-height: 1.5;
      text-align: center;
  }
  textarea {
    height: 65px;
    text-align: left;
    font-style: italic;
  }
  button {
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  label {
    line-height: 20px;
  }
  .toggle-block {
    border: 3px solid rgb(200,200,200);
    border-radius: 5px;
    button {
      border-radius: 3px;
      background: rgb(230,230,230);
      color: rgb(130,130,130);
      transition: background 0.5s, color 0.5s;
    }
    button:hover {
      color: green;
      font-weight: bold;
    }
    button.active {
      background: green;
      color: #fff;
    }
  }
  .small-input {
    width: 30px;
    float: right;
  }

  .placeholder {
    color: #999;
  }
  .hidden {
    display: none;
  }
  .form-block {
    margin-top: 10px;
    overflow: hidden;
    .divider {
      width: 10px;
    }
  }
  .side-by-side {
    width: 50%;
    display: inline-block;
    float: left;
  }
  .toggle-btn {
    display: inline-block;
    float: left;
    width: 50%;
    &.left {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &.right {
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
