{% extends "base.html" %}
{% load debate_tags %}

{% block head-title %}Feedback from {{ source_name }}{% endblock %}
{% block page-title %}Feedback from {{ source_name }}{% endblock %}
{% block page-header %}{% endblock %}

{% block content %}

  <div class="row">
  {% for feedback in feedbacks %}

    <div class="col-md-3">

      {% include 'feedback_card.html' %}

    </div>

    {% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}

  {% endfor %}
  </div>

{% endblock content %}

{% block extra-js %}

{% endblock extra-js %}