{% load debate_tags %}

<ul id="nav_left" class="nav navbar-nav navbar-left">
  {% if side_allocations_enabled %}
    <li {% if sides_nav %}class="active"{% endif %}>
      <a href="{% tournament_url side_allocations %}">Sides</a>
    </li>
  {% endif %}
  <li {% if draw_nav %}class="active"{% endif %}>
    <a href="{% round_url draw current_round %}">Draw</a>
  </li>
  <li {% if ballots_nav %}class="active"{% endif %}>
    <a href="{% round_url results current_round %}">Ballots</a>
  </li>
  <li {% if feedback_nav %}class="dropdown active"{% endif %}>
    <a href="{% tournament_url feedback_overview %}" >Feedback</a>
  </li>
  {% if enable_divisions %}
    <li {% if divisions_nav %}class="active"{% endif %}>
      <a href="{% tournament_url division_allocations %}">Divisions</a>
    </li>
  {% endif %}
  <li class="dropdown {% if standings_nav %}active{% endif %}">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Standings<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="{% round_url team_standings current_round %}">Teams</a></li>
      {% if enable_divisions %}
      <li><a href="{% round_url division_standings current_round %}">Divisions</a></li>
      {% endif %}
      <li><a href="{% round_url speaker_standings current_round %}">Speakers</a></li>
      {% if show_novices %}
        <li><a href="{% round_url novice_standings current_round %}">Novices</a></li>
      {% endif %}
      {% if reply_scores_enabled %}
        <li><a href="{% round_url reply_standings current_round %}">Replies</a></li>
      {% endif %}
      <li><a href="{% tournament_url feedback_progress %}">Feedback</a></li>
      <li><a href="{% round_url motion_standings current_round %}">Motions</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Break<b class="caret"></b></a>
    <ul class="dropdown-menu">
      {% for category in tournament.breakcategory_set.all %}
        <li><a href="{% tournament_url breaking_teams category.slug %}">{{ category.name }}</a></li>
      {% endfor %}
      <li><a href="{% tournament_url breaking_adjs %}">Adjudicators</a></li>
      <li class="divider"></li>
      <li><a href="{% tournament_url edit_eligibility %}">Edit Eligibility</a></li>
    </ul>
  </li>
</ul>

<ul id="nav_right" class="nav navbar-nav navbar-right">
  {% for r in tournament.rounds.all %}
    <li id="round-{{ r.seq }}" class="{% if r == round %}selected{% endif %} dropdown round-nav">
      <a href="#" class="dropdown-toggle {% if r.seq == current_round.seq %}current-round{% endif %}" data-toggle="dropdown">
        <span class="
          {% if r.draw_status == r.STATUS_RELEASED %}
            text-success
          {% elif r.draw_status == r.STATUS_CONFIRMED %}
            text-primary
          {% elif r.draw_status == r.STATUS_DRAFT %}
            text-warning
          {% endif %}
        ">
          {{ r.abbreviation }}
          <b class="caret"></b>
        </span>
      </a>
      <ul class="dropdown-menu">
        <li class="dropdown-header">Draw Status:
          {% if r.draw_status == r.STATUS_RELEASED %}
            <span class="text-success">Released</span>
          {% elif r.draw_status == r.STATUS_CONFIRMED %}
            <span class="text-primary">Confirmed</span>
          {% elif r.draw_status == r.STATUS_DRAFT %}
            <span class="text-warning">Draft</span>
          {% elif r.draw_status == 0 %}
            <span class="">None</span>
          {% endif %}
        </li>
        <li class="divider"></li>
        <li><a href="{% round_url team_availability r %}">Team Checkins</a></li>
        <li><a href="{% round_url venue_availability r %}">Venue Checkins</a></li>
        <li><a href="{% round_url adjudicator_availability r %}">Adj Checkins</a></li>
        <li><a href="{% round_url people_availability r %}">Participant Checkins</a></li>
        <li class="divider"></li>
        <li><a href="{% round_url draw r %}">Draw</a></li>
        <li><a href="{% round_url motions r %}">Motions</a></li>
        <li><a href="{% round_url results r %}">Ballots</a></li>
        <li><a href="{% round_url ballot_checkin r %}">Ballot Checkin</a></li>
        <li class="divider"></li>
        <li><a href="{% round_url draw_print_scoresheets r %}">Print Ballots</a></li>
        <li><a href="{% round_url draw_print_feedback r %}">Print Feedback Forms</a></li>
        <li class="divider"></li>
        <li><a href="{% round_url team_standings r %}">Team Standings</a></li>
        <li><a href="{% round_url speaker_standings r %}">Speaker Standings</a></li>
        {% if reply_scores_enabled %}
        <li><a href="{% round_url reply_standings r %}">Reply Standings</a></li>
        {% endif %}
        {% if enable_divisions %}
          <li class="divider"></li>
          <li><a class="" href="{% round_url master_sheets_list r %}">Mastersheets</a></li>
        {% endif %}
      </ul>
    </li>
  {% endfor %}
</ul>