{% load debate_tags %}
{% load cache %}

<header class="overall-header">

<nav class="navbar navbar-transparent navbar-static-top {% if '/admin/' in request.path %}navbar-inverse{% endif %}" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% cache 600 headerleft request.user %}
        {% if all_tournaments.count > 1 %}
          <ul id="nav_brand" class="nav navbar-nav navbar-left">
            <li class="dropdown">
              <a href="#" class="navbar-brand dash-nav dropdown-toggle" data-toggle="dropdown">{{ tournament }}<b class="caret"></b></a>
              <ul class="dropdown-menu">
                {% for tournament in all_tournaments %}
                  {% if user.is_authenticated %}
                    <li><a class="" href="{{ tournament.get_absolute_url  }}">{{ tournament }}</a></li>
                  {% else %}
                    <li><a class="" href="{{ tournament.get_public_url  }}">{{ tournament }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if all_tournaments.0.pref.public_divisions > 0 %}
                  <li><a href="{{ all_tournaments.0.get_all_divisions_url }}">All Tournament's Teams</a></li>
                {% endif %}
              </ul>
            </li>
          </ul>
        {% else %}
          {% if user.is_authenticated %}
            <a class="navbar-brand" href="{{ tournament.get_absolute_url  }}">{{ tournament }}</a>
          {% else %}
            <a class="navbar-brand" href="{{ tournament.get_public_url  }}">{{ tournament }}</a>
          {% endif %}
        {% endif %}
      {% endcache %}

      <ul id="nav_left" class="nav navbar-nav navbar-right">
        {% for r in tournament.round_set.all %}
          <li id="round-{{ r.seq }}" class="{% if r == round %}selected{% endif %} dropdown round-nav">
            <a href="#" class="dropdown-toggle {% if r.seq == current_round.seq %}current-round{% endif %}" data-toggle="dropdown">
              <span class="
                {% if r.draw_status == r.STATUS_RELEASED %}
                  text-success
                {% elif r.draw_status == r.STATUS_CONFIRMED %}
                  text-primary
                {% elif r.draw_status == r.STATUS_DRAFT %}
                  text-warning
                {% endif %}
              ">
                {{ r.abbreviation }}
                <b class="caret"></b>
              </span>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">Draw Status:
                <span class="
                  {% if r.draw_status == r.STATUS_RELEASED %}
                    text-success
                  {% elif r.draw_status == r.STATUS_CONFIRMED %}
                    text-primary
                  {% elif r.draw_status == r.STATUS_DRAFT %}
                    text-warning
                  {% endif %}
                ">
                  {{ r.get_draw_status_display }}
                </span>
              </li>
              <li class="divider"></li>
              <li><a href="{% round_url team_availability r %}">Team Checkins</a></li>
              <li><a href="{% round_url venue_availability r %}">Venue Checkins</a></li>
              <li><a href="{% round_url adjudicator_availability r %}">Adj Checkins</a></li>
              <li><a href="{% round_url people_availability r %}">Participant Checkins</a></li>
              <li class="divider"></li>
              <li><a href="{% round_url draw r %}">Draw</a></li>
              <li><a href="{% round_url motions r %}">Motions</a></li>
              <li><a href="{% round_url results r %}">Ballots</a></li>
              <li><a href="{% round_url ballot_checkin r %}">Ballot Checkin</a></li>
              <li class="divider"></li>
              <li><a href="{% round_url draw_print_scoresheets r %}">Print Ballots</a></li>
              <li><a href="{% round_url draw_print_feedback r %}">Print Feedback Forms</a></li>
              <li class="divider"></li>
              <li><a href="{% round_url team_standings r %}">Team Standings</a></li>
              <li><a href="{% round_url speaker_standings r %}">Speaker Standings</a></li>
              {% if pref.reply_scores_enabled %}
              <li><a href="{% round_url reply_standings r %}">Reply Standings</a></li>
              {% endif %}
              {% if pref.enable_divisions %}
                <li class="divider"></li>
                <li><a class="" href="{% round_url master_sheets_list r %}">Mastersheets</a></li>
              {% endif %}
            </ul>
          </li>
        {% endfor %}
      </ul>


    </div>
  </div>
</nav>

      {% if 'admin' in request.path %}
        {% if user.is_superuser %}
          {% include "nav/admin_nav.html" %}
        {% else %}
          {% include "nav/assistant_nav.html" %}
        {% endif %}
      {% else %}
        {% include "nav/public_nav.html" %}
      {% endif %}

</header>