{% load debate_tags %}

<nav class="">

  <div class="row">
    <div class="col-md-12">

      <ul class="nav nav-pills nav-stacked">

        <li role="presentation" class="dropdown">
          <a id="drop5" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {{ tournament }} <span class="caret pull-right"></span>
          </a>
          <ul id="menu2" class="dropdown-menu" aria-labelledby="drop5">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li> <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>

      </ul>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <ul class="nav nav-pills nav-stacked">

        <h6>Round Status</h6>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

          {% for r in tournament.round_set.all %}
            {% if r.stage == 'P' %}

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading{{ r.id }}">
                <a class="panel-title h4 collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ r.id }}" aria-expanded="false" aria-controls="collapse{{ r.id }}">
                  {{ r.name }} <span class="caret pull-right"></span>
                </a>
              </div>
              <div id="collapse{{ r.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  <li {% if availability_nav %}class="active"{% endif %}>
                    <a href="{% round_url availability_index r %}">
                      Checkins
                    </a>
                  </li>
                  <li {% if draw_nav %}class="active"{% endif %}>
                    <a href="{% round_url draw r %}">
                      Draw
                    </a>
                  </li>
                  <li {% if motions_nav %}class="active"{% endif %}>
                    <a href="{% round_url motions r %}">
                      Motions
                    </a>
                  </li>
                  <li {% if ballots_nav %}class="active"{% endif %}>
                    <a href="{% round_url results r %}">
                      Results
                    </a>
                  </li>
                </div>
              </div>
            </div>

            {% endif %}
          {% endfor %}

        </div>
      </ul>

      <ul class="nav nav-pills nav-stacked">

        <h6>Tournament Status</h6>
        {% if pref.side_allocations_enabled == 'preallocated' %}
          <li {% if sides_nav %}class="active"{% endif %} class="pull-right">
            <a href="{% tournament_url side_allocations %}">Sides</a>
          </li>
        {% endif %}
        {% if pref.enable_divisions %}
          <li class="{% if divisions_nav %}active {% endif %}">
            <a href="{% tournament_url division_allocations %}">Divisions</a>
          </li>
        {% endif %}
        <li class="{% if feedback_nav %}dropdown active {% endif %}">
          <a href="{% tournament_url feedback_overview %}" >Feedback</a>
        </li>
        <li class="{% if standings_nav %}dropdown active {% endif %}">
          <a href="{% round_url standings_index current_round %}" >Standings</a>
        </li>
        <li class="{% if break_nav %}dropdown active {% endif %}">
          <a href="{% tournament_url breaking_index %}" >Breaks</a>
        </li>
      </ul>

      <ul class="nav nav-pills nav-stacked">

        <h6>Tournament Setup</h6>

        <li>
          <a href="{% tournament_url tournament_config_index %}">Settings</a>
        </li>
        <li>
          <a class="" href="{% tournament_url data_index %}">Data Import</a>
        </li>
        <li>
          <a class="" href="/admin/">Data Admin</a>
        </li>

      </ul>

    </div>
  </div>
</nav>


{% comment %}

   <div class="navbar-header">

      {% if all_tournaments.count > 1 %}
        <ul id="nav_brand" class="nav navbar-nav navbar-left">
          <li class="dropdown">
            <a href="#" class="navbar-brand dash-nav dropdown-toggle" data-toggle="dropdown">{{ tournament }}<b class="caret"></b></a>
            <ul class="dropdown-menu">
              {% for tournament in all_tournaments %}
                {% if user.is_authenticated %}
                  <li><a class="" href="{{ tournament.get_absolute_url  }}">{{ tournament }}</a></li>
                {% else %}
                  <li><a class="" href="{{ tournament.get_public_url  }}">{{ tournament }}</a></li>
                {% endif %}
              {% endfor %}
              {% if all_tournaments.0.pref.public_divisions > 0 %}
                <li><a href="{{ all_tournaments.0.get_all_divisions_url }}">All Tournament's Teams</a></li>
              {% endif %}
            </ul>
          </li>
        </ul>
      {% else %}
        {% if user.is_authenticated %}
          <a class="navbar-brand" href="{{ tournament.get_absolute_url  }}">{{ tournament }}</a>
        {% else %}
          <a class="navbar-brand" href="{{ tournament.get_public_url  }}">{{ tournament }}</a>
        {% endif %}
      {% endif %}

    </div>
    <div class="collapse navbar-collapse">

      <ul class="nav navbar-nav navbar-left nav-pills">
        {% if user.is_authenticated and tournament %}
          {% for r in tournament.round_set.all %}
            <span class="{% if r.draw_status == r.STATUS_RELEASED %}text-success{% elif r.draw_status == r.STATUS_CONFIRMED %}text-primary{% elif r.draw_status == r.STATUS_DRAFT %}text-warning{% endif %}">
            <li id="round-{{ r.seq }}" class="{% if r.seq == current_round.seq %}active{% endif %} small round-nav" data-toggle="tooltip" title="{{ r.name }} (Draw is {{ r.draw_status }})">
              <a href="#" class="dropdown-toggle round-nav {% if r.seq == current_round.seq %}current-round{% endif %}">
                  {{ r.abbreviation }}
              </a>
            </li>
          {% endfor %}
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right small">
        {% if user.is_authenticated and tournament %}
          <li><a class="" href="{% tournament_url data_index %}">Data Import</a></li>
          <li><a class="" href="/admin/">Data Admin</a></li>
          <li><a class="" href="/accounts/logout/" title="Log out of {{ user }}">Logout of {{ user }}</a></li>
        {% else %}
          <li><a href="/accounts/login/" title="Log in">Log in</a></li>
        {% endif %}
      </ul>

    </div>

  </div>
</nav>

<nav>
  <div class="container-fluid">
    {% if 'admin' in request.path %}
      {% if user.is_superuser %}
        {% include "nav/admin_nav.html" %}
      {% else %}
        {% include "nav/assistant_nav.html" %}
      {% endif %}
    {% else %}
      {% include "nav/public_nav.html" %}
    {% endif %}
  </div>
</nav>

{% endcomment %}