{% load debate_tags %}
{% load cache %}

<header class="overall-header">

<nav class="navbar-default navbar-transparent" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      {% if all_tournaments.count > 1 %}
        <ul id="nav_brand" class="nav navbar-nav navbar-left">
          <li class="dropdown">
            <a href="#" class="navbar-brand dash-nav dropdown-toggle" data-toggle="dropdown">{{ tournament }}<b class="caret"></b></a>
            <ul class="dropdown-menu">
              {% for tournament in all_tournaments %}
                {% if user.is_authenticated %}
                  <li><a class="" href="{{ tournament.get_absolute_url  }}">{{ tournament }}</a></li>
                {% else %}
                  <li><a class="" href="{{ tournament.get_public_url  }}">{{ tournament }}</a></li>
                {% endif %}
              {% endfor %}
              {% if all_tournaments.0.pref.public_divisions > 0 %}
                <li><a href="{{ all_tournaments.0.get_all_divisions_url }}">All Tournament's Teams</a></li>
              {% endif %}
            </ul>
          </li>
        </ul>
      {% else %}
        {% if user.is_authenticated %}
          <a class="navbar-brand" href="{{ tournament.get_absolute_url  }}">{{ tournament }}</a>
        {% else %}
          <a class="navbar-brand" href="{{ tournament.get_public_url  }}">{{ tournament }}</a>
        {% endif %}
      {% endif %}

    </div>
    <div class="collapse navbar-collapse">

      <ul class="nav navbar-nav navbar-left nav-pills">
        {% if user.is_authenticated and tournament %}
          <li class="round-nav small">
            <a href="{% tournament_url tournament_config_index %}">Config</a>
          </li>
          {% for r in tournament.round_set.all %}
            <!-- <span class="{% if r.draw_status == r.STATUS_RELEASED %}text-success{% elif r.draw_status == r.STATUS_CONFIRMED %}text-primary{% elif r.draw_status == r.STATUS_DRAFT %}text-warning{% endif %}"> -->
            <li id="round-{{ r.seq }}" class="{% if r.seq == current_round.seq %}active{% endif %} small round-nav">
              <a href="#" class="dropdown-toggle round-nav {% if r.seq == current_round.seq %}current-round{% endif %}" data-toggle="tooltip" title="{{ r.name }} (Draw is {{ r.draw_status }})">
                  {{ r.abbreviation }}
              </a>
            </li>
          {% endfor %}
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated and tournament %}
          <li><a class="" href="{% tournament_url data_index %}">Data Import</a></li>
          <li><a class="" href="/admin/">Data Admin</a></li>
          <li><a class="" href="/accounts/logout/" title="Log out of {{ user }}">Logout of {{ user }}</a></li>
        {% else %}
          <li><a href="/accounts/login/" title="Log in">Log in</a></li>
        {% endif %}
      </ul>

    </div>

  </div>
</nav>

<nav>
  <div class="container-fluid">
    {% if 'admin' in request.path %}
      {% if user.is_superuser %}
        {% include "nav/admin_nav.html" %}
      {% else %}
        {% include "nav/assistant_nav.html" %}
      {% endif %}
    {% else %}
      {% include "nav/public_nav.html" %}
    {% endif %}
  </div>
</nav>

</header>