{% load debate_tags %}




{% if pref.tab_released > 0 %}
  <li class="{% if tab_team_nav %}active{% endif %}">
    <a href="{% tournament_url standings-public-tab-team %}">Team Tab</a>
  </li>
  <li class="{% if tab_speaker_nav %}active{% endif %}">
    <a href="{% tournament_url standings-public-tab-speaker %}">Speaker Tab</a>
  </li>
  {% if pref.show_novices %}
    <li class="{% if tab_novices_nav %}active{% endif %}">
      <a href="{% tournament_url standings-public-tab-novices %}">Novice Speaker Tab</a>
    </li>
  {% endif %}
  {% if pref.reply_scores_enabled %}
    <li class="{% if tab_replies_nav %}active{% endif %}">
      <a href="{% tournament_url standings-public-tab-replies %}">Replies Tab</a>
    </li>
  {% endif %}
  {% if pref.motion_tab_released > 0 %}
    <li class="{% if tab_motions_nav %}active{% endif %}">
      <a href="{% tournament_url standings-public-tab-motions %}">Motions Tab</a>
    </li>
  {% endif %}
{% endif %}
{% if pref.public_draw and pref.tab_released == 0  %}
  {% if pref.show_all_draws == 0 %}
  <li>
    <a href="{% tournament_url public_draw %}">
      Draw for {{ current_round.name }}
    </a>
  </li>
  {% endif %}
  {% if pref.show_all_draws > 0 %}
    <li><a href="#" data-toggle="dropdown">Draws<b class="caret"></b></a>
      <ul class="dropdown-menu">
        {% for r in tournament.round_set.all %}
          {% if r.draw_status == r.STATUS_RELEASED %}
            <li><a href="{% round_url public_draw_by_round r %}">{{ r.name }}</a></li>
          {% endif %}
        {% endfor %}
        <li>
          <a class="public-draw-nav" href="{% tournament_url public_all_draws %}">
            View All
          </a>
        </li>
      </ul>
    </li>
  {% endif %}
{% endif %}
{% if pref.public_results and current_round.prev %}
  <li><a href="#" data-toggle="dropdown">Results<b class="caret"></b></a>
    <ul class="dropdown-menu">
      {% for r in tournament.round_set.all %}
        {% if not r.silent %}
          {% if r.seq < current_round.seq or tournament.release_all %}
            <li><a href="{% round_url public_results r %}">{{ r.name }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </li>
{% endif %}
{% if pref.public_divisions %}
  <li><a href="{% tournament_url public_divisions %}">
    Divisions
  </a></li>
{% endif %}
{% if pref.public_motions and pref.motion_tab_released == False %}
  <li><a href="{% tournament_url public_motions %}">
    Motions
  </a></li>
{% endif %}
{% if pref.public_side_allocations %}
  <li><a href="{% tournament_url public_side_allocations %}">
    Sides
  </a></li>
{% endif %}
{% if pref.public_team_standings > 0 and current_round.prev and pref.tab_released == False %}
  <li><a href="{% tournament_url standings-public-teams-current %}">
    Standings
  </a></li>
{% endif %}
{% if pref.public_breaking_teams > 0 or pref.public_breaking_adjs > 0 %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Break<b class="caret"></b></a>
    <ul class="dropdown-menu">
      {% if pref.public_breaking_teams %}
        {% for category in tournament.breakcategory_set.all %}
          <li><a href="{% tournament_url public_breaking_teams category.slug %}">{{ category.name }}</a></li>
        {% endfor %}
      {% endif %}
      {% if pref.public_breaking_adjs %}
        <li><a href="{% tournament_url public_breaking_adjs %}">Adjudicators</a></li>
      {% endif %}
    </ul>
  </li>
{% endif %}
{% if pref.public_participants %}
  <li><a href="{% tournament_url public_participants %}">
    Participants
  </a></li>
{% endif %}
{% if pref.feedback_progress > 0 %}
  <li><a href="{% tournament_url public_feedback_progress %}">
    Feedback Progress
  </a></li>
{% endif %}
{% if pref.public_ballots > 0 %}
  <li><a href="{% tournament_url public_ballot_submit %}">
    Enter Ballot
  </a></li>
{% endif %}
{% if pref.public_feedback > 0 %}
  <li><a href="{% tournament_url adjfeedback-public-add-index %}">
    Enter Feedback
  </a></li>
{% endif %}
