{% load debate_tags i18n %}

  <a class="btn btn-primary"
     href="{% tournamenturl 'breakqual-index' %}">
    {% trans "Breaks Overview" %}
  </a>
  <div class="btn-group">
  {% for category in tournament.breakcategory_set.all %}
    <a class="btn btn-primary"
       href="{% tournamenturl 'breakqual-teams' category.slug %}">
      {% blocktrans trimmed with category_name=category.name %}
        {{ category_name }} Break
      {% endblocktrans %}
    </a>
  {% endfor %}
  </div>
  <a class="btn btn-primary"
     href="{% tournamenturl 'breakqual-adjudicators' %}">
    {% trans "Adjudicators' Break" %}
  </a>
