{% extends "base.html" %}
{% load static %}
{% load debate_tags %}

{% block head-title %}<span class="emoji">🎉</span>Breaking Adjudicators{% endblock %}
{% block page-title %}🎉Breaking Adjudicators{% endblock %}

{% block page-subnav-sections %}
  {% if adjs.all.count == 0 %}
    <p class="lead">Breaking adjudicators can be set in the <a href="{% tournament_url adjfeedback-overview %}"> Feedback section.</a></p>
  {% endif %}
  {% if adjs.all.count > 0 %}
    {% include "tables/table_search.html" %}
  {% endif %}
{% endblock %}

{% block content %}
  {% if adjs.all.count > 0 %}
    <div class="panel panel-default">
      <div class="panel-body">
        <table id="dataTable" class="table" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th>Name</th>
            {% if pref.show_institutions %}
              <th>Institution</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
        {% for adj in adjs %}
        <tr>
          <td>{{ adj.name }}</td>
          {% if pref.show_institutions %}
            <td>
              {{ adj.institution }}
              {% if person.independent %}
                (Independent)
              {% endif %}
              {% if person.adj_core %}
                (Adj Core)
              {% endif %}
            </td>
          {% endif %}
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}
{% endblock content %}

{% block extra-js %}
  {{ block.super }}
  <script>
    $(document).ready( function() {
      var dTable = $("#dataTable").DataTable({
        "aaSorting": [[ 0, "asc" ]],
      });
      new $.fn.dataTable.FixedHeader( dTable, {alwaysCloneTop: true});
      $('#table-search').keyup(function(){
        dTable.search($(this).val()).draw();
      });
    });
  </script>
{% endblock extra-js %}
