{% extends "base.html" %}
{% load static %}
{% load debate_tags %}

{% block head-title %}<span class="emoji">👑</span>Breaks{% endblock %}
{% block page-title %}Breaks{% endblock %}

{% block page-subnav-sections %}
  {% include "breakqual_subnav.html" %}
{% endblock %}

{% block page-subnav-actions %}
  <a class="btn btn-success"
     href="{% tournament_url breakqual-edit-eligibility %}">
    Edit Teams' Eligibility
  </a>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-12">

      {% for category in tournament.breakcategory_set.all %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              Teams Eligible for the {{ category.name }} Break
            </h4>
          </div>
          <div class="panel-body round-progresses">
            <div class="progress">
              <div class="progress-bar progress-bar-success
                   {% if category.team_set.count == 0 %}progress-empty{% endif %}"
                   role="progressbar" aria-valuenow="" aria-valuemin="0"
                   aria-valuemax="{{ tournament.teams.count }}"
                   style="width: {% percentage category.team_set.count tournament.teams.count %}%;">
                <span>{{ category.team_set.count }}/{{ tournament.teams.count }}</span>
              </div>
            </div>
          </div>
        </div>
      {% empty %}
        <div class="alert alert-warning" role="alert">
          This tournament does not have any break categories setup. You can read
           about how to create breaks
          <a href="http://tabbycat.readthedocs.io/en/stable/features/breaks.html"
              class="alert-link" target="_blank">
            at our documentation.
          </a>
        </div>
      {% endfor %}

    </div>
  </div>

{% endblock content %}
