{% load debate_tags i18n %}

<div class="btn-group">
  <a class="btn btn-outline-primary" href="{% tournamenturl 'breakqual-index' %}">
    {% trans "Overview" %}
  </a>
  {% for category in tournament.breakcategory_set.all %}
    <a class="btn btn-outline-primary" href="{% tournamenturl 'breakqual-teams' category.slug %}">
      {% blocktrans trimmed with category=category.name %}
        {{ category }} Break
      {% endblocktrans %}
    </a>
  {% endfor %}
  <a class="btn btn-outline-primary" href="{% tournamenturl 'breakqual-adjudicators' %}">
    {% trans "Adjudicators' Break" %}
  </a>
</div>
