{% extends "base.html" %}
{% load debate_tags static i18n %}

{% block page-alerts %}
  {% if break_categories_length == 0 %}
    {% url 'admin:breakqual_breakcategory_changelist' as categories_url %}
    {% blocktrans trimmed asvar message %}
      It looks like there aren't any break categories are defined. If you'd like to create new
      break categories you'll need to first <a href="{{ categories_url }}" class="alert-link">
      add them in the Edit Database area</a>, then return to this page to set team's eligibility.
    {% endblocktrans %}
    {% include 'components/alert.html' with type='warning' %}
  {% endif %}
{% endblock %}

{% block content %}

  <div id="vueMount">
    <checkbox-tables-container :tables-data=tablesData
                               :categories=categories
                               :urls=urls
                               :navigation=navigation
                               :hide-auto-save="false"
                               orientation={{ tables_orientation|safe }} >
    </checkbox-tables-container>
  </div>

{% endblock %}

{% block js %}

  <script>
    window.vueData = {
      tablesData: {% if tables_data %}{{ tables_data|safe }}{% else %}null{% endif %},
      categories: {{ break_categories|safe }},
      urls: { 'save': "{% tournamenturl 'breakqual-update-eligibility' %}" },
      navigation: [
        { title: 'Overview', url: "{% tournamenturl 'breakqual-index' %}", back: true }
      ]
    }
  </script>
  {{ block.super }}
{% endblock %}
