{% extends "base.html" %}
{% load debate_tags %}
{% load static %}

{% block head-title %}Break Eligibility{% endblock %}
{% block page-title %}Break Eligibility{% endblock %}

{% block page-subnav-sections %}
  {% include "breakqual_subnav.html" %}
{% endblock %}

{% block page-subnav-actions %}
  <button class="btn btn-success submit-disable" id="submit-nav" data-loading-text="Saving...">
    Save Team Break Eligibility
  </button>
{% endblock %}

{% block page-alerts %}
  {% if form.errors %}
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      Please correct the errors below
      {{ form.errors }}
    </div>
  {% endif %}
{% endblock %}

{% block content %}

  <form id="breakEligibilityForm" action="." method="POST" class="form-horizontal">
    {% csrf_token %}
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>Team</th>
              {% if pref.show_emoji %}
                <th class="team-emoji"></th>
              {% endif %}
              <th>Institution</th>
              {% for category in tournament.breakcategory_set.all %}
                <th>
                  {{ category.name }}
                  (<span id="count_{{ category.id }}"></span>)<br>
                  <span class="small"> select
                    <a class="select-all" href="#" category="{{ category.id }}">all</a> or
                    <a class="select-none" href="#" category="{{ category.id }}">none</a>
                  </span>
                </th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for team, eligibility in form.team_iter %}
              <tr>
                <td>
                  {% include "tables/team.html" with team=team %}
                </td>
                {% if pref.show_emoji %}
                  <td class="team-emoji">{{ team.emoji }}</td>
                {% endif %}
                <td>{{ team.institution.name }}</td>
                {% for checkbox in eligibility %}
                  <td class="checkbox-target">{{ checkbox.tag }}</td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  </form>

{% endblock %}

{% block js %}

  {{ block.super }}

  <script>
    $(document).ready( function() {

      $("#submit-nav").click( function() {
        $("#breakEligibilityForm").submit();
      });

      var updateCounts = function (value) {
        $("#count_" + value).text($("input[type='checkbox'][value='" + value + "']:checked").length);
      }

      // initialize team counts
      {% for category in tournament.breakcategory_set.all %}
        updateCounts(String({{ category.id }}));
      {% endfor %}

      $(".select-all").each(function () {
        $(this).click(function () {
          var category = $(this).attr("category");
          $("input[type='checkbox'][value='" + category + "']").each(function () {
            $(this).prop("checked", true);
          });
          updateCounts(category);
        });
      });

      $(".select-none").each(function () {
        $(this).click(function () {
          var category = $(this).attr("category");
          $("input[type='checkbox'][value='" + category + "']").each(function () {
            $(this).prop("checked", false);
          });
          updateCounts(category);
        });
      });

      $(".dataTable input[type='checkbox']").click(function () {
        updateCounts($(this).val());
      });

    });
  </script>
{% endblock %}
