{% extends "base.html" %}
{% load debate_tags static i18n %}

{% block content %}

  <div id="vueMount">
    <break-eligibility-container :tables-data=tablesData
                           :categories=categories
                           :urls=urls
                           orientation={{ tables_orientation|safe }} >
    </break-eligibility-container>
  </div>

{% endblock %}

{% block js %}

  <script>
    window.vueData = {
      tablesData: {% if tables_data %}{{ tables_data|safe }}{% else %}null{% endif %},
      categories: {{ break_categories|safe }},
      urls: {
        'back': "{% tournamenturl 'breakqual-index' %}",
        'save': "{% tournamenturl 'breakqual-update-eligibility' %}"
      },
      translations: {
      }
    }
  </script>
  {{ block.super }}
{% endblock %}
