{% extends "base_eligibility.html" %}
{% load debate_tags static i18n %}

{% block head-title %}{% trans "Break Eligibility" %}{% endblock %}
{% block page-title %}{% trans "Break Eligibility" %}{% endblock %}

{% block save-button-text %}
  {% trans "Save Teams' Eligibility" %}
{% endblock %}

{% block eligibility-table-headers %}
  <th>{% trans "Team" %}</th>
  {% if pref.show_emoji %}
    <th class="team-emoji"></th>
  {% endif %}
  <th>{% trans "Institution" %}</th>
{% endblock %}

{% block eligibility-table-cells %}
  <td>
    {% include "tables/team.html" with team=instance %}
  </td>
  {% if pref.show_emoji %}
    <td class="team-emoji">{{ instance.emoji }}</td>
  {% endif %}
  <td>{{ instance.institution.name }}</td>
{% endblock %}

{% block page-alerts %}
  {% if not form.get_category_queryset.exists %}
    <div class="alert alert-warning" role="alert">
      <i data-feather="alert-circle"></i>
      {% blocktrans trimmed %}
        This tournament does not have any break categories set up. You can read
         about how to create breaks
        <a href="http://tabbycat.readthedocs.io/en/stable/features/breaks.html"
            class="alert-link" target="_blank">
          at our documentation.
        </a>
      {% endblocktrans %}
    </div>
  {% endif %}
{% endblock %}